[2020-08-20 23:30] nan-wang commented on #845
The `mime_type` of each document is deterministic. If the user want to index/query different type of data, they will need call the flow apis multiple times. Is this the pain point?

[2020-08-24 07:31] jmferrete opened #867 "Stress Test in CICD with big datasets"
**Describe your problem**
We are building a semantic text search system, using NumpyIndexer and cosine distance metric. We have been testing Jina with smaller sets for the moment, running in single instances, but our final goal is to run Jira in a distributed system over datasets with billions of documents.

As a first step, and to validate our configuration when querying smaller datasets, we have

[2020-08-24 07:58] JoanFM commented on #867
Hello Jose Manuel,

Thank you for opening the issue and happy to see your interest in jina.

Taking a look to your configuration I have some comments although I am not sure they are the root cause of your problem (Some of them are just recommendations). It would be good that you can share some more detailed logs so that we can take a closer look at them.

- In your CustomModel, you are doing a `hu

[2020-08-24 10:32] jmferrete commented on #867
Thanks a lot Joan for your fast response.

We will apply with your recommendations and will back with more details and logs.

[2020-08-24 14:50] alexcg1 opened #869 "Docs: Using Docker images on Fedora"
**Describe the feature**
I've recently started using Fedora 32 and hit some issues running the Jina Docker images. These are issues from Docker itself, but I still think we should mention them in the docs. Perhaps a new page - "Using anything **other** than Mac/Ubuntu? Check here!"

These aren't Jina's issues, but they will screw up using Jina on a new machine, so I think users should at least be

[2020-08-25 02:27] nan-wang commented on #869
Good point! @alexcg1 Would you please put the logs under this issue?

[2020-08-25 09:40] jmferrete commented on #867
I've applied your recommendations to the flows. [Here you can find the new gzip package with all the updated code](https://com-ravenpack-nchan.s3.amazonaws.com/jina-ai-config-2.tar.gz).

But now it was unable to use it with the full dataset, due to we are experiencing an issue at indexing point.
Basically all the index files (vec.gz files) are inconsistent after finishing the index process.
And we

[2020-08-25 10:21] JoanFM commented on #867
Hello @jmferrete,

I do not see anything wrong in your files, is it any chance that u can share the **logs** of your `indexing` step? As you say, using Flow as a context manager guarantees that all the resources are properly closed and released but some problems have clearly come up here. Is it possible that you had any kind of disk space problem?

As I said it would be great if you can share the

[2020-08-25 12:43] jmferrete commented on #867
Thanks Joan,

In this case, the machine was created for this purpose, and it was provisioned with much more disk than enough (I think).
The full index files are around 54GB and we have more than 3 TB free.

[code]
We are using the `/data` volume for storing all the files. It contains both the source files and the index files.
It was configured with RAID 0 by using 2 NVME SSD disks. Only to for dis

[2020-08-25 13:23] JoanFM commented on #867
Hey @jmferrete ,

It is weird, it seems that the files were not properly closed, could you please tell me what `jina version` you run your index with?

[2020-08-25 13:29] jmferrete commented on #867
Sure, this is the one with I ran the last indexing process. I think is the same that I've posted in the description:

[code]

Regards!

[2020-08-25 13:41] JoanFM commented on #867
Oh yes, sorry for that

[2020-08-25 14:00] JoanFM commented on #867
Hello @jmferrete,

For what I can see int he logs, just 2 of the `shards` were properly closed (I assume those are the corrresponding to your
`./data/doc_indexer-10` and `./data/doc_indexer-7`.

I think that the issue is that before calling `close` on the executor we do some executor saving (all inside the same finally block), and this `saving` must be raising some `exception` that are not handled

[2020-08-25 14:01] jmferrete commented on #867
Ok!, thanks.

[2020-08-25 14:56] JoanFM commented on #867
Hello @jmferrete ,

I have been able to reproduce the issue, and I was wrong, no exception was raised when saving the data files.

There is a bug resulting from the presence of `dumped` executors from previous runs. If you make sure to clean your data before running the index flow it should be good to go.

Meanwhile we will work on solving this issue.

Thank you very much,

Regards

[2020-08-25 15:37] JoanFM commented on #867
Hi @jmferrete

Besides what I said in the last message, I have two recommendations for your flow configuration and code.

Since there are no chunks involved in the process you should eliminate the `ranker` from the `query` flow, and in the `app.py`

you should change the line:
`text = match.meta_info.decode()`
for the line:
`text = match.text`

I hope it helps

[2020-08-25 15:56] jmferrete commented on #867
Thanks a lot @JoanFM , we will test again following your recommendations.

We will double check that we are cleaning the data folder before executing the index process.

[2020-08-25 15:56] JoanFM opened #873 "Problem when pickling indexer"
**Describe the bug**
Related to #867

When indexing data twice, the `indexer` does not properly close the index files

**Steps to reproduce**

Please run this using `jina version 0.4.1`
[867.tar.gz](https://github.com/jina-ai/jina/files/5124878/867.tar.gz)

Download and untar the file here,

Run twice `python app.py -t index`

and then when you do
`python app.py -t query`

An error occurs because

[2020-08-25 16:02] JoanFM commented on #873
It seems that the problem is that the only `peas` that properly `terminate` their executors are `HeadPea` and `TailPea` leaving the index in an inconsistent state

[2020-08-25 17:48] JoanFM commented on #873
At the second saving time, the indexer does not manage to pickle itself:

Here I print the differences of attributes I see the first time I index compared to the second. The first thing that strikes is the appearance of `int2ext_key` that may be two big to pickle?

[code]

[code]

[2020-08-26 06:19] jmferrete commented on #867
Hi @JoanFM ,

there must be another thing or we are not cleaning the right folders.

I've tried again with a full indexation making sure that we are cleaning the `data/` folder, and we have exactly the same issue:

[code]

As you can see, the problem persists.
Are we missing something?, is there any other folder apart of `data/` that we should clean?

[Here you have the logs for this execution](ht

[2020-08-26 07:26] JoanFM commented on #873
It seems to be a pickling problem, I do not know  why but sometimes it fails silently. There must be some `fields` that we need to ignore.

[2020-08-26 08:40] JoanFM commented on #873
I have the suspicion that the issue is not anymore in `jina` because `_raw_ndarray_` was removed as attribute

[2020-08-26 10:15] hanxiao commented on #867
Hi @jmferrete I just catch up on this thread, just FYI

Batch size: 1000
Shards: 10
Parallel: 10

This means once fully running, you will have 200 * 1000 documents in memory at any given time.

[2020-08-26 10:26] jmferrete commented on #867
Thanks for the information @hanxiao.

We already decreased our batch size and prefetch settings since @JoanFM, commented [here](https://github.com/jina-ai/jina/issues/867#issuecomment-678971909).

Our current index settings are these:
- Prefetch: 5
- Prefetch_on_recv: 1
- Batch size: 50
- Shards: 10
- Parallel: 10

[2020-08-26 11:55] JoanFM commented on #873
I have been investigating this issue https://github.com/jina-ai/jina/issues/867.

It is quite an interesting one, it seems that at some point, when we pickle our indexer, it just fails without raising an error , and this silent failing forces the skip of the flushing of the indexer data and the proper closing of the file handlers.
For what the user claims, I think that the problem is that we are s

[2020-08-26 14:22] lusloher commented on #580
This will be picked back up in September timeframe

[2020-08-26 15:13] hanxiao commented on #867
I'm marking this as high-prio now

[2020-08-26 15:14] JoanFM commented on #873
If you try to reproduce this issue using `jina` current master version, in the `app.py` of the example provided (the .tar), remember to cast the batch_size coming from `enviroment variable` to an integer.

[2020-08-26 18:20] hanxiao commented on #873
I'm digging into this tmr

[2020-08-27 08:03] hanxiao opened #877 "DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working"
**Describe the bug**

[code]

**Describe how you solve it**

- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-195) by [Unito](https://www.unito.io/learn-more)

[2020-08-27 08:49] nan-wang opened #878 "error detection method in hubio makes false positive detection"
**Describe the bug**

In https://github.com/jina-ai/jina/blob/master/jina/docker/hubio.py#L167,

The following log messages are misclassified to errors,

[code]

**Describe how you solve it**

- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-196) by [Unito](https://www.unito.io/learn-more)

[2020-08-27 09:26] nan-wang commented on #878
The normal error message looks like,
[code]

[2020-08-27 09:31] #877 closed

[2020-08-27 11:34] #878 closed

[2020-08-27 11:34] #869 closed

[2020-08-27 15:13] harpreetseehra commented on #778
Documentation should be created using a proper Authoring tool like Framemaker, Oxygen, etc. It should be in XML/DITA format so that we can re-use the content, whenever required. Docs should be stored in a proper Content Management System to do proper versioning. GIT can work initially but there are just docs related CCMS like Adobe's LMS with Framemaker.

I am assuming, your current structure only

[2020-08-27 17:09] #854 closed

[2020-08-27 17:10] hanxiao commented on #850
is it done?

[2020-08-28 00:41] #690 closed

[2020-08-28 06:26] nan-wang commented on #778
@harpreetseehra Thanks for sharing your helpful insight. We definitely will take a look into your suggestions.

[2020-08-28 06:32] harpreetseehra commented on #778
Thanks, I have cloned your docs and I will try to convert a few of the source files into XML format using Oxygen XML editor and then generate a Webhelp. I am sure Oxygen supports .md files, even if I don't convert them into XML, I can still play around with them and generate a Webhelp.

I will share my findings with you.

[2020-08-28 06:33] nan-wang commented on #778
That would be really awesome! 👍

[2020-08-28 06:46] YueLiu-jina commented on #850
Not yet, will finish this quickly on Monday.

[2020-08-28 11:05] harpreetseehra commented on #778
I noticed one thing, whenever you make any changes in the docs folder as you did 5 hours ago, it doesn't allow me to pull the latest changes again. I have to delete and clone again. Is that normal?

FYI, I am using SVN git to clone, pull, push, etc.

[2020-08-29 13:32] nan-wang opened #882 "changes of existing executors in jina-hub are not registered by `register_class()`"
**Describe the bug**
local changes of executors in `jina-hub` are **NOT** registered by the `register_class()` method. Check more details at https://github.com/jina-ai/jina-hub/pull/295#issuecomment-683279092

**This will block the future maintenance of** `jina-hub`.

**Describe how you solve it**
https://github.com/jina-ai/jina-hub/pull/295#issuecomment-683279092

- - -

**Environment**

**Screen

[2020-08-29 13:38] hanxiao commented on #882
I don't get it why only #295 face the problem while others don't?

[2020-08-29 15:23] #882 closed

[2020-08-29 18:53] ArturTan opened #884 "Crafter does not send chunk but entire text to the Encoder"
**Describe your problem**
I am playing with jina 0.4.1, basing partially on urbandict-search configuration. My example is already put in the repo: https://github.com/ArturTan/invalid_flow_of_jina

I included my own data (5 long texts) and it seems that encoder does not receive chunks but the entire text.

I used two custom classes for debugging this problem: `CustomSenticizer` and `CustomEncoder`

[2020-08-30 11:29] #702 closed

[2020-08-30 11:31] hanxiao opened #885 "🚨 BREAKING CHANGES 0.5.0 -> 0.6.0"
This issue is created to keep track breaking changes between `0.5.0` and `0.6.0` (scheduled release on Oct. 1, 2020)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide
| PR | Changes | Rolled Out? | Override |
|----|----| --- | --- |
| #889  | Dri

[2020-08-30 18:02] ArturTan commented on #884
After a small refactor to put it in line with jina 0.5.0 it works like a charm (almost).

[2020-08-31 04:11] nan-wang commented on #884
@ArturTan Thanks for trying out jina! What's the status quo on this issue? With the recursive `Document` structure, the concept of `Chunk` is deprecated in v0.5.0. Here is a guide for migration https://github.com/jina-ai/jina/issues/702.

[2020-08-31 09:40] #850 closed

[2020-09-01 03:47] xiongma opened #887 "why did we delete the equals sign in post traverse or pre traverse?"
**Describe your problem**
in this code span, I don't know why we have to delete the equals sign in `_apply`?   is the current level depth never reach to `self._depth_end`?

    def post_traverse(_docs, traverse_on, context_doc=None):
        """
        :param _docs: list of docs
        :param traverse_on: "matches" or "chunks"
        :param context_doc: the owner of ``_docs``, if None, then it

[2020-09-01 03:51] xiongma commented on #887
or the depth range just like index, like this `lst1[1: 3]`?

[2020-09-01 06:13] nan-wang commented on #887
Hi, @xiongma This motivation behind this change is to keep consistent with the python convention. As for the range value, it is always left-inclusive and right-exclusive. Functionally, this is tested in the unit test.

As for your use case, you need to set `depth_range` to [0, 2] if the Document has two levels.

[2020-09-01 06:25] nan-wang commented on #778
Nope, it sounds wired for me. The `docs` folder under `jina` repo is fully under the git control. Would you please give more details?

[2020-09-01 06:33] xiongma commented on #887
ok, got it

[2020-09-01 06:33] #887 closed

[2020-09-01 06:35] harpreetseehra commented on #778
Steps to reproduce:

- Download Tortoise Git (https://tortoisegit.org/download/)
- Clone docs repo, using Tortoise git.
- Make some changes in the docs folder, like you and your team do every day from your end. For example, if you directly make changes to the folder using the web interface, do the same. If you use CLI, do that way.
- After making changes, now use Tortoise to Pull the current chang

[2020-09-01 06:40] jmferrete commented on #867
Hi,

We have some questions, have you tested this out in a large scale implementation? We will need to use Jina in a very large horizontal scaling implementation, and our idea is to be able to perform subsecond queries. Is this possible with Jina? Because we didn't found how to do this in your documentation.

Is there anything we can do for helping you with this issue?

Can we provide you some dat

[2020-09-01 11:41] ArturTan commented on #884
Yep, it works fine. PS. v0.5.0 is a great release! I really appreciate it.

[2020-09-01 11:41] #884 closed

[2020-09-01 12:39] hanxiao commented on #778
The reason is that `docs` repo is maintained with `git push --force`, making it "detached" to any previous commits.

What happened I guess is:
- You pull the `docs` locally, say version `A`
- Upstream docs is changed due to the merge triggers docs rebuild
- Rebuild result is `git push --force` to the `docs`, detach the head from `A`
- You pull the `docs` locally again, it should update based on `A

[2020-09-01 12:54] harpreetseehra commented on #778
Ohhh, so that's the reason why I am not able to pull after every new build. For time being, I can delete and clone again, however, in the long term it will be very irritating to delete the docs folder and clone again as it might a lot of time to do so.

I know I am asking too many questions, I have another question. The source files inside the **docs** folder, are they the real source files? They

[2020-09-02 00:37] #703 closed

[2020-09-02 02:36] xiongma opened #890 "how to set correct traverse_on when use KVSearchDriver?"
**Describe your problem**
when jina finish vector search, the document structure like this

[code]

when jina mapping matches' doc id by using `KVSearchDriver` from chunk index, how to set `traverse_on`?
there are 2 options I had tried.

1. if I set `traverse_on` is chunks, and the whole logic of recursive loop is to find `chunks` doc id, not `matches`.
1. if I set `traverse_on` is matches, and th

[2020-09-02 03:59] nan-wang commented on #890
hi, there. In your case, `traverse_on` should be set to `chunks` so that the `matches` of the `chunks` are grouped into `matches` of the doc. A example can be found in the unit tests at https://github.com/jina-ai/jina/blob/master/tests/unit/drivers/test_chunk2doc_rank_drivers.py#L151. Plus, we are refactoring this part with https://github.com/jina-ai/jina/pull/889. Stay tuned.

[2020-09-02 06:58] xiongma commented on #890
1. the unitest just show how to use `Chunk2DocRankDriver`, not how to use `KVSearchDriver`
2. in your explanation, after search nearest embedding from index, we should use `ranker` to group `matches` from `k-1` to `k` , rather than mapping `matches'` doc id by using `matches` id? but the ranker need `matches` doc id.

[2020-09-02 07:41] maximilianwerk opened #891 "Enable post-retrieval scoring of document-match pairs"
**Describe the feature**

Currently jina only supports ranking matches based on the scores, that the retrieval step provides. Adding the possibility to add more query <> match metrics in order to fine-tune the ranking is needed. Possible applications are a simple edit distance or complex deep learning scoring techniques as BERT.

Furthermore, it might be necessary, to add a `WeightedRanker`, which

[2020-09-02 07:53] JoanFM commented on #891
Important to keep in mind, that Rankers should be chainable to allow different phases of ranking

[2020-09-02 14:42] hakerbaya opened #895 "Bug in Jina's Documentation User Interface."
**Describe your problem**
The Bug Lies on Jina's Documentation Page with a CARD "Title Of Contents", which gives user bad experience, as it is overlapping contents. See the Screenshot.

**What is your guess?**
I think this problem can be solved , when we scroll down the page, "Table of Contents" should remain hidden as it will not affect user experience.

- - -
**Environment**
Go to link: https://

[2020-09-02 16:05] JoanFM commented on #873
Some updates:

- I realized that what I could replicate did not happen on master, but it did in 0.4.1. So I started from 0.4.1 and increased the version tag of jina until I could not reproduce the issue with my toy example. I found that in version 0.4.3 this does not fail.

- So what is in v0.4.3 with respect to 0.4.2? It includes the logic of deleting in get_state_ the cached  properties. And aft

[2020-09-03 03:59] xiongma opened #896 "add device map parameter for pod level"
**Describe the feature**

if add `device_map` for `jina`, which level should I work on, `Pod`, `Flow`?
my opinion for this is it should be `Pod`, if that it will very flexible for user to set which devices should `Pod` work on.

**Your proposal**

- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-206) by [Unito](https

[2020-09-03 06:47] xiongma commented on #896
ok.
**Problem with jina as below**
1. currently, if we set `on_gpu=True`, all `Peas` in `Pod` always work on firt GPU, except `HeadPea` and `TailPea`.
2. if we have more than 1 GPU, and `Pod`  `parallel` is greater than 1, `jina` doesn't have a strategy to distribute this `Peas` on this GPUs.

**Feature**
add a parameter called `device_map` in jina. in `device_map`, it contains all `Peas` device_i

[2020-09-03 08:24] JamesTang-jinaai opened #897 "add unit test cases for reduce code"
**Describe the feature**

the reduce code is located here: jina/executors/encoders/helper.py
**Your proposal**

- - -

**Environment**

jina                          0.5.0
jina-proto                    0.0.58
jina-vcs-tag                  (unset)
libzmq                        4.2.5
pyzmq                         1.19.1
protobuf                      3.9.2
proto-backend                 cpp
grpcio

[2020-09-03 08:43] JamesTang-jinaai opened #899 "index type error in reduce code"
**Describe the bug**

While running reduce code in `/jina/executors/encoders/numeric/helper.py`, the `num_tokens` in function `prune_mask` turns out to be a decimal, which causes the issue:

    IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices**Describe how you solve it**

## change the type of num_tokens to integer b

[2020-09-03 09:33] #899 closed

[2020-09-03 10:05] #897 closed

[2020-09-03 13:11] JoanFM commented on #873
The reason of the issue is not about `pickle` but about `Flow` closing the Pods before they are properly closed.

Prove:

Just adapting the closure in finally of a Pea by adding some sleep time makes the closing fail:

[code]

[2020-09-03 18:18] hanxiao commented on #873
this is interesting will try to reserve some time tomorrow for that

[2020-09-04 15:03] JoanFM opened #908 "ConvertDriver to convert from `NdArray` to URI for proper access in jinabox"
**Functionality**
Leveraged for debugging; after you have preprocessed pictures in NdArray, the ability to create URI out of it.
And can visualize chunk (NdArray) on any level of depth and the front-end can read it.

**Front-End**
You could do document tracing (visually) know how the doc looks throughout the entire flow.

**Describe the feature**
Right now `Buffer2URI` driver assumes the data from

[2020-09-04 15:08] hanxiao commented on #908
so you basically want to visualize ndarray?

[2020-09-04 15:09] hanxiao commented on #908
but how come an image is converted to a ndarray without storing the original `buffer` in the first place,

[2020-09-04 15:12] JoanFM commented on #908
Exactly, visualize a transformed image for instance,

[2020-09-06 07:02] bhavsarpratik opened #910 "Avoid manual setting of attributes from parameters in all executors"
**Describe the feature**
We have to set attributes manually from the parameters in all classes

**Your proposal**
Add `store_attr` method to `BaseExecutor` inspired by [fastcore](https://fastpages.fast.ai/fastcore/) as explained in this [notebook](https://colab.research.google.com/drive/1tff9Is5ZNN9u3BJ-3mm10vScsWARJQEv?usp=sharing)

┆Issue is synchronized with this [Jira Task](https://jinaai.atla

[2020-09-06 07:14] hanxiao commented on #910
i would prefer using native python>= 3.7 `data class` if we want to enable this sugary feature. Without native support, many IDE/lint tools can not recognize those attributes anymore.

Besides, in Jina Executor is nearly always used with a YAML spec, not directly be called in Python. The one who uses this sugary feature would be the executor developers.

[2020-09-06 07:15] hanxiao commented on #910
ref: https://docs.python.org/3.7/library/dataclasses.html

[2020-09-06 07:21] JoanFM commented on #910
Hey @bhavsarpratik ,

I can't see what benefit is extracted from seeing the notebook, would you mind elaborating a little more?

[2020-09-06 07:23] JoanFM commented on #910
Ah ok, I see now from fastcore.

[2020-09-06 11:44] hanxiao commented on #910
@bhavsarpratik also beware that, using `dataclass` in Jina is non-trivial mainly because `BaseExecutor` and its meta class `ExecutorType` is implemented in a non-trivial way. Especially on the `__init__`, class reading, and YAML IO-friendly. This implementation could conflict with the functionality that `dataclass` provides. I would look at the source code of `dataclass` first before adding to `Ba

[2020-09-06 11:53] hanxiao commented on #910
In general, `dataclass` is a nice-to-have feature as it does make our code more Pythonic and state-of-the-art. But it has to be taken very carefully and also understand the target users who enjoy this benefit is mainly the *executor developers*

[2020-09-06 11:55] bhavsarpratik commented on #910
I agree `dataclass` has its limitations. I suggested this experimental PR for developers to write shorter pythonic code for future executors.

[2020-09-06 13:03] hanxiao commented on #867
Hi @jmferrete

Regarding the broken `gz`/pickle bug, I believe #907 fixed it and has been rolled out in `0.5.2`. Let me recap what was the problem and how did we fix it.

# Problem

First, this is a bug in our `BasePea` lifecycle implementation, previously our `BasePea` is set with `daemon=True` and the executor persistence logic is written in the `finally` block. Unfortunately, this `finally` blo

[2020-09-07 00:42] #705 closed

[2020-09-07 06:04] jmferrete commented on #867
Thanks for the explaining and for the fast resolution.

We will now be able to continue doing our tests with Jina.

I will comment if I find something else.

Regards.

[2020-09-07 08:55] #873 closed

[2020-09-07 11:48] #867 closed

[2020-09-07 14:41] hanxiao commented on #910
for reference, https://github.com/jina-ai/jina-hub/pull/400 points out a pretty smart and non-intrusive way of using `dataclass`

[2020-09-08 07:11] xiongma commented on #896
@hanxiao you mean the device id in metas can be this [1, 2, 3] or just a device number?

[2020-09-08 07:13] hanxiao commented on #896
whatever makes sense is ok. but your previous PR adds too many interfaces to CLI and loading logics, which is completely unnecessary this i have to reject it.

Unfortunately i don't have time to follow on this topic for now, please don't expect me to give prompt reply on this thread

[2020-09-08 07:25] #896 closed

[2020-09-08 07:34] #890 closed

[2020-09-08 08:13] alasdairtran opened #924 "Specifying port when using `jina flow` in command line"
**Describe your problem**

When I create a flow with code, I can fix the port with

[code]

The above code works well.

However I can't seem to find a way to fix the port when using the command line. I've tried

[code]

and specifying in the yml file

[code]

but this doesn't have any effect. The `port_expose` line in the yaml seems to get ignored.

Am I missing something?

┆Issue is synchronized

[2020-09-08 08:17] JoanFM commented on #924
Have u tried setting `rest_api: true`?

[2020-09-08 09:49] hanxiao commented on #924
fyi, you don't need a quote for int, simply `port_expose: 12345`

[2020-09-08 10:01] hanxiao commented on #924
btw, i added a unit test here, so this should work without any problem
https://github.com/jina-ai/jina/pull/925/files#diff-4b9a2c9a9934b139fdb162f2a5a50ecfR511

[2020-09-08 10:40] alasdairtran commented on #924
We only see the issue with the command line approach using `jina flow`. I think I found where the problem is. When I comment out [this line](https://github.com/jina-ai/jina/blob/9c27eaf4908ae65f1f63e4549049634830abc8ee/jina/main/api.py#L84), everything works fine - the port is fixed to the specified port in the yaml file.

I don't know the code base well, so I'm not sure exactly what that line doe

[2020-09-08 14:47] hanxiao commented on #924
i see this is indeed the problem, the previous settings were overrode due to `f._update_args`. let me quickly fix it.

[2020-09-08 15:15] hanxiao commented on #924
you are right, the line you pointed out is redundant, having it fix in #926

[2020-09-08 15:36] #924 closed

[2020-09-08 15:37] hanxiao commented on #924
@alasdairtran it is fixed and we haven't rolled out to Pypi yet, at the latest you can expect on this Friday. see [release schedule](https://github.com/jina-ai/jina/blob/master/RELEASE.md) for details

[2020-09-08 21:16] jmferrete opened #929 "Horizontal scaling for loading big datasets"
Since the resolution of #867, thanks a lot guys for your great work there, we can now index our test datasets of ~190 GB without problems. But now, we have a new issue when querying the indices, our search process gives timeout errors even with increasing the `timeout_ready` property value to 1 hour.

As we can see here:

[code]

As you can see, it is taking more than 1 hour for loading 1 single s

[2020-09-08 23:47] alasdairtran commented on #924
Thanks @hanxiao, but in PR #926,  I only see that a new test case is added. The line `f._update_args(args)` is still there in [api.py](https://github.com/jina-ai/jina/blob/1b5927645bb049f1ce718582fef297117d1fbb5c/jina/main/api.py#L84).

[2020-09-09 07:18] hanxiao commented on #924
you are absolutely right, fixing it in #927

[2020-09-09 16:10] hanxiao commented on #929
Hi, thanks again for the report, very good issue. We have put this under our radar.

There are many ways for scaling indexers, let's grab the low-hanging fruit first. As a start, could you tell us what is the file size under your shards?

![image](https://user-images.githubusercontent.com/2041322/92624023-519ed980-f2c7-11ea-8b2f-21b466284e73.png)

you may observe more or less this file structure o

[2020-09-09 23:44] nan-wang commented on #778
hi, there. You can find the doc building script at https://github.com/jina-ai/jina/blob/master/make-doc.sh. Besides the doctrings, we use `.rst` for writing documentation.

[2020-09-10 00:13] nan-wang commented on #895
hi, there. Many thanks for your comments. You can click on the hamburger button on the TOC to hide it.
![image](https://user-images.githubusercontent.com/4329072/92667014-61f19b80-f33d-11ea-90c4-b0ec33a405e9.png)

[2020-09-10 02:55] hakerbaya commented on #895
but it still overlaps content.

[2020-09-10 06:19] harpreetseehra commented on #778
Thanks for the script. This process is new for me as I always used a proper authoring tool and a CMS for docs, however, this looks interesting.

[2020-09-10 06:30] jmferrete commented on #929
Sure, thanks for investigating this.

These are the files generated from the dataset that we are testing with (~190 GB of jsonl files):

[code]

[2020-09-10 07:24] #891 closed

[2020-09-10 10:52] hanxiao commented on #895
@JamesTang-jinaai previously worked on that, can @DavidSanwald follow on this thread. this should be a quick fix

[2020-09-10 10:54] hanxiao commented on #895
#673

[2020-09-10 12:00] hakerbaya commented on #895
Yea, @DavidSanwald  can follow on this thread, just fix it as soon as possible, my suggestion is to stick it to the top right corner, but when we scroll down hide it, and when we scroll up to the header show it. 🤔

[2020-09-10 13:16] DavidSanwald commented on #895
I asked @imsergiy for advice. It's quite out of my comfort zone. I think it might be the same for Sergeiy but maybe he's quicker to see through.

[2020-09-10 15:42] hakerbaya commented on #895
@DavidSanwald Nice Great Problem is solved. Thanks. 😊

[2020-09-10 17:40] JoanFM opened #936 "Deadlock when running with logserver activated"
**Describe your problem**
When running with logserver=True there is a deadlock when FLow ends:

[code]

this will run forever

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-226) by [Unito](https://www.unito.io/learn-more)

[2020-09-11 01:01] #824 closed

[2020-09-11 01:04] #895 closed

[2020-09-11 18:11] JoanFM opened #942 "Not able to interpet top_k introduced by jinabox (And I guess also not by python client)"
**Describe the bug**
Currently `jina` is not able to pass and interpret the `top_k` parameter sent by `jinabox`.

PR #941 fixes the issue

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-229) by [Unito](https://www.unito.io/learn-more)

[2020-09-11 20:41] JoanFM opened #943 "ContainerPea not handling properly uses_internal overriding entrypoint"
**Describe the bug**
When trying to migrate `crossmodal` search example, I try to change the logic by mantaining inside `txt_emb` folder a simple config:

[code]

and provide from the outside with the use of `uses_internal` the file '`yaml/text_encoder.yml`:

[code]

But it does not seem to work in the same way as having the file directly inside the docker by default. in the ENTRYPOINT.

┆Issue is

[2020-09-12 00:41] #720 closed

[2020-09-12 00:41] #716 closed

[2020-09-12 09:21] JoanFM commented on #943
Ok, I think the problem will be where does it find the `py_modules`

[2020-09-12 09:33] JoanFM commented on #943
Solution is to set the `py_modules` being aware that inside the `container` the `files would be under `workspace`:

[code]

[2020-09-12 09:33] #943 closed

[2020-09-14 10:56] #942 closed

[2020-09-14 14:06] JoanFM commented on #936
Problem seems to appear when `Pod` is closed before `Pea` has handled the termination signal.

[2020-09-15 05:57] hanxiao commented on #929
@jmferrete just to let you know the team is working on this and list it as one of the high priority in this two weeks. Will keep you in the loop.

[2020-09-15 08:54] ke-zhang-rd opened #949 "Add visualize() method to Flow"
**Describe the feature**

When constructing a `Flow`, it isn't intuitive, at least for me, what the workflow will look like.

[code]

So It would be handy if Flow has a `visualize()` method which generates a graph of pods and their needs.

**Your proposal**

![image](https://user-images.githubusercontent.com/14223460/93186843-12c8b380-f70d-11ea-85d7-97042e7709bd.png)

This task might involve:

* U

[2020-09-15 19:18] maximilianwerk commented on #949
Hey @ke-zhang-rd,
thanks a lot for your input. Apparently, that is exactly one of the features of our [Jina Dashboard ](https://dashboard.jina.ai/) [(repository)](https://github.com/jina-ai/dashboard). If you open it, you see the `Flow Designer` on the left hand side. When you start a jina flow with `--logserver`, you actually get you flow visualized quite nicely. I haven't tried yet to connect to

[2020-09-16 05:58] hanxiao commented on #949
https://github.com/jina-ai/jina/pull/865

@ke-zhang-rd please refer to this PR and the reason why I close it.

In case you are interested, https://hanxiao.io/2019/10/18/GNES-Flow-a-Pythonic-Way-to-Build-Cloud-Native-Neural-Search-Pipelines/

[2020-09-16 10:08] ke-zhang-rd commented on #949
Thanks @hanxiao. I didn't realize that history PR before. I'll leave you guys decide whether to skip this one. Below are just some of my thinking for maybe future reference:

I guess function name `visualize` confuse two visualizations:
- **visualization** in pipeline of data science(acquisition, management, analysis and visualization), I argree with you and I quote "it has to be handled separatel

[2020-09-16 10:20] hanxiao commented on #949
@lusloher issue is about adding a graphical representation of the flow API,
- a CLI/ipython notebook-friendly
- static jpg/png/svg output
- for the ease of debugging the flow

We had this function before: https://github.com/jina-ai/jina/pull/865#issuecomment-679020707 but for the high-level design reason I removed it and move all visualization to the dashboard.

As this is the second time the comm

[2020-09-17 06:32] jmferrete commented on #929
Thanks for advising!

[2020-09-17 09:32] nan-wang opened #952 "bug in traversing on chunks"
**Describe the bug**
In line https://github.com/jina-ai/jina/blob/master/jina/drivers/**init**.py#L329,
when passing a document with no match at one granularity. `_temp.extend(working_doc.matches)` will leads to an empty `working_docs` and accessing `working_docs[0]` results an error.

[code]

**Describe how you solve it**

[code]

- - -

**Environment**

**Screenshots**

┆Issue is synchronized wi

[2020-09-17 09:40] maximilianwerk commented on #952
Good catch. Should there be a warning logged as well? It would be nice for understanding, when one configured the ranges wrongly. On the other hand in the real world that might spam quite a lot of log messages.

I am not sure, how gracefully we should accept wrong ranges. Can you give an example, where this can happen with correct ranges, but just wrong documents?

[2020-09-17 13:22] maximilianwerk commented on #952
Sorry for not spotting this before: it should rather be a `return` then a `break`, since the defined ranges clearly do not match the document structure and thus there should be no more traversal. While accepting non-matching structures, it is not good to do some non-well-defined behavior with the ranges. `granularity_range=(1,1)` and `recur_on=['matches']` should always mean, that matches on the f

[2020-09-17 15:18] JoanFM commented on #936
Closed by #935

[2020-09-17 15:18] #936 closed

[2020-09-17 16:25] JamesTang-jinaai opened #959 "chunks and matches may be empty before traversing in driver"
**Describe the bug**

lack of handling the empty value before traversing.
**Describe how you solve it**

- - -

**Environment**

jina                          0.5.6
jina-proto                    0.0.59
jina-vcs-tag                  (unset)
libzmq                        4.2.5
pyzmq                         1.19.1
protobuf                      3.9.2
proto-backend                 cpp
grpcio

[2020-09-18 18:28] JoanFM opened #969 "Message can't be processed if chunks of different types in a message"
**Describe your problem**
Right now when accepting a message from a Pod, it is considered to have a single `chunk_byte_type` , when it should have more.

PR to handle issue #968

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-236) by [Unito](https://www.unito.io/learn-more)

[2020-09-20 00:16] nan-wang opened #973 "update the jina hub pop-up window"
**Describe the bug**

![image](https://user-images.githubusercontent.com/4329072/93691578-9de4e780-fb19-11ea-84ae-e16757407591.png)

**Describe how you solve it**

- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACORE-239) by [Unito](https://www.unito.io/learn-more)

[2020-09-21 15:30] JoanFM opened #975 "HubIO not building images with base of local image"
**Describe the bug**
When running unit tests for PR #968, since communication layer has been changed, running even a dry run with a docker image running some old version of jina gives errors.

Then is where it is shown the need to change the image of `jinaai/jina:devel` to `jinaai/jina:test-pip` (Another question is if what we really have to test is the ability to obtain `jinaai/jina:devel` (if th

[2020-09-21 17:48] #975 closed

[2020-09-22 07:54] maximilianwerk opened #976 "top_k not settable via .yml file"
**Describe the bug**

During setting of parameters for a driver, the order of defaults is not obvious. We have currently (at least) the following possibilities to set arguments (example is `VectorSearchDriver` and `top_k` argument):

1) Directly as a default for the class itself
```def __init__(self, top_k: int = 50, fill_embedding: bool = False, *args, **kwargs):```

2) As a command line argument

[2020-09-22 07:58] JoanFM commented on #976
I am okey with removing top_k from command line arguments, but I still think that 4 should have priority to the other options, since it can be changed by request, and giving power to the client makes the behavior more flexible.

[2020-09-22 08:08] maximilianwerk commented on #976
Now that I have played with it, I am not sure about your suggestion. `top_k` is used for a lot of drivers and setting it via 4 sets it for all drivers. Think about the following example:

You have a query and want to get top-10 results: The algorithm does:

retrieval: retrieve top 50 documents

rerank via some custom ranker only the top 50

use QueryLang to cut down to top-10

Setting the `top_k`

[2020-09-22 08:11] JoanFM commented on #976
The client only targets VectorSearchDriver for the moment, it was a quick thing for the hackathon. We can remove it. But the top-k coming from the QuerySet of the message should have priority

[2020-09-22 08:11] #959 closed

[2020-09-22 10:46] JoanFM commented on #969
This has an easy workaround, by turning off the optimization provided by the parameter `array_in_pb` being set to False.

So using `array_in_pb=True` in the Peas arguments, would enable the passing of different chunk types in the same message.

[2020-09-22 19:17] sibbsnb commented on #929
I have the same question, i don't see an architecture on how to scale Jina for huge datasets. Hopefully the solution to this issue will lead the path to that.

[2020-09-23 00:43] #619 closed

[2020-09-24 11:13] #952 closed

[2020-09-25 11:12] rutujasurve94 commented on #908
Merged PR: https://github.com/jina-ai/jina/pull/982 for adding NdArray Driver.
@imsergiy will be testing the frontend with this new driver.

[2020-09-25 13:53] JoanFM commented on #767
Hey @sgaseretto , A new example has been added recently to our list of examples that does this, it indexes and queries in different indexers depending on some grouping. You may find this useful: https://github.com/jina-ai/examples/tree/master/fashion-example-query

[2020-09-28 08:06] fsal opened #987 "Is multimodal search in the roadmap?"
I think Jina is a very promising search tool, and I'd like to thank all of you for this great work!

**Describe the feature**

I'd like to know if you have in your roadmap to implement a multimodal search, i.e. make it possible to define a query that uses both text and images. My use case requires encoding queries composed of both images and text.

From what I've seen (correct me if I'm wrong), at

[2020-09-28 09:21] JoanFM commented on #987
Hello @fsal,

It is indeed in our **roadmap**.  It can also be good for us to know different use cases.

Does your usecase require to embed in a single `vector indexer` documents with different modalities (somehow mixing the semantic information of different modalities) or you expect to index them in different indexes and target any of them depending on the query part?

[2020-09-28 09:58] fsal commented on #987
In my use case, the text and the image of each query are first embedded separately (by a CNN and a Word2Vec vocabulary), then these two embeddings are fed to an encoder that produces a final embedding. This final embedding is used at query time to search the index.

[2020-09-28 15:43] #973 closed

[2020-09-29 00:45] #845 closed

[2020-09-29 11:04] #969 closed

[2020-09-29 14:57] nan-wang commented on #908
resolved by #982

[2020-09-29 14:57] #908 closed

[2020-09-29 17:02] JoanFM opened #996 "Blob2PngURI driver does not work with high dimensional NdArrays."
**Describe the bug**
Blob2PngURI driver does not work with high dimensional NdArrays.

[2020-09-30 00:45] #767 closed

[2020-09-30 04:49] nan-wang opened #997 "🎉 release v0.6.0 [W.I.P.]"
# Jina v0.6.0

![](https://raw.githubusercontent.com/jina-ai/jina/master/.github/1500x667new.gif)

We are excited to release Jina 0.6.0. Jina is the easier way to do neural search on the cloud. Highlights of this release include:

* Improve the memory footprint for the `Indexer`.
* Add an example for building a cross-modal search system with Jina.
* Add support for indexing `.pdf` files.

# Releas

[2020-09-30 06:20] #997 closed

[2020-09-30 07:46] #885 closed

[2020-09-30 07:48] hanxiao opened #1000 "🚨 BREAKING CHANGES 0.6.0 -> 0.7.0"
This issue is created to keep track breaking changes between `0.6.0` and `0.7.0` (scheduled release on Oct. 26, 2020)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide

| PR |  Rolled Out? | Override |
| --- | --- | --- |
| #1005 #1034  | Not yet

[2020-09-30 10:28] Arrrlex commented on #743
Hi @JoanFM ,

Looking through the errors generated by `mypy --ignore-missing-imports jina`, it looks like a large proportion are due to mypy being unable to type-check classes autogenerated by protobuf. I'd thus suggest that jina autogenerate type stubs at the same time as generating the python classes, e.g. using [mypy-protobuf](https://github.com/dropbox/mypy-protobuf).

[2020-09-30 10:37] JoanFM commented on #743
Hey @Arrrlex ,

Thank you for your suggestions, however this ticket is about generally improving the type hinting to improve code readability and `mypy` is just a tool that can help with it.

We want it to get constantly improving but we do not want to put too much effort on doing extra work.

[2020-10-01 11:59] JoanFM opened #1012 "Executor logger does not get parameters from Pea (no log_sse can be activated for Executors)"
**Describe the bug**
Since logger in `Executor` is instantiated by just giving the `name` as parameter, it can't receive `log_sse` parameter and therefore will never pass the logs to be processed by the Dashboard.

**Solutions possible**:
- Proper forwarding the parameter.
- Access Pea's logger from the `Drivers` logger (which is a property accessing the pea's)

[2020-10-02 06:13] JoanFM opened #1013 "Change `replica_id` argument to `pea_id` argument and change PeaRoleType accordingly"
**Describe the problem**
Right now, Pea has the `PeaRoleType Replica` and an argument called `replica_id`, which can be a little missleading ans in sync with the PR #699 , it shoule be adapted accordingly.

This issue is about keeping names aligned

[2020-10-02 08:32] bwanglzu commented on #987
@fsal you're correct, the input could be any modality (Multimedia with multi-modalities), and we should train an encoder to encode 2 (or even more) representations into a common feature space, then perform the matching.

@JoanFM any thoughts on that? We could do w2v + cnn -> representation, or even X + Y + ... -> representation. X, Y Z could be text, image, audio, sensor signals..

[2020-10-02 08:46] JoanFM commented on #987
Hey @bwanglzu I agree, we should enable taking more than one input to the encoder. And it could also be of the same type (text1, text2 ...) or (front image, back image) ...

[2020-10-02 10:37] hanxiao opened #1014 "Chunk2DocRankDriver does not preserve parent_id when building the new matches"
**Describe your problem**

In the `Chunk2DocRankDriver`, non `parent_id` info is filled in. This makes bilevel `traversal_paths=['cc', 'c']` impossible.

[code]

Same in the `jina/drivers/search.py` and all the places that use `.matches.add()`

![image](https://user-images.githubusercontent.com/2041322/94919751-44839d80-04b5-11eb-98f5-fb4f36c5a567.png)

`test_chunk2doc_ranker_driver_traverse_apply

[2020-10-02 11:48] HelioStrike commented on #1013
@JoanFM I'd like to take this up.

[2020-10-02 11:55] JoanFM commented on #1013
Hey @HelioStrike we would love to have your contribution.

[2020-10-02 12:23] JoanFM commented on #1013
Hey @HelioStrike , please be aware that we change the description and title of the issue to expect the name `pea_id`.

[2020-10-02 12:30] HelioStrike commented on #1013
@JoanFM Alright, will make the changes. Should I change `PeaRoleType.REPLICA` to `PeaRoleType.PEA`?

[2020-10-02 12:34] JoanFM commented on #1013
I would expect to have these Roles:
[code]

Once we have it working like this we can see what is the best naming for this `PARALLEL` one

[2020-10-02 12:43] fsal commented on #987
These improvements would be great and make Jina useful for many more use cases and companies.
I mean, in the end the advantage of having a neural search rather than classical textual or visual searches is that you can index/query many types of different and unstructured data with a single tool.

[2020-10-02 17:00] bwanglzu commented on #987
@fsal thanks for your input, this is in our roadmap and we're working on it! Design starts from this sprint and the implementation goes next, please keep an eye on it :)

[2020-10-03 09:59] crysoar commented on #743
Hi, is this open? I'd like to try doing this.

[2020-10-03 10:09] JoanFM commented on #743
Hey @crysoar, it is a general ticket to consistently improve the type hinting; you are welcome to work on it but do not be too ambtious and work in small portions of the code

[2020-10-03 13:10] HelioStrike commented on #1013
@JoanFM Looking at the code, it looks like `replica_id` goes way beyond the scope of `pea.py`. Currently I wrote the rather hacky line, in `BasePea::__init__`:
[code]
Should I try to go upwards from `pea.py` and try to change things there too?

[2020-10-04 00:48] #580 closed

[2020-10-04 06:41] hanxiao commented on #766
this is done

[2020-10-04 06:41] #766 closed

[2020-10-04 09:02] c-shekhar commented on #707
Hey @alexcg1, was going through jina-ai for text search, loved how easy it is to setup and start using the example recipes. Building some more examples will be a good start for me of becoming a regular user of this project.
Would like to start contributing to resolve this issue with the mentioned examples.

[2020-10-04 09:14] alexcg1 commented on #707
Great to have you on board! We're currently looking at restructuring our examples, so if you have a new example idea that we haven't built yet then we'd love to help you out!

[2020-10-04 16:07] hanxiao opened #1020 "can not run on pypy3.7 as pypy does not fully support numpy and grpcio"
**Describe your problem**

Pypy 3.7 is out so the python version is good.

Problems:
- Can not install grpcio: https://github.com/grpc/grpc/issues/16578
- Installing numpy no problem. but running `import numpy as np` gives:

[code]

ps, installing `numpy` via:
- `pypy -m pip install numpy`
- `pypy -m pip install --extra-index-url https://antocuni.github.io/pypy-wheels/manylinux2010 numpy -U`

both

[2020-10-04 16:34] trsvchn commented on #743
Hi! I would like to join as well, may I?

[2020-10-04 16:35] JoanFM commented on #743
Hey @trsvchn , of course you are welcome to contribute, please just keep in mind my comment above to @crysoar

[2020-10-04 16:37] trsvchn commented on #743
Great! Sure, no problem!

[2020-10-05 07:29] hanxiao commented on #1014
@JoanFM I realized the problem is that one must use `CompoundIndexer` before the ranker, as it equips `KVSearchDriver`. So that matches returned by `CompoundIndexer` will have full information.

[2020-10-05 17:31] bwanglzu opened #1030 "Redirection of links in docs not working"
I was looking at the change logs [here](https://docs.jina.ai/chapters/CHANGELOG.html), the redirection of links such as RELEASE NOTE 0.0.4 is not working in my browser.

This also happens [here](https://docs.jina.ai/chapters/CONTRIBUTING.html#-making-your-first-submission).

Tested on safari & chrome.

[2020-10-06 00:47] #829 closed

[2020-10-06 00:47] #910 closed

[2020-10-06 00:47] #778 closed

[2020-10-06 06:37] danielkomaz commented on #1030
I updated the links within the CHANGELOG.md and CONTRIBUTING.md because they were i the wrong format "001" instead of "0-0-1"
Also fixed a few other broken links in hub/build-pod-image.md and hub/publish-your-pod-image.md

[2020-10-06 06:57] #1030 closed

[2020-10-06 12:12] jancijen commented on #1030
This remains a problem because there  is a GitHub worflkow (see commits with message `chore(docs): update TOC`) which automatically re-generate `CONTRIBUTING.md` and `CHANGELOG.md`.

[2020-10-06 17:53] #949 closed

[2020-10-07 06:57] hanxiao commented on #949
@ke-zhang-rd we finally decided to add it back. Now it's there in the master, will be rolled out in the patch release this Sunday.

![image](https://user-images.githubusercontent.com/2041322/95297601-06062e00-087b-11eb-93e9-5ab6dc670bfd.png)

[2020-10-07 06:59] theUnkownName commented on #949
Hi @ke-zhang-rd thanks for the input! was really valuable and we went for it!
Take a look
![image](https://user-images.githubusercontent.com/3002344/95297718-3221af00-087b-11eb-918f-7f4cbcdc08ef.png)

[2020-10-07 08:11] maximilianwerk commented on #1014
But how would the `CompoundIndexer` help with the missing information about the parent document? I think the only solution is as you pointed out to have a intersecting `Chunk2DocRankDriver` and `KVIndexer`. Or we would need also a `parent` field in the `Document`, where the actual parent `Document` is put. Then we could before ranking do one `KVIndexer` run which iteratively go through all the par

[2020-10-07 12:33] hanxiao commented on #1012
this should be solved in #1029

[2020-10-07 12:38] JoanFM commented on #1012
Yes, I think so

[2020-10-07 12:38] #1012 closed

[2020-10-09 04:40] nan-wang commented on #1014
AFAIK, there are two solutions to this issue:
- add `KVIndexer` right after each `Chunk2DocRankDriver`
- convert `parent_id` into a list so that we can directly traverse back

[2020-10-09 06:33] bhavsarpratik commented on #996
Solved with #1025

[2020-10-09 06:33] #996 closed

[2020-10-09 08:55] bhavsarpratik commented on #976
I thought about this issue but have no particular suggestion. Currently, people use our examples and they have usage of command lines.

[2020-10-10 03:09] nan-wang opened #1055 "check whether a doc has already been indexed"
**Describe the feature**
check whether a doc has already been indexed

**Your proposal**

---

**Environment**

**Screenshots**

[2020-10-10 10:49] bwanglzu commented on #507
Python 3.9 has [released](https://www.python.org/downloads/release/python-390/) on oct 10, shall we reopen this one?

[2020-10-10 17:35] Curious-Ujjwal commented on #686
Is the issue currently open?
I would like to work on this.

[2020-10-10 19:18] jaibhageria commented on #1055
@nan-wang I would like to take this issue up as part of Hacktoberfest, but can you please explain the task with some more context?

[2020-10-11 03:55] fernandakawasaki opened #1058 "Add portuguese translation"
**Describe the feature**
I would like to add translation for the README.md doc.
(I know there is a portuguese translation for the tutotial, but there isn't one for the README.md file on the root)

[2020-10-11 10:50] rabbits99 opened #1061 "Add Korean translation to README.md"
HI
I'm south Korean so I would like to translate README.md to Korean.
Can I translate README file?
Thank you

[2020-10-11 12:37] hanxiao commented on #1061
Hi, sure, more than welcome!

[2020-10-12 02:34] Bhairavi-shah commented on #1055
I would like to work on this. How can I help?

[2020-10-12 03:55] nan-wang opened #1067 "RouteDriver can't be used independently"
**Describe the bug**
The `RouteDriver` is bounded to `ControlReqRequest`. Currently, change the `executors._route.yml` to the following will break the flow.

[code]

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2020-10-12 20:47] JoanFM commented on #686
Hello @Curious-Ujjwal ,

Sure, it is still a good idea to work on this issue for new contributors to know how to run the tests as the CI does.

You can look at how we use `pytest` in our CI and write a README.md for it under `tests` folder stating that we have unit and integration tests

[2020-10-12 20:55] bwanglzu commented on #1058
hi @fernandakawasaki that would be great! let us know if you have any questions.

[2020-10-12 21:43] hanxiao opened #1071 "weak reference driver works while deepcopied drivers do not"
related to #1068

Note that the issue reported #1068 is not due to: "avoid the bounding RouteDriver to the ControlRequest". This ticket clarifies what it is.

The issue is about using weak reference somehow works and fail without it. To elaborate, check `tests/unit/executors/test_route_exec.py`

[code]

gives `b._drivers`
[code]

and `c._drivers`

[code]

The combinations are the same, but note th

[2020-10-12 22:11] hanxiao commented on #1067
this issue is depreciated as #1071

[2020-10-12 22:11] #1067 closed

[2020-10-13 02:31] nan-wang opened #1072 "`queryset` passed from the `flow.search` API is not parsed properly"
**Describe the bug**
In the following codes, `lookups` will be kept as a `google.protobuf.struct_pb2.Struct` which can't be further evaluated in the `apply_all` function

[code]
reference:
https://github.com/jina-ai/jina/blob/master/jina/drivers/__init__.py#L86
https://github.com/jina-ai/jina/blob/master/jina/drivers/querylang/filter.py#L43

**Describe how you solve it**

---

**Environment**

**S

[2020-10-13 08:02] JoanFM opened #1074 "Find a better way of communication between `ContainerPea` and `BasePea`"
**Describe the feature**
Right now `BasePea` only knows when `ContainerPea` is ready (or any other needed communication by reading a specific message in its logstream).

This logic is really fragile and we should find a better way of communicating with the `ContainerPea` to have a reliable way to communicate.

So for instance, `BasePea` uses `events` to communicate between processes, with `Contain

[2020-10-13 14:23] grofte opened #1078 "Jina Hello World is missing dependencies when run from docker"
**Describe your problem**
I ran the docker Hello World as described in the documentation and it is lacking the PIL module (at the very least).

Error message:

[code]

**What is your guess?**
I am guessing that you are not building the image with all dependencies? Then maybe you should distribute a dockerfile for running Hello World instead?

---

**Environment**
jina                          0.6.

[2020-10-13 14:30] JoanFM commented on #1078
Hello @grofte,

Thanks for trying out Jina, do you have the detailed steps that you took to run the `hello-world`? was it `jina hello-world` or `docker run -v ...`?

Thank you very much

[2020-10-13 14:32] grofte commented on #1078
Yes, sorry. I used the Linux option

`docker run -v "$(pwd)/j:/j" jinaai/jina hello-world --workdir /j && xdg-open j/hello-world.html`

from https://docs.jina.ai/chapters/helloworld/index.html

[2020-10-13 15:35] JoanFM commented on #1078
Hey @grofte ,

thanks for the great catch!

PR #1079 has been created to fix the issue, it should be fixed soon

[2020-10-14 06:40] JoanFM commented on #1078
Hello @grofte ,

The issue should already be fixed.

Would you give it a try?

Thank you very much for your help and for raising the issue.

[2020-10-14 13:23] grofte commented on #1078
So I deleted the old image and ran the command again. This time there are images on the left ('query') when it opens the html page but top-k results is still empty.

If I scroll up I get this error message:

[code]

[2020-10-14 19:07] hanxiao commented on #1074
control port is reserved for this purpose

[2020-10-14 19:11] JoanFM commented on #1074
Then it should be used to communicate that Pea is ready, instead of reading from the logs a specific message. In the code seems that no clear way was found at the time it was implemented

[2020-10-14 19:14] hanxiao commented on #1074
I guess this is because ctrl port use ipc protocol by default, which is not contain-pass-through. And I didn't have time to work on this details. Feel free to improve ctrl port, as it is needed in `jinad` and remote control

[2020-10-14 23:12] fernandakawasaki commented on #1058
My translation is for Brazilian Portuguese only, and there are some differences between other Portuguese speaking countries. How should I name the file? It is usually specified as 'pt-BR', but it wouldn't follow the pattern of the other files.

[2020-10-15 03:00] nan-wang commented on #1058
hi, there. Thanks for your initiatives. Let's follow the convention of using the `Locale` convention and use `README.pt_BR.md`

FYI, https://docs.moodle.org/dev/Table_of_locales

[2020-10-15 10:09] JoanFM opened #1091 "Add possibility to provide dict-like parameter to executor from `yaml`"
**Describe the feature**
Right now we cannot provide parameters in our Executors in the form of `dictionaries` when instantiated from yaml files (which is the main entrydoor to jina and to extending jina functionality in the `hub`).

It could be useful to add this so that configuration dictionaries can dinamically be passed through the Yaml interface without needing to change code.

A Yaml examle

[2020-10-15 10:15] hanxiao commented on #1091
why isn't environment variable sufficient?

[2020-10-15 10:15] hanxiao commented on #1091
https://docs.jina.ai/chapters/yaml/yaml.html?highlight=yaml%20env#referencing-variables-in-executor-and-compoundexecutor-yaml

[2020-10-15 10:21] JoanFM commented on #1091
I am not talking about env variables, I am talking about being able to construct this from yaml:

[code]

Is this currently possible?

[2020-10-15 12:04] #1072 closed

[2020-10-15 15:21] JoanFM commented on #1078
Hello @grofte,

Could you run it again making sure that the `folder` created by the previous run is removed? I think there has been some conflict there.

Thank you very much

[2020-10-15 21:34] bwanglzu commented on #1058
@nan-wang do you think there're too many readmes in jina root folder? maybe at certain point, we should move it to `.github/readme/..` except the english one.

[2020-10-16 06:09] bhavsarpratik commented on #655
This has squash features
https://github.com/palantir/bulldozer

[2020-10-16 10:52] grofte commented on #1078
Ah cool, works now. Even replies to whatever this is

![image](https://user-images.githubusercontent.com/7976840/96249762-f4750280-0fad-11eb-9c51-21ed1422bb7b.png)

[2020-10-16 10:52] #1078 closed

[2020-10-18 13:43] #1058 closed

[2020-10-19 16:34] nan-wang commented on #655
Auto merging sounds like a cool feature. I will stay cautious about it for the time being. Considering the fast development we have now, chances are that we want to hold some merging.

[2020-10-19 16:36] JoanFM commented on #655
But is not about auto mergint nut about assigning the only one commit per merge, right? Does this tool provide that?

[2020-10-19 21:34] hanxiao commented on #655
hi guys, squash merge has been applied to jina repo since a week ago, what is this discussion about?

[2020-10-19 21:34] #655 closed

[2020-10-19 21:35] hanxiao commented on #1091
no

[2020-10-20 03:36] nan-wang opened #1109 "replace the `rm_files` with pytest fixtures"
**Describe the bug**
replace the `rm_files` with `pytest` fixtures

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2020-10-20 06:47] #1013 closed

[2020-10-20 10:07] #1109 closed

[2020-10-21 17:59] Syarol opened #1119 "Add Ukrainian translation"
**Describe the feature**
Hi! I would like to add Ukrainian translation for the README.md doc.

[2020-10-21 21:18] bwanglzu commented on #1119
hi @Syarol that would be great! Please check #553 for how to contribute, also the [Locale](https://docs.moodle.org/dev/Table_of_locales) convention. Let us know if you have any questions.

[2020-10-22 01:16] matadorhong opened #1122 "Jina can't run after installed by pip"
**Describe your problem**

           JINA@6835[E]:theses modules or classes can not be imported ['jina.drivers.querylang.queryset', 'jina.drivers.querylang.queryset.dunderkey', 'jina.drivers.cache', 'jina.drivers.convert', 'jina.drivers.craft', 'jina.drivers.helper', 'jina.drivers.querylang.queryset.lookup', 'jina.drivers.querylang', 'jina.drivers.querylang.filter', 'jina.drivers.querylang.slice'

[2020-10-22 01:37] nan-wang commented on #1122
hi, @matadorhong Thanks for the comments. Would you please paste the logs of `jina check`?

[2020-10-22 04:25] nan-wang opened #1123 "Bug in RecallEvaluator"
**Describe the bug**
Given the relevant docs, `[0, 1, 2, 3, 4]`, and the retrieved docs, `[1, 0, 20, 30, 40]`, the recall@k is as below

|   | expected recall@k | current recall@k |
|---|---|---|
|1 | 0.2 | 1 |
|2 | 0.4 | 1 |
|3 | 0.4 | 0.667 |
|4 | 0.4 | 0.5 |
|5 | 0.4 | 0.4 |

The `Recall@k` should be the number of relevant results in the top k retrieved results divided by the number of all the

[2020-10-22 05:12] JoanFM commented on #1123
Great catch! How did I miss it!. We need to change the RankingEvaluationDriver to pass tuples (id, boolean) and consider the boolean as a flag of being relevant. I think is the same for PrecisionEvaluator.

[2020-10-22 06:19] JoanFM opened #1125 "Invalid doc Id if id length is `odd`"
**Describe the bug**
When overriding the `docs` through the `client` using `override_doc_id=False`, it fails when generating the `keys` to index these documents in `indexers`.

Stacktrace:

[code]

[2020-10-22 08:53] yartem opened #1129 "Fix paths for Codecov"
**Problem**
Codecov report doesn't show line-by-line coverage: `GitHub API: Forbidden`

**Details**
On the [main page](https://github.com/jina-ai/jina), click the Codecov badge, then go to Files:
![image](https://user-images.githubusercontent.com/7501517/96848142-b91a7e00-145c-11eb-8da8-31f0c474e976.png)

If you click on any file, you'll see:
![image](https://user-images.githubusercontent.com/7501

[2020-10-22 09:01] JoanFM commented on #1129
Hello @yartem ,

Thanks for raising the issue, is this happening to you for any `file`? It is weird since I can see the line-by-line coverage report for every file.

[2020-10-22 09:03] yartem commented on #1129
Yes, this is happening to me for any file I click (not a directory). Maybe the problem is permissions and so you can see it because you logged in?

[2020-10-22 09:04] JoanFM commented on #1129
May you try logging in to `codecov` with your github?

[2020-10-22 09:08] yartem commented on #1129
Cool, this was the problem, codecov didn't allow anonymous access. Thank you @JoanFM !

[2020-10-22 09:08] #1129 closed

[2020-10-22 09:21] JoanFM commented on #1129
You are welcome @yartem happy to have the community look at the coverage !!

[2020-10-22 10:24] hanxiao commented on #1125
none `hex` string will throw error

[2020-10-22 10:52] JoanFM commented on #1125
Then it should be documented that even if you do `override_doc_id=False`, you have to make sure that not any string is valid.

With the addition of incremental indexing documentation, I willl try to push to add some documentation on how DocIDs are handled

[2020-10-22 13:27] hanxiao commented on #1125
note that https://docs.jina.ai/api/jina.proto.uid.html already provides some explaination

[2020-10-22 13:54] #1123 closed

[2020-10-22 14:08] hanxiao commented on #1125
caveats:

ok:

[code]

not ok:

[code]

not ok:

[code]

[2020-10-22 14:09] hanxiao commented on #1125
wrapping uid as a class and set `digest_size` as init args, this looks like a way to go. Also, `doc.id` has to be fixed-size string

[2020-10-23 14:10] JoanFM commented on #1091
This PR shows that is possible:

https://github.com/jina-ai/jina/pull/1149

[2020-10-23 14:10] #1091 closed

[2020-10-26 08:10] alexcg1 commented on #707
We've got plenty of examples for now, and after chatting with @nan-wang and @maximilianwerk maintenance will become  a concern with any more. So I'm closing this now.

[2020-10-26 08:10] #707 closed

[2020-10-26 10:36] hanxiao opened #1160 "`_is_latest_version` always throws exception as we use `packaging` in it"
hmm, then this makes `_is_latest_version` unusable, we also use `packaging` in it. need a workaround in another PR

_Originally posted by @hanxiao in https://github.com/jina-ai/jina/pull/1150#issuecomment-716460101_

[2020-10-26 10:38] alexcg1 opened #1161 "Community: We want your examples!"
Jina has a whole bunch of examples on our [examples repo](https://github.com/jina-ai/examples). But we're always hungry for more. more. MORE!

If you've built something with Jina, we want to see it and help get it out there! Reply to this issue with a link to your repo and we'll get back to you asap.

Note: Be sure to include `jina` in your `requirements.txt`!

[2020-10-26 12:01] JoanFM commented on #1125
Documentation added with incremental indexing

[2020-10-26 12:01] #1125 closed

[2020-10-26 12:01] JoanFM commented on #1119
Closed by #1124

[2020-10-26 12:01] #1119 closed

[2020-10-26 12:02] JoanFM commented on #1055
Hello @Bhairavi-shah ,
Thank you for your interest, but this issue has already been handled.

[2020-10-26 12:03] JoanFM commented on #1055
Closed by #1064 #1070

[2020-10-26 12:03] #1055 closed

[2020-10-26 12:04] JoanFM commented on #976
Closed by #1133

[2020-10-26 12:04] #976 closed

[2020-10-26 12:26] maximilianwerk commented on #1160
Apparently, `pytest` has `packaging` as a dependency. That might be the reason, we haven't discovered it beforehand.

[2020-10-27 03:42] juzhiyuan opened #1166 "Question: jina-bot"
**Describe the question**

May I know how to implement the jina-bot[1]? It's really a cool bot to maintain @jina-ai repository.

[1] https://github.com/jina-bot

[2020-10-27 05:48] bhavsarpratik opened #1167 "fix: disable pip cache in docker"
**Describe the bug**
All of our docker containers contain pip cache which increases its size. This cache is useless.

**Describe how you solve it**
Add these to our jina debianx dockerfile. This will lead to smaller jina and hub images especially those with big dependencies like tensorflow and torch. This way we don't need to use flag `--no-cache-dir` in pip installs everywhere.
I also suggest dis

[2020-10-27 08:23] maximilianwerk commented on #1166
Hey @juzhiyuan,

thanks a lot for your questions. The jina-bot is a robot github user. We use github actions/workflows. They are defined in the `.github/workflows` subdirectory of each repository. See an example here:

https://github.com/jina-ai/jina/blob/master/.github/workflows/contributors.yml

When you define a github action, there must be someone who performs it. That is defined via `token: $

[2020-10-27 09:01] #987 closed

[2020-10-27 09:12] juzhiyuan commented on #1166
Wow! This will save my life! Thanks, @maximilianwerk !

[2020-10-27 09:12] #1166 closed

[2020-10-27 09:33] JoanFM commented on #987
Hello @fsal ,

Since the merge of #1113 we have created a `driver` that will allow to use `multimodal encoders` in jina. We plan to build an example to showcase the usage, but you can already take a look at it and see how the tests work if you want. We also plan to add better documentation about it.

[2020-10-27 14:25] theUnkownName opened #1171 "feat: add hub component when running docker"
**Describe the feature**
Add the hub component when building docker from jina:devel

**Your proposal**
When building a docker image currently the hub is being skipped.
This behaviour is intentional and was previously [introduced](https://github.com/jina-ai/jina/pull/883) due to this [problem](https://github.com/jina-ai/jina-hub/pull/295#issuecomment-683279092). However, it would be nice to bring i

[2020-10-27 16:41] nan-wang opened #1174 "🚨 BREAKING CHANGES 0.7.0 -> 0.8.0"
This issue is created to keep track of breaking changes between `0.7.0` and `0.8.0` (scheduled release on Nov. 23, 2020)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide

| PR |  Rolled Out? | Override |
| --- | --- | --- |
| #1190  | Yes |  #12

[2020-10-27 16:42] #1000 closed

[2020-10-28 08:28] nan-wang commented on #1171
Do you mean to run all the hub tests in jina?

[2020-10-28 08:33] JoanFM commented on #1171
The point is that to build `docker` examples we cannot be based on `FROM jinaai:jina` because the jina image itself do not contain the `hub executors`. This is intentional for the `jinaai/jina:latest` but we could have them for `devel`

[2020-10-28 13:42] #1167 closed

[2020-10-28 15:30] hanxiao opened #1178 "add Evaluator to jina hub new"
**Describe the feature**

[code]

[code]

As one can see, the new type of `EvaluateExecutor` introduced in `0.7` is still missing in this wizard.

**Your proposal**
1. design pattern on the Evaluator need to be summarized in the template
2. template needs to be added to https://github.com/jina-ai/cookiecutter-jina-hub

Ref on cookiecutter syntax: https://cookiecutter.readthedocs.io/

---

**Enviro

[2020-10-29 07:33] hanxiao commented on #1160
this is solved in #1164

[2020-10-29 07:33] #1160 closed

[2020-10-29 13:59] #1171 closed

[2020-10-29 16:21] Syarol opened #1185 "Add Ukraininan translation to 101"
**Describe the feature**
Hi! I would like to add Ukrainian translation for the 101 tutorial doc.

[2020-10-29 17:04] huxiaoman7 opened #1186 "hello-world example bug？"
**Describe the bug**
I install Jina on MacOS:

[code]

Then I run:

[code]

get the following error:

[code]

**Describe how you solve it**
When trying to connect to https:// site in jina/jina/helloworld/helper.py, it will verify the cert, so I add the following code to get around my problem:

[code]

 and it works.

---

**Environment**

- Python --version:3.7.6
- MacOS: macOS Catalina 10.15.7

(

[2020-10-29 17:12] theUnkownName commented on #1178
This is solved with this [PR](https://github.com/jina-ai/cookiecutter-jina-hub/pull/2)

[2020-10-29 17:12] #1178 closed

[2020-10-30 05:18] huxiaoman7 commented on #1186
I run the same code on my Mac Pro(macOS Catalina 10.15.6),it works successfully - -,maybe there's sth different between macOS version.

[2020-10-30 05:18] #1186 closed

[2020-10-31 17:54] NickCwh commented on #1061
Hi, I can take this on and commit in a bit :)

[2020-11-01 13:50] hanxiao opened #1195 "`protoc` 3.13 generated code is not back-compatible"
**Describe your problem**

`protoc` 3.13 generated code can not be used with 3.11 backend.

My local dev setup,

[code]

Throw error

[code]

**What is your guess?**

- if no community user report this issue, then it means 3.11.3 forward-compatibility is fine
- given that, not sure the real impact of this
- need to unify the version of protoc, e.g. specify the version inside `requirements.txt`

##

[2020-11-01 14:15] JoanFM commented on #1195
@bhavsarpratik seems like the reason the hub ci is failing

[2020-11-01 15:45] hanxiao opened #1196 "`Sequence` is a better type hints since we expect the interable object to be ordered"
i think `Sequence` is a better type hints since we expect the interable object to be ordered

_Originally posted by @bwanglzu in https://github.com/jina-ai/jina/pull/1194#discussion_r515635036_

[2020-11-03 05:37] #1061 closed

[2020-11-03 09:30] #1074 closed

[2020-11-03 10:02] hanxiao commented on #1195
@JoanFM what is your local protoc version, can you do `jina -vf`, mine dev env is
[code]

[2020-11-03 10:08] JoanFM commented on #1195
I have:

[code]

[2020-11-03 10:37] hanxiao opened #1212 "more translations coming in, shall we move non-english Readmes into .github to clean up the root folder a bit?"
**Describe your problem**

originally proposed by @bwanglzu

**What is your guess?**

Options:
- `.github/`
- `.github/i18n/`
- ...

What is the best practice here?
---

**Environment**

**Screenshots**

[2020-11-03 10:59] alexcg1 commented on #1212
I'll get on this

[2020-11-03 11:02] Roshanjossey commented on #1212
Another suggestion `.github/translations/Readme.*`

[2020-11-03 11:20] #1212 closed

[2020-11-03 14:55] hanxiao opened #1215 "`num_part` behavior is obfuscated, making `gather_inspect` useless"
**Describe your problem**

in the very very early version (< 0.1 & even before),`num_part` has two meanings:

1. after this Pod, the message will be divided into number of parts to the sequel Flow
2. at this Pod, we are expecting number of parts message to be collected and then contiune.

Somehow during the evolution the second meaning is lost. The `ReduceDriver` now fully depends on `num_part` in

[2020-11-04 06:49] hanxiao commented on #1195
man your `protobuf` is too old

[2020-11-04 06:57] hanxiao commented on #1195
maybe we need to dockerized the Python protobuf generation part so that community devs won't face the same problem

[2020-11-05 12:28] cristianmtr opened #1224 "different sorting order for chunks and matches in query results"
**Describe your problem**

When working on the multires-lyrics-example I noticed that the sorting differs between `chunks` and `matches` in the output from the search.

**Chunks** are sorted in **ascending** order, **matches** are sorted in **descending** order.

Is this intended? See screenshot below

**What is your guess?**

Not really sure if this is intended or not, but if this is indeed label

[2020-11-05 12:29] JoanFM commented on #1224
This is due to not having a `Ranker` or `SortQL` after the `Chunk2DocRanker` most likely?

[2020-11-05 12:32] maximilianwerk commented on #1224
I wonder, whether the ranker itself should not be able to have a `order` keyword. While it is true, that `SortQL` can do the job, already sorting in the right (configurable) order in the `Chunk2DocRanker` might be useful.

[2020-11-05 12:32] JoanFM commented on #1224
great catch!

The ranker `Chunk2DocRanker` only cares about assigning the `score` to the match but not reordering it. I think we need to add an `SortQL` as the last driver in the `doc.yml` for `SearchRequest` to sort by desceding score.

[2020-11-05 12:36] JoanFM commented on #1224
Well, it would be in the `driver`.

[2020-11-05 14:08] JoanFM opened #1225 "[KNOWN ISSUE] ContainerPea communication broken in 2-level docker"
**Describe the bug**
`ContainerPea` is a `Pea` which is responsible to spin up a `BasePea` running inside a `docker image` throught Docker SDK.

In general, the `BasePea` is capable of receiving `control requests` from the host `ContainerPea` if it works on a host machine, but not if this `host` is running inside a `docker container` itself.

This is for now a limitation, Is there a way to enable

[2020-11-06 00:07] nan-wang commented on #1224
Here is the root issue. The `SortQL` driver attached to the `Chunk2DocRanker` by default is not setting `reverse` argument.
https://github.com/jina-ai/jina/blob/master/jina/resources/executors.requests.BaseRanker.yml#L9

[2020-11-06 05:54] JoanFM commented on #1224
In this case I am not sure it is even applied because I think we override the drivers. And if we do so the default ones are not considered right?

[2020-11-06 06:41] nan-wang commented on #1224
u r right. Adding a `SortQL` to the `pods/ranker.yml` will solve the problem in the multilyric example. However, we need to offer the option in the `Chunk2DocRankDriver` because by default it is ranking in ascending order and do splicing. When the user considering the large score the better, this will cause trouble.

[2020-11-06 06:47] JoanFM commented on #1224
I agree but offering this solution kind of invalidates the use of SortQL as default attached driver right? Nothing against it, just raising the point

[2020-11-06 08:48] cristianmtr opened #1229 "crash when sharding without batching"
**Describe the bug**

When attempting to upgrade the multires lyrics examples to use sharding, I encountered a bug that produced the following error at query time:

[code]

See discussion and experiments in [this PR](https://github.com/jina-ai/examples/pull/271)

The problem seems to be as follows.

1. We should inform users that if they use sharding, they need to use batching.
2. If a shard is em

[2020-11-06 08:56] JoanFM commented on #1229
Here the issue is that when `batch_size` is larger than the `size` of the data, the load balancer in `HeadPea` does not send any data to that shard, leaving this `shard` empty. (That is for me not an issue).

The thing is we need to decide what to do when a `shard` is empty (I think the `indexer` should be robust to not having any data and maybe just raise a `warning` that the index in that `shard

[2020-11-06 11:27] Kavan72 opened #1231 "is there any way to get jina logs while indexer is running ?"
**Describe the feature**
I'm trying to create jina reset api for our internal use. so, is there any way to get indexer progress ?

**Your proposal**
[code]
somthing like this ?

[2020-11-06 12:03] anshulwadhawan commented on #686
Hello,

Can I work on this issue?

[2020-11-06 12:09] hanxiao commented on #1231
i see, good point!

[2020-11-06 12:14] JoanFM commented on #1231
Using output_fn one should be able to count the number of documents already processed right?. This combining with how many you are planning to index or query should give you the information to have this feature.

[2020-11-06 12:21] hanxiao commented on #1231
@Kavan72 use `output_fn`, it will be called on every `batch_size`

[2020-11-06 12:26] Kavan72 commented on #1231
okay, let me try this

[2020-11-06 13:13] Kavan72 commented on #1231
@hanxiao from `output_fn` is working. but one thing i've notice is, jina call `output_fn` before it's processed. So, problem is when last docs is processing that time my progress will show done.

[2020-11-06 13:16] hanxiao commented on #1231
nope, check your progress code then. `output_fn` is implemented in the correct order

https://github.com/jina-ai/jina/blob/e488bbeb17be33e2601aa7882d050a24f1f7ce49/jina/clients/python/__init__.py#L127-L134

[2020-11-06 13:16] #1231 closed

[2020-11-06 14:15] Kavan72 commented on #1231
Ohh okay got it, my bad thank you

[2020-11-07 15:36] bwanglzu commented on #1196
I'll take this one

[2020-11-08 09:11] hanxiao opened #1240 "replace `'%s'` with new string formatting f`{var}` with best reasonable effort"
**Describe your problem**

##Good first issue##

In the current codebase, there are two types of string formating, would be nice to replace `'%s'` with new string formatting f`{var}` with the best reasonable effort.

**What is your guess?**

---

**Environment**

**Screenshots**

[2020-11-08 13:47] #1195 closed

[2020-11-09 12:11] #1215 closed

[2020-11-09 12:28] hanxiao opened #1248 "Github action: The `set-env` command is deprecated and will be disabled soon."
**Describe the bug**

The `set-env` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

![image](https://user-images.githubusercontent.com/2041322/98541339-8f9c8780-228f-11eb-96c0-64524f619af0.png)

**Describe how you solve it**

Affe

[2020-11-09 14:57] alexcg1 opened #1250 "ruamel issue: AttributeError: 'NoneType' object has no attribute 'anchor'"
**Describe your problem**
1. Installed Jina in virtualenv
2. Ran `jina hello-world`
3. After downloading (I think it finished) fashion-mnist it immediately dies. Output here (trimmed out Jina banner and download status of mnist)
[log.txt](https://github.com/jina-ai/jina/files/5511298/log.txt)

**What is your guess?**
Some issue with ruamel

**Environment**

[code]

[2020-11-09 15:00] cristianmtr commented on #1250
I see you're using `python3.9`. AFAIK, Jina doesn't explicitly support that version

[2020-11-09 15:17] hanxiao commented on #1224
simply use `SortQL`

[2020-11-09 15:23] hanxiao opened #1252 "add native Windows support"
**Describe the feature**

Jina can not run on Windows natively, please add your issues/observations here. We need community help on this one.

There are several knowns issues,

1. `uvloop` does not support Windows. `uvloop` is used in jina by default for boosting the performances, but it is known in the uvloop community. https://github.com/MagicStack/uvloop/issues/14.
2. `SystemLogHandler` uses TC

[2020-11-09 15:24] hanxiao commented on #1252
@nan-wang @deepankarm please post your Windows running errors here

[2020-11-09 15:32] hanxiao opened #1253 "add Python 3.9 support"
**Describe the feature**

Jina can not run on Python 3.9. We need community support on this to point out the issues, the out-of-date dependencies on Python 3.9.

**Your proposal**

@alexcg1 as a kick-off, can you add your log here?

---

**Environment**

**Screenshots**

[2020-11-09 15:33] hanxiao commented on #1253
https://github.com/jina-ai/jina/issues/1250#issue-739099324

[2020-11-09 15:57] cristianmtr commented on #1224
From a discussion with @JoanFM , it seems like there is a bit of confusion around the `score` field.

- In the context of chunk comparisons (at the Indexer level) it means `distance`. Thus, **smaller is better**
- In the context of documents (as parents of `chunks`) it means `similarity`. Or at least, in the context of `MinRanker` (https://github.com/jina-ai/jina-hub/blob/f92276c1c4a38ef9ac34a16c4

[2020-11-09 15:58] alexcg1 commented on #1250
Fixed by using Python 3.7

[2020-11-09 15:59] #1250 closed

[2020-11-09 16:08] cristianmtr opened #1255 "clarify meaning of 'score'"
**Describe the bug**

From a discussion with @JoanFM , it seems like there is a bit of confusion around the `score` field.

- In the context of chunk comparisons (at the Indexer level) it means `distance`. Thus, **smaller is better**
- In the context of documents (as parents of `chunks`) it means `similarity`. Or at least, in the context of `MinRanker` (https://github.com/jina-ai/jina-hub/blob/f92

[2020-11-09 16:09] cristianmtr commented on #1224
Will close this, as original problem was not the problem. Have opened a new issue to clarify meaning of 'score' https://github.com/jina-ai/jina/issues/1255

[2020-11-09 16:09] #1224 closed

[2020-11-09 16:31] JoanFM commented on #1255
I think something similar to what you describe of the `method` used to calculate the `score` is currently in place. The `op_name` in the `NamedScore`

[code]

[2020-11-09 17:24] hanxiao commented on #1255
yes, our protobuf already support it. The ranker creator should write that semantic into the `description` just like writing comment. It's a best practice thing when extending with Jina. I'd suggest enforcing this best practice from now.

[2020-11-09 17:28] JoanFM commented on #1255
I do think is already being added @cristianmtr , can you check if you see it inside the `score` object inside `matches` at any level?

[2020-11-09 17:35] hanxiao commented on #1255
just fyi, you can simply add `r.score.description = exec.__doc__` in the `RankDriver` at `jina/drivers/rank.py:178` to make it more descriptive.

But then every score now carries a long description, could be less network-efficient. This is the tradeoff you never the less have to make. Or you don't make the decision and add an option and let the user decide.

[2020-11-10 07:39] hanxiao commented on #1185
closed as #1124

[2020-11-10 07:39] #1185 closed

[2020-11-10 07:57] cristianmtr commented on #1255
Couldn't we maybe find a way to make them all fit one direction? Either all are **lower is better** or all are **higher is better**?

[2020-11-10 08:47] hanxiao commented on #1255
unfortunately, no. Not universally everywhere. Same goes with tf, pytorch, where `score` is always task-specific, you as the user say what is best, `loss` & `distance` is at low-level, it is lower the better.

[2020-11-10 09:24] JoanFM commented on #1255
@cristianmtr maybe we can add some part in the documentation having a little discussion on `score`.

[2020-11-10 09:25] cristianmtr commented on #1255
Yeah, I guess we can do that. Is there a known list of rankers/sorters and whether they are **lower** or **higher is better**?

[2020-11-10 09:26] JoanFM commented on #1255
this list will evolve, so I would keep it `conceptual`

[2020-11-10 10:55] cristianmtr commented on #1255
I will try to write up something after reading through the code.

Another possible approach: since all the classes that run any of the scoring / measure know their metric (right?), we could perhaps have them invert it so as to match one specific direction (lower or higher).

E.g. NumpyIndexer knows it uses cosine dist. It measures distances between vectors. It gets the lowest nr as top result, rig

[2020-11-10 12:15] nan-wang commented on #1252
Updated the issue accordingly.

[2020-11-11 08:16] #1196 closed

[2020-11-11 08:17] #1240 closed

[2020-11-11 11:03] #1255 closed

[2020-11-11 11:46] hanxiao opened #1262 "add a sugary Flow API: needs_all()"
**Describe the feature**

Expected behaviors:
- `Flow()....needs_all()` collect all hanging Pod so far, it is a sugary syntax for `.needs(['h1', 'h2', ...])`
- Like `.needs()`, `.needs_all()` can be used at any part of the Flow
- All other behaviors follow `needs()`

Hanging Pods are the pods that have no output **so far**.

**Your proposal**

---

**Environment**

**Screenshots**

[2020-11-11 17:12] JoanFM opened #1268 "Incremental indexing broken, related to metas names and compoundExecutor"
**Describe the bug**
This is a bug that has been found trying to build an example using `Incremental Indexing`.

We saw that the `integration tests` did not show the expected behavior of the feature, because the `Flow` was never closed before trying to index more documents (which is the intended behavior).

We tried to fix the issue in #1267 but we saw that in many tests we have this exception:

!

[2020-11-11 17:14] JoanFM commented on #1268
**Potential approach**
Maybe we need the concept of a `cached` but not `reconstructed` property?

[2020-11-12 11:22] JoanFM commented on #1268
Closed via #1267

[2020-11-12 14:57] #1268 closed

[2020-11-13 09:43] hanxiao opened #1277 "Jupyter notebook & lab kernel restarting without obvious reason when working with Jina"
**Describe your problem**

Orginal post at here:
https://github.com/jupyter/notebook/issues/5863#issue-741473325

Answer from Jupyter maintainer here:
https://github.com/jupyter/notebook/issues/5863#issuecomment-726067963

**What is your guess?**

Pretty hardcore. Seems related to the `asyncio` eventloop lifecycle override.

**Related issues**

https://github.com/ipython/ipython/issues/11303/#issu

[2020-11-13 11:02] cristianmtr opened #1278 "move all tests from examples to CI"
**Describe the feature**

quoting @hanxiao

[2020-11-13 11:08] JoanFM commented on #1278
can't we make `CI.yml` "listen" to the result of `test-examples.yml`? Like this CI.yml does not need to grow so much

[2020-11-13 22:56] hanxiao commented on #1277
https://github.com/ipython/ipython/issues/11303/#issuecomment-420566168

[2020-11-14 07:22] hanxiao commented on #1277
https://github.com/ipython/ipykernel/issues/548

[2020-11-14 10:31] JoanFM opened #1285 "Remove variable *args and **kwargs from Executors methods signatures"
**Describe the problem**

I have seen that many contributors get confused by the presence of `*args` and `**kwargs` in the signatures of the `BaseExecutors`.

It feels for them that they can add or extract parameters without respecting the base class signature (while no driver will provide those parameters).

I think removing these arguments from the signatures can help clarify this. It could also

[2020-11-14 14:40] hanxiao commented on #1285
They were added on purpose, but NOT for extracting parameters. They were added for compatibility. Without `*args` and `**kwargs`, BaseClasses will NOT suppress the error of extra/unknown kwargs. Suppressing the error at the executor **interface level** is important for the framework to be stable and immutable.

[2020-11-14 15:03] #1285 closed

[2020-11-14 17:34] JoanFM commented on #1285
yes, no big priority, I was talking about `craft`, `encode` and so on and not the __init__, but it is true that there is some loss of generalization.

[2020-11-15 12:37] hanxiao opened #1287 "Refactoring async gRPC servlet from ThreadPoolExecutor to native asyncio support"
**Describe the feature**

gRPC asyncio support graduated since this Aug. https://github.com/grpc/grpc/issues/6046#issuecomment-675620819
Doc: https://grpc.github.io/grpc/python/grpc_asyncio.html

The current way of async on gRPC introduce compatibility problem with ipykernel. see #1277

**Migrating to native asyncio support may or may not solve #1277**. Speedwise it may improve as I expect native

[2020-11-16 00:36] #1122 closed

[2020-11-16 15:11] pswu11 opened #1290 "deadlinks on documentation"
**Describe your problem**

I am working on README Learn section and found out that some tba links / dead links are still on below pages:

https://docs.jina.ai/chapters/remote/run-remote-pod-flow.html
https://docs.jina.ai/chapters/remote/run-remote-pod-jina.html
https://docs.jina.ai/chapters/remote/run-remote-pod-console.html

For **Flow API**, maybe the link should be https://docs.jina.ai/chapters

[2020-11-17 06:11] deepankarm commented on #1287
Here's the documentation about asyncio usage in grpc
https://grpc.github.io/grpc/python/grpc_asyncio.html

[2020-11-17 09:01] leonwanghui opened #1295 "Run Jina examples with some errors"
**Describe your problem**

I was trying to execute the jina examples of [mindspore-lenet](https://github.com/jina-ai/examples/tree/master/mnist-with-mindspore) with jinahub, after getting some help from John, I modified the code and push it to my [personal code repo](https://github.com/leonwanghui/mindspore-jina-apps/tree/main/lenet-fashion_mnist). But when I tried to execute `python app.py -t ind

[2020-11-17 09:26] JoanFM commented on #1295
Hey @leonwanghui, first problem is you need to update the import of `ImageReader` in your `lenet_mindspore.py`.

Change

[code]
to

[code]

[2020-11-17 09:46] JoanFM commented on #1295
also you need to move the import of local lenet:
From:

[code]

To
[code]

[2020-11-17 09:50] JoanFM commented on #1295
then make sure that you have all the `installed` prerequisites for these `lenet.py` file

[2020-11-17 10:14] leonwanghui commented on #1295
@JoanFM Thanks for the help, and it works to remove the error msg, but another error occurred with the log below:
[code]

[2020-11-17 10:21] cristianmtr commented on #1295
`         encode@8617[C]:fail to start <class 'jina.peapods.tail_pea.TailPea'> with name encode-tail, this often means the executor used in the pod is not valid`

Looks like you maybe provided a custom name somewhere in your .yml files where you shouldn't have.

Can you post your configs?

[2020-11-17 10:23] JoanFM commented on #1295
can you try putting a higher `timeout_ready` setting to a larger value for your encode pod?

[2020-11-17 10:50] leonwanghui commented on #1295
@cristianmtr The config could be found at: https://github.com/leonwanghui/mindspore-jina-apps/tree/main/lenet-fashion_mnist/pods

[2020-11-17 10:52] leonwanghui commented on #1295
@JoanFM I'm afraid the query operation hasn't been executed, since the error has occurred when I run `python app.py -t index`.

[2020-11-17 10:58] JoanFM commented on #1295
yes, but the encoding is independent, it is also used during `index` operations

[2020-11-17 15:52] ArushiSinghal commented on #1161
@alexcg1 interested.

[2020-11-17 16:22] alexcg1 commented on #1161
Great to hear! A good first step would be joining our [Slack community](http://slack.jina.ai) and discussing it with us there :smile:

[2020-11-17 17:50] #1248 closed

[2020-11-17 18:07] JoanFM opened #1302 "IDLE not handled in ControlDriver"
**Describe the bug**
ControlRequest IDLE is not handled in ControlRequest raising an exception

[2020-11-17 21:50] bio-howard opened #1304 "test_helloworld.py::test_helloworld is misleading"
**Describe your problem**
I think that test
`def test_helloworld(tmpdir):
    subprocess.check_call(['jina', 'hello-world', '--workdir', str(tmpdir)])`
https://github.com/jina-ai/jina/blob/master/tests/integration/test_helloworld.py
Doesn't "really" test if we are calling hello-world. The result tells if jina hello-world was called and any option which accepts --workdir parameter was executed prop

[2020-11-17 21:53] bio-howard commented on #1304
I have solution for this problem. Should I commit to this task or create new issue?

[2020-11-17 23:48] nan-wang commented on #1290
Good catch. I've updated the Flow links. As for the __understanding Peas & Pods__, we still need one document for that. For the time being, I've redirected it to [https://docs.jina.ai/chapters/101/.sphinx.html#pea](https://docs.jina.ai/chapters/101/.sphinx.html#pea). Let's keep this ticket open as a reminder.

[2020-11-18 00:23] nan-wang commented on #1304
hi, @bio-howard Thanks for your issue. You can make a PR and link the PR with this issue. You might want to check out the  [Github official doc](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords).

[2020-11-18 02:57] leonwanghui commented on #1295
@JoanFM After setting `timeout_ready` to `100000`, the zmqlite error was gone, but instead there comes another error in `index.yml`:
[code]
Thanks!

[2020-11-18 09:49] #1262 closed

[2020-11-18 13:12] #1295 closed

[2020-11-19 08:38] JoanFM commented on #1302
![image (8)](https://user-images.githubusercontent.com/19825685/99641756-fd447280-2a4a-11eb-9973-6f8683e68ad6.png)

[2020-11-19 08:39] JoanFM commented on #1302
![image (9)](https://user-images.githubusercontent.com/19825685/99641806-0c2b2500-2a4b-11eb-83ea-20a68b6730bb.png)

[2020-11-19 17:26] bwanglzu commented on #987
Hi @fsal we created an example for multimodality search [here](https://github.com/jina-ai/examples/tree/master/multimodal-search-tirg), it is an implementation of [Composing Text and Image for Image Retrieval](https://arxiv.org/abs/1812.07119). If you're interested, try it out and give us some feedback.

[2020-11-19 22:35] bio-howard commented on #1304
It's here https://github.com/jina-ai/jina/pull/1305

[2020-11-20 06:03] nan-wang opened #1316 "setting top_k from the client is not working"
**Describe the bug**
The integration test of running Southpark example fails.

https://github.com/jina-ai/examples/pull/259/checks?check_run_id=1422319675

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2020-11-21 10:10] hanxiao opened #1321 "TOC in auto changelog seems broken since 0.7.4?"
**Describe your problem**

https://github.com/jina-ai/jina/blob/master/CHANGELOG.md

![image](https://user-images.githubusercontent.com/2041322/99874681-22231c00-2bea-11eb-86ce-fdd3c4f6d740.png)

TOC generator for `CHANGELOG.md` seems broken after 0.7.4? No link is generated after that.

The release note itself is fine.

**What is your guess?**

---

**Environment**

**Screenshots**

[2020-11-22 18:28] hanxiao opened #1326 "refactoring BaseRecursiveDriver's recursion logic to Document data type"
**Describe the feature**

With the new `Document` primitive type, [the recursion logic inside `BaseRecursiveDriver`](https://github.com/jina-ai/jina/blob/f132fbda736a90bed919827386f05f29978af7b7/jina/drivers/__init__.py#L287-L314) can be moved to [`Document` type](https://github.com/jina-ai/jina/blob/master/jina/types/document/__init__.py#L29).

**Your proposal**
[code]

---

**Environment**

**Sc

[2020-11-23 06:09] bhavsarpratik commented on #1253
On running `jina hello-world` on jina 0.7.12 on mac. `jina -vf` also fails

[code]

[2020-11-23 10:00] hanxiao opened #1329 "Refactoring document creation and access in unit tests"
**Describe the feature**

Some unit tests, e.g. the ones related to drivers (and especially `RankDriver`) are not very well designed.

- They use low-level Document protobuf, handcrafting document attributes. This is depreciated as [Primitive Type is now main data type interface for Jina low-level ops](https://hanxiao.io/2020/11/22/Primitive-Data-Types-in-Neural-Search-System/).
- They assertion i

[2020-11-23 12:44] bhavsarpratik opened #1330 "top_k not working from Python client"
**Describe the bug**
top_k set via python client is failing in current southpark [test](https://github.com/jina-ai/examples/pull/289/checks?check_run_id=1441373067)

[2020-11-23 13:57] JoanFM commented on #1330
I think it may be related to the new `jina primitive types`

[2020-11-23 14:27] bhavsarpratik commented on #1330
Han has made new `QueryLang` changes in the queryset in `flow.search`. Our test are also passing.

[2020-11-23 15:35] bwanglzu commented on #1330
duplicate to #1316

[2020-11-23 15:53] #1304 closed

[2020-11-23 17:03] hanxiao opened #1333 "docker sdk 4.4.0 compatibility issue"
**Describe the bug**

4.4.0 published on Nov. 23 https://pypi.org/project/docker/4.4.0/ gives

[code]

making all ci/cd failed

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2020-11-23 18:21] #1333 closed

[2020-11-24 02:45] #1174 closed

[2020-11-24 02:49] nan-wang opened #1337 "🚨 BREAKING CHANGES 0.8.0 -> 0.9.0"
This issue is created to keep track of breaking changes between `0.8.0` and `0.9.0` (scheduled release on Dec. 21, 2020)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide
## Template

| PR |  Rolled Out? | Override |
| --- | --- | --- |
| #1343 |

[2020-11-24 07:14] hanxiao commented on #1321
closed by https://github.com/technote-space/toc-generator/issues/280

[2020-11-24 07:14] #1321 closed

[2020-11-24 14:49] bwanglzu opened #1344 "jina-bot merged a PR without any reviewer approved"
**Describe the bug**
1. I raised a small PR to updated tests, see #1336 from feature branch
2. jina-bot committed some changes to my feature branch (see screenshot blow)
3. jina-bot merged the PR directly while no reviewer approved.

![image](https://user-images.githubusercontent.com/9794489/100109663-5a399180-2e6c-11eb-8e9b-bdf9527f3cdb.png)

[2020-11-24 23:10] bwanglzu opened #1347 "get remote pod documentation updated"
`--allow-spawn` has been removed in #1276 , while it still exists in the documentation, `run-remote-pod-jina.md`

![image](https://user-images.githubusercontent.com/9794489/100161855-8bd54b80-2eb2-11eb-92c3-cde6029a4303.png)

[2020-11-25 04:18] nan-wang commented on #1347
Good move! This part of the documentation is really out-of-date.

[2020-11-25 08:51] bhavsarpratik opened #1349 "Use pathlib for paths"
**Problem**
Since we are using a lot of `os.path` for directory/filepath operations, we can move to cleaner `pathlib` operations.

**Suggestion**
Replace all path related operations in core modules and test with pathlib's path

[2020-11-25 10:47] leonwanghui opened #1350 "Flow search always return 50 results with random top_k set"
**Describe your problem**

Hi all, I have setup a jinabox.js environment and create several image search apps, but I found that no matter how I set `top_k`, the search result would always be 50.

**What is your guess?**

After digging out the source code, I found that the default value of top_k for `Flow.search()` method is 50, so I'm wondering if the `top_k` parameter hasn't been passed to Flow g

[2020-11-26 00:06] nan-wang commented on #1350
This issue is partly related to #1316

[2020-11-26 06:09] JoanFM opened #1357 "QueryLang instantiation with Driver instance"
**Describe the bug**
When instantiating a QueryLang primitive type from a `BaseDriver` instance, we take all the parameters of that instance, and before moving to primitive types, `QueryLang` intention was to override just a single parameter.

I think this is confusing and can lead to unexpected behavior. The problem will arise when there is a driver with more than 2 overridable parameters.

Anoth

[2020-11-26 06:40] JoanFM commented on #1350
Hey @imsergiy can you describe what is the `timeout` setting trying to achieve? It is not clear how it should behave from a core perspective

[2020-11-26 13:39] alexcg1 opened #1362 "Giving thanks to all our contributors! 🎉"
Thanksgiving is here, and (even though not many of us are American and won't be chowing down on turkey 🦃), we'd love to take this time to thank all our amazing contributors. Jina wouldn't be what it is without you.

If times were less crazy we'd try to get together with you all and buy you a drink of your choice. But since most folks are stuck inside, we've put together a personalized banner for y

[2020-11-26 13:40] alexcg1 opened #1363 "Giving thanks to all our contributors 🎉"
Thanksgiving is here, and (even though not many of us are American and won't be chowing down on turkey 🦃), we'd love to take this time to thank all our amazing contributors. Jina wouldn't be what it is without you.

If times were less crazy we'd try to get together with you all and buy you a drink of your choice. But since most folks are stuck inside, we've put together a personalized banner for y

[2020-11-27 11:59] JoanFM commented on #1350
Hello @leonwanghui ,

This issue should be fixed in master! You could check with master or wait for the next minor release.

Thanks for raising awareness of this problem.

[2020-11-27 11:59] #1350 closed

[2020-11-29 21:06] bwanglzu commented on #1329
Done in #1356

[2020-11-30 04:02] shuangt opened #1374 "how to make a self-trained model as service using jina?"
I have trained a model myself, and the structure is different from the current models, how to make my model as serviceusing jina?

[2020-11-30 06:54] JoanFM commented on #1374
Hello @shuangt.

This is possible with jina. You just need to define your own encoder executor.
- In this executor you can load the model inside the post init method
- Implement the method `def encode ...`.

You can even encapsulate it in a docker container to ease the boileeplate of downloading models and so.

I think a good example for it would be a VSEImageEncoder or VSETextEncoder that you can

[2020-11-30 10:22] amrit3701 commented on #1349
Hi @bhavsarpratik

I am working on this issue. Please assign it to me.

Thanks

[2020-11-30 16:56] JoanFM commented on #1225
Closed by #1351

[2020-11-30 19:31] hanxiao opened #1378 "freeze the requirement versions before `jina hub build`"
**Describe the feature**

originally from @florian-hoenicke : https://jinaai.slack.com/archives/C018QC78L84/p1606762818107400

For the sake of deterministic builds it would make sense to me if we always have fixed versions. What do you think?
Example
[code]
->
[code]
**Your proposal**

add the `freeze` logic to here https://github.com/jina-ai/jina/blob/master/jina/docker/hubio.py#L303

should be a

[2020-11-30 20:55] #1225 closed

[2020-11-30 22:18] hanxiao commented on #1374
try `jina hub new`, full walkthough with Mindspore: https://hanxiao.io/2020/10/28/Mindspore-powered-Neural-Search-in-Jina/

[2020-12-01 00:43] #686 closed

[2020-12-01 01:03] shuangt commented on #1374
thanks

[2020-12-01 01:03] shuangt commented on #1374
Thanks, I'll try it out.

[2020-12-01 01:06] shuangt commented on #1374
Is the tutorial only for Mindspore, or it also works for tensorflow?

[2020-12-01 01:06] shuangt commented on #1374
Is the tutorial only for Mindspore, or it also works for tensorflow?

[2020-12-02 07:11] JoanFM commented on #1374
The tutorial is about how to add a new executor, in this case the example uses `Mindspore` just as an example, but it can be easily adapted to your own needs and dependencies.

[2020-12-02 08:51] JoanFM opened #1382 "Provide batching decorator ready to batch `Ranker` input data (query_meta, doc_meta, prev_scores)"
**Describe the feature**
I am not sure if it is ready, but we need to make sure that `Rankers` can leverage the batching decorator capability.

**Motivation**
We can have `Neural Network` based rankers that could highly benefit from batching their inputs

[2020-12-02 16:13] JoanFM opened #1386 "Add a method to guarantee that callback is called when testing"
**Describe the bug**
We have many tests that run assertions at the callback of Flow outputs.

This is dangerous because it can easily lead to false positives!

We need to add in the conftest.py a fixture that guarantees that it can be used to automatically ensure it is called (and the rest of the asserts are run)

Look at this PR:

https://github.com/jina-ai/jina/pull/1385

[2020-12-03 06:56] janandreschweiger commented on #929
How good does jina perform in general on large datasets?
I'm curious about this issue, because my cooperation plans to implement jina for searching our documentation.

[2020-12-03 07:28] JoanFM commented on #929
Hello @janandreschweiger.

We are happy to hear about your interest in jina. As you can see we are moving really fast but we did not have the chance to do stress testing at scale yet.

However, this is one of the top priorities in our roadmap for the near future. We would be very happy if you could share with us what is your intended usecase and the challenges you may face.

[2020-12-03 07:38] JoanFM commented on #929
However, we have done some benchmarking in fashion-mnist dataset.

The process is explained here:
 https://hanxiao.io/2020/11/10/Optimizing-the-Overhead-of-a-Decentralized-Search-System/
And it uses this repo: https://github.com/jina-ai/latency-tracking

We will soon also provide better detailed documentation about how to ease the distribution of jina Pods in distributed environments, so please st

[2020-12-03 17:53] #1229 closed

[2020-12-03 21:46] #1326 closed

[2020-12-04 13:45] bhavsarpratik commented on #1349
Hi @amrit3701, let us know asap if you are going to create a PR for this as it is an urgent task

[2020-12-05 18:40] janandreschweiger commented on #929
Hi @JoanFM,

thank you for your answering my question. We've decided to give your framework a try.

Our goal is to build one central search engine for our entire documentation. In essence our documentation consists of a web-based wiki, git and some files (e.g. PDFs). Therefore, we only focus on searching the text content (and if possible the filenames).
Do you think your framework fits our use cas

[2020-12-05 19:04] JoanFM commented on #929
Hey @janandreschweiger ,

I do think that the framework fits very well ur case, I think our flexibility can cover all your needs. We can also extract text from PDF documents and do neural search at different semantic levels.

We will keep in mind your suggestion to build such an example. Is there a specific challenge that you are struggling to cover?

[2020-12-06 17:35] janandreschweiger commented on #929
Thanks @JoanFM, we've already found all the necessary informations that we need. I also think that your well structured architecture will fit our needs. Keep up the good work!

[2020-12-07 08:59] Kavan72 opened #1404 "top_k is not working on multiple shards"
**Describe the bug**
Problem is on query time. when i've multiple shards (>1) and if i set top_k == (total len of docs) on quey time than it's not returning all docs result. i also passing `polling='all'` and `uses_reducing='_merge_all'` on query flow still not working.

**Environment**
[code]

[2020-12-07 09:39] JoanFM commented on #1404
Hey @Kavan72, could you give an example of the flow u are working with and the total length that you mean? Are you using any segmenter? Is the search done at root level or at chunk level?

[2020-12-07 10:18] Kavan72 commented on #1404
my index flow:-
[code]

my query flow:-
[code]
- with this flow i started index on 100 docs and after when i start query on this index that time i'm only getting only 50 to 60 result(even if i set top_k == 100, is working on shards=1 )
- i'm not using any segmenter.
- search done on root level.

[2020-12-07 11:40] #1277 closed

[2020-12-07 11:40] #1287 closed

[2020-12-07 11:40] JoanFM commented on #1404
Hey @Kavan72,

What is happening here is the following:

top_k works at shard level, and since you are adding a lot of sharding, your documents are split in different shards. So in this case, every shard will return all the documents it has in their index.

And then at merge time, it is failing to accumulate all the `top_k` of every shard.

[2020-12-07 11:47] JoanFM commented on #1404
Hey @Kavan72 ,

Can you try changing `uses_reducing` for `uses_after`? It is a change that happened a few versions back and we may have forgotten to adapt southpark for it

[2020-12-07 11:53] JoanFM commented on #1404
Opened #1406 to fix this issue, but you will need to change also for `uses_after`

[2020-12-07 11:54] JoanFM commented on #1404
And opened https://github.com/jina-ai/examples/pull/315

[2020-12-07 21:32] #1404 closed

[2020-12-07 21:34] JoanFM commented on #1404
hey @Kavan72 if you get the latest version and use `uses_after = _merge_matches` it will work as expected.

thank you very much

[2020-12-08 05:21] Kavan72 commented on #1404
thank you @JoanFM i'll test

[2020-12-08 08:27] yuanbit opened #1412 "Change timeout settings when building a docker image for neural-network-based rankers using jina hub"
I am building a custom ranker using Transformer-based models. When I try to build a docker image using jina hub, ```jina hub build FinBertQARanker/ --pull --test-uses```, I get the following error:

![image](https://user-images.githubusercontent.com/12972261/101458364-15672d80-3937-11eb-9570-8fa5092a4cf7.png)

I have already downloaded the models in the docker file and the post_init is only loadin

[2020-12-08 10:45] cristianmtr opened #1413 "BinaryPbIndexer should support `add` and `update` in the same context"
**Describe the feature**

BinaryPbIndexer should support `add` and `update` in the same context

**Your proposal**

As observed in this discussion https://github.com/jina-ai/jina/pull/1380 (specifically https://github.com/jina-ai/jina/pull/1380#discussion_r538095186 ), this indexer doesn't support this out of the box. We need to think of a solution. Perhaps lazy flushing, as suggested by @JoanFM

[2020-12-08 11:50] maximilianwerk commented on #1412
Do I understand correctly, that loading the model takes more than three hours? That should be plenty of time in any case. Can you describe a use-case where we should allow this taking more than three hours?

[2020-12-09 09:01] yuanbit commented on #1412
The error says the timeout was after 10000 ms not 3 hours. Where did the 3 hours come from?

[2020-12-09 11:16] bwanglzu opened #1420 "contribute to unit tests on Jina primitive data type"
If anyone from the community is interested in contribute to Jina, but don't know where to start, this is a good starting point: contribute to tests.

We have pre-defined a test named [test_querylangset.py](https://github.com/jina-ai/jina/blob/master/tests/unit/types/sets/test_querylangset.py), with methods and docstrings, all you need to do is to:

1. Read the code and have a bit knowledge on [Jin

[2020-12-09 11:17] bwanglzu commented on #1420
Before contributing, please take a look at #553 , comment in this ticket and we'll assign the issue to you :)

[2020-12-10 07:14] JoanFM commented on #1386
Closed bt #1419

[2020-12-10 07:14] #1386 closed

[2020-12-10 07:21] maximilianwerk commented on #1412
Nevermind, I read 10000s which would be roughly three hours. For 10s I totally agree with you argument, that loading and setting up the model may take a bit longer.

There is the the possibility to set `timeout_ready` when adding a Pod to a Flow. That should be the right thing to use. See for example https://github.com/jina-ai/examples/blob/master/multires-lyrics-search/flows/query.yml

[2020-12-10 07:40] JoanFM commented on #1412
Yes @maximilianwerk , the problem is at the time of using `jina hub build` and --test-uses` which tests if your image can be part of a `Flow`. In that case, this `timeout_ready` parameter does not seem to be exposed.

[2020-12-10 16:07] JoanFM opened #1431 "Add NamedScore primitive type"
**Describe the feature**
Adding NamedScore primitive type would allow to add score access through `Document` primitive type, useful in client side to provide expected scores for proper evaluation (see `NDCGEvaluation`) which requires `score.value` relevance for comparision

PR #1430 trying to add it, but testing fails

[2020-12-10 16:09] JoanFM opened #1432 "NumpyIndexer returning [nan, nan, nan] distances"
**Describe the bug**
When running `pytest -v -s tests/integration/issues/github_1229/` for PR #1431 and investigating why the test fails, it shows that the `NumpyIndexer` is returning when top_k is larger than `size` a lot of [nan, nan, nan] distances.

It needs to be investigated and taken care of

[2020-12-10 16:09] JoanFM commented on #1432
Seems linked to #1229

[2020-12-10 16:34] hanxiao opened #1433 "needs & inspect builder pattern are not available in YAML"
**Describe the feature**

`needs` & `inspect` builder pattern are not available in Flow YAML

**Your proposal**

---

**Environment**

**Screenshots**

[2020-12-10 21:13] JoanFM commented on #1432
I think it is expected; cosine distance is not defined for 1D vectors

[2020-12-10 21:14] #1432 closed

[2020-12-10 23:14] tadej-redstone opened #1436 "Support outputs from different layers in TransformerTorchEncoder"
**Describe the feature**

It would be very useful if it was possible to use other layers, not just the last one, as encoding in `TransformerTorchEncoder`. In a lot of my use cases I find the outputs from the second to last layer more useful than the outputs from the last layer.

**Your proposal**

I suppose an optional argument like `layer_index` could be passed on init, with possible values `-1`

[2020-12-11 06:10] StutiV commented on #1420
Hello, @bwanglzu . I'd like to contribute, can you assign me this issue?

[2020-12-11 06:59] bhavsarpratik commented on #1436
@tadej-redstone Thanks for these suggestions! As per the paper, both summing and concat give marginal improvements. Concat is not good for later cosine calculation as it increases the compute requirement. I suggest adding `layer_index` for now.

Would you like to create a PR for this?

[2020-12-11 08:39] tadej-redstone commented on #1436
Yes, I can create a PR for `layer_index` :)

[2020-12-11 09:12] bwanglzu commented on #1420
@StutiV great! Let me know if you have any questions.

[2020-12-11 10:43] JoanFM opened #1438 "Problem updating `faiss-search-example` (General problems with `indexers` , `ref_indexer` and `ContainerPea`)"
**Describe the bug**
I have been trying to update `faiss-search-example` (https://github.com/jina-ai/examples/pull/318) and I am struggling to get it right.

So the problem is related to `workspace` `ref_indexers` and `ContainerPea`

Let me try to explain in detail:
- At index time `NumpyIndexer` is working with `index_workspace` as workspace, there it serializes itself to `indexer_workspace/wrapi

[2020-12-11 11:18] cristianmtr opened #1439 "clarify function signatures in indexers"
**Describe the feature**

Some indexers have confusing function signatures. Specifically the usage of `keys`, `ids` is wrong. This can create confusion for newcomers, or when reasoning about the code.

Example

- NumpyIndexer uses `keys` to refer to what is actually `query_vectors`: https://github.com/jina-ai/jina/blob/2585798ac0ed33dd406a8f8a0a457d72bb2b7af0/jina/executors/indexers/vector.py#L302

[2020-12-11 13:50] tadej-redstone opened #1441 "Compute encodings using AMP in TransformerTorchEncoder"
**Describe the feature**

Encodings could be computed using Automatic Mixed Precision for `TransformerTorchEncoder` when the model is on GPU - this practically doubles the computation speed (on GPUs that support it), while having almost zero effect on the precision of the results.

**Your proposal**

Just adding mixed precision is easy: the following line from `jina.hub.encoders.nlp.TransformerTor

[2020-12-11 13:55] StutiV commented on #1420
@bwanglzu Can you elaborate this issue? It'll really help me get started, I'm new to open source. Thank you!

[2020-12-11 13:57] JoanFM commented on #1439
I would even go one step further and remove the signatures from BaseIndexer and have them declared at KVIndexer and VectorIndexer since they are really different and behave and interact really differently.

I see very little in common between KV and VectorIndexers for them to share  a common BaseClass.

For now they could share only the abstracion of query and write handlers but without sharing co

[2020-12-11 14:00] StutiV commented on #1378
Hello @hanxiao . Can you please elaborate this issue? I'd like to contribute. Thank you!

[2020-12-11 14:40] bwanglzu commented on #1420
@StutiV I'm not sure what's the problem you have, or you could join our [slack channel](http://slack.jina.ai/) and talk with me directly

[2020-12-11 18:39] #1433 closed

[2020-12-11 19:02] janandreschweiger opened #1444 "Custom Driver"
**Describe the feature**
The ability to add custom drivers or a new driver that fits our needs.

**Why?**
When using the EncodeDriver, the encode method of our executor is called for every document of our IndexRequest. (Unfortunately, all available executable drivers inherit from the BaseRecursiveDriver.) This is a problem, because we want to encode all sentences at once. Otherwise, the index-runt

[2020-12-11 19:06] JoanFM commented on #1444
Hey @janandreschweiger;

You can add custom drivers the same way you add custom executors using the py_modules parameter in the metas of the pod yaml definition.

[2020-12-11 19:09] JoanFM commented on #1444
As per the need of such a driver, you can control with batch_size the amount of documents that are encoded at once.

Is your document of the semantic unit that you want to embed to?

[2020-12-11 19:11] JoanFM commented on #1444
you can use the @batching decorator that controls how many documents of the request are considered at the same time for the function execution and which is specifically targeted for encoding in batches.

[2020-12-11 20:00] janandreschweiger commented on #1444
Hey @JoanFM, thanks for helping me out again.

**Batching**
Unfortunately, using the batching decorator doesn't change anything:
[code]
Output of index-request:
Encoding document with 9 sentences
Encoding document with 1 sentences
Encoding document with 4 sentences
Encoding document with 9 sentences
Encoding document with 8 sentences
Encoding document with 4 sentences
Encoding document with 16 sen

[2020-12-11 20:05] JoanFM commented on #1444
Ok I see, so your problem is that you want to encode in the same batch "chunks" of different "documents" right? Then for this you will indeed need to add a custom driver.

Your syntax for adding py_modules is wrong though. Driver has no metas parameters. you need to add it in the metas of the executor that will be used by this driver. Like in the same place where u are adding your custom executor.

[2020-12-11 20:07] JoanFM commented on #1444
It is however a nice feature to think of @hanxiao having some sort of an "accumulator" at driver level to accumulate more DocumentSet to be passed to the executors. Important when these executors work on different levels than root.

[2020-12-11 21:07] geckgecko commented on #1444
@JoanFM Thank you it finally works!!!

In case you're interested in the implementation:
[code]
I know the implementation is a little bit brutal. It would be much cleaner to build up a new driver from the BaseDriver class.

[2020-12-11 21:13] JoanFM commented on #1444
Happy to help; it is definitely something to consider; also something that can seamlessly do it while mantaining the traversal structure

[2020-12-11 21:14] janandreschweiger commented on #1444
BTW @geckogecko is my colleague.

Should I now close this issue or should I just leave it open?

In addition: Is there any possibility how one can index a document during query time (We use Jina with Faiss)? I'm asking because we have a question-answering system. I think that would be an important feature for many users.

[2020-12-11 21:21] JoanFM commented on #1444
Cool!!

I think we can close this issue and open a new one reformulating the feature request (mentioning that you are interested in applying executor to chunks of different documents at the same time)

As per index while querying, it is not possible at the moment, but is definitely something to be considered for the near future.

[2020-12-11 21:23] janandreschweiger commented on #1444
Cool, sounds great.

[2020-12-11 21:23] #1444 closed

[2020-12-11 21:54] hanxiao commented on #1439
How are they behave differently? They are both indexers, they both use special but similar wire format for storage. They both rely on memmap for reading.

[2020-12-11 21:58] JoanFM commented on #1439
One is queried by keys and the other by vectors. They share the fact that are persisted in memory and some common patterns that belong in BaseIndexer. But in the interface they offer they seem different to me

[2020-12-11 22:02] hanxiao commented on #1439
that's why they are from different BaseClass, notice the inheritance relation at the moment:
![image](https://user-images.githubusercontent.com/2041322/101959064-e685db80-3c04-11eb-81ef-c3fdf073917f.png)

[2020-12-11 22:05] JoanFM commented on #1439
Yes, my point is a very minor thing to not declare add or query at BaseIndexer but at BaseKVIndexer and BaseVectorIndexer.

I would also separate the crafter and executor class. But anyhow none of this is important at all

[2020-12-12 08:02] nero-nazok opened #1447 "Delete indexed documents"
**Describe the feature**
The ability to delete indexed documents.

**Application**
We offer a Q&A bot, that is able to answer questions based on our knowledge base. However our knowledge base changes everyday. Sometimes documents change or are removed, because they are outdated. Without the ability to delete indexed documents we would have to re-index everything again, making Jina impractical for

[2020-12-12 10:29] JoanFM opened #1449 "PyClientRunTime timeout is not enough (maybe needs to be configurable)"
**Describe the bug**
PyClientRuntime has a timeout before it shuts down of 10 seconds.

This is not enough to wait for the 1st search request to a FaissIndexer, where the FaissIndex is actually built in memory.

Relates to https://github.com/jina-ai/examples/pull/318

[2020-12-12 17:11] bwanglzu opened #1451 "update Document id at __enter__ rather than __exit__"
Given the `with` syntax, if we do:
[code]
Since `id` of the document is None, the matches (also chunks) can not be referenced to it's parent doc. (and the document id will only be updated at `__exit__`)

Proposed solution:
[code]

[2020-12-13 05:57] janandreschweiger commented on #1447
Hi @nero-nazok!
Deleting and updating documents are also important features for us, so I had a look at the source code.

KeyValue Indexes already have these functions implemented:
- update(keys, values, *args, **kwargs)
- delete(keys, *args, **kwargs)

But unfortunately, vector indexes don't. I also think that atleast deleting documents should be part of the framework itself. You get update for fr

[2020-12-13 08:32] JoanFM commented on #1447
Hello @nero-nazok and @janandreschweiger.

Thank you very much for the interest in jina and for the suggestion. Updating and deleting are two features that we are currently working on. As @janandreschweiger can see, the interfaces are there and we will soon deliver the full feature.

So please stay tuned

[2020-12-13 10:57] JoanFM commented on #1451
Hey @bwanglzu; this will be outdated once this #1440 is merged I think.

[2020-12-13 11:03] theUnkownName commented on #1451
Yes, this will be changed with the #1440 PR. So th `id` will never be None, it will be either set by the client, or if nothing was set, a random one will be created.

[2020-12-13 11:08] #1451 closed

[2020-12-13 18:19] nero-nazok commented on #1447
Thank you @JoanFM for your response. Deleting documents (and its vectors) is a really important feature for us. Do you think it will be possible until mid-January?

[2020-12-13 22:52] #1449 closed

[2020-12-14 02:16] xjxgyc commented on #1420
I find that in [QueryLangSet](https://github.com/jina-ai/jina/blob/master/jina/types/sets/querylang.py), method `build()` in `class QueryLangset` has some problems, its content:
[code]
it is similar with method `build()` in [`DocumentSet`](https://github.com/jina-ai/jina/blob/master/jina/types/sets/document.py), and read the `QueryLang` source code, `QueryLang` has not id attribute. Can you give s

[2020-12-14 10:24] maximilianwerk commented on #1447
Yes, it will be. There might be some caveats then, which we will communicate, but in principle it will be possible.

[2020-12-14 10:41] maximilianwerk commented on #1431
I vote for note having (many) reflection in the primitive types classes for more explicit and user-friendly interface.

[2020-12-14 11:02] JoanFM commented on #1431
Sure, I was just trying to have it pass the tests ... I am not sure why is failing (not in local)

[2020-12-14 12:39] hanxiao commented on #1277
related PR #1450

[2020-12-14 16:13] nero-nazok commented on #1447
That's awesome.
You are really moving fast. Keep it up!

Is it ok if I leave this issue open until this feature is available? Just in case we have some questions or problems.

[2020-12-14 16:15] JoanFM commented on #1447
Sure, no problem!

[2020-12-14 20:14] bwanglzu commented on #1420
@xjxgyc thanks for your message, good catch! Are you taking care of this issue? You can skip the `:meth:build` for the time being.

Compared with `QueryLangSet`, `DocumentSet` has more usage so we  support `sequence` to this type, maybe in the future we'll do the same thing to `QueryLangSet`, but it's not supported at the moment.

[2020-12-15 09:32] lusloher commented on #692
Where do we stand on this item?

[2020-12-15 12:45] florian-hoenicke commented on #1378
@StutiV Good to hear you would like to contribute! 🥳🥳🥳
As a first step, you could update the hub components and fix the version numbers to the latest working version.
Implementing this automation in our build pipeline might be a bit too difficult when you are new to Jina.

[2020-12-15 17:02] JoanFM commented on #1302
This issue is not a bug.

The problem is that to merge the 2 paths before the `multimodal_encoder` we use a `ReduceAllDriver` and for LoadBalancing the HeadPea needs to be equipped with a `RouteDriver`. The RouteDriver is the one responding to `IDLE` ControlRequests

[2020-12-15 17:02] #1302 closed

[2020-12-15 17:15] JoanFM opened #1468 "Driver handling Reduce and Route logic together"
**Describe the bug**
When investigating #1302 I found that the issue was not that IDLE was not handled by ControlReqDriver but that we were not using `RouteDriver` in the `HeadPea`. So then, how can I use `HeadPea` to `Reduce`  incoming messages and at the same time to `Route` inside the `Pod`?

[2020-12-15 19:34] gamesterrishi commented on #1253
Hi,

I am working on a PR for this issue.

I have found out the issue why **jina** fails to work on Python 3.9
I have resolved this issue partially on my local machine in a Docker container using the **python:3.9-buster** image, where I successfully get the output for running the command:
**jina -vf**
However, running the command:
**jina hello-world**
results in an error related to **ruamel** pack

[2020-12-15 19:35] gamesterrishi commented on #1253
I built protobuf from source for cpp and python to help in resolving the error:
**ModuleNotFoundError: No module named 'google.protobuf.pyext._message'**
This error happens due to lack of official Python 3.9 support for Protobuf python and cpp implementations that work with **PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION**. I built protobuf and protobuf/python for both python and cpp from source using a

[2020-12-15 19:37] gamesterrishi commented on #1253
To investigate the error encountered while running **jina hello-world**, I went through the code flow for the entire error stack trace. Copy pasting it here for ease of access:
[code]
This error occurs because of getting the value of **event** variable as **None** and then trying to access **anchor** attribute from a **NoneType** variable.
I will need some help from you guys to understand more abo

[2020-12-15 19:43] JoanFM commented on #1253
Hey @gamesterrishi ,

Thank you very much for your collaboration.

We are not doing any special thing in this case, we are trying to load python objects from the file https://github.com/jina-ai/jina/blob/master/jina/resources/logging.default.yml.

I am not sure if there is some syntax here that `ruamel` may not accept for python3.9?

[2020-12-15 21:32] JoanFM commented on #1468
this could be handled by allowing Composition of ControlDrivers. In comparison with ExecutableDrivers, sequential application does not seem to make much sense

[2020-12-16 06:46] gamesterrishi commented on #1253
Thanks @JoanFM for your comment. I had a similar initial assumption as you about thinking that ruamel might not be ready for Python 3.9. I investigated it further and checked the codebase to for relevant package wheels to get more idea about supported Python versions:

https://sourceforge.net/projects/ruamel-yaml/
https://sourceforge.net/p/ruamel-yaml/code/ci/default/tree/setup.py

https://www.whe

[2020-12-16 06:51] JoanFM commented on #1253
Hey @gamesterrishi

That is not a problem, EMPTY is the enum name whose value is 0, so no problem about it. I guess some change on how enum values are printed

[2020-12-16 07:00] bhavsarpratik commented on #1253
Hey @gamesterrishi, thanks for solving this. You can look at `FlowBuildLevel` in `enums.py`. I think the solution is ready and you can create a PR.

[2020-12-16 09:01] hanxiao commented on #1468
can you add a minimum test case to show this problem?

[2020-12-16 11:12] JoanFM commented on #1468
I did @hanxiao added in #1469

[2020-12-16 17:07] hanxiao opened #1471 "Migrating from ruamel.yaml to PyYAML before 1.0 release"
**Describe the feature**

For histororical reason, `ruamel.yaml` was used, it was one of the **best** YAML python parser by the time 2017. Unfortunately, I recently have growing concerns over its long-term support and may affect Jina:
- The author of `ruamel.yaml` moved the project codebase from Github to Gitlab and now to SourceForge. Making it challenge to track the issues and discuss the proble

[2020-12-16 18:03] janandreschweiger opened #1472 "Custom Drivers don't work in 0.8.4 and upwards"
Custom drivers work fine for me in 0.8.3. However, when I upgrade to 0.8.4 I get this error:
[code]

My pod yml:
[code]

sentence_encode_driver.py:
[code]

[2020-12-16 18:34] JoanFM commented on #1472
Hey @janandreschweiger

Would you be able to share the flow.yml (or an equivalent one) with the same structure and clarify which command and from where you are running it? So that we can reproduce in the best possible way?

Thanks!!

[2020-12-16 18:43] janandreschweiger commented on #1472
Sure here is my index-flow that fails:
[code]

I have another short question: I want to use the FaissIndexer (distance ... smaller is better) in combination with the TfIdfRanker (score ... larger is better). Do you have an idea how I could use both of them? My current implementation with the CollectMatches2DocRankDriver unfortunately gives the results in the wrong order.

Thank you @JoanFM for you

[2020-12-16 19:17] JoanFM commented on #1472
Hey @janandreschweiger.

The first question is: what is your crafter? do you segment your input documents into chunks?

[2020-12-16 19:52] janandreschweiger commented on #1472
@JoanFM Yes I do. I segment my text document into chunks (sentences). However, I think that custom drivers are broken in general. They work if I downgrade jina from 0.8.4 to 0.8.3.

[2020-12-16 19:57] JoanFM commented on #1472
Sure, my point is that if u have chunks; the way to bubble the scores to root level you need to use Chunk2DocRankDriver and you will get the corresponding scores at Document level

[2020-12-16 20:09] janandreschweiger commented on #1472
Ok, now I understand what you mean. Sorry, I don't split the document into chunks at query time (only when indexing documents). I get the score at the document level. But, the order of the matching documents is reversed.

When querying with the FaissIndexer each match gets the distance as its score. I think that the TfIdfRanker now messes up the score calculation, as it combines the distance (less

[2020-12-17 07:52] #1472 closed

[2020-12-17 07:54] JoanFM commented on #1472
Hey @janandreschweiger ,

In #1474 , a test was added showing that custom drivers are properly being loaded.

[2020-12-17 10:16] hanxiao opened #1477 "reenable jinad test in ci after jind test is done"
**Describe your problem**

As a reminder, after jinad test is fixed, the CI on that should be reenabled to revert #1475

**What is your guess?**

---

**Environment**

**Screenshots**

[2020-12-17 10:26] gamesterrishi commented on #1253
Hey @JoanFM and @bhavsarpratik, thanks for your comments.

Before I submit my PR, I'd like to share my proposal for solving this issue and confirming if it's the best way for us to proceed towards solving it. In summary, **jina** is unable to support Python 3.9 currently due to lack of official support for Python 3.9 in two of its dependencies: **protobuf** and **raumel**

Installing the latest wh

[2020-12-17 10:40] JoanFM commented on #1253
Hey @gamesterrishi,

Thank you very much for the investigation, I think the idea of supporting a different tag for this without official **protobuf** or **ruamel** support is a good idea, but it would put too much mantainance cost on our side. I would rather wait for **protobuf** to have a stable version supporting it.

As per `ruamel`, we already opened an issue #1471 to consider migrating to ano

[2020-12-17 11:04] gamesterrishi commented on #1253
Hey @JoanFM , thanks for your sharing your thoughts. I was in fact looking for the differences between **ruamel** and **PyYAML** while trying to resolve the **ruamel** issue, since I have been solely making use of **PyYAML** for handling any yaml related operations in Python in my work, and was curious to know as to why **ruamel** was being used in **jina** instead of **PyYAML**. The following com

[2020-12-17 14:04] hanxiao opened #1479 "jina cli docs is broken empty content"
**Describe your problem**

https://docs.jina.ai/chapters/cli/index.html

**What is your guess?**

My guess it has been broken for > 2 months, due to early refactor on cli parser.

---

**Environment**

**Screenshots**

[2020-12-17 15:08] janandreschweiger commented on #1472
Sorry for taking up your time @JoanFM and @hanxiao, I found the true cause of my problem.

The imports changed in v0.8.4. I had to replace
```from jina.types.sets.document_set import DocumentSet```
with
```from jina import DocumentSet```.

Unfortunately, the error message only stated that my driver couldn't be found. But, in reality the whole py_module hasn't been loaded due to the import-error. S

[2020-12-17 15:09] JoanFM commented on #1472
Oh cool to find the root cause!!!

[2020-12-17 15:11] hanxiao opened #1480 "error message only stated that my driver couldn't be found. But, in reality the whole py_module hasn't been loaded due to the import-error."
Sorry for taking up your time @JoanFM and @hanxiao, I found the true cause of my problem.

The imports changed in v0.8.4. I had to replace
```from jina.types.sets.document_set import DocumentSet```
with
```from jina import DocumentSet```
in my custom driver.

Unfortunately, the error message only stated that my driver couldn't be found. But, in reality the whole py_module hasn't been loaded due to

[2020-12-17 15:12] hanxiao commented on #1472
then it is a bug of exception throwing, ticket created

[2020-12-17 16:01] #1479 closed

[2020-12-18 08:26] hanxiao opened #1484 "add README section for hello-world evaluation"
**Describe your problem**

**What is your guess?**

---

**Environment**

**Screenshots**

[2020-12-18 08:28] hanxiao opened #1485 "add README section for training flow"
**Describe the feature**

**Your proposal**

---

**Environment**

**Screenshots**

[2020-12-18 17:35] hanxiao opened #1490 "`eval_at` is an attribute defined in Executor, making it impossible to read from querylang/driver"
i see so the `eval_at` is an attribute in Executor, making  it impossible to read from querylang/driver
[code]

_Originally posted by @hanxiao in https://github.com/jina-ai/jina/pull/1488#discussion_r545982361_

[2020-12-18 19:17] janandreschweiger opened #1491 "Show best chunks of found document"
Hi, Jina team!

**Feature**
We use jina for searching short and long text documents. We split our documents into chunks (paragraphs) at index time.
Our problem is now that we want to show the best paragraph (=chunk) to the user similar to Google:
![image](https://user-images.githubusercontent.com/44372046/102652713-3406c900-416e-11eb-907c-41f429b09069.png)

**Problem**
For ranking the best documen

[2020-12-18 19:51] JoanFM commented on #1491
Hey @janandreschweiger .

First of all. What is your strategy to compute the matches scores once the chunks score is computed?

For instance we have MinRanker that assigns the match document the score corresponding to the min scored (min distance chunk) or some other strategies.

If you have a strategy like this one, what you need is Chunk2DocRankDriver and not CollectMatches2DocRankDriver. The co

[2020-12-18 20:21] janandreschweiger commented on #1491
Thank you @JoanFM, I had a look on this.
We currently use the SimpleAggregateRanker with strategy="min", which corresponds to the MinRanker (so far I know).

However, I think the issue remains the same:
[code]
For getting the matching chunks (not of the query, but of the indexed documents), the Chunk2DocRanker.score method must return the chunks of each indexed document. The Chunk2DocRanker is the

[2020-12-18 20:33] JoanFM commented on #1491
Yes @janandreschweiger,

the SimpleAggregateRanker with strategy min is equivalent to MinRanker.

So are your problems, that the information of chunks is lost? And that the order in the output is not as expected?

Would you be able to provide a minimal example with a very minimal sample on how 2 documents would be indexed and what expected in return?

That would be very helpful to better understan

[2020-12-18 20:38] janandreschweiger commented on #1491
Of course, I will do that.

The order and the score are fine. I solved these issues some days ago. So yes, our problem is that the chunks are lost (=paragraphs) are lost.

I will provide you with an example soon.

[2020-12-18 21:36] janandreschweiger commented on #1491
Hi @JoanFM! Thanks again for having a look at our problem.
I have build a minimal working example: https://github.com/janandreschweiger/jina_example

Our problem is that there are no chunks at app.py line 23.
You can run it yourself:
[code]

[2020-12-18 21:41] JoanFM commented on #1491
First thing you can do is to remove the chunks from the fields excluded in 'ExcludeQL'   That would let you have the chunks at the output. But I guess that what you would like to do is to keep the scores of the chunks for which it matched?

[2020-12-19 06:54] janandreschweiger commented on #1491
@JoanFM Exactly, we use the ExcludeQL only at index time. We need the scores of the matching chunks. We just want to show the best matching chunk to the user similar to Google.

Again one can easily overwrite the driver as described above. But additionally, the Chunk2DocRanker.score function, which groups the chunks to its documents, must also return the chunks. And I failed to do that.

[2020-12-19 11:42] JoanFM opened #1493 "EncodeDriver to be able to use batching even when chunks are involved"
**Describe the feature**
Coming from #1444 .

The user is trying to index documents with a small amount of chunks per documents.

With current features, the batching of the encoder is not fully applied because the driver only encodes together `chunks` of the same `parent` document, thus losing a lot of the benefits that batching would provide in terms of speed.

It would be cool to have the abilit

[2020-12-19 11:43] JoanFM commented on #1444
Opened #1493

[2020-12-19 13:05] hanxiao commented on #1471
Compatability issue: `ruamel.yaml` support list as key but PyYAML does not.

https://github.com/yaml/pyyaml/issues/339

[2020-12-19 13:07] ace-kay-law-neo commented on #1491
Hi @janandreschweiger and @JoanFM!
This feature is also of interest to me. Thanks for creating a draft @JoanFM.

[2020-12-19 16:14] hanxiao commented on #1253
To be fair, ruamel.yaml supports YAML 1.2 spec whereas PyYAML only supports YAML 1.1.

[2020-12-19 19:09] nero-nazok opened #1496 "meta_info in Documents"
Hey everyone,

my team uses jina for searching text documents from different locations (e.g. Sharepoint, Webpages, ...). Therefore our indexed documents need to reference to the actual files or webpages. It would be nice if documents have a meta_info property, where arbitrary meta-information can be stored.

I saw that the south-park example passes its meta-information to the crafter by encoding i

[2020-12-19 19:13] JoanFM commented on #1496
Hey @nero-nazok,

you can use `tags` field of the Document, which is intended specifically for this use case.

[2020-12-19 19:20] janandreschweiger commented on #1496
Thank you! This bothered me too :D

[2020-12-19 19:23] JoanFM commented on #1496
I guess we need better documentation for this.

[2020-12-19 19:24] JoanFM opened #1497 "Improve documentation on Document type and tags as as field to contain meta info"
I guess we need better documentation for this.

_Originally posted by @JoanFM in https://github.com/jina-ai/jina/issues/1496#issuecomment-748514524_

[2020-12-19 19:32] nero-nazok commented on #1496
Thank you @JoanFM!
One has to be careful. tags is not a property of the document, it must be passed via the constructor to the proto:
[code]
In fact, one can also use the meta_info in the same way.

[2020-12-19 19:32] #1496 closed

[2020-12-19 21:09] #1471 closed

[2020-12-20 06:51] janandreschweiger commented on #1493
Hi @JoanFM,
I just wanted to mention that we were able to reduce the index-time from whopping 531 seconds to just 82 seconds.
We used a custom driver to fetch all documents at once. In addition, we replaced the TransformerTorchEncoder with the sentence-transformers library, which speeds up encoding dramatically.

Furthermore, I think there is no documentation of who one can add a custom driver.

[2020-12-20 08:29] nero-nazok opened #1498 "Faiss index documents without reloading the query-flow"
Hi Jina team,

we now use your framework in production for our question-and-answer tool.

The problem is that some users already claimed that they cannot query their newly created questions. This is, because we only index documents during the night. Thus, I wanted to ask if it is possible to index documents without reloading the query-flow.

We have a flask webserver with two singletons:
- index-f

[2020-12-20 08:39] janandreschweiger commented on #1498
Hey @nero-nazok, we also need this feature. From my point of view, the problem is that there are two FaissIndexer instances, which load all vectors. So in order to enable searching and indexing at the same time, both flows should live in the same process with a single FaissIndexer.

Maybe someone from the Jina team could have a look on this?

[2020-12-20 08:42] nero-nazok commented on #1498
You are right @janandreschweiger. Two FaissIndexer doubles the consumed memory.

[2020-12-20 10:20] JoanFM commented on #1498
Hey @nero-nazok,

This is currently not possible. Right now the Faiss Index is only created in memory at query time, while at Index time behaves as the NumpyIndexer.

It is definitely an interesting feature to look at, but not currently available.

[2020-12-20 10:27] nero-nazok commented on #1498
Thanks for your reply @JoanFM. So I just need to extend the FaissIndexer to do the following at index-time:
1. get the faiss_index instance of the query-flow
2. call the faiss_index.add(vecs) method

[2020-12-20 10:29] janandreschweiger commented on #1498
Yes @nero-nazok, that should do the job.
Does anyone know how one can get the faiss_index instance?

[2020-12-20 10:32] hanxiao commented on #1253
the PyYAML part is done in #1495

but it seems that Protobuf does not support Python 3.9 yet. I tested locally in docker and it gives

[code]

Related issues:
- https://github.com/pulumi/pulumi/issues/5904#issue-760381490
- https://github.com/pulumi/pulumi/issues/5662#issuecomment-720873419
- https://github.com/protocolbuffers/protobuf/issues/7978

@gamesterrishi how did you manage to run hello-wo

[2020-12-20 10:44] JoanFM commented on #1498
That is not possible since they live in isolated processes.

[2020-12-20 10:53] ace-kay-law-neo opened #1502 "Questions regarding MongoDBIndexer"
He Jina team, I had a look at the MongoDBIndexer. Some things however remained unclear.

**MongoDB-Id vs Jina-Id**
MongoDBs id is a 24byte hex number. Jina's id is only of the size 16. How does this work together? Is there some internal translation?

**MongoDB only?**
Does the indexer store all information in the database or has it some data (e.g. the Id translation) stored locally like the Binary

[2020-12-20 11:04] hanxiao opened #1503 "evaluate in `jina hello-world` is very inefficient"
**Describe the bug**

- Request generator is too slow. (long prefetch time)
- Evaluation is too slow, the time is even longer than index + query time in total. On my laptop, evaluation takes 2 minutes and 49 seconds (169.72s), whereas index takes 38s, query takes 4s. It is not usable.
- In docker sometimes it just timeout

[code]

**Describe how you solve it**

I'm going to comment out the evaluat

[2020-12-20 11:06] JoanFM commented on #1503
the problem is about evaluating against a groundtruth with 6k matches

[2020-12-20 11:08] hanxiao commented on #1503
but it's just id comparision

[2020-12-20 11:09] JoanFM commented on #1493
Interesting, so you did a new Executor or slightly adapted one of ours?

As per documentation on that part I will create an issue.

Thanks

[2020-12-20 11:10] JoanFM opened #1504 "Add documentation to add custom Drivers"
Furthermore, I think there is no documentation of how one can add a custom driver.

_Originally posted by @janandreschweiger in https://github.com/jina-ai/jina/issues/1493#issuecomment-748571237_

[2020-12-20 11:11] JoanFM commented on #1503
Sure the implementation is not the most efficient one

[2020-12-20 11:35] tadej-redstone commented on #1493
Regarding slowness of TorchEncoder: it's because currently all inputs are padded to max length, which slows encoding dramatically for short sequences. I have a PR almost ready addressing that :)

[2020-12-20 11:46] Kavan72 opened #1505 "Added support to pass python dict to jina flow"
**Describe the feature**
It would be great if we can pass python dict to jina flow directly.

**Your proposal**
[code]

[2020-12-20 11:46] hanxiao commented on #1503
note that the query only takes 4s against 60K indexed vectors. There is no reason why simply index would take more than that.

[2020-12-20 11:54] nero-nazok commented on #1493
Sounds great @JoanFM. Yes I created a completely new executor.

[2020-12-20 11:58] hanxiao opened #1506 "RecallEvaluator and PrecisionEvaluator use list for loop to compute score and it is slow"
**Describe the bug**

The following part needs to be numpy-ized.

[code]

[code]

Related: #1503

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2020-12-20 12:05] janandreschweiger commented on #1493
I accelerated it with a completely new executor.

[2020-12-20 12:09] ace-kay-law-neo commented on #1498
Interprocess communication would be possible.
Is it likely that such a feature will be available in 2021 @JoanFM?

[2020-12-20 12:23] gamesterrishi commented on #1253
Hey @hanxiao ,

I'll share the list of commands with you in accordance with this.

[2020-12-20 13:41] gamesterrishi commented on #1253
Hey @hanxiao,

Please find the list of commands: (I'll be adding context to all of them now)

docker run -it --name jina_py39 python:3.9-buster bash
uname -r
cat /etc/os-release
which python
python -V
pip list

pip install jina
pip list
jina -vf
`ModuleNotFoundError: No module named 'google.protobuf.pyext._message'`
python -c "from google.protobuf.pyext import _message"
PROTOCOL_BUFFERS_PYTHON_IMP

[2020-12-20 14:17] tadej-redstone commented on #1506
@hanxiao not sure about numpy, but using python sets can give large speedups.

[code]

Comparing the performance
[code]
I get `100 loops, best of 3: 15.7 ms per loop`

[code]
I get `10000 loops, best of 3: 83 µs per loop`

That's almost a 200x speedup!

[2020-12-20 14:35] hanxiao commented on #1330
this issue is not solved.

[2020-12-20 14:35] hanxiao commented on #1316
this issue is not solved

[2020-12-20 14:45] JoanFM commented on #1316
This issue was thought to be solved at syntax sugar level. it is impossible to adapt to the exact Flow the user will be using.

So no solution can be universal

[2020-12-20 16:14] #1316 closed

[2020-12-20 16:14] #1330 closed

[2020-12-20 16:14] #1490 closed

[2020-12-20 16:14] #1503 closed

[2020-12-20 16:14] #1506 closed

[2020-12-20 16:20] hanxiao commented on #1505
if the usecase is about directly using `Flow.add(uses=...)` without touching YAML then perhaps you want to use:

[code]

[2020-12-20 18:25] #1484 closed

[2020-12-20 18:33] janandreschweiger opened #1509 "Faiss: Normalization for cosine similarity"
Hi jina team!

The most common metric for semantic search is the cosine similarity. When using Faiss we don't have the cosine-similarity, but we can do the following:
1. normalize the vectors before adding them
2. using the inner_product

Unfortunately, the FaissIndexer has no normalize option. But, this could actually be implemented easily. One just needs to call the normalize_L2 method before th

[2020-12-20 18:42] nero-nazok commented on #1509
Hi @janandreschweiger,

This is awesome, I always thought that I use the inner product is the cosine similarity. But, you are right the vectors have to be normalized.

A problem may be that this method uses batching:
[code]
I am not sure, but I guess that the faiss.normalize_L2 has to be applied on all vectors at once. Could someone have a look on this?

[2020-12-20 18:42] JoanFM commented on #1509
Hey @janandreschweiger,

that is a really great finding.

Would you like to provide a PR in the hub? you can add this logic depending on the metric (distance) of the FaissIndexer?

[2020-12-20 18:51] janandreschweiger commented on #1509
Of course @JoanFM! But I need an answer regarding @nero-nazok's comment. Do I have to apply normalization on all vectors at once? And if, is it even possible, because of the batching?

[2020-12-20 18:54] JoanFM commented on #1509
I think normalization is to guarantee norm 1 so should be indepensent if you do it one by one or in batches.

I do not see a reason why this should be a problem

[2020-12-20 18:54] janandreschweiger commented on #1509
Perfect @JoanFM I will do that.

[2020-12-20 18:54] #1509 closed

[2020-12-20 20:41] Kavan72 commented on #1505
Yes, but not 100%. the idea is create and edit all pods on run time, like for encoder it'll work but for indexer it cant

[2020-12-21 00:19] gabbyprecious commented on #1504
Can I work on this?

[2020-12-21 00:52] #1363 closed

[2020-12-21 00:52] #1362 closed

[2020-12-21 07:50] janandreschweiger commented on #1502
I'm particularly interested in the ID-question. I'd would be cool to use the mongo _id as the jina document id. Unfortunately, there jina restricts us to 16 characters. Can someone have a look on this one?

[2020-12-21 08:03] cristianmtr commented on #1502
I am not an expert in Mongo, but the test suite wrote for the indexer works. What is the issue that you're experiencing with the id being only 16 characters?

Unfortunately at the moment Jina IDs are calculated in a specific way.

In the next release we are going to allow custom ids that can be of any length (as they are no longer hashes of the content):

[code]

No, not at the moment. And I'm not

[2020-12-21 08:07] hanxiao commented on #1505
i see, make sense.

[2020-12-21 08:08] janandreschweiger commented on #1502
Thank you @cristianmtr! Custom ids would be great. Will they be available in 0.8.x or 0.9.0

[2020-12-21 08:20] cristianmtr commented on #1502
Seems like it's there in `0.8.11`

[2020-12-21 08:28] deepankarm commented on #1502
Hello @janandreschweiger, glad to see your interest in Jina.

Mongo allows us to set [custom ids](https://docs.mongodb.com/manual/core/document/#the-id-field) during insert. As long as it is unique, we can set a simple integer to be the id. Is there any specific issue you're facing with `id` of size 16?

![image](https://user-images.githubusercontent.com/9050737/102755334-3fd3d480-4394-11eb-8b6f-d

[2020-12-21 08:28] janandreschweiger commented on #1502
Cool! Thank you @cristianmtr and @deepankarm!

[2020-12-21 08:30] janandreschweiger commented on #1502
No @deepankarm, there isn't any issue in particular. We just already have a mongo-db database with documents and now want to use jina for search. So it is nice that we don't need to change our mongo-ids

[2020-12-21 08:47] ace-kay-law-neo commented on #1502
Thanks for resolving my questions!!!
Have a nice day.

[2020-12-21 08:47] #1502 closed

[2020-12-21 10:53] JoanFM commented on #1504
Sure, documentation needs to be added here: `docs/chapters/extend/driver.rst`.

Do you know what is the good way to add this?

[2020-12-21 12:39] cristianmtr opened #1511 "pr commitlint is broken"
**Describe the bug**

I've disabled it as it kept failing https://github.com/jina-ai/jina/pull/1510/checks?check_run_id=1588875343#step:7:10 even though the linting is passing in `ci.yml` workflow https://github.com/jina-ai/jina/pull/1510/checks?check_run_id=1588897306#step:5:9

[2020-12-21 16:16] janandreschweiger opened #1515 "Change parameters after indexing. (e.g. for Hyperparameter-search)"
Hey Jina team,

my team has indexed over 100.000 text documents using the FaissIndexer. Now we would like to test different hyperparamters:
- distance: "l2" vs "inner_product"
- normalize: True vs False

Unfortunately, if we now make any changes to these parameters in our yml-file nothing changes. This is probably, because the indexer is saved and loaded again. For testing different hyperparamters

[2020-12-21 16:31] hanxiao opened #1517 "Should we allow to load a Flow from a string based yaml? This can be useful in `jinad`."
Should we allow to load a Flow from a string based yaml? This can be useful in `jinad`.

![image](https://user-images.githubusercontent.com/9050737/102798592-58b1a980-43d7-11eb-82fd-d861807735ea.png)

_Originally posted by @deepankarm in https://github.com/jina-ai/jina/issues/1516#issuecomment-749060947_

[2020-12-21 16:36] hanxiao commented on #1517
fyi, it supports already, https://docs.jina.ai/chapters/cli/jina-pea.html?highlight=uses

[2020-12-21 16:39] JoanFM commented on #1517
But this is a Pea and not a Flow right?

[2020-12-21 16:45] hanxiao commented on #1517
Right, it does not support atm

[2020-12-21 16:46] deepankarm commented on #1517
There's a support, but looks buggy.

![image](https://user-images.githubusercontent.com/9050737/102800574-12aa1500-43da-11eb-9dd9-cb4ca5da2963.png)

[2020-12-21 16:50] JoanFM commented on #1515
Hey @janandreschweiger, thank you again for your valuable feedback.

This is possible using `ref_indexer` as a composite for a `NumpyIndexer` and wrapping it with a `FaissIndexer` or any other `Indexer` with a different set of parameters.

This has some troubles and will be addressed in #1438.

By the  way, we are working in a feature to provide `hyperparameter optimization` so please stay tuned!

[2020-12-21 16:51] #1477 closed

[2020-12-21 17:02] janandreschweiger commented on #1515
Thanks for your reply @JoanFM! That's cool, especially if one wants to change the parameters in production.

[2020-12-21 17:02] #1515 closed

[2020-12-21 17:19] JoanFM commented on #1468
Test added in #1469

[2020-12-21 17:48] hanxiao commented on #1511
it is broken only on `pull_request_target` event, seems related to https://github.com/wagoid/commitlint-github-action/issues/66

[2020-12-21 18:50] #1431 closed

[2020-12-21 19:05] hanxiao opened #1520 "doc generation should be versioned before 1.0 release"
**Describe the feature**

As we may have a different release cycle after 1.0 release, docs need to be versioned as well.

User should be able to browse and select different versions via docs.jina.ai
![image](https://user-images.githubusercontent.com/2041322/102812681-b9d18100-43c7-11eb-9171-5d73cb6e7298.png)

- docs.jina.ai -> latest release
- docs.jina.ai/versions/master/ -> master
- docs.jina.ai

[2020-12-21 19:16] JoanFM commented on #1515
Hey @janandreschweiger .

Now that I think this should be already available for you since you are not using FaissIndexer from a Docker Image.

What you need to do is to have at Index time a NumpyIndexer as indexer.

Then at Query time, you can have a FaissIndexer that gets as a `ref_indexer` a NumpyIndexer with the parameters of the one at Index time, that is from where the FaissIndexer will load

[2020-12-21 19:45] janandreschweiger commented on #1515
Thanks @JoanFM I'll try it out!

[2020-12-21 19:55] JoanFM commented on #1493
@janandreschweiger,

a new PR to TransformerTorchEncoder has been merged which significantly improves performance.

[2020-12-21 21:10] janandreschweiger opened #1521 "top_k no longer works for search"
Hi Jina team,

I think I found a bug in the recent version. Jina returns 50 documents for top_k=10.
It is either a bug or just has to be updated in the documentation. Downgrading resolved the issue.

Thank you!

[2020-12-21 22:16] hanxiao commented on #1521
the last release make `top_k` related to `SliceQL` driver's `end` only. If you don't use `SliceQL` in any part of your flow, then `top_k` has no effect.

if you are using `VectorSearchDriver` somewhere in your pipeline, you can use the following code to make `top_k` related to `VectorSearchDriver` again, e.g.

[code]

[2020-12-21 22:42] #1521 closed

[2020-12-21 22:51] hanxiao commented on #1521
0.8.12 fixed it

[2020-12-22 06:02] janandreschweiger commented on #1521
Thanks @hanxiao!

[2020-12-22 06:08] annaakhil opened #1523 "Indexing error"
**When I tried to index the data I was getting an error**

                  gateway@722[E]:callback() may not work properly due to the bad response: encoder-1(TransformerTorchEncoder) throws TypeError("batch_text_or_text_pairs has to be a list (got <class 'numpy.ndarray'>)")

**Environment**

**Screenshots**

![image](https://user-images.githubusercontent.com/49350396/102854408-7bc87180-4448-11eb

[2020-12-22 06:14] Kavan72 commented on #1523
@annaakhil can you pls provide transformer and jina version ? for jina you can use this `jina --version-full`

[2020-12-22 06:43] annaakhil commented on #1523
@Kavan72
jina version:
jina                          0.5.5
jina-proto                    0.0.59
jina-vcs-tag                  (unset)
libzmq                        4.3.3
pyzmq                         1.19.4
protobuf                      3.14.0
proto-backend                 cpp
grpcio                        1.32.0
ruamel.yaml                   0.16.12
python                        3.8.5
platform

[2020-12-22 06:54] Kavan72 commented on #1523
there is no separate command to check transformers version, but you can use `pip freeze`(pip or pip3 depend on you python environment) to check all installed libraries version

and btw are you using trying to run any jina's example or just for testing purpose because your jina version is outdated ?

[2020-12-22 06:55] tadejsv commented on #1523
Hi - this has been solved by a few recent PRs. Please upgrade to the lastest version of jina.

[2020-12-22 07:06] annaakhil commented on #1523
@Kavan72
i am using transformers==4.1.1 .
I want to integrate with rasa chatbot so I am just checking how this jina works by taking an example that I found out in Github.
I installed the latest jina version only but while installing cookie-cutter it was taking jina 0.5.5 version

[2020-12-22 07:23] Kavan72 commented on #1523
you need to upgrade your jina.

[2020-12-22 07:36] annaakhil commented on #1523
@kavan thank you so much, it's working.

[2020-12-22 07:38] annaakhil commented on #1523
@tadejsv thank you for the response, I have updated the jina and it is working.

[2020-12-22 09:39] hanxiao opened #1526 "`jina check` is broken"
**Describe the bug**

jina check can not detect any broken hub executors even though they are warned during *first* imports.

**Describe how you solve it**

Maybe something related to the import orders in `jina/__init__.py`

---

**Environment**

**Screenshots**

[2020-12-22 09:45] tadejsv opened #1527 "Params not saved in config"
There is a bug that when importing some encoders directly from the source file, all config params will not be saved. This is causing the failing tests in jina-ai/jina-hub#1349, although for some mysterious reason no failure occurs in jina-ai/jina-hub#1350.

To replicate, first cd to the proper folder (starting at the root of `jina-hub`):

[code]
Then, open a python terminal and execute
[code]

Now

[2020-12-22 11:14] ace-kay-law-neo opened #1528 "Flow or AsyncFlow for custom Rest-API"
Hey Jina team,
we have build a custom Rest-API with FastAPI for Jina. The API provides among some other commands Jina's search & index.
I now not really sure if we need to use the AsyncFlow or the regular synchronous Flow.

Moreover, is it right way to define the two flows as singletons?
[code]

Thanks for your support!

[2020-12-22 11:50] deepankarm commented on #1528
Hello @ace-kay-law-neo,

We've been working on [jinad](https://github.com/jina-ai/jinad), a FastAPI based server to allow remote workflows in Jina. Feel free to try different endpoints for Flow creation, deletion etc. The API docs can be found [here](http://api.jina.ai/jinad/).

Each Flow in jinad lives as a singleton & is accessed using a `flow_id`. If you have further questions about the endpoin

[2020-12-22 13:05] cristianmtr opened #1529 "flake8 detects quoted type hints as errors"
**Describe the bug**

See https://github.com/jina-ai/jina/runs/1594798249?check_suite_focus=true#step:4:39

[2020-12-22 13:09] JoanFM commented on #1529
the trick

if False:
    import type of hint

is what needs to be done

[2020-12-22 13:09] #1529 closed

[2020-12-22 13:27] #1412 closed

[2020-12-22 14:06] ace-kay-law-neo commented on #1528
Wow thanks for your great answer @deepankarm! We will definitely try out jinad.

We don't want to use the Jina's rest-API, because we need some custom functionalities. So we will probably have a FastAPI interface that makes search/query calls with the gRPC based client (asyncFlow.search_lines).

Thanks again for helping us out!!

[2020-12-22 14:06] #1528 closed

[2020-12-22 15:24] hanxiao opened #1532 "refactor: CacheDocumentSet may be directly implemented in `types`"
i have a feeling this should be in `types`? or even the `__add__` of `DocumentSet`, i.e. `ds1+ds2+ds3`? feel that this should be more native and general. Will look at this later

_Originally posted by @hanxiao in https://github.com/jina-ai/jina/pull/1483#discussion_r547287712_

[2020-12-22 15:53] JoanFM commented on #1444
Hey @janandreschweiger , #1483 has been merged and you may be interested in testing it. You can set a batch size at driver level so that you can profit from the `batching` even at `chunk` level without needing your custom Driver

[2020-12-22 16:04] JoanFM commented on #1493
Closed by #1483

[2020-12-22 16:04] #1493 closed

[2020-12-22 17:52] JoanFM commented on #1523
Closing this issue as it seems to have been solved

[2020-12-22 17:52] #1523 closed

[2020-12-22 18:03] JoanFM commented on #1491
Hey @JoanFM and @ace-kay-law-neo , the PR #1494 PR provides this feature, but be aware that there is a change in naming of the Collect2MatchesRankDriver

[2020-12-22 18:03] #1491 closed

[2020-12-22 20:24] hanxiao commented on #1349
@jina-ai/engineering please do not do any pathlib refactoring anymore. Not worth it, as none of **_our_** methods accepts `Path`-like object as arg. As a consequence, I observe this pattern `str->Path->str` in a lot of places in the tests. What's the purpose of doing this if you eventually have to convert it into `str`? for just saving `+'/'+`?

![image](https://user-images.githubusercontent.com/2

[2020-12-22 20:38] bwanglzu commented on #1349
Thanks for the clarification, I’ll revert the changes tomorrow

[2020-12-23 05:51] nan-wang commented on #1498
hi, @ace-kay-law-neo I'm afraid not. Query-time and index-time are independent of each other. There is no concrete plan to enable querying while at index time. That is a trade-off between flexibility and easy-maintenance we've made when design Jina.

[2020-12-23 08:22] Aaina-bajaj opened #1534 "Getting gRPC error while indexing"
**Describe the bug**
 getting gRPC error while indexing;  **gRPC error: StatusCode.UNAVAILABLE failed to connect to all addresses
the ongoing request is terminated as the server is not available or closed already**

**Describe how you solve it**

---  jina hello-world

**Environment**
 jina                          0.8.11
jina-proto                    0.0.76
jina-vcs-tag                  (unset)
l

[2020-12-23 08:36] Aaina-bajaj commented on #1534
Hey,

I am also getting the same issue at the time of indexing while trying example 'Southpark-incremental-indexing'. Is it something that I need to install?

Thank you!

[2020-12-23 08:41] janandreschweiger commented on #1491
Wow awesome, thank your very much @JoanFM!

[2020-12-23 11:38] deepankarm commented on #1534
Hi @Aaina-bajaj,  Glad to see your interest in trying Jina.

I see that you're using WSL.  Is this WSL1 or WSL2?  Can you also help me understand if you have any proxies set in your machine?

[2020-12-23 12:21] Aaina-bajaj commented on #1534
Hey @deepankarm,

I am using Ubuntu 20.04 LTS application on Windows 10. So I believe, it's WSL1. Also, I don't any proxies.

[2020-12-23 14:10] florian-hoenicke opened #1535 "mock wrapper does not call validation function"
**Describe the bug**
There are some tests wich don't call the assertions.
Examples:
jina/tests/integration/evaluation/test_evaluation_from_file.py    test_evaluation_from_file()
jina/tests/unit/test_index.py   test_compound_idx

Please refactor the tests to make them work again.

**Describe how you solve it**
You can use the following structure to make sure the validation method is called.
[code]

[2020-12-23 14:13] deepankarm commented on #1534
[Here's](https://askubuntu.com/a/1267099) how you can verify the WSL version. Currently, jina is supported on [WSL 2](https://docs.jina.ai/chapters/install/os/on-wsl.html). While we test for this issue in WSL1, could you try updating to WSL2 and retest?

[2020-12-23 15:17] Aaina-bajaj commented on #1534
Hey, Thanks for the quick follow-up. It worked.

[2020-12-23 15:17] #1534 closed

[2020-12-24 04:43] annaakhil opened #1537 "unsupported mode -t"
**while running python3 app.py -t index -n 1000 I am getting an error**

Traceback (most recent call last):
  File "app.py", line 62, in <module>
    raise NotImplementedError(f'unsupported mode {sys.argv[1]}')
NotImplementedError: unsupported mode -t

**Environment**
jina                          0.8.2
jina-proto                    0.0.76
jina-vcs-tag                  (unset)
libzmq

[2020-12-24 06:21] deepankarm commented on #1537
Hello @annaakhil, looks like you're trying one of the examples. Can you please point me there, so that I can take a look?

[2020-12-24 06:32] annaakhil commented on #1537
@deepankarm I am trying to do indexing for a CSV file that contains two columns when I am indexing the data by default. it is taking only 500 so the results are not good at all while doing the search so I tried indexing more docs by passing  export $MAX_DOCS=1200 but it is giving another error.
![image](https://user-images.githubusercontent.com/49350396/103066867-bdd7eb80-45df-11eb-8339-d829201b6a

[2020-12-24 06:49] deepankarm commented on #1537
Please change it to `export MAX_DOCS=1200`.

From the previous error, it looks like `-t` is taken as the 1st arg, not `index`. Please let me know from where you'd picked the `app.py` file from.

[2020-12-24 06:52] annaakhil commented on #1537
@deepankarm I got when I created a new jina project using cookiecutter.

[2020-12-24 07:01] deepankarm commented on #1537
Thanks for sharing, @annaakhil. [Here's](https://github.com/jina-ai/cookiecutter-jina/tree/master/%7B%7B%20cookiecutter.project_slug%20%7D%7D#run) how you run from a cookiecutter template.

[2020-12-24 07:08] annaakhil commented on #1537
@deepankarm thank you so much, MAX_DOCS is working now -:).

[2020-12-24 08:49] #1537 closed

[2020-12-24 10:34] Aaina-bajaj opened #1538 "Example 'Southpark-incremental indexing' is not returning answers while quering; **ValueError('mmap length is greater than file size')**"
**Describe the bug**
I tried this jina example with my demo data. it got indexed properly, but while quering, it's not returning any result.

**indexer@2355[E]:ValueError('mmap length is greater than file size')**

**Describe how you solve it**
 To index:  python3 app.py -t index
To query:  python3 app.py -t query

---

**Environment**
jina                          0.8.11
jina-proto

[2020-12-24 10:49] janandreschweiger commented on #1491
Hey @JoanFM, your driver works like a charm. Thank you!

You may want to rename the keep_old_matches_as_chunks in the docs, because it is outdated:
https://docs.jina.ai/api/jina.drivers.rank.aggregate.html?highlight=keep_old_matches_as_chunks

[2020-12-25 11:13] janandreschweiger opened #1540 "Return results for asyncFlow.search"
Hey Jina team,

we've added you framework to our fastapi server. Unfortunately, one can only access the search-results via the on_done callback.
Therefore, it would be great if the results of the asyncFlow.search method would be returned directly.

This example illustrates our dilemma:
[code]

[2020-12-25 20:08] hanxiao commented on #1540
i see, should be easy to fix.

[2020-12-26 07:05] janandreschweiger commented on #1540
Thank you @hanxiao!

[2020-12-26 07:52] hanxiao opened #1542 "test_hub_build_push_push_again is either buggy or flaky"
**Describe the bug**

FAILED tests/integration/hub_usage/test_hub_usage.py::test_hub_build_push_push_again

[code]

https://github.com/jina-ai/jina/pull/1541/checks?check_run_id=1610583362#step:5:7282

Plus, this skip condition looks very strangely written, how comes condition a string?

https://github.com/jina-ai/jina/blob/822d07506b7a1243532e0405d4323c1dc929508f/tests/integration/hub_usage/test_

[2020-12-26 08:30] #1540 closed

[2020-12-26 08:32] deepankarm commented on #1542
@rutujasurve94 Thought https://github.com/jina-ai/jina/pull/1492 resolved this. Can you please take a look?

[2020-12-26 09:28] ace-kay-law-neo opened #1543 "async input_fn"
It would be nice if the input_fn attribute could be an async method (or generator). This is especially useful if the data is retrieved via an async library (like motor for mongodb).
[code]

[2020-12-26 13:21] nero-nazok commented on #1498
Thanks for your reply @nan-wang.

We found an easy solution:
1. use a single flow for indexing & querying
2. add the vector with faiss_idx.add at runtime

However, using a single flow may has some drawbacks:
1. sometimes a pod is used only for indexing or querying
2. deleting & updating documents becomes maybe more complicated

For now I will close this issue and wait for your delete and update fe

[2020-12-26 13:21] #1498 closed

[2020-12-26 13:26] janandreschweiger commented on #1543
I agree with that @ace-kay-law-neo. This feature would be helpful.

Nevertheless, I think you could iterate over the cursor syncronously with cursor.delegate.

[2020-12-26 13:28] janandreschweiger commented on #1498
That would be nice @nero-nazok. We're still interested in this feature!

[2020-12-27 00:58] #1374 closed

[2020-12-27 09:13] ace-kay-law-neo commented on #1543
Thank you very much @janandreschweiger!

[2020-12-27 13:05] JoanFM opened #1545 "Index stored under metas['workspace']/None-{root.metas.pea_id}/ even when no `parallelism` is used"
**Describe the bug**
FaissIndexer could not be built. ( I think the reason why many Hub executors failed to be built with latest jina version is also related to this).

 The reason is that some tests expect that the index files to be stored under `metas['workspace']/index_filename`. However, the path is stored under ` metas['workspace']/None-{root.metas.pea_id}/index_filename`.

I think the proble

[2020-12-27 15:18] janandreschweiger opened #1546 "Multiple modules/files for custom executor"
Hey everyone,

we have build a very complicated executor and want to split the source code into different files/modules. I would expect that it works like for the [MongoDBIndexer](https://github.com/jina-ai/jina-hub/blob/1abd7f54b4c3d5dff81375f9eb54d0dae8266f21/indexers/keyvalue/MongoDBIndexer/__init__.py#L29).

I tried various ways, but I always get one of the following two errors:
- ImportError(

[2020-12-27 15:27] JoanFM commented on #1546
Hey @janandreschweiger ,

thanks for opening the issue, could you share some sample code or structure that can help us take a look at it?

[2020-12-27 15:34] janandreschweiger commented on #1546
Sure! Thanks @JoanFM for your help.

crafter.yml
[code]

custom_crafter.py
[code]

helper.py
[code]

Structure:
flows/
  search-flow.yml
pods/
  crafter.yml
  helper.py
  custom_crafter.py

[2020-12-27 21:36] bwanglzu commented on #1420
I'll take over

[2020-12-28 08:11] JoanFM commented on #1545
Related to self reference in metas:

[code]

[2020-12-28 09:28] JoanFM commented on #1538
Hey @Aaina-bajaj , can u check if adding a parameter to the indexer `batch_size` to a value smaller than the number of `indexed` documents?

[2020-12-28 10:39] JoanFM opened #1549 "batching capacity lost for `NumpyIndexer`"
**Describe the bug**
Batching capacity is lost in NumpyIndexer since `update/delete' capacity added

[2020-12-28 12:05] yogeshhk commented on #1252
RuntimeError: uvloop does not support Windows at the moment

[2020-12-28 12:54] #1545 closed

[2020-12-28 15:25] janandreschweiger opened #1553 "Rankers cannot handle long custom ids"
Hi Jina team,

it's awesome that you now support custom ids. We use MongoDB in combination with jina, so our id-length is 24 instead of 16.
This is a problem, because the Chunk2DocRanker and some RankDrivers assume that the id is of type np.int64.

Please have a look:
- https://github.com/jina-ai/jina/blob/bf97c36ba65c08f620d504ed556ca508fdf2368f/jina/executors/rankers/__init__.py#L92
- https://gi

[2020-12-28 15:35] nero-nazok commented on #1553
Hi @janandreschweiger!
I also want to use MongoDB, so this issue is of interest to me. In order to really support custom-ids the type should be changed to np.object.

[2020-12-28 18:17] janandreschweiger commented on #1553
I prototyped a custom AggregateMatches2DocRankDriver and SimpleAggregateRanker that overcome this issue by:
- changing np.int64 to np.object
- changing the id-conversion from int() to str()

[code]
Although this works, it would be great if a jina developer with more experience could fix it.

[2020-12-28 18:19] JoanFM commented on #1553
Hey @janandreschweiger ,

Would it be possible to have a PR with these changes?

It could be a good way to discuss the changes? and maybe we can agree to merge it?

[2020-12-28 18:24] janandreschweiger commented on #1553
I agree with you @JoanFM. I will open a PR.

[2020-12-29 00:58] #743 closed

[2020-12-29 06:32] nero-nazok commented on #1553
Thanks @JoanFM and @janandreschweiger for fixing it!

[2020-12-29 06:54] JoanFM commented on #1553
Hey @janandreschweiger,

Thanks for the contribution!.If it is okey, I will wait for next week before merging, to have some colleagues that were heavily involved with the redesign of DocumentID to have a better thought about this.

[2020-12-29 07:00] janandreschweiger commented on #1553
Sure @JoanFM take the time you need. I just want that this issue is solved in one or the other way.

[2020-12-29 07:08] ace-kay-law-neo commented on #1553
Hm, this is problem is bugging us for four days now. If it takes another week, we'll use the prototype you posted above in the mean time.

[2020-12-29 08:50] #1349 closed

[2020-12-29 10:21] #1535 closed

[2020-12-29 12:50] samjoy opened #1558 "Difference between Jina.ai and haystack"
**Describe your proposal/problem**

---

**Environment**

**Screenshots**

Hi, I would like to know the difference between Jina.ai and Haystack ([https://github.com/deepset-ai/haystack](https://github.com/deepset-ai/haystack)).
Does Jina.ai support question and answering?
Can Haystack and Jina.ai complement each other in some way?

[2020-12-29 14:58] rutujasurve94 commented on #1542
Hi, raised PR: https://github.com/jina-ai/jina/pull/1560 for this. Should work with this fix

[2020-12-29 15:59] #1542 closed

[2020-12-29 18:15] JoanFM opened #1561 "Jina Flow visualization with Inspect nodes"
**Describe the bug**
I have this Flow:

[code]

which leads to visualization:

![image (12)](https://user-images.githubusercontent.com/19825685/103304852-f32e7000-4a09-11eb-9499-c1c5e7113709.png)

when `include_last_pod: bool = False` is added to `flow/base.py` in the default parameters of `gather_inspect` method, the visualisation improves but still the gather_inspect pod is duplicated:

![image

[2020-12-30 04:18] bhavsarpratik commented on #1546
Hey @janandreschweiger, thanks for trying Jina!
You can have a look at this [example](https://github.com/jina-ai/examples/blob/master/multimodal-search-tirg/TirgImageEncoder/__init__.py) on how we use a custom executor with extra helper files. You might be missing `sys.path.append(".")`

[2020-12-30 08:59] #1561 closed

[2020-12-30 09:59] #1549 closed

[2020-12-30 10:00] #1527 closed

[2020-12-30 15:50] davidlenz commented on #1558
Hi @samjoy. There was a [Deepset & Jina AI Co-Webinar on Neural Search: Next level search systems fueled by open-source](https://youtu.be/VeE1e_TQQHY?t=4585) in late July. During the open Q&A-Session Han and Malte elaborated on the question.
OFC views and opinions might have changed between late July an now.

[2020-12-30 16:19] JoanFM opened #1569 "Benefit of parse_config_source when calling RemoteJinadRuntime."
**Describe the bug**
It is quite confusing the fact that for files to be loaded to jinad the pods `uses` paths cannot have subfolders, but then when calling jinaD runtime, it is possible that it is not able to find the path.

This behavior is observed in https://github.com/jina-ai/jinad/pull/73/files

[2020-12-30 19:29] samjoy commented on #1558
Thank you @davidlenz. I had a look at the video. It clarifies some of the questions I had about this.

[2020-12-31 01:02] #929 closed

[2020-12-31 03:59] samjoy opened #1571 "Revenue from Jina"
As Jina.ai provides an open source search engine, how does it plan to generate revenue?

[2020-12-31 15:51] #1571 closed

[2020-12-31 15:54] hanxiao opened #1574 "use jinad for logging and communicating with dashboard"
**Describe your proposal/problem**

I have never really see how fluentd works in practice. This makes me doubt the completeness of the old ticket on logging.

High priority. Must be done before 1.0, the hello-world with dashboard example must use fluentd as the logging source.

To make this first step, removing `sse_logger` in the next PR to kick off this feature. I'm afraid if we don't do this st

[2020-12-31 21:14] hanxiao commented on #1546
@janandreschweiger

not sure if you know it but `py_modules` can be a list, say if A depends on B, which depends on C then
[code]

[2020-12-31 22:43] hanxiao opened #1575 "PR#1361 test is misleading, reverting"
**Describe the bug**

This test is misleading as `HubIO._test_build` does not accept image as `str`

[code]

Please read Docker SDK carefully and please notice that:

Mentioned here: https://github.com/jina-ai/jina/pull/1361#pullrequestreview-560556769

Based on this questionable test, I worry about the effectiveness of PR#1361

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-01 09:15] hanxiao commented on #1575
In #1539 I removed the test introduced by #1361 as it didn't test properly - rthe test itself is buggy. Please clarify the purpose of #1361  and redesign the test. @rutujasurve94

[2021-01-01 10:31] hanxiao opened #1576 "sticky progressbar at the bottom of the console seems hard across os"
**Describe your proposal/problem**

Just a shower-thought, but it seems pretty hard as `tqdm` does not even implement it.

https://github.com/tqdm/tqdm/issues/785#issuecomment-532654917

---

**Environment**

**Screenshots**

[2021-01-01 16:06] hanxiao commented on #1520
it's done @nan-wang

[2021-01-01 16:06] #1520 closed

[2021-01-02 01:00] #1329 closed

[2021-01-02 07:43] rutujasurve94 commented on #1575
Redesigning this test, updating on this issue thread.

[2021-01-03 10:37] hanxiao commented on #1576
closed, no-go

[2021-01-03 10:37] #1576 closed

[2021-01-03 15:40] #1505 closed

[2021-01-03 15:40] #1517 closed

[2021-01-03 16:24] hanxiao opened #1582 "github-push-action changes its default branch from `master` to `main`, breaking our CD pipelines"
**Describe the bug**

Due to the merge yesterday: https://github.com/ad-m/github-push-action/pull/69

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-03 16:52] hanxiao commented on #1582
fixed

[2021-01-03 16:52] #1582 closed

[2021-01-03 20:40] janandreschweiger commented on #1546
Thanks for your kind help @hanxiao @bhavsarpratik!
I did it exactly like in your [example](https://github.com/jina-ai/examples/blob/master/multimodal-search-tirg/TirgImageEncoder/config.py). I tried it again today and it still doesn't work.

Do you have a unit test that ensures that this error isn't caused by the latest version?
If not, I could provide you with a minimal working example.

[2021-01-03 20:48] nero-nazok commented on #1447
Updating & deleting documents is finally possible!
Thank you @JoanFM and @maximilianwerk 🥳

[2021-01-03 20:48] #1447 closed

[2021-01-04 02:31] nan-wang commented on #1252
@yogeshhk hi, there. Thanks for your interests. The native Windows support is not there yet. You can try Jina with WSL. https://docs.jina.ai/chapters/install/os/on-wsl.html

[2021-01-04 05:16] Kavan72 commented on #1505
great, thank you

[2021-01-04 10:10] pswu11 commented on #1161
Close for now since we have some discussions about how to structure our examples

[2021-01-04 11:33] hanxiao opened #1585 "jina hub list gives 600+ hub images?"
**Describe the bug**

On `master`, do `jina hub list`
![image](https://user-images.githubusercontent.com/2041322/103531120-fe115680-4e88-11eb-92b3-1b5bfb429e3a.png)

Quite some duplicated names there.

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-04 14:02] cristianmtr commented on #1585
This is probably due to the different versions available for every module, as part of the Hub Updater work. These should be listed with just the last version only.

@rutujasurve94 Does the new Hub API support searching/filtering in this way?

[2021-01-04 16:28] NouiliKh commented on #1439
I am trying to work on this issue but I don't know if I missing something since this would be my first contribution.
Under indexers, I found only two function signatures that need to be changed:
https://github.com/jina-ai/jina/blob/35139e96ff828bc2dfdee92f8ac88a0c0b09e726/jina/executors/indexers/vector.py#L302
https://github.com/jina-ai/jina/blob/35139e96ff828bc2dfdee92f8ac88a0c0b09e726/jina/execu

[2021-01-04 21:23] ace-kay-law-neo commented on #1543
I reopened this issue, because we now use purely asynchronous libraries within the input_fn.

[2021-01-05 04:56] annaakhil opened #1590 "chunk error"
**Describe the bug**
Getting an error in chunk  while running index command

**Environment**
0.8.2
akhil@DESKTOP-PCQSBOH:~/experiment2$ jina --version-full
jina                          0.8.2
jina-proto                    0.0.76
jina-vcs-tag                  (unset)
libzmq                        4.3.3
pyzmq                         1.19.4
protobuf                      3.14.0
proto-backend

[2021-01-05 07:35] cristianmtr commented on #1344
Closed as it was fixed as a part of fixing the TOC GH Action https://github.com/jina-ai/jina/issues/1321 https://github.com/technote-space/toc-generator/issues/280

[2021-01-05 07:35] #1344 closed

[2021-01-05 09:31] hanxiao commented on #1543
make sense.

[2021-01-05 10:12] ace-kay-law-neo commented on #1546
I get the same error. Do you think that it is caused by jina @bhavsarpratik?

[2021-01-05 11:24] #1420 closed

[2021-01-05 12:52] NouiliKh opened #1592 "A wrong link in the CONTRIBUTING.md file"
In the contributing.md file, there is a broken link that needs to be changed:

![image](https://user-images.githubusercontent.com/22430520/103648160-b2c87800-4f5c-11eb-827f-7141b3f54690.png)

I will just change which link jina-101 is referring to: from "./101/README.html" to  "https://github.com/jina-ai/jina/tree/master/docs/chapters/101"

[2021-01-05 18:33] #1480 closed

[2021-01-05 18:33] #1546 closed

[2021-01-05 19:26] JoanFM commented on #1438
Reopening issue. Will do a double check and update example te confirm

[2021-01-05 21:28] hanxiao commented on #1546
@janandreschweiger @ace-kay-law-neo Problem solved and rolled out in `0.9.2`, `py_modules` usage can be found in https://github.com/jina-ai/jina-hub/blob/master/README.md#use-py_modules-to-import-multiple-files

The test corresponds to @janandreschweiger your case can be found in https://github.com/jina-ai/jina/blob/master/tests/integration/issues/github_1546/test_pymodules_import.py#L73

[2021-01-06 02:50] nan-wang opened #1605 "the title of the release notes for patches and the content are mismatched"
**Describe the bug**

![image](https://user-images.githubusercontent.com/4329072/103723421-fb3f6e80-500c-11eb-9307-76f7efa2e345.png)

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-06 03:18] nan-wang opened #1606 "🚨 BREAKING CHANGES 0.9.0 -> 1.0.0"
This issue is created to keep track of breaking changes between `0.9.0` and `1.0.0` (scheduled release on Feb. 15, 2021)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide

| PR |  Rolled Out? | Override |
| --- | --- | --- |
| #1722 | yes | #1739

[2021-01-06 03:19] nan-wang commented on #1337
https://github.com/jina-ai/jina/releases/tag/v0.9.0

[2021-01-06 03:19] #1337 closed

[2021-01-06 03:28] nan-wang commented on #1378
resolved by #1587

[2021-01-06 04:17] nan-wang commented on #1590
hi, @annaakhil Would you please provide more details about your usage? How does your flow look like?

[2021-01-06 06:26] janandreschweiger commented on #1546
Thank you @hanxiao. You are the best.
`from jinahub.helper import helper_function` did the trick.

[2021-01-06 08:05] nan-wang opened #1607 "executors from Jina hub are not included at docs.jina.ai"
**Describe the bug**
executors from Jina hub are not included at docs.jina.ai

FYI, The list of hub images are listed in
https://github.com/jina-ai/jina/blob/master/docs/chapters/all_exec.md

During cd, this is created by
https://github.com/jina-ai/jina/blob/master/.github/workflows/cd.yml#L43

This is different from the https://docs.jina.ai/_modules/index.html, which is generated by sphinx.

When

[2021-01-06 08:14] JoanFM commented on #1378
Not solved until hub_builer uses proper image. Right now when opening a PR to hub, the version not yet published is used and thus no jina pip package found

[2021-01-06 10:43] hanxiao commented on #1607
i removed them intentionally. Because hub docstrings are at very low quality in general

[2021-01-06 10:48] cristianmtr commented on #1511
Seems like this has been fixed and now it's only part of `ci.yml`

[2021-01-06 10:48] #1511 closed

[2021-01-06 11:07] #1592 closed

[2021-01-06 15:41] cristianmtr opened #1612 "The `content_hash` of a `MultiModalDocument` SHOULD depend on its `chunks`"
**Describe the bug**

The `content_hash` of a `MultiModalDocument` SHOULD depend on its `chunks`.

See https://github.com/jina-ai/jina/pull/1611#discussion_r552724734

[2021-01-06 16:01] nan-wang commented on #1607
https://jinaai.slack.com/archives/C018QC78L84/p1609917102129800

[2021-01-06 23:52] JoanFM opened #1615 "content hash should be computed from list of fields and not based on removing fields from computation"
In the same way allowlists are encouraged in security, it is more stable and robust to keep a positive logic of the fields to be included in the content hash computation

[2021-01-07 02:45] hanxiao commented on #1615
we have this feature before, seems get removed during refactoring?

https://github.com/jina-ai/jina/blob/00ea808dd951ed350f2e8c27d1fdcffc3470da77/jina/proto/uid.py#L36-L49

[2021-01-07 03:32] nan-wang commented on #1612
#1615 should be the proper way to handle this.

[2021-01-07 04:49] #1612 closed

[2021-01-07 06:05] JoanFM commented on #1615
Before we had a mask to exclude, I mean a mask to include, more mantainable .

[2021-01-07 06:06] hanxiao commented on #1615
then, i suggest add both `include, exclude` as args.

[2021-01-07 06:07] JoanFM commented on #1615
that would be ambiguous

[2021-01-07 06:16] hanxiao commented on #1615
it will not

[2021-01-07 07:06] #1615 closed

[2021-01-07 07:20] JoanFM opened #1618 "Separate Segmenter from Crafter"
**Describe the feature**
Have `BaseSegmenter` not inherit from `BaseCrafter` and change its method from `craft` to `segment`

**WARNING**
This can affect examples and hub executors. Hub executors structure must be adapted

checklist:
- [x] a cartoon character for Segmenter is missing, @design_team
- [x] Jina 101 does not cover it, @pswu11 plan to rewrite before 1.0, so please inform @pswu11  about

[2021-01-07 07:53] nan-wang commented on #1378
The new version is now published. https://github.com/jina-ai/action-hub-builder/releases/tag/v0.8

[2021-01-07 07:53] #1378 closed

[2021-01-07 09:06] FionnD opened #1621 "Cannot uninstall PyYAML"
**Describe the bug**
For a user installing Jina who already have PyYAML installed (this is a default library installed in conda environments), Jina will fail to install and throw the following error.

`Cannot uninstall 'PyYAML'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.`

This occurs because pi

[2021-01-07 16:49] JoanFM commented on #1438
Closed by #1596

Example rewritten in https://github.com/jina-ai/examples/pull/318

[2021-01-07 16:49] #1438 closed

[2021-01-07 16:56] JoanFM commented on #1515
Hey @janandreschweiger ,

There is a PR open in the examples that showcases what you are trying to do.

https://github.com/jina-ai/examples/pull/318

It lets you index with an indexer, and then reuse that index data to query with different indexers types and parameters.

I hope you find it usefu

[2021-01-07 22:49] hanxiao commented on #1621
This issue is here for SEO purpose. @nan-wang do not count this as an engineering-work in the Sprint, this looks out of the scope, it is either conda, pip, or PyYAML related, not really jina.

[2021-01-09 06:24] nan-wang opened #1634 "use `.name` for retrieving the executors' name"
[code]

I think we can simply use `.name` attribute of the executor - one of the `metas` attribute of any `Executor`. Also, since `eval_at` is kind of `BaseRankingEvaluator` specific, the `BaseRankingEvaluator` could just have the following somewhere in `__init__` of `post_init`:

[code]

_Originally posted by @hanxiao in https://github.com/jina-ai/jina/pull/1623#discussion_r553503135_

[2021-01-09 17:24] hanxiao opened #1638 "when using `WebSocketClient`, `Flow().add().add(needs='gateway')` hangs forever"
**Describe the bug**

originally from #1551

when using `WebSocketClient`, the following flow fails `Flow().add().add(needs='gateway')` by hanging forever.

Minimum example:
[code]

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-10 13:12] JoanFM opened #1640 "move docker tests doing external calls to integration and use mocking for unit tests"

[2021-01-10 13:48] hanxiao opened #1641 "jina hub list is broken"
**Describe the bug**

`jina hub list` gives

[code]

**Describe how you solve it**

Please revert `pytest.skip` in `tests/unit/docker/test_hub_list.py` after the fix

---

**Environment**

**Screenshots**

[2021-01-10 13:51] JoanFM commented on #1641
the url to access is down.

https://hubapi.jina.ai

[2021-01-10 13:55] hanxiao commented on #1641
@nan-wang this is considered as `uptime`/reliability/SLA, can you please note it? So the next we have this uptime discussion, we know what are we talking about

[2021-01-10 15:36] hanxiao commented on #1606
0.9.3->0.9.4 Changelog is lost due to a bug in `release.sh`, please use `scripts/release.sh:L59` to retrieve it back

[code]

[2021-01-10 16:58] hanxiao opened #1643 "`logstream` endpoint does not generate ReDoc"
**Describe the bug**

Upstream issue: https://github.com/tiangolo/fastapi/issues/1983

Affected `daemon/api/endpoints/logs.py`:
[code]

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-01-10 16:59] deepankarm commented on #1643
Possible solution -
https://www.asyncapi.com/

[2021-01-10 18:26] deepankarm commented on #1641
https://github.com/jina-ai/cloud-ops/pull/54 fixed this.

[2021-01-10 18:26] #1641 closed

[2021-01-10 18:29] JoanFM commented on #1641
@deepankarm can u do a PR reactivating the hub list tests?

[2021-01-11 03:22] nan-wang commented on #1606
fixed in https://github.com/jina-ai/jina/pull/1645

[2021-01-11 05:17] deepankarm commented on #1641
@JoanFM I'll re-enable the tests once https://github.com/jina-ai/jina/issues/1585 gets fixed.

[2021-01-11 06:58] JoanFM opened #1647 "remove 'meta_info' from DocumentProto"
**Describe the feature**
meta_info was deprecated time ago but was not yet removed

[2021-01-11 07:01] deepankarm opened #1648 "Remove CallUnary from proto"
**Describe the feature**
Remove `CallUnary` service from `jina.proto` as it is not getting used anymore after removal of `dry_run()`

[2021-01-11 09:16] JoanFM commented on #1634
I would not apply this change, changing the `self.name` dynamically, makes it hard to have a logic where drivers relate to executor by name

[2021-01-11 13:55] hanxiao commented on #1647
just a note, simple deletion is enough, no need for shifting all index by `-1`. It's in fact considered as the best practice not to change the offset of protobuf, as the offset is used for back&forward-compatability
[code]

[2021-01-11 20:43] #1647 closed

[2021-01-11 20:43] #1648 closed

[2021-01-11 21:19] JoanFM opened #1656 "rename batch_size for request_size in the Flow API"
**Describe the feature**
I found community members confused because call batching to 2 dfferent concepts. I think changing batch_size to request_size would make the communication easier

[2021-01-12 05:49] conanchen opened #1659 "install jina[nlp] error"
**Describe the bug**
install error

pip3 install "jina[nlp]"

**Describe how you solve it**

**Environment**
$ python3 --version
Python 3.8.7

$ pip3 install "jina[nlp]"

**Screenshots**
Collecting sentencepiece<=0.1.91
  Using cached sentencepiece-0.1.90-cp38-cp38-macosx_10_6_x86_64.whl (1.0 MB)
  Using cached sentencepiece-0.1.86-cp38-cp38-macosx_10_6_x86_64.whl (1.0 MB)
  Using cached sentencep

[2021-01-12 11:47] deepankarm opened #1661 "Flow termination in jinad is really slow"
**Describe the bug**
For a remote Flow with multiple remote Pods, when a **DELETE** request is sent to terminate a Flow, it takes a lot of time (at times ~20secs)

**Describe how you solve it**
This happens as the log-streaming (both server & client) don't get cancelled properly. Can create serious implications when Console consumes it.

---

[2021-01-12 11:48] #1569 closed

[2021-01-12 13:12] hanxiao opened #1663 "Jinad logger should show public IP address on startup, as the flow does"
**Describe the feature**

**Your proposal**

---

**Environment**

**Screenshots**

[2021-01-12 16:12] deepankarm opened #1667 "Endpoints in daemon for exposing args"
**Describe the feature**
Expose **GET /params** for Flow, Pod, Pea

**Your proposal**
Even though `Console` can get `jina version` from jinad & make another call to `api.jina.ai/version.json` to fetch different arguments that a Flow/Pod/Pea accepts, these arguments are already available with `jinad`. We need to add endpoints for this.