[2021-09-01 08:17] deepankarm opened #3317 "JinaD Flow with `replicas>1` & `parallels>1` not supported"
**Steps to reproduce**
A Flow in JinaD with a config like below will have all requests blocked. Note that parallels: 1 will work in this case. More about this issue.

[code]

[2021-09-01 09:33] #3303 closed

[2021-09-01 09:41] #3090 closed

[2021-09-01 14:59] tadejsv opened #3321 "`jina executor` still does not work as it should"
When running
[code]

we get the error
[code]

But if we replace `executor` with `pea` it works. I though that this was already fixed

[2021-09-01 17:26] tadejsv commented on #3321
This was a non-issue, we passed the arguments the wrong way

[2021-09-01 17:26] #3321 closed

[2021-09-02 07:12] CatStark opened #3322 "Add more methods to benchmark"
We need more methods (shuffle, etc). Go over all the public methods of DA, DAM and add them too.

[2021-09-02 07:16] deepankarm opened #3323 "yaml `ConstructorError` while using multiprocessing spawn start method"
[code]

Run  `JINA_MP_START_METHOD=spawn python app.py`

[2021-09-02 09:53] Bharat123rox commented on #3149
Hey @tadejsv, in case we are going with the 2nd approach, then does that mean we are only going to fix methods where there are simple string regexes or specific use-cases where `Path` manipulations can be directly used? In other words, should we go through all functions accepting strings and try to refactor only those which can be replaced by a `Path` equivalent method like the above?

(P.S: I'm s

[2021-09-02 10:10] slettner commented on #3291
Closed by https://github.com/jina-ai/jina/pull/3309

[2021-09-02 10:10] #3291 closed

[2021-09-02 10:18] slettner opened #3328 "Kubernetes - parameterize template files"
With https://github.com/jina-ai/jina/issues/3291, we introduce having custom templates.
As a user, it is not possible to also pass values to the templates via the Jina Flow API.

I.e. the values need to be in the file directly which leads to
- duplicating template files for different pods (if they need different values)
- potential inconsistency between those duplicates that can lead to errors. E.

[2021-09-02 13:01] masapasa opened #3331 "RuntimeFailToStart"
Running https://github.com/jina-ai/examples/tree/master/wikipedia-sentences with a different wiki dataset
python3 wikipedia-sentences/app.py -t index -d full -n 1000
Pulling from jinahub/u9pqs8eb
Digest: sha256:8baad5f64da9c441b03b77836b6f0a85580752a40cf7b21b6ca7ac18eef9fc0e
Status: Image is up to date for jinahub/u9pqs8eb:v20-2.0.22

    transformer@38393[E]:APIError(HTTPError('409 Client Error:

[2021-09-02 13:26] tadejsv opened #3333 "Add `get_docs_batch_generator` for DocumentArray"
This is probably the most used function from jina commons. I think it would make sense to add it to jina - maybe not as a DocumentArray method, but as a util somewhere. Would enable us to eliminate jina commons requirement from a lot of executors

[2021-09-02 13:31] maximilianwerk opened #3334 "Kubernetes - Flow usage as seemless as native Flow"
When creating a K8s Flow, I would like to use it as a native Flow:
[code]

For this we need several sub-tasks:

- [ ] automatic port-forwarding when the gateway is deployed and ready
- [x] Use K8sPod as context manager, implement proper `wait_start_success` and `close` logic
- [x] Add readinessProbe through control Request

[2021-09-02 18:29] #3331 closed

[2021-09-03 00:47] Aju100 commented on #3107
Hey, @Rubix982  I found the minor issue regarding the markdown for href section on the last endpoint.

![href issue](https://user-images.githubusercontent.com/29862610/131932971-e92aa438-8c60-4962-9e69-19e5737aba09.png)

Here ahref has not been marked properly since syntax has been highlighted.

Also, there is a broken CONTRIBUTING guideline please have a look through this link.
- https://hub.dock

[2021-09-03 05:19] Rubix982 commented on #3107
Thanks, @Aju100! As above, I'm waiting for the Jina team to work on this, as I do not have access to modify the DockerHub page.

[2021-09-03 08:36] jacobowitz commented on #3334
I think the port forwarding is questionable? That is a debug mechanism you should use while developing and not for production so I would not do that automatically from code? The rest is fine, especially the readyness check we need

[2021-09-03 15:06] aryasoni98 commented on #3307
I would like to work on it !

[2021-09-03 17:06] koderholic2 opened #3341 "UX Improvement"
..

[2021-09-03 17:19] #3341 closed

[2021-09-04 03:08] Aju100 commented on #3107
Hey @Rubix982 , let's wait the response so we can resolve this issue.

[2021-09-04 03:11] Gadgetbo commented on #3107
Ok let’s do this

Sent from ProtonMail for iOS

On Fri, Sep 3, 2021 at 10:09 PM, Aju Tamang ***@***.***> wrote:

[2021-09-04 05:04] Gadgetbo commented on #3107
What is a dockerhub
Sent from ProtonMail for iOS

On Fri, Sep 3, 2021 at 10:09 PM, Aju Tamang ***@***.***> wrote:

[2021-09-04 10:39] 7yaqivo commented on #3334
Too bad

[2021-09-06 06:33] numb3r3 opened #3342 "treat Document `.uri` as an independent attribute, instead of an "one-of" `.content`"
**Describe the feature**

**Your proposal**

---

**Environment**

**Screenshots**

[2021-09-06 08:34] winstonww opened #3343 "Add caveat to docs regarding int data type in doc.tags and executor's parameters"
**Describe the feature**
Currently, when users store integer data in `doc.tags` and `parameters`, the data will be casted into`float` when request is sent to executors because the two fields are declared with type `google.protobuf.Struct` in the proto definition. The two fields have type `google.protobuf.Struct`  because they have flexible Schema. However, `google.protobuf.Struct` follows the JSON

[2021-09-06 08:46] CatStark opened #3345 "Break down tests/unit/flow"
The `tests/unit/flow `is too big and every other test has to wait for it.

Dig into this folder and break it up into something like this to leverage our parallel CI implementation
`tests/unit/flow-construct`
`tests/unit/flow-orchestrate`
`tests/unit/flow-blahblah`

Move files into those folders, our CI workflow auto-parallize it. Also get some numbers on the tests even inside `tests/unit/flow `, t

[2021-09-06 10:14] #3345 closed

[2021-09-06 11:51] maximilianwerk commented on #3334
Hmm I see. Would you be fine with an argument `automatic_port_forwarding` which defaults to `False`?

[2021-09-06 13:56] cristianmtr opened #3351 "unexpected args"
I can reproduce it with this test https://github.com/jina-ai/executors/blob/fbd11ff89b4242d254205f832884a8d3f9917b80/tests/integration/psql_import/test_import_psql.py#L173

The problem is that the arguments are passed to the MatchMerger as well https://github.com/jina-ai/jina/blob/c613fa7799e25c8385f826c3f26bce1ea55e3e7d/jina/jaml/parsers/executor/legacy.py#L78

[2021-09-06 17:26] #3242 closed

[2021-09-07 07:44] jacobowitz commented on #3334
That would be an option, but for me that does not really belong in our code base conceptually speaking (not even sure its possible).
Port forwarding is some hack you do on our computer (like a SSH tunnel) to reach a remote entity in K8s. I think that hack should be up to the user and not be built into our application.

[2021-09-07 08:20] slettner commented on #3328
WIP Branch: https://github.com/jina-ai/jina/tree/feat-k8s-yml-templates

[2021-09-07 09:13] #3351 closed

[2021-09-07 11:04] #3342 closed

[2021-09-07 13:17] florian-hoenicke opened #3360 "Kubernetes - flow.plot()"
Currently, shards and replicas are not rendered correctly for Kubernetes Executors.
The Kubernetes deployment does not use an extra head for the replicas.

[2021-09-07 13:37] RaghavPrabhakar66 commented on #3197
@CatStark Can I work on this issue?

[2021-09-07 15:17] jacobowitz commented on #3197
@bhattalok49 did not react, so I guess its fine.

Thank you @RaghavPrabhakar66 :) If you have any question, I am happy to help. Here or via our community slack

[2021-09-07 17:23] RaghavPrabhakar66 commented on #2906
@cristianmtr I would like to take this issue.

[2021-09-08 00:08] #1803 closed

[2021-09-08 08:07] tadejsv commented on #3323
I tried, but unfortunately I was unable to fix. The problem is the following:

The global state of the yaml module, which has the representer for `MyExecutor`, does not get preserved when using the spawn method.

What I thought would work:
- pass global state of `yaml` module to `Process.run`. Does not work, module not pickeable. This approach also feels not very elegant

What could work:
- pass `

[2021-09-08 09:31] maximilianwerk commented on #2906
Hey @RaghavPrabhakar66, thanks a lot for the initiative. Let me give you some guidance, what needs to be done:

After finishing this ticket, the following special handling for the `GridSampler` should not be necessary anymore: https://github.com/jina-ai/jina/blob/c0b04ffae9f2db818e56e170c5ce4efdb64497bb/tests/integration/optimizers/test_optimizer.py#L71

So the `grid_sampler_search_space` should b

[2021-09-08 10:42] sauravgarg540 commented on #3333
I would like to work on this issue.

[2021-09-08 11:17] florian-hoenicke opened #3368 "Kubernetes - replicas without shards after needs not working"
When doing the benchmarks @jacobowitz found out that requests hang in case there is a replicated not sharded Executor which requires input from more than one Executor

[2021-09-08 11:41] jacobowitz commented on #3334
but I think what we actually should do is: Enable the user to change the service type for the gateway to LoadBalancer
This would be needed for a production deployment without portforwarding

[2021-09-08 13:45] slettner commented on #3293
Two PRs missing. Reopening.

[2021-09-08 14:46] jacobowitz commented on #3272
draft pr for the pool used in benchmark: https://github.com/jina-ai/jina/pull/3275
draft pr for benchmarking code: https://github.com/jina-ai/jina/pull/3370

result

[code]

[code]

So I think we have to options:

**1. Use proxy based load balancing:**

- Adds overhead of ~ 1.1 ms per executor in flow (relative to pool)
- No need for logic on our side
- Users need to deploy third party service mes

[2021-09-08 14:49] slettner commented on #3293
One PR missing. Reopening.

[2021-09-08 15:01] #3305 closed

[2021-09-08 15:50] RaghavPrabhakar66 commented on #2906
Hi, Thanks for the guidance. I have some doubts regarding the implementation. I cam across `load_optimization_parameters()` function and it return a list objects of all params. I was wondering if we could use that rather than creating a method in every class. It is based on the assumption that objects returned by `load_optimization_parameters` have `low`, `high`, `step_size` attributes. It could w

[2021-09-08 17:13] agarwalrounak commented on #3333
Hey @sauravgarg540, I am already working on this issue and have made some progress. I guess I should have commented here to get it assigned to me. Sorry for not doing that. Is it okay with you if I go ahead?

[2021-09-08 17:20] #3293 closed

[2021-09-08 18:19] maximilianwerk commented on #2906
This assumption is wrong. Take a `CategoricalParameter`: It only has `choices` as an attribute. It could be something like `model_name` with values `Bert1`, `Bert2` and `MyOtherFancyModel`.

[2021-09-09 07:08] CatStark opened #3373 "GPU support for Executors doc"
We need to add documentation about GPU support for executors

[2021-09-09 07:58] hanxiao commented on #3334
I prefer the consistent `with` context manager experience as we taught people in docs, so this feature (which I guess is only about a proper deconstructor) needs to be implemented.

https://github.com/jina-ai/jina/pull/3357#discussion_r703318054

[2021-09-09 08:22] jacobowitz commented on #3334
the destructor we need as well, agreed.

But I think we should at least also look into the readiness checks in kubernetes and if they are actually doing anything meaningful atm. Although these are two completely different things so lets split them  into two tickets?

[2021-09-09 10:49] florian-hoenicke commented on #3368
https://github.com/jina-ai/jina/pull/3372

[2021-09-09 12:10] sauravgarg540 commented on #3333
Hey @agarwalrounak,  It is always good to comment on the issue first and wait till it is assigned to you. This also prevents such conflicts.

[2021-09-09 13:33] #3368 closed

[2021-09-09 16:44] tadejsv commented on #3333
@agarwalrounak if you are working on it, please open a draft PR with your progress so far.

[2021-09-10 02:25] gaocegege opened #3377 "daemon - Typo in /daemon/dockerize.py#L314"
**Describe the bug**

https://github.com/jina-ai/jina/blob/master/daemon/dockerize.py#L314

[code]

I think it should be one of the good-first-issues

/good-first-issue

[2021-09-10 03:17] #3343 closed

[2021-09-10 03:36] gaocegege opened #3378 "fluent - Failed to get the environment variables in fluent.conf"
https://www.notion.so/gaocegege-156e5e92d82841bd9881dc3d1d0faed6

[2021-09-10 03:37] gaocegege commented on #3378
/cc @hanxiao

Seems that the change is imported here https://github.com/jina-ai/jina/commit/889f11370cad698a7cce10f7f8362477f1947edf#diff-bee2b3da7b63620c370591585e6727eed9824407d277d006cd473c859c140fb5R17

[2021-09-10 03:39] gaocegege commented on #3378
I think it can be one of the good-first-issues

[2021-09-10 03:54] gaocegege commented on #3233
I have a deep dive into the implementation of daemon dockerize logic, seems that https://github.com/jina-ai/jina/commit/6bea7f24258f19a9bc3aa1948ac5d9c8710765fd does not work as expected

When the jinad is running inside a Linux container on MacOS host, the `dockersock` returns `//var/run/docker.sock`. The expected value is `/var/run/docker.sock`

The PR https://github.com/jina-ai/jina/pull/2971 o

[2021-09-10 03:55] gaocegege commented on #3233
BTW, the logic of dockerize is a little tricky, it may be hard to fix this problem.

[2021-09-10 09:16] florian-hoenicke opened #3381 "Kubernetes - add docs for custom templates"
https://www.notion.so/florian-hoenicke-8a0e562eec0e4e3c897bbaf46f0290d4

[2021-09-10 11:00] agarwalrounak commented on #3333
@tadejsv Sure, I will do so.

[2021-09-10 12:01] #3323 closed

[2021-09-10 12:51] #3377 closed

[2021-09-10 19:18] agarwalrounak commented on #3333
Hi @tadejsv, I have opened a PR #3386 for this purpose. Looking forward to your review.

[2021-09-11 06:41] tchaton opened #3387 "Lightning Flash Integration"
**Describe your proposal/problem**

Dear Jina AI team,

I have been going through the documentation and codebase, and it looks great ! Definitely a great product there.
I have been working on Lightning Flash, a PyTorch AI Factory with 15+ tasks and thousands of pre-trained models.
I believe there is quite a lot of synergy and Flash could be used to train models at scale and generate the embeddings

[2021-09-11 09:42] Vibha111094 opened #3389 "Cannot Run chatbot and multimodal"
Hi,
I was trying to run the demo for chatbot and multimodal but I get the error that port 8080 is already in use. I am trying this on colab.

Environment
jina 2.0.23
![](https://user-images.githubusercontent.com/16645902/132943675-08e7670d-68a5-4dd1-bfb7-4d77bb432a4c.png)

[2021-09-11 17:56] agarwalrounak commented on #3389
Hi @Vibha111094! The error usually means that the 8080 port is already in use by some other process in your environment. You could kill the existing process if it is not useful.

[2021-09-12 17:00] RaghavPrabhakar66 commented on #2906
Hi @maximilianwerk I have some doubts regarding the implementation.
Can you share some examples `ExecutorAlternativeParameter`.
Parameters such as `UniformParameter`, `LogUniformParameter`, `DiscreteUniformParameter` have attributes such as `low`, `high`, so they can easily extracted by `add_to_list()` method. Am I right?

[2021-09-13 00:08] #1695 closed

[2021-09-13 05:12] tadejsv opened #3393 "Pass arguments to `jina hub new`"
Right now when using `jina hub new` the only option is to do everything interactively. It would be great if some commands could be passed as options, to CLI, for example `--name=MyExecutor`

[2021-09-13 11:59] #3373 closed

[2021-09-14 06:42] CatStark opened #3397 "Clean up README"
Clean up `README.md`. Remove the `usages` and `paramenters` sections

[2021-09-14 06:43] CatStark opened #3398 "Clean up file structures"
Clean up file structures. Remove `Dockerfile` when there is no need to install extra libraries.

[2021-09-14 06:45] CatStark opened #3399 "Clean up __init__.py"
Clean up `__init__.py` when there is no integration test of multiple executors using the executor.

[2021-09-14 06:46] CatStark opened #3400 "Filter out executors with 404 error"
Filter out the executors with 404 Pages. e.g. https://hub.jina.ai/executor/lnj73bza, https://hub.jina.ai/executor/c2u1mvgu, https://hub.jina.ai/executor/sf5354w4

[2021-09-14 07:13] mapleeit commented on #3400
Done. Removed empty executors.

[2021-09-14 07:13] #3400 closed

[2021-09-14 07:20] CatStark opened #3401 "Remove all unncessary fields in `manifest.yml`"
Clean up `manifest.yml` to remove all unnecessary fields on it

[2021-09-14 13:28] sauravgarg540 commented on #3393
Hey @tadejsv, I would like to work on this issue.

[2021-09-14 13:53] CatStark commented on #3399
PR https://github.com/jina-ai/executors/pull/184

[2021-09-14 14:29] jmizgajski opened #3408 "Indexing documents with pre-computed embeddings, querying by weighted average tensor of collection [Feature/Documentation request]"
Hey guys, I am architecting a multi-modal, multi-item type recommender for academic entities (scientists, articles, journals and so on) and I am planning to use jina for it, however the documentation is a bit sparse at the moment, especially for my particular use case.

Use case:
* a recommender system
* embeddings are pre-computed for each item in an external process that cannot be put in Flow (r

[2021-09-14 19:24] nan-wang commented on #3398
#190

[2021-09-15 09:58] florian-hoenicke opened #3413 "docs: Kubernetes - add console output"
Please add console output after the commands to give users better guidance on the expected results.

[2021-09-15 12:46] CatStark commented on #3393
Hi @sauravgarg540 feel free to open a PR you would like to help

[2021-09-15 12:53] CatStark commented on #3378
Hi @gaocegege thanks for looking into this. I just labeled it as `good first issue`

[2021-09-15 12:54] #3322 closed

[2021-09-15 13:26] jacobowitz commented on #3022
that was done

[2021-09-15 13:26] #3022 closed

[2021-09-15 13:26] jacobowitz commented on #3272
We decided to go with both options

[2021-09-15 13:32] cristianmtr opened #3415 "note on Compound Executor"

[2021-09-15 14:38] cristianmtr commented on #3415
Closed by https://github.com/jina-ai/jina/pull/3406/

[2021-09-15 14:38] #3415 closed

[2021-09-15 15:39] jacobowitz commented on #3272
PR: https://github.com/jina-ai/jina/pull/3275

[2021-09-15 17:06] #3024 closed

[2021-09-15 17:40] RaghavPrabhakar66 commented on #3378
Hi, I would like to this issue. Any steps on how to reproduce the bug.

[2021-09-16 00:09] #1643 closed

[2021-09-16 00:09] #1014 closed

[2021-09-16 02:05] gaocegege commented on #3378
Just run

[code]

[2021-09-16 03:10] gaocegege opened #3419 "Kubernetes - Support NodePort service"
Describe the feature

Now Jina requires a port-forward to expose the clusterIP service port to the host.

It's trivial. If we need to expose it manually, should we consider using the NodePort service? At least it should be configurable.

BTW, I think we could introduce a CRD to manage Jina pods instead of managing them in Jina core manually. Personally, I do not think it is necessary and cloud-nat

[2021-09-16 03:11] gaocegege commented on #3419
/kind feature

[2021-09-16 03:16] gaocegege opened #3420 "Kubernetes - Support graceful deletion"
**Describe the feature**

It is hard to delete the flow now. Users have to delete the namespace directly to delete all resources.

[2021-09-16 03:17] gaocegege commented on #3420
/kind feature

[2021-09-16 10:18] jacobowitz commented on #3420
@gaocegege thx for reporting this issue :) I completely agree that this is a needed feature. Han also mentioned it here in the past https://github.com/jina-ai/jina/issues/3334#issuecomment-915853961

I will add it to our roadmap. I am a bit busy the next days unfortunately, but maybe somebody else can pick it up. If nobody does it, I will when I am available again.

Fyi @florian-hoenicke

[2021-09-16 10:39] jacobowitz commented on #3419
Sounds reasonable, although the node running the gateway pod needs to have a public IP and appropriate firewall rules set up then.
I think besides NodePort service we should also support LoadBalancer, which can also be useful in other cases.
Generally its already possible to provide custom templates for the service/deployment defintions via the `--k8s-custom-resource-dir` parameter. But we also ne

[2021-09-16 10:52] gaocegege commented on #3419
SGTM

[2021-09-17 09:26] jacobowitz opened #3431 "Kubernetes - Wait ready fails"
[This change](https://github.com/jina-ai/jina/pull/3410/files) changed the readiness check for Pods done by the Flow.

It also removed this check:

`if self.args.infrastructure == InfrastructureType.K8S:
    self.logger.info('🎉 Kubernetes deployment done!')
 else:`

Now we always try to print the Flow info table with host/port information. For a K8s pod this is [not implemented](https://github.com

[2021-09-17 09:26] jacobowitz commented on #3298
This breaks now here https://github.com/jina-ai/jina/issues/3431

[2021-09-17 13:41] #3197 closed

[2021-09-18 06:28] #3307 closed

[2021-09-18 08:52] gaocegege commented on #3298
I am wondering what port/ip address should we show. As you know the podIP does not work since you cannot access outside.

[2021-09-18 14:22] #3333 closed

[2021-09-20 05:35] maximilianwerk opened #3438 "jinahub+docker:// sometimes fails when `dick_cache.db` gets corrupted"
The file `~/.jina/disk_cache.db` is not compatible across python versions. Locally I sometimes run python 3.7 and sometimes 3.8 virtual environments. The `shelve` module seems to be incompatible across these versions and thus I have to delete this file from time to time. Would be nice, if that is somehow auto-detected and cared for.

[2021-09-20 06:22] deepankarm opened #3439 "Add support to SSL certs with uvicorn servers"
Jina uses uvicorn servers in 3 places.

1. HTTP Gateway
2. Websocket Gateway
3. JinaD

We need to add support to passing `ssl-keyfile` & `ssl-certfile` so that uvicorn app can be deployed with https.

[2021-09-20 09:38] maximilianwerk opened #3442 "We should rename it to rolling restart."
https://www.notion.so/maximilianwerk-91ee42b20606466ebc59e7cb228d30fc

[2021-09-20 10:49] alaeddine-13 opened #3443 "make fetch_metas default to cache if force=False"
If force=True (--force) fetch_metas should always pull latest executor meta information, otherwise, default to cache
slack discussion: https://jinaai.slack.com/archives/C023A7RAPGR/p1631956515241500?thread_ts=1631799400.233600&cid=C023A7RAPGR

[2021-09-20 11:37] #3443 closed

[2021-09-20 11:38] Aditya-Jha2002 commented on #3442
Hey everyone, I would like to take up this issue. Can I get assigned to this?

[2021-09-20 14:14] florian-hoenicke opened #3446 "Kubernetes - publish gateway"
make the gateway public,
introduce a parameter to prevent gateway from being exposed
print out public IP when starting the flow

[2021-09-20 16:25] jacobowitz commented on #3298
I would still show the podIP and would leave it to the user to make sure its reachable. If you run a Pod in any other private context, the same would happen.

[2021-09-20 16:46] #3439 closed

[2021-09-21 00:09] #2128 closed

[2021-09-21 02:29] nan-wang opened #3450 "`require_attr` in `DocumentArray.batch` does not work for `blob`"
**Describe the bug**
[code]

The above codes lead to the error

[code]

**Describe how you solve it**

---

**Environment**
[code]

**Screenshots**

[2021-09-21 07:19] JoanFM commented on #3431
This problem is only a matter of plotting, This should be easily fixed

[2021-09-21 07:25] JoanFM commented on #3450
I guess it should be changed to:

[code]

[2021-09-21 07:38] tadejsv commented on #3450
@JoanFM the problem here is with how empty attributes are returned. For example
[code]

and same for `uri`. For `tags` you get an empty `StructView`.

[2021-09-21 07:53] gaocegege commented on #3298
SGTM.

[2021-09-21 08:40] #3450 closed

[2021-09-21 08:54] JoanFM commented on #3231
Closed via #3280

[2021-09-21 08:54] #3231 closed

[2021-09-21 09:02] JoanFM opened #3452 "Review some BasePod properties used for plotting, printing"
https://www.notion.so/JoanFM-d2a8445b75b94b7a9e328c3d0f4f40f2

[2021-09-21 09:34] jacobowitz commented on #3446
This is related to https://github.com/jina-ai/jina/issues/3419

[2021-09-21 09:35] jacobowitz commented on #3431
Related to https://github.com/jina-ai/jina/issues/3452

[2021-09-21 09:36] jacobowitz commented on #3446
please reflect changes done here in this issue as well https://github.com/jina-ai/jina/issues/3334

[2021-09-21 09:56] JoanFM commented on #3452
Related to #3431 and #3360

[2021-09-21 11:54] bwanglzu commented on #2943
we'll remove mmd from types.

[2021-09-21 11:58] bwanglzu commented on #3408
hi @jmizgajski sorry for the late reply. Nice one. 👍

[code]

[2021-09-21 12:04] JoanFM commented on #3408
Hello @jmizgajski

I would like to have some clarification on some points.

- When u say (they can be supplied via tags (easier) or retrieved from external db (needs config of access between flow and db) what do u mean? Do u have  a problem sending documents to be indexed in Jina?

- would like to retrieve similar items based on an averaged tensor of supplied items. What is the interaction u expec

[2021-09-21 12:06] florian-hoenicke commented on #3408
@jmizgajski You can also have a look into this documentation

[2021-09-21 13:46] CatStark opened #3455 "Create bechnmark for DA and DAM"
The target is to have a benchmark comparing DA and DAM when used as Indexer. The following metrics should be included:

- p90/p99
- RPS
- memory footprint
- indexing time

[2021-09-21 15:21] #2943 closed

[2021-09-22 08:08] CatStark commented on #3442
HI @Aditya-Jha2002 you can take it if you want, can you link the PR you make to this issue please?

[2021-09-22 08:16] CatStark commented on #3389
Hi @Vibha111094 , was this solved with @agarwalrounak comment?

[2021-09-22 08:40] Vibha111094 commented on #3389
As I was running in colab.. I was not really able to do it. Its a
limitation I guess...

On Wed, 22 Sep, 2021, 1:47 pm CatStark, ***@***.***> wrote:

[2021-09-23 08:08] cristianmtr opened #3462 "docs: clean-up section on workspace"
https://www.notion.so/cristianmtr-ea23d3d8bf204040bfee4c730c78eb4a

[2021-09-23 12:50] CatStark opened #3464 "Upgrade all executors"
We need to upgrade all of our executors usages in the the  https://github.com/jina-ai/examples
Check the following things
- [x] update `jinahub://SimpleIndexer` to `jinahub://SimpleIndexer/old`
- [x] update `jinahub+docker://CLIPImageEncoder` to `jinahub+docker://CLIPImageEncoder/v0.1`
- [x] update `jinahub+docker://CLIPTextEncoder` to `jinahub+docker://CLIPTextEncoder/v0.1`
- [x] update `jinahub+

[2021-09-23 13:41] JoanFM opened #3466 "Remove Optionality of `DocumentArray` for `Executors` requests."
**Describe the feature**
In `DataRequestHandler` it was decided to add `Optionality` to `DocumentArray` when `DocumentArrayProto` comes empty in the request.

This leads to every `executor` needing to do:
[code]

This is a problem, and is quite noisy.

The code that needs to be removed is tjhe check on the length of `DocArray`.:

[code]

**TODO**

- [ ] Remove the checks from the code
- [ ] Adapt

[2021-09-23 14:01] #3455 closed

[2021-09-23 14:53] JoanFM opened #3467 "DocumentArray `sort` should also get `top_k` to allow for more efficient sorting"
**Describe the feature**
Right now `sort` is done on all the `Document` collection, I would like to sort only up to a `top_k`.

[2021-09-23 15:06] sauravgarg540 commented on #3467
Hey @JoanFM, I would like to work on this issue.

[2021-09-23 15:10] JoanFM commented on #3467
Sure @sauravgarg540 ! Just ask if u need any help!

[2021-09-23 22:59] sauravgarg540 commented on #3467
Hey @JoanFM, I have drafted a [PR](https://github.com/jina-ai/jina/pull/3468). Waiting for your feedback.

[2021-09-24 00:08] #2607 closed

[2021-09-24 00:29] rajathpatel23 commented on #3378
Hi All, anybody working on this issue, if not I would like to work on this one

[2021-09-24 10:29] deepankarm opened #3475 "`JinaD` doesn't set `workspace` properly"
While starting a Flow, `JinaD` sets Executor workspace to `<jinad-root-workspace>/<workspace-id>` (e.g.- `/tmp/jinad/jworkspace-0764ff64-ba12-437c-99f0-4a34f135180f` which is only accessible inside dockerhost and not on localhost. Other Flows on the same workspace cannot use the already indexed files. We should set the workspace to `/workspace` as it is mounted from localhost.

[2021-09-24 13:25] CallmeMehdi commented on #3466
Hello @JoanFM I would like to take this issue. If possible I will create a PR then link this to it.

[2021-09-24 15:19] #3475 closed

[2021-09-25 00:08] #2069 closed

[2021-09-25 22:30] JoanFM commented on #3431
The reason why `is_ready` fails silently is because `wait_ready` runs in a separate thread and seems that exceptions are not captures there

[2021-09-26 06:29] deepankarm opened #3480 "Add gpu support for JinaD based Executors"
`JinaD` builds a docker image where an Executor is started. Currently it supports only 2 dockerfiles - `devel` (used while developing with jinad) & `default` (default for all Executors). Since the support for custom dockerfiles are not added, it restricts GPU usage.

We should add a field for `dockerfile` in `.jinad` file, where the name to a custom dockerfile can be added. During workspace creati

[2021-09-26 06:38] #3431 closed

[2021-09-26 07:52] #1252 closed

[2021-09-26 15:01] #3438 closed

[2021-09-26 16:55] JoanFM commented on #3389
Hello @Vibha111094 ,

Was the issue solved? Did u manage to run the examples?

[2021-09-26 16:56] JoanFM commented on #3378
Hello @rajathpatel23,

There is nobody working on this issue. You are more than welcome to work on this. It would also be great if @gaocegege could also review the work and u can keep him in the loop.

[2021-09-26 16:58] JoanFM commented on #3334
Readiness checks maybe can be done by us by using `Control port` to check for `status`

[2021-09-26 16:59] JoanFM commented on #3328
Hello @slettner ,

Is this still work in progress? @florian-hoenicke is this something we want to work on?

[2021-09-26 17:00] JoanFM commented on #3317
Hey @deepankarm ,

Is this issue solved by #3469 ?

[2021-09-26 17:01] JoanFM commented on #3281
Let's remove this issue as naming is still not clear

[2021-09-26 17:01] #3281 closed

[2021-09-26 17:02] JoanFM commented on #3280
For now, we removed the cyclic dependency problem. Let's close this until the next iteration shows the need for this again

[2021-09-26 17:02] #3280 closed

[2021-09-26 17:03] JoanFM commented on #3279
Closed by #3478

[2021-09-26 17:03] #3279 closed

[2021-09-26 17:04] JoanFM commented on #3250
Closing, if it is considered a bug can be opened again

[2021-09-26 17:04] #3250 closed

[2021-09-26 17:06] JoanFM commented on #3223
Closing this issue. If the need arises we will reopen this issue, but I believe this should not be handled by `Jina` beyond the capability of pushing/pulling executors to/from hubble.

[2021-09-26 17:06] #3223 closed

[2021-09-26 17:08] JoanFM commented on #3165
Will close the issue until a more convincing necessity arises

[2021-09-26 17:08] #3165 closed

[2021-09-26 17:09] JoanFM commented on #3155
Table can be found in https://benchmark.jina.ai/docs/indexer_comparison/

[2021-09-26 17:09] #3155 closed

[2021-09-26 17:11] JoanFM commented on #2919
Closing until the necessity arises more clearly

[2021-09-26 17:11] #2919 closed

[2021-09-26 17:16] JoanFM commented on #3166
This seems to be good in the current `README.md`

[2021-09-26 17:16] #3166 closed

[2021-09-26 17:17] JoanFM commented on #3054
This has been clarified in the `documentation`

[2021-09-26 17:17] #3054 closed

[2021-09-26 17:23] #2735 closed

[2021-09-26 17:23] #2721 closed

[2021-09-26 17:25] #2514 closed

[2021-09-26 17:25] #2417 closed

[2021-09-26 17:25] #1986 closed

[2021-09-26 20:55] florian-hoenicke commented on #3328
At the moment there are more important things to work on. Let's reopen this once we see the demand.

[2021-09-27 00:09] #2373 closed

[2021-09-27 02:00] numb3r3 commented on #2749
This feature involves deleting local files, which is very dangerous. I would like to close this issue first.

[2021-09-27 02:00] #2749 closed

[2021-09-27 02:17] gaocegege commented on #3378
Please @gaocegege when the PR is ready to review.

[2021-09-27 03:18] gaocegege commented on #3334
I am wondering if we could use Kubernetes built-in readiness probe?

[2021-09-27 04:17] deepankarm commented on #3233
@gaocegege thanks for looking into this issue. JinaD doesn't support dind and we rely on mounting `/var/run/docker.sock` so that containers created by JinaD container can talk to the dockersock on host OS.

With #2971, I was trying to solve an issue with a particular MacOS version, which didn't seem to generalize to all `MacOS` + `docker versions`. Also we heavily rely on docker networking (which

[2021-09-27 05:28] JoanFM commented on #3334
Actually, the readiness probe of Kubernetes should be changed by default to check the status endpoint
 the point here is if jina local to the user would have access to this information

[2021-09-27 05:29] JoanFM commented on #3328
Closing until demand arises

[2021-09-27 05:29] #3328 closed

[2021-09-27 06:36] maximilianwerk commented on #2906
I am not sure, if I get you question. The target of this issue is to build the `grid_sampler_search_space` automatically in the test I mentioned above. For `UniformParameter`, `LogUniformParameter` and `DiscreteUniformParameter` you need to sample some values (ideally in a reliable way) such that you get a discrete list of values. The `ExecutorAlternativeParameter` is not easily combinable with th

[2021-09-27 07:04] #3107 closed

[2021-09-27 07:04] #2814 closed

[2021-09-27 08:06] deepankarm commented on #2745
It is already added in https://github.com/jina-ai/jina/blob/618d7d2bde6b449f420956f00f4268909d471159/tests/distributed/test_workspaces/test_remote_workspaces.py#L36-L44

[2021-09-27 08:06] #2745 closed

[2021-09-27 08:23] amino19 commented on #2814
@JoanFM: Is that done by someone?
Previously, participating in MLH hackathons, we face a lot of these issues for installation.

I hope, you will take some major actions towards this, _without ignoring!!!_
Also, if the video has already been there on YT platform, pl share it as a reference in README.md.

Thanks! :slightly_smiling_face:

[2021-09-27 09:35] JoanFM opened #3485 "Add getter and setter for `buffer` in `DocumentArray` for completion"
**Describe the feature**
We have getters and setters for some attributes. (Content and embeddings), but we are missing `buffers` as the only `left` attribute

[2021-09-27 11:49] #3480 closed

[2021-09-27 13:15] rajathpatel23 commented on #3378
Thank you @JoanFM , I will work on this one and send in for review once done

[2021-09-27 13:36] saurav1869 opened #3487 "Kubernetes - NotImplementedError in K8sPod.host"
Hey everyone,

I was trying to run an example from this [Jina on Kubernetes page](https://docs.jina.ai/advanced/experimental/kubernetes/#clip-image-encoder). I am unable to start the server. I am getting this error every time.

[code]
I changed the below line to return `self.args.host` which allows the server to start but still client doesn't work as expected.
https://github.com/jina-ai/jina/blob/

[2021-09-27 13:42] JoanFM commented on #3487
Hello @saurav1869 ,

this error has been removed in a recent PR #3479, but this error should be harmless and the Flow should have started with no problem.

[2021-09-27 14:15] CatStark opened #3489 "Align Jina native Replicas/shards with K8s style"

[2021-09-27 14:55] JoanFM opened #3492 "Use `ref_id` in NamedScore in `.match` operation"
https://www.notion.so/JoanFM-dbbffb32465445199c8ef820cd75e26b

[2021-09-27 15:52] saurav1869 commented on #3487
Hi @JoanFM, Thanks for replying. Yes, it works :+1:

[2021-09-27 15:52] #3487 closed

[2021-09-27 16:32] JoanFM opened #3495 "Kubernetes (Completion): Handle inspect pods in Kubernetes and GRPCDataRuntime"
**Describe the feature**
For completion and closing the gap between Pods and Kubernetes, it would be nice to have `inspection` pods in Jina when using Kubernetes also supported.

The first idea should be to test them with `GRPCDataRuntime`, since the fact that they sometimes send nowhere may be problematic.

[2021-09-28 07:16] tadejsv opened #3496 "Pass `dump_path` during reload as normal initialization argument to the executor"
Currently, this is passed in `kwargs['runtime_args']`, which means that in executor (indexer) initialization you have to use this non-intuitive setter
[code]

it would be much better if reload simply passed this as a normal argument. This would help better keep the separation between "naive" executor code and jina internals.

[2021-09-28 10:38] CatStark commented on #3466
Hi @CallmeMehdi great that you are interested on this! Could you link the PR to this issue when you start working on it please?

[2021-09-28 11:23] #3413 closed

[2021-09-28 11:59] jacobowitz opened #3505 "Fix port assignment for gRPC and parallel > 1"
If we use a Pod with parallel > 1 and ZMQ, the worker peas are connecting to the head pea on a single address to receive work.

Assume the following Flow:
`Flow().add(name='r3',  parallel=2)`

The relevant log lines will be like this:

This means pea-0 and pea-1 will both connect to tcp://0.0.0.0:38603. This works fine for ZMQ, but breaks with gRPC as we dont to this backwards connection there. Fo

[2021-09-28 12:57] #3393 closed

[2021-09-28 13:16] winstonww opened #3507 "Update dam and access dam embeddings"
When working with one of the EAPS, we face a difficulty to access `embeddings` after updating the `DocumentArrayMemmap` object. Issue can be reproduced with following toy script:

[code]

[2021-09-28 13:16] winstonww commented on #3507
CC @numb3r3

[2021-09-28 13:33] JoanFM commented on #3507
This is an expected behavior. `embeddings` fast access assume that `all` embeddings are of the same shape, otherwise `numpy` fails to stack them.

[2021-09-28 13:33] #3507 closed

[2021-09-28 13:44] JoanFM commented on #3507
Look at the warning.

[code]

[2021-09-28 13:48] jacobowitz commented on #3505
Actuallly `parallel` is not supported atm with gRPC outside k8s. This will be addressed by the refactoring of the network side, not as part of this bug

[2021-09-28 14:33] jacobowitz opened #3508 "Verify terminate behavior of runtimes"
We want all runtimes (ZEDRuntime and GrpcDataruntime) to finish processing data requests before terminating. So if a runtime receives a terminate signal, it should stop accepting new requests and finish all pending requests. This way we lose no messages. Of course there needs to be some timeout we wait for this pending messages to be procssed.

We believe this should already be implemented, but wa

[2021-09-28 14:55] #3140 closed

[2021-09-28 15:13] JoanFM commented on #3508
Validate against regular terminate signals and against SIGKILL and SIGTERM signals sent by OS as this should be a great proxy for what K8s actually does

[2021-09-28 15:15] JoanFM commented on #3272
Closed by #3275

[2021-09-28 15:15] #3272 closed

[2021-09-28 16:06] florian-hoenicke commented on #3420
Thanks for raising the issue. It will be handled in this ticket:
https://github.com/jina-ai/jina/issues/3334

[2021-09-28 16:06] #3420 closed

[2021-09-29 06:54] #3139 closed

[2021-09-29 11:10] sauravgarg540 commented on #3467
Hey @JoanFM, I have a doubt regarding the aim of this issue, it would be great if you can clarfy it for me

- while sorting in ascending order, the implementation should get the `top_k`  smallest values sort them and keep it at the top while the rest of the list may not be sorted.

Did I get the issue right?

[2021-09-29 12:50] JoanFM commented on #3467
Yes, this is the idea, and for descending it applies the other way around

[2021-09-29 12:57] #3360 closed

[2021-09-29 14:32] tadejsv opened #3520 "Scores with value 0 are not printed"
https://www.notion.so/tadejsv-c7a98ea294804ebfa7c6594c78005dac

[2021-09-29 14:45] bwanglzu opened #3521 "specify channel axis in blob converters"
`blob` property are used for images, it's nice to have if we could define which axis to put channel, since

`pytorch` and `paddle` supports shape `Batch, Channel, Height, Width` while `tensorflow` supports `Batch, Height, Width, Channel`.

When doing the conversion, we expect:
[code]

[2021-09-29 14:52] bwanglzu commented on #3521
close since it already exist called `color_axis`

[2021-09-29 14:52] #3521 closed

[2021-09-29 15:12] JoanFM commented on #3520
I believe we had a discussion about wether or not add this option in the dict,

`including_default_value_fields`, that would fix this, but it may have some affection over our API.

@hanxiao do u recall such a discussion?

[2021-09-29 15:49] imvansh25 opened #3522 "Error : receive an empty stream from the client! please check your client's inputs, you can use "Client.check_input(inputs)"
**Describe the bug**
Getting above mentioned error while trying to find k- simmilar images

**Describe how you solve it**

**app.py**
[code]

**helper.py**

[code]

**my executer.py**

[code]

---

**Environment**
jina --version-full
- jina 2.1.2
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.19.5
- protobuf 3.17.3
- proto-backend cpp
- grpcio 1.39.0
- pyyaml 5.3.1
- python 3.

[2021-09-29 17:23] CallmeMehdi commented on #3466
@CatStark Yes surely, as soon as I finish an initial PR I will link it here

[2021-09-29 18:00] JoanFM opened #3524 "CD is broken. Tests seem to be skipped"
CD seems broken since many  steps seem to be skipped and still show success

[2021-09-29 20:32] JoanFM opened #3525 "CI Kubernetes test must use test-pip base image"

[2021-09-29 21:51] JoanFM commented on #3525
For this a local temporal docker registry will need to be created

[2021-09-29 21:54] #3187 closed

[2021-09-29 22:00] JoanFM commented on #3334
To clarify the scope. No need to use http for readiness. Readinesa should be checked by hitting the control port of the Runtime. Liveness will be equivalent but if a problem or bottleneck is encounteres we will find a solution

[2021-09-30 02:46] nitinkumartech commented on #929
@jmferrete @hanxiao Just curious if you guys were able to solve the issue you were having? We were planning to use this framework to build a neural search on top of our dataset (2 million PDFs). Can you please share your findings/recommendations for adapting jina over a dataset this large?

[2021-09-30 06:22] imvansh25 commented on #3522
Hey @JoanFM ,
Yes the document is getting printed.
Please elaborate on suggested checks.

[2021-09-30 06:31] winstonww opened #3527 "Append and delete DAM"
We encountered the following issue when working with the EAPs. First we insert some docs to our indexer, then we empty the index. We append some docs again, then we perform a search. However, this raises a `KeyError`.

I tried to simplify the case and created the following example to reproduce the issue:

[code]

Thank you.

CC @numb3r3

[2021-09-30 06:59] #3464 closed

[2021-09-30 08:18] JoanFM commented on #3522
Hey @imvansh25 ,

First issue I see is that `query_generator` receives a wrong kwarg, is `targets` and not `target`. If there is another issue I cannot tell because I do not have access to the data in `download_data`

[2021-09-30 10:04] imvansh25 commented on #3522
hi @JoanFM , made some changes in the code based on your inputs. got this error now.

[code]

[2021-09-30 10:21] imvansh25 commented on #3522
@JoanFM  Also, can you please help in finding out the following problem:-
1. How does Jina support cloud storage like AWS and GCP.
2. How to handle million's  of images in Jina AI.

[2021-09-30 11:00] winstonww opened #3531 "Use urllib.parse.quote to escape special characters"
Currently, converting Documents with uris containing spaces to buffer/blob will not work. It would be great if this logic can be added to jina.

[2021-09-30 11:12] JoanFM commented on #3522
Can u share the changed code?

[2021-09-30 11:18] JoanFM opened #3532 "k8s-connection-pool parameter does not seem to be properly set in Runtimes"

[2021-09-30 11:18] JoanFM opened #3533 "K8sGRPCConnectionPool does not seem to work with minikube"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-09-30 11:42] imvansh25 commented on #3522
PS : here i am only testing **f.index**.

**app.py**

[code]

**helper.py**

[code]
**executer.py**
[code]

[2021-09-30 11:42] winstonww commented on #3527
Clearing assignee so that anyone who would like to take up in this issue in the next week can work on it, thanks

[2021-09-30 11:58] #3524 closed

[2021-09-30 14:12] #3527 closed

[2021-09-30 15:53] jacobowitz opened #3536 "Kubernetes dependency not installed in Executor images"
Since 2.1.5 jina is broken in K8s, because the kubernetes dependency is missing from all executor images.
This is because kubernetes is only part of `standard` and not part of `core`.

We either need to install `standard` in hubble or add kubernetes to `core`.

[2021-09-30 17:44] JoanFM opened #3538 "UserWarning: ignored unknown argument: ['2']. when adding `prefetch` to `Flow`"
https://www.notion.so/JoanFM-91cf68a5b1d04f00a33ba0f6e3de7ee7

[2021-09-30 17:50] JoanFM commented on #3536
I do believe most of our `Executors` use `standard`

[2021-09-30 17:53] tadejsv commented on #3536
@JoanFM no, they all use `perf`

[2021-09-30 18:07] JoanFM commented on #3536
and perf does not use standard?

[2021-09-30 19:13] JoanFM opened #3539 "turn wait_start_success under BasePods into async instead of threads"
I believe since moving the wait for success from thread based to async would help decreasing the problems in our tests.

It would also help capture properly exceptions from the main process.

I think in tests letting daemon threads that may not be properly terminated can be problematic

[2021-09-30 19:32] tadejsv commented on #3536
No, it goes like this: `core < perf < standard`

[2021-09-30 19:38] JoanFM commented on #3536
We can add then to perf, but @mapleeit this is an example of what was discussed the other day

[2021-10-01 06:52] #3525 closed

[2021-10-01 07:27] jacobowitz opened #3543 "Improve prefetching"
If an async client is slow to yield requests (with prefetching > 1) this will also slow done the response streaming. Requests are processed by the flow as they come in via the async iterator, but they results are only streamed back to the client once the input iterator is complete or the prefetching limit has been hit.

[2021-10-01 07:29] jacobowitz opened #3544 "Http client not streaming requests"
The HttpClient is not using streaming correctly together with input generators.

See this test code

[code]

[2021-10-01 07:29] deepankarm opened #3545 "Improve env var support with JinaD"
With jina-ai/jina#3251, we added support to pass environment variables to JinaD. But it has couple of limitations.

The env vars passed to a remote Flow are only accessed & processed in main JinaD and not passed to partial-daemon. So if in the executor code, we are trying to access an env var (which should ideally be passed from the Flow), it fails.
Passing env vars for remote Executors. This must

[2021-10-01 08:10] bwanglzu opened #3546 "varies errors in embeddings setter"
note: this happens sometime, for the `embeddings` setter in `da` and `dam`:

context: worked with @tadejsv on refactoring executors, we set:

[code]

(previously it was a for loop, set `embedding` one by one)
different errors pop-up, for example:
1. [TypeError('embedding is in unsupported type tensorflow.python.framework.ops.EagerTensor')](https://github.com/jina-ai/executors/runs/3753742753)
2. [

[2021-10-01 08:51] #3536 closed

[2021-10-01 08:52] JoanFM opened #3547 "Proper and more extended unit test of K8sPod."
https://www.notion.so/JoanFM-346031aee947446d81a0650d8efa81e3

[2021-10-01 09:53] JoanFM commented on #3546
Closing as the problem is the type of input

[2021-10-01 09:53] #3546 closed

[2021-10-01 11:16] gauthamsuresh09 commented on #3538
Hi @JoanFM, I would like to work on this issue

[2021-10-01 11:20] JoanFM commented on #3538
Hey @gauthamsuresh09 , It would be great if u can help here. I will assign to you the issue and u can link to this when you open the PR.

Thank you very much!

[2021-10-01 11:24] gauthamsuresh09 commented on #3538
Sure, thanks @JoanFM

[2021-10-01 11:29] #3485 closed

[2021-10-01 14:20] jacobowitz commented on #3543
The first point (disabling prefetching) actually already works, it should be set to `1` and it will behave as expected. The werid behaviour happens in the client when blocking the client. It works with an async client. See [this pr ](https://github.com/jina-ai/jina/pull/3552)for more details

The second point is valid though:
If an async client is slow to yield requests (with prefetching > 1) this

[2021-10-02 14:20] Anushka-codergirl commented on #1161
Interested!

[2021-10-02 15:35] JoanFM opened #3556 "refactor: move runtime to a module and not inside peapods."
https://www.notion.so/JoanFM-a75c6a8a2fd24d7bb74922c77ef8f66b

[2021-10-03 11:38] deepankarm opened #3563 "Requests streaming broken for `websockets` client"
**Describe the bug**
Continuation to https://github.com/jina-ai/jina/issues/3544, for `websockets` all responses are accumulated before the below line, although the server has sent all the responses. https://github.com/jina-ai/jina/blob/962be0403d38d1c92468806cf6fbf721a087fa5c/jina/clients/base/websocket.py#L78-L84

There should be 2 changes to fix this
1. After #3562, adapt `WebSocketBaseClient`

[2021-10-03 13:25] m4rtinkoenig commented on #3532
Hi @JoanFM, I would like to work on this issue. Could you describe the issue in more detail?

[2021-10-03 17:53] JoanFM commented on #3532
Hey @m4rtinkoenig, the problem seems to be that whenever the K8sPod receives k8s_connection_pool parameter, the actual runtime running in Kubernetes does not seem to use it. I would check how K8sPod creates the arguments for the different commands to run inside Kubernetes.

[2021-10-03 18:37] Anthony00107 commented on #3563
Approve **_bypass_**

[2021-10-04 06:45] cristianmtr opened #3566 "replicas: sometimes returns empty results"
This user has an issue with dump-reload that I can reproduce. It seems like something is indeed broken. I randomly get either empty results or full results.

I've fixed all existing issues in his original repo and still the issue is there

Check the repo here and follow the guide in the README to reproduce it https://github.com/jina-ai/reproducing_replicas_shards_issue

Original thread here: https

[2021-10-04 07:46] CatStark opened #3568 "CD is broken"

[2021-10-04 08:37] cristianmtr commented on #3566
Some further investigation:

- logged id(self) within the AnnoySearchers to log the memory references. Seems like the ones that are returning empty results are the same as the original Searchers, before rolling update. Seems rolling update is not removing them.

[2021-10-04 08:38] CatStark opened #3569 "Error while running two encoders in parallel"
Error:

helper.py", line 281, in wrapper
    with shelve.open(cache_file) as cache_db:
  File "/usr/lib/python3.8/shelve.py", line 243, in open
    return DbfilenameShelf(filename, flag, protocol, writeback)
  File "/usr/lib/python3.8/shelve.py", line 227, in __init__
    Shelf.__init__(self, dbm.open(filename, flag), protocol, writeback)
  File "/usr/lib/python3.8/dbm/__init__.py", line 95, in op

[2021-10-04 09:26] alexcg1 commented on #1161
@Anushka-codergirl go for it!

[2021-10-04 10:50] cristianmtr commented on #3566
Learnings:

do NOT assign the Flows to Flask's `app` variable. It is not thread-safe.

See reply in our community slack [here](https://jina-ai.slack.com/archives/C0169V26ATY/p1633344557391200?thread_ts=1632993367.364600&cid=C0169V26ATY)

[2021-10-04 10:50] #3566 closed

[2021-10-04 13:39] bwanglzu commented on #3568
fixed in #3572, closing

[2021-10-04 13:39] #3568 closed

[2021-10-05 07:14] CatStark commented on #3408
Hi @jmizgajski

Did the hints that the team provided help you? Or you need any more details on our side?

[2021-10-05 08:02] JoanFM opened #3579 "(k8s) add livenessProbe"
**Describe the feature**
Add livenessProbe to Executors in k8s templates, and make sure Jina works well by having tests forcing replicas to go down.

The test could be:

- Have a K8sPod with an executor very slow to load
- This executor dies when a specific document content is passed,
- Pass it as many as replicas and then see that after all are killed ConnectionPool says no replica is available

[2021-10-05 08:03] JoanFM opened #3580 "(k8s) ConnectionPool check readiness of replicas"

[2021-10-05 10:05] CatStark opened #3582 "Docs on sharding/replicas"

[2021-10-05 13:48] shixinglingguihua opened #3584 "windows10/py3.8 error in jina demo"
**Describe the bug**

** here is min bug
envs:
sys: window10
python: python==3.8 installed from anaconda
jina: jina version is 2.1.5 <= pip install -u jina& pip install "jina[demo]"

while run 【jina hello fashion】 in cmd, screen print some errors after the python thread download fashion-mnist data：
【⠹ 0/4 waiting executor0 executor1 executor2 gateway to be ready... gateway@5736[E]:NotImplementedEr

[2021-10-05 14:14] JoanFM commented on #3584
Hey @shixinglingguihua, thanks for reporting the bug. Isn't there more information in the stacktrace that can help us to find the root of the problem?

[2021-10-05 14:28] JoanFM opened #3586 "Run nightly tests for 3.8 and 3.9 on Linux"
https://www.notion.so/JoanFM-51e21f33cf744c8ebadf11a5fc17fda8

[2021-10-05 14:48] gauthamsuresh09 opened #3587 "Support for Hugging Face Datasets"
**Describe the feature**
This feature is to integrate Hugging Face datasets library with Jina. This allows users to easily use datasets from Hugging Face datasets hub  (https://huggingface.co/datasets) in Jina.

**Your proposal**
I have created a base implementation as a `Document` generator. The method works similar to `from_csv`
 generator but allows users to provide additional arguments to the

[2021-10-05 15:59] #3544 closed

[2021-10-06 00:09] #2412 closed

[2021-10-06 10:49] JoanFM commented on #3539
Approach has also other problems

[2021-10-06 10:49] #3539 closed

[2021-10-06 13:36] deepankarm opened #3594 "Allow wait forever in `JinaDClient` (set timeout=-1)"
Currently JinaDClient has a default timeout of 10mins, which might not be enough if a Flow downloads large models/pulls docker images and internet speed is low.

[2021-10-06 13:37] JoanFM commented on #3594
I think if this option should better be properly logged and be set via parameter. Waiting forever as default behavior seems dangerous

[2021-10-06 14:21] JoanFM opened #3596 "`JinaD` adaptation to handle GPRCDataRuntime"
https://www.notion.so/JoanFM-6b77782900cf4e769ce5c9bddd9975ad

[2021-10-06 14:22] JoanFM commented on #3594
Are u sure we want this feature @deepankarm ?

[2021-10-06 15:51] JoanFM opened #3598 "Change the way Runtimes are terminated"
**Describe the feature**
To continue with the view that Jina should learn how Kubernetes handles microservices, we have seen that `K8s` kills the runtimes running inside the Containers by emitting `TERMINATE` signals to the Pod as shown here (https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace)

This should be the way `Pea` terminates the s

[2021-10-06 15:54] #3334 closed

[2021-10-06 18:17] #3495 closed

[2021-10-07 07:35] CatStark commented on #3508
Closed by 3598

[2021-10-07 07:35] #3508 closed

[2021-10-07 10:48] JoanFM opened #3603 "parallelize shards rolling update"
https://www.notion.so/JoanFM-612d792df6bd4d3386c356d8674e315a

[2021-10-07 10:53] JoanFM opened #3604 "stress test K8s deployments"
**Describe the feature**
It would be cool to validate what would be the behavior of Jina in the presence of lost replicas in Kubernetes.

The test could be:

- Have a K8sPod with an executor very slow to load

- This executor dies when a specific document content is passed,

- Pass it as many as replicas and then see that after all are killed ConnectionPool says no replica is available

Work to be

[2021-10-07 12:58] JoanFM opened #3606 "Rolling update should generalize to any argument of the updated Executor"
**Describe the feature**
Rolling update is overfitting to `dump_path` while it could be used to update any Executor.

Rolling update from Flow should accept `arguments` for any Executor.

[2021-10-07 13:00] JoanFM opened #3607 "Expose Rolling Update method to `K8sPod`."
**Describe the feature**
This should use kubeclient to call rolling udpate for the real kubernetes pods in the cluster.

[2021-10-08 08:09] JoanFM opened #3610 "investigate flaky tests `daemon` `distributed`"
**Problem description**
These tests have been failing very often and with no apparent reason, plus not reproducible in local:

`tests/distributed/test_topologies*`

[2021-10-08 11:18] JoanFM opened #3614 "Changes to adapt to FastAPI >= 0.70.0"
Describe the feature
Due to failing tests/daemon/unit/api/endpoints/partial/test_flow.py::test_flow_api in CI, we found that the reason was the new release of FastAPI.

What we found is that the stack frame that we rely on to find the correct yml files to load did not mantain the tests... folder so I guess the frame is not mantained in a different process.

This is the symptom, and we limited the

[2021-10-08 11:47] JoanFM commented on #3610
[code]

[2021-10-08 12:50] Kavan72 opened #3617 "Resource temporarily unavailable: '/home/kavan/.jina/disk_cache.db' when you run flow in thread"
When i try to run flow in multiple threads then i'm getting this error

[code]

During handling of the above exception, another exception occurred:

[code]
Reproduce an issue:-

[code]
from threading import Thread

[code]

[2021-10-08 12:56] JoanFM commented on #3617
Hello @Kavan72 ,

Thanks for reporting this issue. May I ask what is the ultimate intention of this code? Why do not use the Flow with the `parallelized` encoders?

[2021-10-08 13:30] JoanFM commented on #3617
Thanks, currently our caching mechanism in `hubble` helper does not lock the `cache` file. Would u be able to provide a fix by providing a global file lock for the cache file?

[2021-10-08 13:47] tacoelho commented on #3531
Can I work on this?

[2021-10-08 14:41] Kavan72 commented on #3617
i guess, Race condition is happening here like each thread is trying to access that lock file at a same time.

[2021-10-08 14:59] jacobowitz opened #3619 "Refactor shard assignment in CompoundPod"
At the moment we have to call CompoundPod.assign_shards() both in __init__() and in start() .  We found this as part of [this PR](https://github.com/jina-ai/jina/pull/3535).
This is because [we remove the shards](https://github.com/jina-ai/jina/blob/master/jina/peapods/pods/compound.py#L170) after leaving the shards we remove the shards context.

The CompoundPod init and enter/exit functionality s

[2021-10-09 06:50] hanxiao opened #3620 "summary of weird behaviors on multi-Flow/Executor racing"
**Describe the bug**

While trying to reproduce jina-ai/jina#3617 I found some weird behaviors of the Flow, I just list them here, and will let the team pick them up.

Some weirdness is definitely a bug, some may be due to a weird way of using it. Either way, they have to be documented or fixed.

- MyExecutor29 on JinaHub is an empty BaseExecutor that I uploaded for this test. It will simply print

[2021-10-09 06:50] hanxiao commented on #3617
i can't reproduce in #3620

[2021-10-09 07:42] Kavan72 commented on #3617
try to delete `.jina` dir from home and then try

[2021-10-09 12:45] jacobowitz commented on #3610
I've added a debug PR for ci: https://github.com/jina-ai/jina/pull/3622/checks?check_run_id=3846544273

[2021-10-09 16:46] #3610 closed

[2021-10-09 18:35] #3466 closed

[2021-10-10 20:10] m4rtinkoenig commented on #3532
Hi @JoanFM, thank you for your explanation. I ran the tests in tests/k8s/test_k8s.py and logged the yaml that is created in kubernetes_tools.create().

Here is an example:
[code]

--k8s-connection-pool is present in the args, but I suppose thats not the way kubernetes is told to use pooled connections, right?

Does that circle the problem or should I take inspect the actual kubernetes runtime?

Th

[2021-10-10 20:13] JoanFM commented on #3532
This is correct, the problem I think is that the parameter does not seem to be really overriden if it is set to False

[2021-10-10 20:35] m4rtinkoenig commented on #3532
Ok I see. Is it also correct, that we should create the 'connection-pool-role' and 'connection-pool-role-binding' pods only if k8s-connection-pool is true or is that unrelated?

[2021-10-11 07:49] #3299 closed

[2021-10-11 07:56] hanxiao commented on #3617
i still can't reproduce, tho they did throw errors but the errors are different than yours. Let me ask our team to reproduce and confirm.

[2021-10-11 08:10] #3619 closed, assigned to nobody

[2021-10-11 08:35] JoanFM opened #3625 "refactor Kubernetes documentation to align with the aligned Flow interface"

[2021-10-11 08:53] CatStark commented on #3378
Hi @rajathpatel23 , so cool you want to contribute with us :D is there anything we can help you to get started?

[2021-10-11 11:26] #3606 closed, assigned to nobody

[2021-10-11 13:18] rajathpatel23 commented on #3378
Hi @CatStark , I am working on this issue. I tried creating a branch, pushing it to the repo here, however I have not been able to push it fully. I am new to open source contribution and hence would like to request help

[2021-10-11 14:18] rajathpatel23 commented on #3378
Hi @CatStark , I have opened an MR for this issue. however, I was not able to reproduce the issue that is seen here, however I tried checking the syntax for `fluent.conf` files, and it seems we needed to parse `workspace` as `log_id` as environment variables

[2021-10-11 14:54] JoanFM opened #3634 "Add step in CI to make sure `all release docker images` can be built from changes"
Describe the bug
The release of 2.1.6 came with the surprise that standard and core images were not published because they fail to be built due to the addition of a new dependency to those tags.

This basically invalidates the release.

We should make sure this never happens again by adding a step in the CI that at least builds them without pushing to docker registry

[2021-10-11 15:25] JoanFM opened #3636 "sort top_k does not handle proper ties."
**Describe the bug**
When `sort` top_k parameter is used, when there are 2 `Documents` that should have the same order, the `heapify` function tries to compare `DocumentProto` which leads to error

**Steps to reproduced**

[code]

[2021-10-11 17:25] jacobowitz commented on #3532
We want `k8s-connection-pool` to be true by default, so lets go with your `k8s-no-connection-pool` suggestion @m4rtinkoenig
Please also update the docs where necessary

[2021-10-11 18:57] #3636 closed

[2021-10-11 21:00] florian-hoenicke opened #3640 "Kubernetes - reduce logging"
Currently, the logging is too verbose when using the kubernetes deployment.
Please change it to always replace the current line with the new status update.

[code]

[2021-10-11 21:31] JoanFM commented on #3617
Hello @Kavan72 do you plan to work on this?

[2021-10-11 21:40] JoanFM commented on #3584
https://github.com/tornadoweb/tornado/issues/2608

[2021-10-11 21:55] JoanFM commented on #3522
Hello @imvansh25 ,

Would it be possible for you to share some small example of ur data and the structure of the project? I am not sure what is the index generator trying to do

[2021-10-11 21:59] JoanFM commented on #3442
When changed, make sure backward compatibility is mantained

[2021-10-11 21:59] JoanFM commented on #3442
I am  not sure rolling restart is a good name, since u can run it with a different set of arguments

[2021-10-12 10:59] joeyouss opened #3641 "Write a blog on - "Getting started with Jina !""
**Describe your proposal/problem**
--- The contributor needs to make a project using Jina and describe in the blog how he/she started with Jina and how they built the project !

Good blogs written under this topic will be given Swag !

[2021-10-12 11:15] joeyouss opened #3642 "Write a blog on - "what is neural search and how does Jina use neural search?""
Jina uses the idea of neural search. But how does it do this? . If you are a beginner, we recommend the video - https://www.youtube.com/watch?v=Ex6vYQoTbdE&t=94s to learn about neural search and Jina.
As a contributor , you need to write a blog on the topic explaining your understanding of neural search and Jina.

How do I make a contribution to this issue?
Publish your blog on a blogging website

[2021-10-12 11:24] joeyouss opened #3643 "Write a blog on - "Jina and open source - what actually Jina is""
New to Jina? Looking for learning about Jina? Why not share your journey with others !!
Any beginner can get started here - https://github.com/jina-ai/jina and read our documentation on - https://docs.jina.ai

Run our examples - https://github.com/jina-ai/jina#run-quick-demo which will help you understand how it all works !

Next, document your journey in a blog and write down your understanding o

[2021-10-12 11:28] joeyouss opened #3644 "Write the documentation for meme search project created using Jina"
At Jina, we build crazy fun things using Jina and one such example is the [meme search. ](https://examples.jina.ai/memes/). Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !. How good is that?. But, building a project needs more than just implementation and documentation is an integral part of any project.

Hence, we are looking for contributors w

[2021-10-12 11:33] joeyouss opened #3645 "Project idea : Find your celebrity twin image search - build using Jina"
At Jina, we build crazy fun things using Jina and one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue for you.

**Idea:**
Create a project "find your celebrity twin".

**

[2021-10-12 11:50] joeyouss opened #3646 "Build using Jina : Match the manga - capture the expression and see which manga character fits you"
Calling out all the anime fans !
At Jina, we build crazy fun things using Jina and one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue for you.

**Idea:**
Create a projec

[2021-10-12 11:53] joeyouss opened #3647 "Build using Jina : Build a search for weird data (not audio/text/image/video) but any other data!"
Put on your creative hats because we got a search engine for the future.
At Jina, we build search engines of all kind, one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue

[2021-10-12 12:07] joeyouss opened #3650 "Build using Jina : Shazam using Jina - enter an audio and search which song is it !"
At Jina, we build crazy fun things using Jina and one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue for you.

**Idea:**
Create a search hinge for songs using Jina

**Wh

[2021-10-12 12:14] joeyouss opened #3651 "Feature improvement : Meme search - support multilingual search for memes"
Put on your creative hats because we got a search engine for the future.
At Jina, we build search engines of all kind, one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue

[2021-10-12 12:24] joeyouss opened #3652 "Build using Jina : Product look-alike - enter a product, search for similar products"
At Jina, we build crazy fun things using Jina and one such example is the[ meme search. ](https://examples.jina.ai/memes/)
Meme search allows you to upload a meme of your choice and renders many similar memes to your meme !.

If you are interested in getting your hands on coding with Jina and creating something, this is the issue for you.

**Idea:**
Create a Pet image classification!.

**What It d

[2021-10-12 12:33] CatStark opened #3653 "test notion bot"

[2021-10-12 12:47] JoanFM commented on #3492
If u check in types module, there is neural ops file that adds match capacity to DocumentArray objects.

[2021-10-12 16:12] codeswithroh commented on #3643
I am interested

[2021-10-12 16:26] joeyouss opened #3656 "Blogs for Jina - have an idea ? share it, write it !"
We at Jina are fans of the written word. And , if you are a beginner in neural search and OSS, what better than starting out with documentation and blogs ?
How to make a contribution?

Comment below this issue the topic you have in mind for writing a blog. The topic should revolve around - neural search/Jina/Jina-OSS etc. (basically about Jina)

What can it be about? It could be a tutorial or abou

[2021-10-12 18:30] JoanFM opened #3657 "Add option to add returned Dict to Request in requests decorator of Executors"

[2021-10-12 19:16] codeswithroh opened #3658 "The link generated for visualizing embedding is not working"
While following the documentation of Jina, I was trying [this](https://docs.jina.ai/fundamentals/document/document-api/#visualize-document). But the link generated to watch the visualization is not working.

- Steps to reproduce the problem
[code]
- After compiling a link is produced which on opening shows this

![Screenshot 2021-10-13 at 00-45-09 https mermaid ink](https://user-images.githubuserc

[2021-10-13 06:48] alexcg1 opened #3661 "from_csv not robust for real-world datasets"
**Describe the bug**
I'm having major trouble with `from_csv`.

Context: I'm writing tutorial for build simple text search engine with Jina + Hub. I don't want to include a whole section of processing datasets, hence just passing a CSV into `from_csv`. I tried with meme dataset (converted tsv) before, and now using [superhero dataset](https://www.kaggle.com/jonathanbesomi/superheroes-nlp-dataset)

[2021-10-13 07:52] codeswithroh opened #3662 "The server is not getting started while following the Fuzzy grep example from the docs"
While following [this](https://docs.jina.ai/tutorials/fuzzy-grep/#fuzzy-grep-in-30-lines) from the docs, I noticed that the server is not getting started.

After running this piece of code
[code]
The output is stuck at this for over `30 mins`
[code]
The basic `searching` method is working from the `Swagger UI`  that opens at `localhost:12345` but since, the server is not completing, I am not able

[2021-10-13 08:01] JoanFM opened #3663 "Enable Runtime to be terminated via SIGTERM"
**Describe the feature**
K8s sends terminate signals to Containers, so our Runtimes should make sure they are gracefully terminated when this happens

Part of #3598

[2021-10-13 08:01] JoanFM opened #3664 "Use SIGTERM to terminate Runtimes"
**Describe the feature**
Once #3663 is finished, Pea should use this new functionality to change the `close` method.

Part of #3598

[2021-10-13 11:29] jacobowitz opened #3665 "peas_hosts parameter not working correctly"
The argument `peas_hosts` is currently not working correctly, at least in some cases (local Flow, multiple peas_hosts).

E.g. this Flow won't work `f = (Flow()
     .add(name='distributed_replicas', replicas=2, peas_hosts=['10.0.0.1', '10.0.0.2']))`

There are multiple problems with this, the biggest conceptual problem is that remote peas cant connect back to a local head/tail.
We should probably

[2021-10-13 12:39] CatStark opened #3666 "Creative title"
Cool description

[2021-10-13 12:41] #3666 closed, assigned to nobody

[2021-10-13 13:15] winstonww opened #3668 "K8s gateway image name"
Since I upgraded jina to 2.1.6, when deploying a Kubernetes flow, the gateway image is not found because it uses `jinaai/jina:2.1.6-py38-standard`, which no longer exists (replaced by `jinaai/jina:2.1.6-py38` I think). Might have to update the image name in `_deploy_gateway` as a result?

[2021-10-13 13:39] #3668 closed, assigned to nobody

[2021-10-13 15:46] JoanFM commented on #3662
Also u can try to run the example by installing Jina from the version on this PR #3670 . It should get more info on the observed error

[2021-10-13 21:33] joeyouss commented on #3643
hey @codeswithroh this looks great !!, do you need an image for blog?

[2021-10-14 06:52] #3658 closed, assigned to nobody

[2021-10-14 06:53] #3640 closed

[2021-10-14 07:18] JoanFM opened #3676 "Make Jina compatible with `PyYAML>=6.0`."
**Describe the feature**
The recent update of `PyYAML` broke our CI. We should make Jina compatible with the latest PyYAML version

[2021-10-14 07:20] JoanFM commented on #3676
The reason of the incompatibility is this:

```https://github.com/yaml/pyyaml/pull/561 -- always require `Loader` arg to `yaml.load()```

[2021-10-14 07:36] JoanFM commented on #3298
@florian-hoenicke is this still valid? Can u describe it better?

[2021-10-14 08:27] #3676 closed

[2021-10-14 08:58] #3298 closed, assigned to nobody

[2021-10-14 12:09] #3607 closed, assigned to JoanFM

[2021-10-14 16:40] JoanFM commented on #3620
Summary of observed behavior on my side:

For 4. Cannot see any problem on master, seems to work perfectly fine. (I guess randomization worked, however @jacobowitz found a bug). We should keep randomization but we need to keep it deterministic, so maybe using the `pid`

For 5. I see the exceptions:

[code]

[2021-10-15 09:15] cristianmtr opened #3682 "total_shards not being passed to ContainerRuntime?"
See [conversation](https://jinaai.slack.com/archives/C018F60RBL5/p1634129576017300)

Are we not passing the default runtime_args.pea_id or parallel default of 1 in jinahub+docker? Code in comments

This works

(you need PSQL: `docker run -e POSTGRES_PASSWORD=123456  -p 127.0.0.1:5432:5432/tcp postgres:13.2`)

[code]

This doesn't

[code]

added a line to print parallel in init

[code]

Logs from f

[2021-10-15 09:45] JoanFM commented on #3682
What is the observed behavior? can u post more info and logs?

[2021-10-15 10:10] cristianmtr commented on #3682
[fail.txt](https://github.com/jina-ai/jina/files/7352694/fail.txt)
[success.txt](https://github.com/jina-ai/jina/files/7352695/success.txt)

[2021-10-15 11:27] cristianmtr commented on #3682
`runtime_args`:

[code]

[2021-10-15 15:24] jacobowitz opened #3685 "Boolean arg flags not handled properly in ContainerRuntime"
We have some boolean argument flags like --dynamic-routing and --no-dynamic-routing . This is the problem because the ContainerRuntime tries to infer CLI args from variables, which is not possible here. It doesnt know that --no-dyanmic-routing should be used to set --dynamic-routing to false.

We should revisit those boolean flags.

[2021-10-15 17:06] JoanFM opened #3686 "Separate the parser args that are not applicable to gateways"
**Describe the feature**
Gateway parser gets args from peas, but some of them may not be applicable, which pollutes the __init__ of the Flow and the IDE hints

[2021-10-15 18:00] JoanFM opened #3687 "Flow with protocol `http` weird behavior when passing groundtruths"
**Describe the bug**
When running some evaluation Flows and passing `iterators` that generate tuples to a Flow with http I observed quite weird behavior.

**TODO**

- [ ] Validate the problem by adding integration tests passing gt to Flows with the 3 possible protocols

[2021-10-15 20:17] #3682 closed

[2021-10-15 21:07] #3603 closed, assigned to jacobowitz, JoanFM

[2021-10-16 17:46] ybv commented on #3661
@hanxiao  @JoanFM 👋🏽 I'm new to Jina, and I'd love to help fix this

Based on my investigation, it looks like the dataset has a field, `weight` which [intersects](https://github.com/jina-ai/jina/blob/e969ce296998fa330faf45bbed9d29ef66b22153/jina/types/document/__init__.py#L275) with one of the meta fields on the `Document` , resulting in the following js_dict
[code]

I think this could be resolved

[2021-10-16 19:13] #3547 closed

[2021-10-17 08:58] JoanFM commented on #3657
Closed by #3692

[2021-10-17 08:58] #3657 closed

[2021-10-18 02:54] mapleeit commented on #3217
No response since last time. Close it for now. Feel free to reopen it if have further problem.

[2021-10-18 02:54] #3217 closed

[2021-10-18 07:25] JoanFM opened #3695 "Add evaluation modules to `DocumentArrayLike`"
**Describe the feature**
Add ranking evaluation metrics to DocArrayLike

[2021-10-18 17:03] #3663 closed, assigned to jacobowitz

[2021-10-18 19:42] #3543 closed

[2021-10-18 19:46] #3389 closed

[2021-10-18 19:49] JoanFM commented on #2547
Closing this issue, as it is not valid anymore

[2021-10-18 20:13] JoanFM commented on #3617
Hey @Kavan72, sorry for the delay in the response. I think usinf FileLock on the hubble cache file should be enough.

[2021-10-19 06:56] deepankarm commented on #3584
@shixinglingguihua  @TITC we implemented a fix in #3679. Can you guys retry the demo in your python 3.8 environment? Please update jina to the latest development version using `pip install -U --pre jina`.

[2021-10-19 08:14] JoanFM opened #3706 "test lazy message access on CRPCDataRuntime"
**Describe the feature**
In ZEDRuntime we are testing that message is lazy decompressed, this should be validated for `GRPCDataRuntime`

[2021-10-19 08:19] joeyouss commented on #3656
hey @Parth00010 , thanks for the efforts but jinabox is not in use currently.

[2021-10-19 10:25] Parth00010 commented on #3656
Ohh..should i delete it from the post?

On Tue, Oct 19, 2021, 1:49 PM Jyoti Bisht (Joe) ***@***.***>
wrote:

[2021-10-19 11:02] bwanglzu commented on #3037
i checked the latest jina, now it's working. @gojuukaze fell free to create an issue and ask other questions, I'll close it for now.

[2021-10-19 13:01] JoanFM commented on #3584
Can u check the solution proposed here?

https://github.com/xlwings/xlwings/issues/1315

[2021-10-19 14:00] JoanFM opened #3711 "docs: Create better clarification for shards vs replicas concepts"
**Describe the feature**
We want to clarify even more this concepts

[2021-10-19 14:54] JoanFM opened #3712 "let JinaDRuntime and ContainerRuntime support `Executors` working with `GRPCDataRuntime`"
**Describe the feature**
Before Star Routing and getting rid of ZEDRuntime, it would be good to adapt JinaDRuntime and ContainerRuntime to support GRPCDataRuntime and ZEDRuntime working remotely or in container

[2021-10-20 00:17] #3662 closed, assigned to nobody

[2021-10-20 05:49] Priyanshi-Sharma-142 commented on #3642
https://medium.com/@priyanshi142/neural-search-using-jina-2c17e7a9a482
My blog.

[2021-10-20 07:39] JoanFM opened #3717 "if `send_cancel_to_router` is sent to a down Runtime, it blocks the loop and cannot handle sigterm"

[2021-10-20 08:04] florian-hoenicke opened #3718 "Kubernetes - shared Executors - Research"
Some Executors are highly resource-consuming and should be shared among different Flows.
At the moment, there is no way of having shared Executors within Kubernetes.
Please come up with an Approach by taking the following into consideration:
- we will introduce star routing soon
- sandboxes should be supported which are deployed on a different cluster
- rbac just works within the same namespace

[2021-10-20 08:13] alaeddine-13 commented on #3620
* Multithread Flow with Executor from source using protocol='grpc': `BlockingIOError: [Errno 11] Resource temporarily unavailable`
* Multithread Flow with Executor from source using protocol='http': successful
* Multithread Flow with Executor from source using protocol='websocket': successful
* Multithread Flow with Executor from Docker using protocol='grpc': `BlockingIOError: [Errno 11] Resource

[2021-10-20 08:30] #3620 closed

[2021-10-20 08:33] alaeddine-13 opened #3719 "Add warning to showcase that multithreading Flow is not supported for `protocol='grpc'`"
As a follow up on https://github.com/jina-ai/jina/issues/3620, we need to add a warning to the docs to mention that multithreading Flows is not supported when protocol is grpc

[2021-10-20 08:35] anshika361 commented on #3642
I have written my blog can u check it

https://jinaai.blogspot.com/2021/10/getting-started-with-jina-ai-neural.html

[2021-10-20 09:52] joeyouss commented on #3656
yes ! also, I suggest researching a bit more about Jina

[2021-10-20 09:57] codeswithroh commented on #3656
@joeyouss Did you check my blog? And when will I receive the label?

[2021-10-20 10:03] codeswithroh commented on #3656
Yeah, I raised few issues while running the examples and they got solved by the `Jina` community as well. I can write another blog about the issues that I raised.

[2021-10-20 10:04] joeyouss commented on #3656
I would suggest including them in the same blog

[2021-10-20 17:33] deepankarm opened #3727 "Logstreaming with JinaD broken for Flows/Peas/Pods"
Steps to reproduce:

- Start a Flow with JinaD.
- Connect to websocket to stream logs via `ws://<hostname>:8000/logstream/<flow-id>`.
- Client successfully connects, but no logs are streamed.
- Server drops client connection after 60 secs with the error ```waited for 60 secs for /tmp/jinad/jworkspace-a263205c-f6ee-45a4-841c-5f8dce9f5b8c/logs/jflow-4a4795c3-0c37-4338-a725-036fd9b765a2/logging.log t

[2021-10-21 08:27] CatStark opened #3732 "Add executor scalability with parallel section"
Enrich/minimize/segment the code with some text and put into flow/topology section to prove that “by setting parallel, one can solve the scalability problem; and the flow enjoys a nonblocking behavior"

[2021-10-21 10:06] jacobowitz opened #3735 "send_message interface of grpclet should be sync"
The `send_message()` interface in the Grpclet is async at the moment and the GrpcDataRuntime uses this to create tasks for the calls. This is a bit weird because all the asyncio functionality is actually capsulated by the Grpclet (it creates and manages asyncio task) and there is no need to expose this.

So we should make the send_message interface sync and all of their uses. At the moment this is

[2021-10-21 12:35] bwanglzu opened #3738 "refactor color_axis to channel_axis"
In a typical image search task, we send image with dimensionality of `B, C, H, W` into a deep learning model, where:

- `B` refers to `batch_size`.
- `C` refers to `channels`, e.g. RGB is 3 channel image while grey-scale image only have 1 channel
- `H` is the image height
- `W` is the image width.

By default Jina executors and Finetuner use an argument `channel_axis` which allow user to move the

[2021-10-21 12:41] JoanFM opened #3739 "rolling update lets context managers unexited, leaking BasePea"
**Problem description**
Our stack of context managers is growing indifinetly

[2021-10-21 13:42] #3584 closed, assigned to deepankarm

[2021-10-21 17:45] rudranshsharma123 commented on #3738
I have created the PR, it needs a check from a maintainer to run checks. Kindly let me know if what I did is correct or not.

[2021-10-21 21:22] JoanFM opened #3743 "rolling update should be robust to exceptions."
**Describe the feature**
When rolling update is performed on a Pod, we should agree on what behavior is achieved when the rolling update cannot be successfully achieved.

- Should the old Peas keep alive and raise the exception to the Flow?
- How does K8s behave in this regard?

[2021-10-22 05:55] #3739 closed, assigned to nobody

[2021-10-22 07:49] bwanglzu opened #3746 "GPU running in parallel"
As a developer of the executor, I would like to have each parallel running on different GPU otherwise the PaddlePaddle will start N processes on each GPU. N is the number of parallels.

- [ ] reproduce multiple gpus resource error
- [ ] multiple gpus in parallel, each pea should have 1 gpu, num_parallel could > num_gpus.
- [ ] (optional) need investigate why gpu is not fully used.

[2021-10-22 10:13] jacobowitz opened #3748 "Replace use of parallel in examples and docs"
We deprecated the use of `parallel` in favor of the more explicit `replicas` and `shards`.  Before `parallel` could mean both `replicas` and `shards` depending on its usage. Now it is an alias for `shards` for backwards compatibility (because replicas has less features), but should no longer be advertised.

In Core's code base this should be replaced in most places already, but there might other p

[2021-10-22 10:42] #3711 closed, assigned to azayz

[2021-10-22 17:52] Arpitgupta1014 opened #3757 "GPU runns in parallel"
As a developer of the executor, I would like to have each parallel running on different GPU otherwise the PaddlePaddle will start N processes on each GPU. N is the number of parallels.

[2021-10-22 18:44] Arpitgupta1014 opened #3758 "docs: Create better clarification for shards vs replicas concepts"
Describe the feature
We want to clarify even more this concept

[2021-10-22 18:45] #3758 closed, assigned to nobody

[2021-10-22 21:37] JoanFM opened #3760 "Router-Dealer pattern seem to lose messages in tests."
**Describe the feature**
Some tests logs show that in the `dynamic` routing some messages do not arrive to the destination leading to a test hanging issue.

**Solution**
A potential solution could be to send a response to the input socket acknowledging the reception of a message in the `DEALER_CONNECT` - `ROUTER_BIND` pattern. Then the system could wait for some seconds to send the request again.

[2021-10-22 21:46] #3757 closed, assigned to bwanglzu

[2021-10-24 09:09] himanshu007-creator opened #3763 "Documentation: correct the command for jina "standard""
**Describe your proposal/problem**
in file <code>[RELEASE.md](https://github.com/jina-ai/jina/blob/master/RELEASE.md) L-37-L-40</code>

<code>
The recommended way of installing Jina is `pip install -U jina`

`"standard"` include extra dependencies that enables:
</code>

the command is not readable(broken in twio lines) and would be better if it is placed in one line.

---

**Environment**

**Scree

[2021-10-24 21:42] tadejsv opened #3766 "Jina messes up logging"
Consider this
[code]
[code]

The mere creation of `JinaLogger` completely messes up all other logging - this is very intrusive behavior and should be fixed. Due to these lines (most likely) https://github.com/jina-ai/jina/blob/f91dce40f97df846090f2026d7ba28e5766690b9/jina/logging/logger.py#L73-L75

[2021-10-25 07:42] #3614 closed, assigned to alaeddine-13

[2021-10-25 08:41] tadejsv opened #3770 "Importing module multiple times with using `uses_metas`"
Whenever I use an executor from Jina Hub (or maybe also just local one, I have to check), this warning appears

![image](https://user-images.githubusercontent.com/11489772/138663283-2fd61f26-3888-438a-abd3-b77b8f98b209.png)

I remember some months ago this warning was appearing everywhere because we were importing module two times, once in data request and once in executor - but that was fixed. So

[2021-10-25 13:59] #3748 closed, assigned to alaeddine-13

[2021-10-25 15:45] jacobowitz opened #3777 "Improve request handling on runtime termination"
As shown [here](https://github.com/jina-ai/jina/pull/3736) we dont handle requests between Pods gracefully during termination.
This is especially undesirable in a K8s setting where Pods can come and go.
The problem is that we send messages in a 'fire and forget' style (create asyncio tasks in the background) along the Flow and it is hard to figure out which message failed, when and where. Essentia

[2021-10-26 08:04] jyotikhetan opened #3783 "PDF Extraction"
Jina looks like a powerful tool..!! I am hoping to get assistant on how to handle PDF with it..!! Like Extracting Text & Image .. saving it. Using it in pipeline.. Thank you

[2021-10-26 09:44] CatStark opened #3785 "Have tutorials for each data-type"
Create new section with categories for different data-type

- All existing examples should have their tutorial
- Every type should have 2 or 3 tasks

![Screenshot 2021-10-26 at 11 35 59](https://user-images.githubusercontent.com/3002344/138854075-0675b467-40cb-49e5-bc42-87a66eea1193.png)

[2021-10-27 10:57] CatStark opened #3794 "Tutorial on image-search using CLIP"
How to search image via text using CLIP

[2021-10-27 11:24] CatStark opened #3795 "Tutorial on how to search similar images"

[2021-10-27 11:24] CatStark opened #3796 "Tutorial: How to retrieve big-size image from small-size patch image or vice versa"

[2021-10-27 11:25] CatStark opened #3797 "Tutorial: How to search 3D mesh"

[2021-10-27 11:25] CatStark opened #3798 "Tutorial: How to do long text retrieval"

[2021-10-27 11:26] CatStark opened #3799 "Tutorial: How to do DocQA"

[2021-10-27 11:26] CatStark opened #3800 "Tutorial: How to find & replace clip inside audio"

[2021-10-27 12:32] JoanFM opened #3802 "`DocumentArrayMemmap` with `buffer_pool_size` to 0 seems not to work"

[2021-10-27 13:24] himanshu007-creator opened #3804 "Facing issue while running the flow"
**Describe the bug**

I have set a simple jina example [here](https://github.com/himanshu007-creator/Featurepreneur-S3).  All steps are working fine, but when I try to run the flow, I get error :(

**Describe how you solve it**
I don't know how to solve it, so would like  to get some help

---

**Environment**
- jina 2.1.11
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- libzmq 4.3.2
- pyzmq 1.19.2
-

[2021-10-27 13:24] himanshu007-creator opened #3805 "Facing issue while running the flow"
**Describe the bug**

I have set a simple jina example [here](https://github.com/himanshu007-creator/Featurepreneur-S3).  All steps are working fine, but when I try to run the flow, I get error :(
I am using Jupyter notebook in conda environment rn.

**Describe how you solve it**
I don't know how to solve it, so would like  to get some help

---

**Environment**
- jina 2.1.11
- jina-proto 0.0.86
-

[2021-10-27 18:46] AMSAJ0 opened #3808 "A"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-10-27 18:55] #3808 closed, assigned to nobody

[2021-10-27 19:02] JoanFM opened #3809 "DocumentArrayMemmap grows when matched against while traversing on chunks"
The problem is that DocumentArrayMemmap keeps a buffer of Docs in memory that try to keep track of wether a document is updated or not. By default, when chunks and matches are accessed from a Doc, they are flagged for update (their version is updated). Therefore the DAM will try to update them and append them to the end of the body file.

This means that every match call doubles the size of DAM wh

[2021-10-27 19:22] #3804 closed, assigned to nobody

[2021-10-28 06:05] #3805 closed, assigned to nobody

[2021-10-28 08:57] #3719 closed, assigned to deepankarm, alaeddine-13

[2021-10-28 13:00] CatStark opened #3815 "test zapier bot"
bleep bleep bop test

[2021-10-28 13:02] #3815 closed, assigned to nobody

[2021-10-28 22:51] JoanFM opened #3817 "K8s Flow separate k8s namespace from Flow name"
Currently the Flow in Kubernetes is deployed under a namespace  matching the name of the Flow.

We have to separate this 2 concepts

[2021-10-29 06:12] JoanFM opened #3818 "Rename `target_peapod` and `pod_name` from `arguments` names to `executor` counterparts"

[2021-10-29 07:21] JoanFM opened #3821 "`ContainerRuntime` does not get `replica_id` or `shard_id` in `runtime_args` of `Executor`"

[2021-10-29 11:25] JoanFM opened #3825 "make sure `uses_with` is properly passed to JinaD"

[2021-10-29 15:40] #3796 closed, assigned to alaeddine-13

[2021-10-29 15:47] #3795 closed, assigned to makram93

[2021-10-29 22:01] JoanFM opened #3834 "streaming tests are wrong. GRPCDataRuntime do not guarantee order of processing of messages received"
**Describe the bug**
I believe the streaming flaky test is indeed a wrong test because what is intended to achieve is not guaranteed when different `GRPC`  calls are made.

`GRPC` does not guarantee the order of processing of messages from different `grpc` calls, which I believe is what is happening in the test.

I believe the test should just make sure that the `max` value of the `input_gen` time

[2021-10-30 17:17] franperic opened #3837 "Hello World - Chatbot"
**Description**
I run into the following error when running the chatbot example.
I believe the error stems from the data import. But I am not sure how to fix this.

---

**Environment**
- jina 2.1.13
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.21.3
- protobuf 3.19.1
- proto-backend cpp
- grpcio 1.41.1
- pyyaml 6.0
- python 3.8.2
- platform Darwin
- platform-release 20.2.0
-

[2021-11-01 08:32] hanxiao commented on #3837
seems our csv parser goes wrong, will fix it soon

[2021-11-01 11:35] hanxiao commented on #3837
rolled out in 2.2.2, please `pip install -U jina`

[2021-11-01 11:35] #3837 closed

[2021-11-01 17:01] #3770 closed

[2021-11-01 22:51] matthewfranglen opened #3848 "Cannot use a hub executor in a yaml defined flow"
**Describe the bug**

The yaml flow definition that is available does not seem to support jinahub executors.
I've tried to define it with:

[code]

and when I load this I get the error:

[code]

The yaml flow definitions seem to be very under documented. I found them through forking the examples. Are they still supported?

**Environment**
- jina 2.2.2
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- l

[2021-11-02 07:22] JoanFM commented on #3848
Hello @matthewfranglen ,

Thanks for reporting the issue.

The correct flow definition in this case would be the following:

[code]

As per the under documentation, we will try to act on it. Thanks very much, where did u find the missleading information?

[2021-11-02 07:37] matthewfranglen commented on #3848
I didn't find the use of a hub executor explicitly. I was trying to copy the yaml configuration of flow from the multimodal search, which uses entirely local executors.

[2021-11-02 07:37] matthewfranglen commented on #3848
Thank you for pointing out the correct arrangement

[2021-11-02 08:36] CatStark commented on #3746
Closing because this will be solved on executor level.

[2021-11-02 08:36] #3746 closed

[2021-11-02 10:54] matthewfranglen opened #3849 "Using a torch model on GPU in Executor fails"
**Describe the bug**

If I load the CLIP model onto the graphics card then the creation of the executor fails with the error message

Here is some code that reproduces the error:

[code]

The full stack trace is

[code]

**Environment**
- jina 2.2.2
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.21.3
- protobuf 3.19.1
- proto-backend cpp
- grpcio 1.41.1
- pyyaml 6.0
- python 3

[2021-11-02 11:13] matthewfranglen commented on #3849
I found this issue: #2691 which appears related however a fix was merged for that and the issue was closed in July. I believe that I am using the latest version of Jina which was released yesterday

[2021-11-02 11:14] #3821 closed

[2021-11-02 11:17] deepankarm commented on #3849
@matthewfranglen, could you try starting the Flow via an explicit function call inside `if __name__ == '__main__'`. [Here's an example.](https://docs.jina.ai/advanced/experimental/windows/#explicit-entrypoint)

[2021-11-02 11:25] matthewfranglen commented on #3849
I am on linux btw. I will try your suggestions. Thank you for the fast response!

[2021-11-02 11:32] #3848 closed

[2021-11-02 11:33] matthewfranglen commented on #3849
I can confirm that using `JINA_MP_START_METHOD=spawn` allows the GPU model to run successfully. I'm closing this ticket because you already have a fix for this problem.

Is this documented somewhere?

[2021-11-02 11:33] #3849 closed

[2021-11-02 11:34] CatStark opened #3850 "Improve Flow documentation"
We have misleading information about the Flow as shown [here](https://github.com/jina-ai/jina/issues/3848). We need to update this.

[2021-11-02 11:36] JoanFM commented on #3849
Hey @matthewfranglen,

We realized this documentation is missing and we are working on adding this. Thank you for reporting and do not hesitate to ask for any question or open more tickets

[2021-11-02 15:44] deepankarm commented on #3849
@matthewfranglen Thank you so much for raising & closing this. Now [we have a section](https://docs.jina.ai/fundamentals/flow/remarks/#multiprocessing-spawn) in our docs which explains the caveats while using Jina with spawn.

[2021-11-02 16:40] matthewfranglen opened #3854 "Replica usage in a Flow leads to the wrong Executor class being created"
**Describe the bug**

I have written executors to deal with composite documents, as well as documents with matches. As part of this I extracted the traversal of the sub documents into a base executor class, and then implemented the behaviour in a subclass. If I use the executor without replicating it then it works fine. If I apply replication to it then it appears that the created executor is actu

[2021-11-02 16:49] matthewfranglen commented on #3854
Using the traversal code as a mixin works:

[code]

[2021-11-02 16:50] JoanFM commented on #3854
Hello @matthewfranglen,

You have hit quite an edge case. `BaseExecutor` is our `Base Executor` class to which we default where no `Executor` is added. This `BaseExecutor` is keeping the `docs` unchanged and is uses before the `replicas` when no `uses_before` argument is passed.

I think what u are observing here is the fact that u are applying your own implementation of `BaseExecutor` in an `Exec

[2021-11-02 16:51] matthewfranglen commented on #3854
Ah that's amazing. I did notice that Executor extends BaseExecutor but didn't think that it would result in this conflict.

[2021-11-02 16:51] #3854 closed

[2021-11-02 16:52] matthewfranglen commented on #3854
Thanks once again for the extremely fast help!

[2021-11-02 17:56] matthewfranglen commented on #3849
Thank you, that's really great. Including the error message will help a lot when searching for this too.

[2021-11-03 05:49] starlightknown commented on #3850
hello, I would like to work on this issue if possible

[2021-11-03 06:23] winstonww opened #3857 "workspace issue"
For example, if we do the following:

[code]
workspace is not created in the specified directory. Yet, the following:

[code]
works.

[2021-11-03 06:29] JoanFM commented on #3857
Can u check where is the workspace created in the first case?

[2021-11-03 06:39] winstonww commented on #3857
Yep, for me it is at the place where the script is started

[2021-11-03 06:42] JoanFM commented on #3857
So can u compare in both cases where the workspace is stored?

[2021-11-03 06:44] #3834 closed

[2021-11-03 07:05] JoanFM opened #3858 "tests/unit/executors/test_executor.py::test_executor_import_with_external_dependencies randomly failing"
**Describe the bug**
The test `tests/unit/executors/test_executor.py::test_executor_import_with_external_dependencies` seems to fail sometimes and pass sometimes.

[2021-11-03 07:08] #3825 closed

[2021-11-03 07:36] winstonww commented on #3857
EDIT: I am currently reproducing this issue  with `jinahub+docker` with `volumes`:

[code]
The following is the results:

<img width="771" alt="Screen Shot 2021-11-03 at 3 31 54 PM" src="https://user-images.githubusercontent.com/13983591/140023079-665fe98d-9e4f-441f-9fd2-7618414e81bb.png">

The flow launches the following:
[code]

` --workspace /Users/winstonwong/jina` is stored in `self.workspace

[2021-11-03 07:40] #3800 closed

[2021-11-03 07:59] winstonww commented on #3857
To make things clearer, here is comparison of the actual vs expected behavior:

Case 1:
[code]

 Expected behavior/output:
`workspace: /tmp`

Actual behavior/output:
`workspace: /tmp`

Case 2
[code]

 Expected behavior:
SimpleIndexer's `workspace` should be located in `/tmp`

Actual behavior/output:
SimpleIndexer's `workspace` is located in `/Users/winstonwong/jina`

[2021-11-03 08:41] JoanFM commented on #3857
The `uses_metas` seems to be properly passed to the `Executor`. This `uses_metas` is the way to override the default `workspace` passed to the `Runtime`. All these `logs` do not provide valid information.

Please make sure u index data and check where the `data` is stored to validate wether or not the workspace is properly created.

[2021-11-03 09:04] winstonww commented on #3857
Yep, `data` is created in the `workspace`. I will close this non-issue.

[2021-11-03 09:04] #3857 closed

[2021-11-03 09:12] joeyouss commented on #3642
Hi @anshika361 @Priyanshi-Sharma-142  , the blogs look great.
If or not they qualify for Advocate swags will be told by @alexcg1
Meanwhile here :
The swag form - https://jina.ai/blog/swag/

[2021-11-03 09:14] #3858 closed

[2021-11-03 10:03] CatStark commented on #3850
Hi @starlightknown ,

Thanks a lot for helping us! :D and sure thing it is possible. Let us know when you start working on it so we can link your PR to the issue

[2021-11-03 14:32] starlightknown commented on #3850
Sure, could I get some directions on how to get started with it. I'll start working on it

[2021-11-03 23:09] #3785 closed

[2021-11-04 06:18] nan-wang commented on #3809
Create an index and start serving,

[code]

query with a client and sent request every 1 second,

[code]

We will see that after indexing, the disk usage is 49 Mb. With the query sent every 1 sec the disk usage increases,

[code]

[2021-11-04 07:55] AdolfVonKleist opened #3865 "Conversation or Dialog Indexing Example/Advice"
**Describe your proposal/problem**
I'm interested in indexing spoken and transcribed, multi-party dialogs.  A key requirement that brought me to jina is the question of how to handle sequential queries that involve a 'he said and she replied' scenario.  For example:

  * Customer: Hello, I need some help with my product X
  * Agent: Hi I don't want to help you

I'm looking to implement a mechanism

[2021-11-04 08:38] JoanFM commented on #3865
Hello @AdolfVonKleist ,

Our `primitive` data types could support such type of data.

One thing I can imagine, could be considering a `Document` as a conversation and add to its `chunks` the ordered sequence of interaction:

Let's see a potential example.

[code]

With this support u can have ur own custom embedding and indexing.

I hope this can help, not sure what is the end to end solution you

[2021-11-04 12:18] AdolfVonKleist commented on #3865
@JoanFM thanks for the reply!  Would the example you shared support the concept of adjacent or sequential seach?
We would want to be able to find document where `customer_text` is _followed by_ `agent_response`, but of course we don't know where in the sequence of turns this might occur, and it will be different for every document.

One approach we have tried in the past with other frameworks is t

[2021-11-04 13:11] JoanFM commented on #3865
Hey @AdolfVonKleist ,

This is an interesting usecase.

Some things to clarify.

- Jina is not a closed solution, We at Jina try to provide you with the tools and design patterns that can help you build your tailored search solution.
- You can create your own Executors with your own logic to solve ur specific problem. All you need to do is learn `Flow`, `Executor` and `Document, DocumentArray` and

[2021-11-04 13:37] AdolfVonKleist commented on #3865
@JoanFM

Yes! This is exactly why I opened this question.  I am very amenable the idea of leveraging a reasonable pattern and doing even quite low-level customization myself.  But I was hoping for some pointers or a high-level assessment of whether my use case even made sense in the 'jina world', before diving down the rabbit hole.  You've provided exactly this.

One final followup:  in your examp

[2021-11-04 13:39] #3797 closed

[2021-11-04 13:45] JoanFM commented on #3865
What I built is just an example. I think you could see this as some sort of `meta-query-language` that u can customize urself using the `Document` structure and the `parameters` passed in the `Executor` methods.

[2021-11-04 22:03] #3817 closed

[2021-11-05 10:50] CatStark commented on #3850
Hi @starlightknown , I was talking with the team and someone internally is already working on this since deep knowledge of the Flow is needed. But thank you so much for your message! Hope you can still find something else that sparks your interest :)

[2021-11-05 11:17] bwanglzu opened #3874 "blobs getter not working with audio"
To reproduce:

[code]

What we get:

[code]

[2021-11-05 11:29] bwanglzu commented on #3874
this is not a bug, we expect all audios has the same diemnsionality. Need to adjust in finetuner when input is audio.

[2021-11-05 11:29] #3874 closed

[2021-11-07 04:56] mirfan899 opened #3879 "Chaining Multiple flows"
**Describe your proposal/problem**
I'm looking for chaining the flows with different ports. For example, I'm trying to run multilingual model with different flows.

For now, I have to create flows for each language i.e. English, Spanish, Chinese etc for exposing the ports and sending post to these flows. Here is English flow on port 12345

[code]

Spanish Flow.
[code]

For now I have to run differ

[2021-11-08 01:50] Kavan72 commented on #3617
@CatStark sorry, I was on vacation, I'll work on this issue in next weekend

[2021-11-08 04:49] arya312 commented on #3650
I found this project very intriguing, I would love to work on it :P

[2021-11-08 04:52] arya312 commented on #3652
Would love to work on it, if it's not yet taken.

[2021-11-08 07:10] jyotikhetan opened #3882 "DOCQA.."
I am trying to parse a pdf & apply the DOCQA model to it.Roberta as well as BERT..!! But I am not getting right answer for it.. whereas independently it's works accurately... !!

This is my flow.yml
[code]

This is my query.yml
[code]

[2021-11-08 07:15] JoanFM commented on #3882
Hey @jyotikhetan ,

Could you please provide more details about the code in `flows/generator_roberta.py`? maybe also about some data in the input, how do u run the flow and what is the query with which u have problems?

[2021-11-08 07:31] jyotikhetan commented on #3882
**### generator_roberta.py**
from jina import Executor, Document, DocumentArray, requests
from transformers import (
    AutoTokenizer,
    AutoModelForQuestionAnswering,
    pipeline,
)

class Generator(Executor):
    answer_model_name = "deepset/bert-large-uncased-whole-word-masking-squad2"
    answer_model = AutoModelForQuestionAnswering.from_pretrained(answer_model_name)
    answer_tokenizer =

[2021-11-08 07:38] JoanFM commented on #3882
May I ask what it the expected outcome, and what is the pipeline u follow when working without `Jina` to extract the expected result.

The first thing I would check, is how many lines are being indexed? This seems like a non-optimal way of chunking your document.

[2021-11-08 07:58] jyotikhetan commented on #3882
So query I asked was On what kind of dataset model was trained.. answer expected was WMT 2014 English-German

this is the normal pipeline, I used

from transformers import AutoModelForQuestionAnswering, AutoTokenizer, pipeline

model_name = "deepset/roberta-base-squad2"

nlp = pipeline('question-answering', model=model_name, tokenizer=model_name)
QA_input = {
    'question': 'Why is model conversi

[2021-11-08 08:00] JoanFM commented on #3882
So what was the result from this pipeline?

[2021-11-08 08:53] jyotikhetan commented on #3882
WMT 2014 English-German this is result i ma getting using pipeline & using jina I am getting    Answer: models

[2021-11-08 08:55] jyotikhetan commented on #3882
As you mentioned, I shall check the number of lines indexed..!!

[2021-11-08 09:34] JoanFM commented on #3882
It is very hard to understand, what is the granularity that u want to index? Shouldn't you try to break your sentences into smaller pieces so that the model works. How do you expect it to work exactly as ur plain implementation if the data u provide to the model is not the same?

[2021-11-08 09:40] JoanFM commented on #3882
Also, how do u expect to have the same output as in https://github.com/jina-ai/jina/issues/3882#issuecomment-962897278 if the sentence: `'The option to convert models between FARM and transformers gives freedom to the user and let people easily switch between frameworks.'` is not part of the index?

[2021-11-08 10:28] jyotikhetan commented on #3882
So I was just giving the model reference in which I tested on hugging face UI..!! Then I have provided Jina with the exact same dataset I have provided to FARMmodel by haystack... & I am getting the right answer..!! That's why I am not able to figure out where I am going wrong here... I checked the length of the input document also..!! Please help...

[2021-11-08 10:38] JoanFM commented on #3882
What does it mean providing the same input?

When you do.

[code]

what is the text added to each of the `Document`? How many of these `Document` are created?

Can you please describe in detail what is the input u want to provide to the model, and what do u expect to extract? Also clarify what does it mean to u to provide the same input to FARMmodel?

[2021-11-08 11:57] jyotikhetan commented on #3882
This is the paper I provided which is pdf... attention all we need..https://arxiv.org/pdf/1706.03762.pdf  using pdfsegmenter I extract text in .txt file...!! As of now i using single document so extracting one pdf extracting the data & dumping in one text file..!!!

https://haystack.deepset.ai/  I used this search engine, provided same pdf used same roberta model... & got the right answer ..!!

I

[2021-11-08 12:10] JoanFM commented on #3882
Can u show the exact way u provided the same pdf?

[2021-11-08 13:10] jyotikhetan commented on #3882
from haystack.document_store import InMemoryDocumentStore, SQLDocumentStore
from haystack.reader import FARMReader, TransformersReader
from haystack.retriever.sparse import TfidfRetriever
from haystack.preprocessor.utils import convert_files_to_dicts, fetch_archive_from_http

def tutorial3_basic_qa_pipeline_without_elasticsearch():
    document_store = InMemoryDocumentStore()

    from haystack.fi

[2021-11-08 13:15] JoanFM commented on #3882
Would it be okey to send the `pdf` file if there is no sensitive data?

[2021-11-08 13:20] jyotikhetan commented on #3882
I have sent the link... it's research paper attention all we need
[1706.03762.pdf](https://github.com/jina-ai/jina/files/7497196/1706.03762.pdf)

[2021-11-08 13:55] JoanFM commented on #3882
Ok, now I understand what u are saying.

I have seen 2 major things.

Something happened when u load the `pdf` into the `input generator`.

The sentence:
 `We trained on the standard WMT 2014 English-German dataset consisting of about 4.5 million sentence pairs` is the one from where the QA model extracts rhe response. This sentence is not properly added to the index.

If u check in your `generate

[2021-11-09 08:39] CatStark commented on #3735
Closed because of Star Routing

[2021-11-09 08:39] #3735 closed

[2021-11-09 15:19] mirfan899 commented on #3879
any update?

[2021-11-09 15:36] JoanFM commented on #3879
Hello @mirfan899, sorry for the late reply.

It would be good to know what is your intention, Do u want to have 2 different applications where the client knows where to send the request (is it spanish or not), or u want to chain 2 Flows one after the other?.

What you can do is to use shared executors between different Flows as described here:
https://docs.jina.ai/fundamentals/flow/add-exec-to-flo

[2021-11-09 15:56] mirfan899 commented on #3879
Thanks for reply. I am looking to have at least two flows for English and Spanish, where I can send request by specifying the language. Because when I used the single flow for different languages, results are being mixed i.e. English query showing both English and Spanish search results.

I tried to use parallel processing to spawn the different flows for each language, but no flow was being gener

[2021-11-09 16:07] JoanFM commented on #3879
Hey @mirfan899 ,

what is the error u receive? I think this would fail because `run` receives a single argument but u are passing 2.

However, a proper way could be this.

[code]

[2021-11-09 16:34] mirfan899 commented on #3879
Thanks, It seems working now.

[2021-11-10 10:53] jyotikhetan commented on #3882
Thank you for clarifying it..!! As you mentioned, It was an indexing issue at my end..!! Solved the issue.
Now while running my execution file while running query task.. I have to limit the length of the document... otherwise I am getting error as

        indexer@14429[E]:ValueError('cannot reshape array of size 425472 into shape (568,768)')
 add "--quiet-error" to suppress the exception details

[2021-11-10 12:45] JoanFM commented on #3882
hey @jyotikhetan ,

Could you set the environment variable `JINA_LOG_LEVEL` to `DEBUG` ?And then share all the logs?

Have u also made sure that the workspace is cleared before running the example?

[2021-11-10 12:51] JoanFM commented on #3882
Also, what do u mean by limiting the size of the document?

[2021-11-10 13:03] jyotikhetan commented on #3882
[log.txt](https://github.com/jina-ai/jina/files/7512867/log.txt)
This is the log file...!!!

& Yes I have deleted my previous workspace..!!

Limiting the size means... I have taken one PDF, parsed it, save the text in .TXT then indexed it, & when query a question it threw an error.

whereas when I reduce the size (i.e I kept only 2 paragraphs in .txt) then indexed it, then asked the query it worke

[2021-11-10 13:18] JoanFM commented on #3882
what is the exact jina version u are working with?

[2021-11-10 13:23] jyotikhetan commented on #3882
jina --version - 2.1.5
I have upgraded to the latest version, then tried, then my Encoder was throwing an error, That DocumentArray doesn't have a batch.

[2021-11-10 13:24] JoanFM commented on #3882
@jyotikhetan maybe u can share here the resulting indexing file. U can zip the `folder` and share here so that it can be easily tested by us. Also u can share the exact query u were trying.

As per the new version, it is a known problem that we are fixing in new executor versions

[2021-11-10 13:25] CatStark commented on #3879
Hi @mirfan899 good to hear the problem is solved. I will close the issue then, please open a new ticket if you have another problem.

[2021-11-10 13:25] #3879 closed

[2021-11-10 13:29] jyotikhetan commented on #3882
[workspace.zip](https://github.com/jina-ai/jina/files/7513037/workspace.zip)
This is my indexed file(workspace file).
My query -- I asked a question, On what dataset model was trained?

Okay, so I have to chuck a small part of document 7 then pass to query part...is it?

[2021-11-10 14:24] JoanFM commented on #3882
Hello @jyotikhetan ,

What I found is that there are elements in the index that do not have a valid embedding. (I see that u are trying to store a `Document` with empty text that leads to an invalid `embedding`, and therefore our `SimpleIndexer` fails at constructing the matrix to do the cosine similarity.

I would suggest that u add at index time an extra `Pod` in the Flow that filters invalid do

[2021-11-10 15:58] EliaLesyk opened #3906 "try_startup_search"
**Describe your proposal/problem: Use Jina for start-up data**

I'm applying Jina AI for neural search within the database of start-up descriptions since it might give better results than simple search.
---

**Environment**

- jina 2.4.2
- jina-proto 0.0.86
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.21.4
- protobuf 3.19.1
- proto-backend cpp
- grpcio 1.41.1
- pyyaml 6.0
- python 3.9.1
- platf

[2021-11-10 16:28] JoanFM commented on #3906
Hello @EliaLesyk,

Thanks for trying out Jina. Is there a specific issue that you are having where you may need some help?

[2021-11-10 16:51] EliaLesyk commented on #3906
Hi @JoanFM,
I'd be grateful for help with correctly merging my pull request from this fork: https://github.com/EliaLesyk/jina/tree/example-startup-search-3906. It includes my suggestion for the application of Jina.
It's my first pull request, so I'm afraid of adding some mess to public repositories.

[2021-11-10 17:01] JoanFM commented on #3906
Hi @EliaLesyk ,

This fork of yours is an example, not a feature to add to the framework. It cannot be merged into jina core. But it is valid on its own as an example of usage

[2021-11-10 19:04] EliaLesyk commented on #3906
Hi @JoanFM,

That's what I have also had in mind but wasn't sure. Thank you very much for a super prompt reply!

[2021-11-10 19:04] #3906 closed

[2021-11-11 07:06] JoanFM commented on #3317
Closing this issue as it should be handled by https://github.com/jina-ai/internal-tasks/issues/271

[2021-11-11 07:06] #3317 closed

[2021-11-11 07:44] bwanglzu opened #3911 "add distribuetd test for scale method"
**TODO**
In order to support `scale` endpoint for Remote Flows and Pods, JinaD needs to:

- [ ] Clarify the Update endpoint and accept different parameters depending on the `kind` of update operation
- [ ] Add a new UpdateOperation scale
- [ ] Unittest the `update` methods
- [ ] Add distributed tests for scale endpoint. (Remote Flow, and local flow with remote executors)

[2021-11-11 07:57] JoanFM commented on #3911
Blocked until #3816 is merged

[2021-11-11 15:50] bwanglzu opened #3917 "optimize pytest kind for k8s test"
for speeding up local deployment and ci for `k8s-test`.

[2021-11-12 10:20] mirfan899 commented on #3879
Hi, after looking working with parallel code, I have found a problem with it.

Here is what `jina` does when you try to use two different flows. I use English data to index it on English port. Data is indexed using client from `jina`. It index the data for English and Spanish data as well which is very strange because both flows are running on two different ports and both are using two different w

[2021-11-12 11:29] JoanFM commented on #3879
Hey @mirfan899 ,

I do not see exactly the problem? You are saying that the `english` data is found under `es` index? The fact that files are created does not imply that data is there. Have u checked how much documents are in each of these indexes?

To try this a workaround u can do is:

[code]

[2021-11-12 14:49] mirfan899 commented on #3879
Here is the output. English index throws error but spanish index does not.
[code]

[2021-11-13 17:40] #3695 closed

[2021-11-13 19:07] #3794 closed

[2021-11-16 04:04] SachinRaghuvanshi2003 commented on #3643
Hey! I'm interested.

[2021-11-16 08:37] #3664 closed

[2021-11-16 09:03] jacobowitz opened #3939 "Clean up parser structure"
The parser structure with all its mixins and specific parsers has become a bit messy at this point.
Example: The gateway parser does not contain the pod parser, although a gateway is also a pod. This means the gateway does not have some of the pod args (like peas_hosts) and inside the pod we always need to check for the existence of certain args. That is fairly clunky.

As part of this ticket one

[2021-11-16 15:23] deepankarm opened #3941 "`polling: ANY` is not considered with remote Flows when `replicas>1` & `shards > 1`."
Consider a Flow (flow.yml) like this -
[code]

Compare the results for local vs remote Flows for different combinations of shards, replicas & polling.

<details>
<summary>Click to see code </summary>

[code]
</details>

[code]

**Bug**: For a remote Flow with `shards=2`, `replicas=2` & `polling=ANY`, len should be 10, but it is 20 instead.

[2021-11-16 17:16] #3911 closed

[2021-11-17 14:06] cristianmtr opened #3946 "Executor: endpoints should merge parameters from shards"
**Describe the feature**

As an Executor developer, I would like that, when I return a dictionary (e.g. on a `/status`-type endpoint) and have `parallel > 1`, this dictionary is not overridden by the last shards, but instead is **merged** somehow.

**Your proposal**

Instead of returning just a dictionary, return a dictionary of dictionaries perhaps, with pea_ids as keys. The default dictionary co

[2021-11-17 14:32] JoanFM commented on #3946
This behavior right now is coherent with the current `Executor` usage. If no `MatchMerger` is added in `uses_after`, the Runtime simply returns the last `message` received if polling=ALL.

This would be doable, but I would like to know if this is coherent with how thing work right now.

However, if somebody wants to take this, this should be worked on in the `DataRequestHandler`

[2021-11-17 14:36] JoanFM commented on #3882
Hey @jyotikhetan ,

Was this useful to solve your problem?

[2021-11-17 14:38] JoanFM opened #3947 "traversal paths are checked twice when using traverse_flat and will become buggy after deprecation of list of string syntax"
**Describe the bug**
When the list of string syntax of traversal_paths becomes deprecated, traverse_flat will not work because _check_traversal_path_type is called twice (the second time always receives the old syntax).
Currently, even if traverse_flat receives the new syntax, it will always through a DeprecationWarning

[2021-11-17 14:41] cristianmtr commented on #3946
Yes, this works as expected now.

The requirement would be to the DataHandler handle parameters being returned, without overridding them directly. Similar to how we have docs_matrix, we could have `parameters_list`. Maybe some other design/name/type/structure, but something in that direction.

[2021-11-18 06:45] jyotikhetan commented on #3882
Hey hi @JoanFM, Yes it did..!! I was testing if I can make it work on different Pdf by indexing together...
Now, I am available to do that also..!! Thank you so much for your help..!!

[2021-11-18 06:51] JoanFM commented on #3882
Very happy to hear @jyotikhetan, please do not hesitate to open any issue in case you need it. I am going to close this one!

[2021-11-18 06:51] #3882 closed

[2021-11-18 07:44] JoanFM opened #3952 "Exception message will be missleading. It suggests the `traversal_paths` syntax is the old one"
https://github.com/jina-ai/jina/blob/fb84795d1b9d08c2d7438cb2a6e35363ae112de0/jina/types/arrays/mixins/traverse.py#L30

[2021-11-18 09:06] #3799 closed

[2021-11-18 09:08] JoanFM commented on #3760
It will be invalid once StarRouting is there

[2021-11-18 09:11] #3717 closed

[2021-11-18 09:16] JoanFM commented on #3686
Will be handled in #3939

[2021-11-18 09:16] #3686 closed

[2021-11-18 09:18] #3596 closed

[2021-11-18 09:19] #3452 closed

[2021-11-18 09:21] JoanFM commented on #2923
His will be handled in `pea_hosts` refactoring for starRouting

[2021-11-18 09:21] #2923 closed

[2021-11-18 09:26] #3442 closed

[2021-11-18 11:08] alaeddine-13 opened #3954 "reduce overhead coming from set_attributes"
set_attributes is dynamic and slower than directly setting each attribute.
We should rely less on it and probably optimize it

[2021-11-18 11:31] hanxiao commented on #3954
we should make it private

[2021-11-18 13:26] #3947 closed

[2021-11-18 13:26] #3952 closed

[2021-11-18 17:24] #3954 closed

[2021-11-18 17:50] JoanFM commented on #3446
I think this is not valid anymore

[2021-11-18 17:50] #3446 closed

[2021-11-18 17:51] #3712 closed

[2021-11-18 17:52] JoanFM commented on #3617
Hey @Kavan72,

Dis u have any time to work on it?

[2021-11-19 11:16] deepankarm commented on #3258
We can completely avoid setting env vars in JinaD while creating Flows by using `Flow.load_config(..., context=envs)` syntax, which should fix this issue.

fyi @bwanglzu

[2021-11-19 13:34] deepankarm commented on #3939
Few known issues:

1. Pea on remote with `HeadRuntime` doesn't understand polling args, as `polling` is only available for `pod_parser` and JinaD while creating a Pea removes all unknown args.
2. Pea on remote with `GatewayRuntime` is not possible right now, as the distributed args are not enabled for `gateway_parser`.

[2021-11-19 15:02] CatStark commented on #3783
Hey @jyotikhetan did you solve your problem? If so I will close this issue unless there is something else you would like to add :)

[2021-11-19 15:02] #3783 closed

[2021-11-20 09:20] JoanFM opened #3965 "check if method add from RepeatedContainer can save copies"
When dealing with DocumentArray, very often the pb_body is a RepeatedContainer and not a list of DocProtos. This makes the append do a copy each time.

This is felt when matches or chunks are added.

We should check if using add can be more efficient and analyze the pros and the cons.

[2021-11-20 14:21] Kavan72 commented on #3617
@JoanFM I've created pr. please give some feedback.

[2021-11-22 07:57] alaeddine-13 commented on #3965
it turns out `RepeatedContainer.add` will create an empty element at the end of the proto container and return it to be filled. This means, we will have to copy the appended document to that new empty element.

I compared 2 versions of appending, the first one uses add and then merges a document to the newly added element. The second one is the current implementation which is faster.

[code]

[2021-11-22 08:20] JoanFM opened #3971 "Remove return from MatchArray and ChunkArray append"
**Describe the feature**
MatchArray and ChunkArray append should not return a `Document`

[2021-11-22 10:36] iamoscar1 opened #3972 "The doc's embedding is always "None", even after docs flowing through the Encoder Executor."
Hi everyone, I am just a beginner of using Jina. Today, I was trying to use the TransformerTorchEncoder from JinaHub and running its example.  The code is attached below:
![截屏2021-11-22 下午6 28 22](https://user-images.githubusercontent.com/19730689/142845396-2da43e32-04b3-4f2a-99fb-234eeb49b79f.png)

According to the description, after running those codes, there should be some values saved in doc.e

[2021-11-22 10:41] JoanFM commented on #3972
can u share the logs shown?

It would be great if you can also set `JINA_LOG_LEVEL` environment variable to `DEBUG`

[2021-11-22 10:44] #3965 closed

[2021-11-22 11:09] iamoscar1 commented on #3972
Thank you so much for your quick response!
Sure, I will past all the logging content through screen shots.
###
![截屏2021-11-22 下午7 05 06](https://user-images.githubusercontent.com/19730689/142851089-0228673a-54e8-46c6-87a3-da1f89e8f71d.png)
![截屏2021-11-22 下午7 05 18](https://user-images.githubusercontent.com/19730689/142851106-568e7da5-0f3f-4933-a624-93a744c68653.png)

![截屏2021-11-22 下午7 05 29](http

[2021-11-22 11:43] JoanFM commented on #3972
Hey @iamoscar1 ,

I am not being able to reproduce with the model that you show. The error given is this one:

[code]

I have tried without this model and the embedding seems to be there.

How can I get this model to try and investigate further?

[2021-11-22 13:16] iamoscar1 commented on #3972
Oh, sorry, my bad. I forget to mention  this model is a local-saved model. Never mind, I have tried again to use the suggested model as listed in TransformerTorchEncoder 's Usage. The result remains the same, None.
Details are showed in the form of screenshots listed below:
<img width="953" alt="截屏2021-11-22 下午9 13 19" src="https://user-images.githubusercontent.com/19730689/142868137-e2ffe977-2f9

[2021-11-22 13:27] JoanFM commented on #3972
Okey, my bad.

What you are expecting is not true.

So what you are trying to do is this:

[code]

The `doc` in the request is not changed, a new `Document` is returned with the `embedding` filled. I guess there is a missunderstanding of the usage. What the `Flow` is doing is calling a client to send the `Document` through the network, therefore the `Executor` does not operate directly in the same

[2021-11-22 13:40] iamoscar1 commented on #3972
😭😭😭，thank you so much for your explanation! You've just saved me from a horrible day.

[2021-11-22 13:44] JoanFM commented on #3972
Happy to hear @iamoscar1 ! I assume then that your problem is solved. I will close this issue for now. Do not hesitate to open it back or to add any other issue if you have any other problem or doubt.

[2021-11-22 13:44] #3972 closed

[2021-11-22 14:22] #3617 closed

[2021-11-22 14:23] JoanFM commented on #3802
Will be invalidated by DAM refactoring

[2021-11-22 14:23] #3802 closed

[2021-11-22 14:31] JoanFM opened #3975 "Check if adding properties for each proto attribute improves performance"
Right now we rely on `__getattr__` for accessing some attributes from `proto`. Maybe doing an exhaustive list would yield better performance

[2021-11-22 15:24] japoorv opened #3976 "Docker Run not working"
**Describe the bug**

`docker run jinaai/jina:latest` gives `ModuleNotFoundError: No module named 'filelock'`

[2021-11-22 15:43] #3917 closed

[2021-11-23 08:24] #3971 closed

[2021-11-23 08:30] #3706 closed

[2021-11-23 10:56] bwanglzu commented on #3258
the usage of context actually works, but in a very strange way, let’s say we have a YAML:
[code]

and i want to update random_key :
[code]

the random_key will be replaced to MMM , it’s actually replacing the values, not using envs to get key in env and set value for env (edited)

[2021-11-23 17:20] JoanFM commented on #3976
Fixed in 2.4.9 via #3983

[2021-11-23 17:20] #3976 closed

[2021-11-23 17:31] JoanFM opened #3987 "K8s test with protocol different than 'http'."
**TODO**
Test or document the problems to have different protocols for the gateway

[2021-11-23 22:05] ugm2 opened #3988 "500 error when fetching SimpleIndexer"
Using a .yml file as a description of the flow that is going to be used for indexing, when trying to fetch the SimpleIndexer it gives a 500 error and the message: `ServerSubprocessError: Process(docker) exited on non-zero code: 1`

Using `jina==2.4.9`

index.yml file:
[code]

Error:
[code]

Traceback:
[code]

[2021-11-23 22:43] JoanFM commented on #3988
Hey @ugm2,

Thank you for raising this issue. We had experienced ourselves but were convinced that it was fixed in 2.4.9.

Will get back to you as soon as we have definitely fixed the issue.

[2021-11-24 08:04] JoanFM opened #3989 "cd: Release should fail if `update_schema` fails"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-11-24 08:08] mapleeit commented on #3988
Hey, @ugm2 Could you retry now (No need to take any actions on your side)? I think it has been fixed by now.

Feel free to reopen this if there is still the same problem.

[2021-11-24 08:08] #3988 closed

[2021-11-24 08:35] ugm2 commented on #3988
Working!! :) Thank you!!! 🥇

[2021-11-24 09:37] ugm2 opened #3990 "LMDBStorage source code version not working"
Using LMDBStorage from source code (instead that from docker) fails.

I've looked at Jina Hub and it says it should be used this way: `'jinahub://LMDBStorage'`, but it didn't work for me.

Jina AI version: `jina==2.4.9`

yml file:
[code]

Error:
[code]

Traceback:
[code]

[2021-11-24 10:06] numb3r3 commented on #3990
Thanks for your feedback. I'm working on it. Please keep an eye on this PR https://github.com/jina-ai/executors/pull/302

[2021-11-24 11:03] numb3r3 commented on #3990
@ugm2 https://github.com/jina-ai/executors/pull/302 has been merged, please try it again

[2021-11-24 11:17] ugm2 commented on #3990
I am getting the same error after reinstalling jina, do I have to install executors too?

[2021-11-24 11:34] numb3r3 commented on #3990
@ugm2 Could you try pull the executor manually `jina hub pull jinahub://LMDBStorage --force`. After the pulling complete, start the jina flow then.

[2021-11-24 11:46] #3258 closed

[2021-11-24 11:51] ugm2 commented on #3990
It worked! I had to execute `jina hub pull jinahub://LMDBStorage --force` and adding `--install-requirements` at the end

[2021-11-24 11:55] JoanFM commented on #3990
Happy to hear @ugm2 !!! I will close this issue for now, do not hesitate to open a new one in case you have more troubles or doubts!

[2021-11-24 11:55] #3990 closed

[2021-11-25 08:20] JoanFM opened #3995 "docs: Clarify caveats and limitations when using K8s in documentation"
**Describe the feature**

- Clarify that `f.post` is only with port-forwarding and not  recommended for production use cases
- Clarify the limitation on the `Executors` that can be added, only `jinahub+docker://` and `docker://` where the docker image can be found in a docker registry accessible from the cluster

[2021-11-26 08:20] deepankarm opened #3998 "JinaD cannot connect to partial-daemon on Mac"

[2021-11-26 09:38] mapleeit commented on #3234
Confirmed no error occurs now. Closing

[2021-11-26 09:38] #3234 closed

[2021-11-26 12:50] deepankarm opened #4000 "Allow building docs locally for local changes"

[2021-11-26 13:20] #4000 closed

[2021-11-26 17:51] florian-hoenicke opened #4004 "Kubernetes - raise exception in case no cluster is set up"
At the moment, when you don't set up a cluster and run a flow, it will wait and not indicate that something went wrong. Please give an appropriate error message to the user.

Reproduce:
[code]

[2021-11-29 13:48] #3545 closed

[2021-11-29 21:06] Stubatiger opened #4008 "Cannot dump imageblob to bytesio"
**ENV**

Python 3.9
jina 2.5.0

**Describe the bug**

If i try to dump an image blob to a io.bytesio object an error is thrown

[code]

[code]

**Describe how you solve it**

Here
https://github.com/jina-ai/jina/blob/99b1e1dba1562659be679735912564150c08fe3b/jina/types/document/mixins/image.py#L98

the returned object of the context is not used in this line
[code]
if we change the code to
[code]

i

[2021-11-29 21:40] JoanFM commented on #4008
Hey @Stubatiger ,

[2021-12-01 18:27] Stubatiger commented on #4008
Sure, ill give it a try on the weekend :o)

[2021-12-02 08:14] alaeddine-13 opened #4013 "include sorting in the reduce logic"
If the user specifies a sort key, keep matches sorted when merging them

[2021-12-02 08:58] alaeddine-13 opened #4015 "integrate reduce logic in the runtimes"
use DocumentArray.reduce_mat in order to reduce the DocumentArray matrix into one when shards are used

[2021-12-03 09:28] JoanFM commented on #4013
Let's remove this, this is not doable since current organization does not allow to pass such parameters. Since MatchMerger does not include this option, this will not be needed at this moment

[2021-12-03 09:28] #4013 closed

[2021-12-03 09:29] JoanFM opened #4021 "integrate reduce logic in StarRouting"

[2021-12-03 09:30] JoanFM commented on #4021
Same as #4015 but in star routing branch to make sure is not forgotten

[2021-12-04 13:44] programmeddeath1 opened #4028 "Trying to index fashionpedia images"
Hii
I am trying to index fashionpedia images (val images 2020 - https://github.com/cvdfoundation/fashionpedia)

Its around 3200 images.

I tried to run jina indexing using the DocumentArray.from_files to index and load the images. I am running on gpu colab and
it is showing Error -  and 1 day 9 minutes to index and process.
Is this normal for only  3200 images? Do i need to pre-process and reduce

[2021-12-06 10:50] hanxiao opened #4034 "q.match(docs_index) before docs_index.plot_embeddings(image_sprites=True, min_image_size=50), you get the following error:"
If you are using q.match(docs_index) before docs_index.plot_embeddings(image_sprites=True, min_image_size=50),
you get the following error:
[code]

[2021-12-06 17:02] #4034 closed

[2021-12-07 14:18] CatStark opened #4038 "docs: Hub Portal post is outdated"
The post about [Hub Porta](https://docs.jina.ai/advanced/hub/hub-portal/)l is outdated

[2021-12-07 17:01] makram93 commented on #4028
Hi @programmeddeath1,

Thank you for trying out Jina. I have created a minimum working example [here](https://colab.research.google.com/drive/1LlrXQ3TpBd9Je46LQy836aJSGXfMzlrF?usp=sharing) and`DocumentArray.from_files` seems to be working for me. Please give it a try and let me know if you face any problems.

[2021-12-07 18:22] #4038 closed

[2021-12-08 11:58] cristianmtr opened #4044 "Executor.from_hub allow parametrization"
Can I not pass args to Executor.from_hub?

This fails

[code]

Has been asked in community Slack and seems like something a user would need in order to customize a local Executor.

[2021-12-08 12:22] #4044 closed

[2021-12-10 02:46] winstonww opened #4053 "minor tweak to `metric_name` in `match`"
Currently, we have a situation where we wanted to match docs with DPR embeddings with the cosine metric. But it would be very useful to label the score as something like `"dpr"` rather than `"cosine"` to differentiate the scores sine we need to use this score for posterior calculation in the match merger, and the score name "cosine" might have already been taken. However, the following is not supp

[2021-12-10 08:13] cristianmtr opened #4054 "uses_requests tries to bind uses_after Executor too"
[code]

[code]

[2021-12-12 15:05] mirfan899 opened #4056 "Document has issues."
Tutorial on Open Domain Question Answer bot(https://docs.jina.ai/tutorials/question-answering-bot/) has some issues.
I tried to run the open domain question tutorial and got issues with some variable names i.e.

[code]
Here it should be `query_flow` not `indexing_flow`.

Another mistake is the `MyIndexer` variable name. In tutorial you have `SimpleIndexer` not `MyIndexer`. Also it is not clear whi

[2021-12-12 15:17] mirfan899 opened #4057 "AttributeError: 'TextEncoder' object has no attribute 'metas'"
I tried to run the tutorial https://docs.jina.ai/tutorials/question-answering-bot, after setting up the environment I got following error on indexing the docs.

[code]

Here is `encoder.py` code.
[code]

Here is my `index.py` code
[code]

**Environment**

jina 2.6.2
docarray 0.0.2
jina-proto 0.1.0
jina-vcs-tag (unset)
libzmq 4.3.4
pyzmq 1.21.4
protobuf 3.19.1
proto-backend cpp
grpcio 1.42.0
pyyaml

[2021-12-12 16:01] gvondulong commented on #4056
Will look into this tomorrow.
Have a good evening.

[2021-12-13 18:43] gvondulong commented on #4056
@mirfan899 Thank you for raising this issue.
Your points are all very valid. Our codebase has moved on, so I was not able to fix it today.
Once the related issues are solved (likely tomorrow), I will get back to you!

[2021-12-14 14:33] cristianmtr opened #4059 "env vars with { don't get resolved"
[code]

[code]

the old syntax works

[code]

[code]

[2021-12-14 16:43] deepankarm opened #4061 "`workspace` is None for an Executor created with a K8S Flow"

[2021-12-14 16:44] JoanFM commented on #4061
`runtime_args` seem to be not properly passed to `K8s` deployments inside `K8s` Pod.

[2021-12-15 08:36] JoanFM commented on #4057
Hello @mirfan899 ,

Sorry for the inconvenience,

the `TextEncoder` is missing the `super().__init__(**kwargs)` call to initialize the arguments from the `Executor` base class.

@gvondulong can you please take a look? thanks!

[2021-12-15 08:54] gvondulong commented on #4057
Hi @JoanFM and @mirfan899,
I was working on this yesterday and found a number of issues in the code. The updated version is next to finished and should be published today.
Thanks again @mirfan899 for raising the issue and helping us to make the tutorial better for everyone!

[2021-12-15 12:43] gvondulong commented on #4057
FYI @mirfan899 I raised a [PR](https://github.com/jina-ai/jina/pull/4064/files), that addresses the issues you pointed out and generally seeks to generally improve the tutorial on how to build a QA bot with Jina.
Thank you again for raising this issue! We are always happy to see people, who are eager to use Jina to build cool stuff and it is our task to make that as easy as possible.

[2021-12-15 14:03] #4057 closed

[2021-12-15 15:17] CatStark commented on #4028
Hi @programmeddeath1 , was your question solved by @makram93? if that's the case I'll close this issue :)

[2021-12-15 15:18] CatStark commented on #4008
Hi @Stubatiger , thanks a lot for your contribution! Did you have time to check Joan's feedback? or is there anything else you need from our side to continue with the PR?

[2021-12-16 09:27] #4015 closed

[2021-12-16 14:55] raphael10-collab opened #4068 "`As-a-Service in 10 Extra Lines ` : aiohttp.client_exceptions.ClientOSError: [Errno 32] Broken pipe"
Following the indications here: https://github.com/jina-ai/jina#as-a-service-in-10-extra-lines-

I'm trying to execute the following script:

    # https://github.com/jina-ai/jina#as-a-service-in-10-extra-lines-

    from jina import Document, DocumentArray, Executor, Flow, requests

    # pre-processing step
    class PreprocImg(Executor):
        @requests
        def foo(self, docs: DocumentArr

[2021-12-16 15:31] JoanFM commented on #4068
Hello @raphael10-collab ,

Do u have images inside a foler `img`?

[2021-12-16 15:33] raphael10-collab commented on #4068
Hi!! @JoanFM !

    (vespa) raphy@pc:~/vespa-jina/jina-sample-apps/img$ ls -lah | wc -l
    6020
    (vespa) raphy@pc:~/vespa-jina/jina-sample-apps/img$ ls -lah | head
    total 115M
    drwxrwxr-x 2 raphy raphy 168K Dec 16 11:13 .
    drwxrwxr-x 6 raphy raphy 4.0K Dec 16 16:26 ..
    -rw-rw-r-- 1 raphy raphy  23K Oct 17  2018 00000.jpg
    -rw-rw-r-- 1 raphy raphy  24K Oct 17  2018 00001.jpg

[2021-12-16 15:35] JoanFM commented on #4068
May u try setting this before running it?

```export JINA_LOG_LEVEL=DEBUG```

[2021-12-16 15:36] cristianmtr commented on #4068
Hey @raphael10-collab

I couldn't reproduce either. Works fine for me.

I do notice that there is a very long ETA in the logs you posted.

[code]

Maybe the task times out. Can you try with just a few images first?

[2021-12-16 15:38] raphael10-collab commented on #4068
Now I've got something different :

    (vespa) raphy@pc:~/vespa-jina/jina-sample-apps$ export JINA_LOG_LEVEL=DEBUG
    (vespa) raphy@pc:~/vespa-jina/jina-sample-apps$ python3 AsAService-ResNet501ImageSearch.py
          executor0@171196[D]:setting up sockets...
          executor0@171196[D]:control over tcp://0.0.0.0:43699
          executor0@171196[D]:input 0.0.0.0:39057
          executor0@1711

[2021-12-16 15:39] cristianmtr commented on #4068
[code]

Check what you have running on that port and kill it (or bind to different port)

[2021-12-16 16:20] raphael10-collab commented on #4068
After checking the port 12345, I tried with a small (30 pics) input sample:

    (vespa) raphy@pc:~/vespa-jina/jina-sample-apps$ python3 AsAService-ResNet501ImageSearch.py
               Flow@183087[I]:🎉 Flow is ready to use!
	    🔗 Protocol: 		HTTP
	    🏠 Local access:	0.0.0.0:12345
	    🔒 Private network:	192.168.1.4:12345
	    🌐 Public address:	109.116.161.240:12345
	    💬 Swagger UI:		http://l

[2021-12-16 16:43] cristianmtr commented on #4068
Can you try with a small dataset but with debug logging?

[code]

[2021-12-16 16:53] raphael10-collab commented on #4068
With the small dataset and debug logging:

        (vespa) raphy@pc:~/vespa-jina/jina-sample-apps$ export JINA_LOG_LEVEL=DEBUG
        (vespa) raphy@pc:~/vespa-jina/jina-sample-apps$ python3 AsAService-ResNet501ImageSearch.py
              executor0@202807[D]:setting up sockets...
              executor0@202807[D]:control over tcp://0.0.0.0:52495
              executor0@202807[D]:input 0.0.0.0:558

[2021-12-16 17:00] JoanFM commented on #4068
Hey @raphael10-collab ,

We believe to be close to the issue:

Just to confirm:

Could you try adding this afte the embedding?

[code]

This should not help you make it work, but u should see that the Task is properly finished. This would hint us towards the right root cause

[2021-12-16 17:16] raphael10-collab commented on #4068
With this snippet `AsAService-ResNet501ImageSearch.py` :

    # https://github.com/jina-ai/jina#as-a-service-in-10-extra-lines-

    from jina import Document, DocumentArray, Executor, Flow, requests

    # pre-processing step
    class PreprocImg(Executor):
        @requests
        def foo(self, docs: DocumentArray, **kwargs):
            for d in docs:
                (d.load_uri_to_image_blob(

[2021-12-16 17:29] JoanFM commented on #4068
It seems to work, and now the Flow is ready to receive requests.

We will work on a proper fix soon

[2021-12-17 10:34] jyotikhetan opened #4073 "Running the model locally"
**I want to run the model locally**
 how can run any model locally, without pulling anything from hub..!! I tried cross modal replaced jinahub model by python script.. still it's connecting to hub to load.. process the thing..!!

My Flow look like tihs now
[code]

[2021-12-17 11:05] JoanFM commented on #4073
Hey @jyotikhetan , are you sure there is no other `Flow` also involved. There should be no `jinahub` involvement here.

Can you share what is the code u run and what are the logs u see?

Thanks,

Joan

[2021-12-17 11:28] jyotikhetan commented on #4073
hi @JoanFM , so I am running the executor file from jina... For CLIPtextencoder, I have removed path of executor from jinahub & replaced it with python script..as below

[code]
`from typing import Dict, Optional, Sequence

import torch
from jina import DocumentArray
from transformers import CLIPModel, CLIPTokenizer

class CLIPTextEncoder():

    def __init__(
        self,
        pretrained_model

[2021-12-17 12:03] JoanFM commented on #4073
hey @jyotikhetan ,

his is not `Jinahub` problem. The problem is your `Executor` is not inherting from `Executor` and is not using` @requests` decorator

[2021-12-17 12:05] JoanFM commented on #4073
[code]

[2021-12-17 12:06] JoanFM commented on #4073
I guess there is some other problem with `ClipImageEncoder`

[2021-12-17 12:26] jyotikhetan commented on #4073
hi @JoanFM  Thank you for response..!But I tried with simpleindexer, I still couldn't make it work..!! Basically I want to run my model completely locally, in sense I should be able to run it without internet connection....What i need to do for that..!!

[2021-12-17 12:37] JoanFM commented on #4073
You can try to do `jina hub pull` of the `Executors` you are interested to use. And then have the `local` copy of these `python` files to deploy as normal `Executors`. Another option is to clone locally the `executors` from their `public` repositories, and just use the `code` as local executors.

[2021-12-17 12:41] jyotikhetan commented on #4073
I tried the second option with cross modal... replaced all the executor with python script of corresponding executor... with internet it's working, without internet it's not...!! Excuse me for such naive query... but I am trying to understand..!!

[2021-12-17 12:45] JoanFM commented on #4073
I need to have more details `logs`. What is the `exact` thing you run and the exact problem?

[2021-12-17 12:52] jyotikhetan commented on #4073
I am attaching the flow folder & script I am trying to run... I want to run everything locally...!! In sense , I should be able to run my model without network connectivity.. nothing should  be downloaded from hub or cloud.... If i can do that...??
[app.txt](https://github.com/jina-ai/jina/files/7735226/app.txt)

[flows.zip](https://github.com/jina-ai/jina/files/7735214/flows.zip)

[2021-12-17 13:00] JoanFM commented on #4073
You have to change the `flow-query.yml` to use the `non-jinahub` executors.

[2021-12-17 13:07] jyotikhetan commented on #4073
So Can I just create my own Imagencoder executor or dockerize the hub executor... make the changes in flow accordingly...then will it work??

[2021-12-17 13:21] JoanFM commented on #4073
The changes that u did to your `flow-index.yml` should also be done in `flow-query.yml`

[2021-12-17 13:23] jyotikhetan commented on #4073
Okay... But I haven't used query flow... I was just trying to index first..!! So I am able to run the above flow-index.yml with network connectivity but without it it's not able to index....

[2021-12-17 14:59] JoanFM commented on #4073
Can u tell me what is the exact logs when u run the `index-flow`?

I think is not about `jinahub` , maybe is it truing to download the transformer models?

[2021-12-20 05:31] jyotikhetan commented on #4073
hey hi @JoanFM, Thank you for your support..!! It's working now....I had an issue in loading the transformer model as you correctly mentioned...!!

[2021-12-20 06:33] #4073 closed

[2021-12-20 08:36] #3809 closed

[2021-12-20 08:39] JoanFM commented on #3687
Groundtruths will soon be removed

[2021-12-20 08:39] #3687 closed

[2021-12-20 12:50] gvondulong commented on #4056
Hi @mirfan899,
thank you again for reaching out! I have fixed the problems and used your feedback to generally improve the tutorial.
The issue should be fixed. Here is a PR with the changes, in case you want to have a look. https://github.com/jina-ai/jina/pull/4064
We are always happy to see people building stuff with Jina and strive to make that as easy as possible for you!
Feel free to reach out

[2021-12-20 12:57] #4056 closed

[2021-12-20 18:14] myntoralex opened #4079 "Typo in Tutorial"
**Describe the bug**
Just a typo in the tutorial at https://docs.jina.ai/tutorials/master-executor/

[code]

Should be

[code]

[2021-12-20 23:54] Bug-Reaper commented on #1161
Examples are the best documentation you can give developers. Examples that revolve around a specific feature are always insanely helpful.

Perhaps someone can audit the landscape of current examples to get an idea of which additions could be most helpful.

[2021-12-21 08:35] JoanFM opened #4080 "Check return Dict from Executor in Star Routing"

[2021-12-21 17:48] JoanFM opened #4082 "Change behavior on `flow.post`"
In `flow.post(‘/’)` if no callback is specified, automatically apply `return_results=True` and return results as a flattened `DA`

[2021-12-22 07:17] alaeddine-13 opened #4084 "Enforce deterministic results order on 'needs' in topology graph"
When making requests to pods running in parallel, the topology graph should await all tasks together to have a deterministic ordering (similar to asyncio.gather in the head runtime)

[2021-12-22 08:38] #4021 closed

[2021-12-22 17:16] alaeddine-13 opened #4090 "jinahub+docker:// doesn't work inside flow in star routing"
installing jina from star-routing branch and running
[code]
fails

[2021-12-23 08:36] #4090 closed

[2021-12-27 16:17] shersoni610 opened #4103 "Image Search Performance on CPU"
Has anyone tried, the image search example on a MAC machine that is available on Jina webpage? On my machine, it is ran for hours without doing anything.

Thanks

[2021-12-27 16:21] JoanFM commented on #4103
Hello @shersoni610 , can u please put some more details on what steps you follow and what is the observed outcome?

Also it would be nice if you can set `JINA_LOG_LEVEL` environment variable  to `DEBUG` before running it

Thanks

[2021-12-27 16:32] shersoni610 commented on #4103
Hello, I just copied the example that is available on the webpage and changed cuda to CPU. I used the same image data that was used in the example:

from jina import DocumentArray, Document
import torchvision

def preproc(d: Document):
    return (d.load_uri_to_image_blob()  # load
             .set_image_blob_normalization()  # normalize color
             .set_image_blob_channel_axis(-1, 0))  #

[2021-12-27 16:36] JoanFM commented on #4103
Hey @shersoni610 ,

May I ask you, fo you have a folder called `img` with actual `.jpg` images in it?=

[2021-12-27 16:52] shersoni610 commented on #4103
Yes. I get the result as shown on the webpage but after an exorbitant time.

[2021-12-27 16:54] shersoni610 commented on #4103
For the MedicalMNIST dataset, it took almost 2 hours for 10000 images.  The classical image search using OpenCV features takes a couple of mins and the results were reasonable.

[2021-12-27 17:01] shersoni610 opened #4104 "Need some ideas on 3D Mesh Searching"
Hello,

I want to use Jina for 3D object searching in ShapeNet, Thing10K, and ABC datasets. Can someone give some hints how to start and what new tools I need to develop?

I want to contribute in JINA on 3D Mesh part.

Regards

[2021-12-27 17:07] JoanFM commented on #4103
What is the step that is taking time?

[2021-12-27 17:21] shersoni610 commented on #4103
Step#2 i.e. docs.embed() is very slow.

[2021-12-27 17:22] JoanFM commented on #4103
Well yes, embedding 10000 images using CPU with ResNet can be rather slow

[2021-12-27 17:23] shersoni610 commented on #4103
Is there an example to show how to store the embedding in a JSON file (or some in-memory database)?

[2021-12-27 17:25] JoanFM commented on #4103
You can always print the document as a json:

[code]

This may be too big given the size of the documentarray.

[2021-12-27 17:25] shersoni610 commented on #4103
Can we store OpenCV features and search for image similarity using JINA?

[2021-12-27 17:26] shersoni610 commented on #4103
Docs may be large but embedding should be small? Am I missing something?

[2021-12-27 17:33] JoanFM commented on #4103
You can store any `numpy array ` or `torch tensor` as the embedding of a `Document`.

[2021-12-27 17:33] JoanFM commented on #4103
Embeddings would be high-dimensional arrays. You can try and see

[2021-12-28 04:03] shersoni610 opened #4105 "Rotated KeyFrames image sprite"
Hello

I used the KeyFrames extraction code provided on the web. However, when I use

d.chunks.plot_image_sprites('mov.png')

The images in the mov.png are rotated by 90 degrees. Is there a way to get the correct
rotation automatically?

[2021-12-28 04:06] shersoni610 opened #4106 "Which software to use the rendering the point cloud?"
Hello,

I see an example of mesh point cloud on the webpage. Which software is used to render
the point cloud and the mesh?  Can we directly use meshlab?

[2021-12-28 04:17] shersoni610 commented on #4106
Thanks, I found the renderer in another example.

[2021-12-28 07:49] azayz commented on #4106
Okay great.

[2021-12-28 07:49] #4106 closed

[2021-12-28 08:18] askintution opened #4108 "even the tutorial is not working - cannot reshape array of size 123620208 into shape (3,1052,780)"
Do the process in tutorial, read a bruch of images to search.

[code]

the error like this

[code]

Name: jina
Version: 2.6.3

Name: torch
Version: 1.10.1+cpu

[2021-12-28 08:37] azayz commented on #4108
Hello,

Can you try with these versions:

jina==2.6.3
torch==1.9.1
torchvision==0.10.1

[2021-12-28 09:22] askintution commented on #4108
@azayz not work. Just me occurred this problem due to my envrionment?

[code]

torch                         1.9.1
torchaudio                    0.10.1+cpu
torchvision                   0.10.1
jina                          2.6.3

[2021-12-28 10:42] servusoft opened #4109 "using clip-ViT-B-32-multilingual-v1 with CLIPImageEncoder"
**Describe the feature**

The clip-vit-base-patch32 model from openai has a restriction, its trained with English and not support another languages.

**Your proposal**

The clip-ViT-B-32 from sentence_transformers has an multilingual text encoder (clip-ViT-B-32-multilingual-v1)
My question is, are the text-embeddings from CLIPTextEncoder('clip-vit-base-patch32') the same as from SentenceTransforme

[2021-12-28 10:59] azayz commented on #4108
I believe so because for me this is working, I'll keep investigating and let you know

[2021-12-28 11:56] makram93 commented on #4109
Hi @servusoft,

Thank you for trying out Jina. You are right, `clip-vit-base-patch32` supports only English.

To answer your question, the text-embeddings from `CLIPTextEncoder('clip-vit-base-patch32')` are the same as from `SentenceTransformer('clip-ViT-B-32')`. As mentioned [here](https://www.sbert.net/examples/applications/image-search/README.html) `SentenceTransformer` is a wrapper for `OpenAI

[2021-12-28 12:35] servusoft commented on #4109
Many thanks for reply, makram93!

As I your understood, the flow with **TransformerSentenceEncoder**
[code]
serve the same results as the flow with **CLIPTextEncoder**?

[code]

[2021-12-28 13:45] makram93 commented on #4109
Yes, they are same. Just replace `clip-ViT-B-32` with `clip-ViT-B-32-multilingual-v1` when using `TransformerSentenceEncoder` for multilingual.

[2021-12-28 14:58] makram93 commented on #4105
Hi @shersoni610,

Thank you for trying out Jina and raising this issue. Can you share the jina version? Also please share the code snippet to reproduce this.

[2021-12-28 23:19] servusoft commented on #4109
thank you very much @makram93, it works fine!

I have another question:
Is there a similar way to configure CLIPImageClassifier to work with multilingual labels?

[2021-12-29 13:03] makram93 commented on #4109
CLIPImageClassifier uses single model for text-image classification and in the example that you shared, two different models are used. However, you can try using CLIPImageClassifier with the `clip-ViT-B-32-multilingual-v1`. The other option would be to write your own executor extending the CLIPImageClassifier logic, using two different models for classification with multilingual labels.

[2021-12-29 23:38] servusoft commented on #4109
It looks like we need to write a new executor. The CLIPModel does not work with "sentence-transformers/clip-ViT-B-32". Here indexing will be with "clip-ViT-B-32" and search with "clip-ViT-B-32-multilingual-v1" models.

I'll try to write with a name like CLIPImageClassifierML. If I need help, I will contact you.

I am delighted about Jina platform! With a few lines of code, its possible to create a

[2021-12-30 09:53] makram93 commented on #4109
@servusoft, I am excited and looking forward to your application. We are always happy to see people, who are eager to use Jina to build cool stuff and it is our task to make that as easy as possible.

I am closing this ticket now. Do create a new issue or post on our community Slack for quick support.

[2021-12-30 09:53] #4109 closed

[2021-12-30 16:46] gmastrapas opened #4114 "Document method `.dict()` fails"
**Describe the bug**

Conversion to dict, does not seem to work

[code]
[code]

**Environment**
- jina 2.6.3
- docarray 0.0.3
- jina-proto 0.1.0
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.21.4
- protobuf 3.19.1
- proto-backend cpp
- grpcio 1.42.0
- pyyaml 6.0
- python 3.9.7
- platform Darwin
- platform-release 21.1.0
- platform-version Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 202

[2022-01-01 11:15] vitouphy commented on #4108
I have the same problem.
It seems Jina is storing all the image blobs into one 4D array. Differ image size may be the problem.

![image](https://user-images.githubusercontent.com/35600466/147849214-7c2ec32e-945a-4d4d-af22-ded1a16d7d9f.png)

Try resizing the image.
[code]

[2022-01-03 06:57] jyotikhetan opened #4118 "Encoder is not working"
I am trying example from jina blog but enocder is not working cause of that index is out of range.
Please me to understand.
[https://docs.jina.ai/datatype/image/image2image/](url)

error I am facing are : -

[code]

[2022-01-03 07:11] JoanFM commented on #4118
The link does not seem to point to any valid end

[2022-01-03 07:56] jyotikhetan commented on #4118
https://docs.jina.ai/datatype/image/image2image/  I hope this should work..!!

[2022-01-03 10:51] makram93 commented on #4118
Hi @jyotikhetan,

I tried out the example in the blog, and with few changes, it seems to be working. Please use `lightning-flash==0.5.0`. You can find my working solution [here](https://colab.research.google.com/drive/1JUWCZRH88uAvofUomTZYxvIR2jSm7H6Z?usp=sharing)

Thank you for raising this issue. Please let me know if you find any other problems in the working colab. Meanwhile, I will update the

[2022-01-03 11:45] jyotikhetan commented on #4118
hi @makram93
I have tried that already... but still I having trouble..!!
[code]
error log shows issue in this..!!
Alos in colab pytorch_lighting version cann't import _PatchDataloader,, It's _Dataloader

[2022-01-03 15:13] makram93 commented on #4118
Hi @jyotikhetan,

Can you let me know the `jina`, `pytorch-lightning` & `lightning-flash` version? I have updated the colab, it should be working now. It's mainly due to the dependencies version problem. Let me know if there's still issue with it

[2022-01-04 02:39] askintution commented on #4108
@vitouphy thanks,it solved

[2022-01-04 02:40] #4108 closed

[2022-01-04 03:17] mapleeit commented on #4079
Hi, @myntoralex  Thanks for pointing it out. PR made.

[2022-01-04 07:51] #4079 closed

[2022-01-04 08:31] JoanFM commented on #4061
Will be invalid after #4089

[2022-01-04 08:36] jyotikhetan commented on #4118
hi @makram93

I was still getting the same error, after installing the version recommended in colab... So I ran the colab file itself... there also I am getting the same error.

Please help me understand , I am going wrong..

[code]

[2022-01-04 08:42] makram93 commented on #4118
@jyotikhetan Can you share your colab with the reproducible error? It will be easier for me take a look into your code.

[2022-01-04 08:43] JoanFM commented on #4118
It seems @jyotikhetan that `docs.get_attributes('uri')` may not be actually returning `uris`. Can u print the result of doing:

`docs.get_attributes('uri')` in that executor?

[2022-01-04 10:35] #4061 closed

[2022-01-04 11:44] jyotikhetan commented on #4118
Hi @makram93 , One I shared is from colab file , itself..!! Thank you

hi @JoanFM

[code]
so I am getting the URI of files which i tried indexing correctly
`['/home/jyoti/image_pipline/test2/7.jpg', '/home/jyoti/image_pipline/test2/5.jpg', '/home/jyoti/image_pipline/test2/8.jpg', '/home/jyoti/image_pipline/test2/2.jpg',`

also got the corresponding embedding by printing embeds.
 when I tried to se

[2022-01-04 11:49] JoanFM commented on #4118
Well, the error seems to be clearly here ,

So can u please share the exact steps and the exact logs extracted (not only the error, the complete working steps)

[2022-01-04 12:50] jyotikhetan commented on #4118
hi @JoanFM

This is complete code from the link shared

[code]

I am using swagger UI so see the results , Indexing is done correctly after that it's throwing this error

[code]

Thank you

[2022-01-04 13:00] JoanFM commented on #4118
Without Swagger UI, what is the result of running this part:

[code]

[2022-01-04 13:09] jyotikhetan commented on #4118
hi @JoanFM

I am getting empty string as
[code]

[2022-01-04 13:28] JoanFM opened #4122 "remove release of docs after merge on master, only after release"

[2022-01-04 15:40] makram93 opened #4124 "requirements installed wrong when using gpu tag with hub executors"
**Describe the bug**
When using `-gpu` endpoint in the hub executor name as shown in the below script, the requirements installed are cpu version of torch and not gpu version.

[code]

![image](https://user-images.githubusercontent.com/6537525/148083958-e771cb5d-62f8-4da3-84da-c58ae263f6ce.png)

**Environment**
[code]

[2022-01-04 15:47] #4124 closed

[2022-01-05 09:58] JoanFM commented on #4118
Hey @jyotikhetan,

then the problem is another, the problem that you post is some error that may be due to a wrong usage of the `SwaggerUI`.

So let's focus first on this "" results. These results are normal.

Please pay attention at your `print_matches` function:

- It prints the value of the `euclidean` score. It is normal it is 0.0 because `euclidean` score does not exist since `SimpleIndexer`

[2022-01-05 10:29] jyotikhetan commented on #4118
hi @JoanFM ,

Yeah it's working now..Please updated in doc also. https://docs.jina.ai/datatype/image/image2image/  .

Thank you

[2022-01-05 10:29] #4118 closed

[2022-01-06 09:26] jacobowitz opened #4131 "Make sure debug logs are disabled in K8s"
By default the LogLevel should be Info in Kubernetes and not Debug. I think its Debug at the moment.

[2022-01-06 11:59] jacobowitz opened #4133 "K8s Flow fails on GKE"
The Flow belows currently fails on GKE. It works with Minikube and on AWS for some reason.
This was verified with Jina 2.6.4

[code]

[2022-01-06 14:29] jacobowitz commented on #3941
I was running this against star routing and the received document count is always 10 as expected, I think there is nothing to do.

[2022-01-07 08:31] #3941 closed

[2022-01-07 11:27] numb3r3 commented on #4104
@shersoni610 FYI, a new executor has been ready for playing around https://github.com/jina-ai/executor-3d-encoder

So far, the following two models are supported:
- [PointNet](https://arxiv.org/abs/1612.00593): Deep Learning on Point Sets for 3D Classification and Segmentation
- [PointConv](https://arxiv.org/abs/1811.07246): Deep Convolutional Networks on 3D Point Clouds

The pre-trained models ba

[2022-01-10 10:13] JoanFM opened #4144 "K8s: check need of service for all pods"
Check if `service` object is needed for all `runtime` yamls

[2022-01-10 10:16] JoanFM opened #4145 "Check external pods in K8s"
**Describe the feature**
After #4089 and #4130 are merged. We should make sure the user experience of connecting to a sandbox external Executor is good

[2022-01-10 10:24] winstonww opened #4146 "update `from_files` usage in documentation"
Saw in a couple of places in our documentations and also in eaps/solutions that:
[code]
 is used. Now that `docarray` becomes a separate module, should we update the documentation to replace the imports to:
[code]
or would it make sense to import `docarray`'s `from_files` into jina so users can import `from_files` from Jina (like in the case of `Document`/`DocumentArray`/`Executor`...etc) ?

[2022-01-10 12:10] jacobowitz opened #4147 "Create test for disabling K8sGrpcConnectionPool"
We should have a test which makes sure that disabling the auto discovery feature of the K8sGrpcConnectionPool actually works.

So in the test we should disable the K8sGrpcConnectionPool and then send requests and make sure we only hit a single replicas where hit all replicas with the K8sGrpcConnectionPool being enabled

[2022-01-10 14:39] thepowerfuldeez opened #4149 "How to deploy flow?"
First of all, thank you for such a nice framework for building scalable neural search engines.
I tried to serve executors into separate docker containers and built them using `docker build` from Dockerfile created via `jina hub new` command/. Then I successfully ran Flow-as-a-Service in my python script using smth like this
[code]

My question is: how can I deploy this flow to be running on produc

[2022-01-10 15:01] JoanFM commented on #4149
Hey @thepowerfuldeez ,

Thanks for the interest in Jina. You can use Jina on Kubernetes as stated in https://docs.jina.ai/advanced/experimental/kubernetes/#jina-on-kubernetes

However, the way this is handled will soon change. Stay tuned because in the near future, Jina will be always to dump `configuration` files so that you can easily use and scale your Executors in the cloud using `Kubernetes`

[2022-01-10 15:12] thepowerfuldeez commented on #4149
thank you for fast answer! I looked up for docs with Kubernetes, but it seems to me, that it still deploying with plain python script, so you need to have it running somewhere.

As a workaround now, I removed docker python api dependencies and using one docker container with all requirements for all executors at once, initiating executors from config files. This way I have only one docker containe

[2022-01-10 15:57] JoanFM commented on #4149
That is correct, with ur current structure, u can use `replication` and `sharding` but inside a docker (so as processes inside the docker) but without the desired isolation.

[2022-01-10 15:59] JoanFM commented on #4149
As for the `k8s` thing, u are right and that's why we want to change the approach.

However,  u can still do like this:

[code]

And like this u can start and u can drop the object and the python script.

Notice that this will not be supported very soon, but may be a good way to deploy for now on Kubernetes

[2022-01-11 07:43] JoanFM opened #4151 "cd tests are broken."
CD workflow seems not to pass the tests

[2022-01-11 07:46] JoanFM commented on #4151
It seems that `feat-star-routing` did changes in `CI.yml` which were not ported to `CD.yml`

[2022-01-11 08:08] cristianmtr commented on #3462
Not sure what this task is. The URL in the notion doesn't exist.

[2022-01-11 08:08] #3462 closed

[2022-01-11 08:09] cristianmtr commented on #3462
@CatStark Do you know, by any chance?

[2022-01-11 09:13] #4151 closed

[2022-01-11 13:29] JoanFM commented on #3492
Closing this as it should be mvoed in new docarray

[2022-01-11 13:29] #3492 closed

[2022-01-11 13:30] JoanFM opened #4155 "Validate examples from Kubernetes and Docker Compose documentation"
Examples added in Kubernetes and Docker Compose documentation need to be validated and adjusted to work

[2022-01-11 13:34] #4122 closed

[2022-01-11 13:37] JoanFM commented on #3520
To be moved to docarray if still applies

[2022-01-11 13:37] #3520 closed

[2022-01-11 13:37] #3556 closed

[2022-01-11 13:38] JoanFM commented on #3661
Move to `docarray` if considered still relevant

[2022-01-11 13:38] #3661 closed

[2022-01-11 13:38] #3760 closed

[2022-01-11 13:39] #4004 closed

[2022-01-11 13:39] JoanFM commented on #4008
Issue to be moved to `docarray` if still valid

[2022-01-11 13:39] #4008 closed

[2022-01-11 13:40] JoanFM commented on #4053
To be moved to `docarray` if applies

[2022-01-11 13:40] #4053 closed

[2022-01-11 13:40] #3718 closed

[2022-01-11 13:45] JoanFM opened #4156 "Refactor code structure"
**Describe the feature**
Refactor code structure so that it ends up being something similar to:

[code]

[2022-01-11 14:02] CatStark commented on #3462
It was solved, good that you closed it.

[2022-01-11 14:05] JoanFM commented on #3818
https://github.com/jina-ai/jina/pull/4157

[2022-01-11 15:00] Kumar-Tarun opened #4158 "Question Answering Tutorial gives error in the match function."
I am following the [QA tutorial](https://docs.jina.ai/tutorials/question-answering-bot/#). While running the code, I ran into the following error (attaching both the code & log):
**Code:**
[code]
**Log:**
[code]

**Environment**
Output of `jina --version-full`:
[code]

[2022-01-11 15:23] JoanFM commented on #4158
Hello @Kumar-Tarun ,

may u please clean the cache under `~/.jina/`. It seems one of the `executors` is using a different version than the others

[2022-01-11 15:35] Kumar-Tarun commented on #4158
Hi @JoanFM, `~/.jina/` only had an empty directory `hub-packages`. So, yeah, even after removing that, I'm still facing the same issue.

[2022-01-11 15:42] JoanFM commented on #4158
It is weird I cannot reproduce. Can you try doing a fresh install of jina?

[2022-01-11 16:04] JoanFM commented on #4158
Hey @Kumar-Tarun ,

Yes the exact same with torch 1.10.0 in my case.

However, can u try setting `JINA_LOG_LEVEL=DEBUG` as environment variable?

[2022-01-12 02:09] numb3r3 commented on #4104
@shersoni610 if the executor mentioned above can give you some hints, I'll close this issue :)

[2022-01-12 07:12] snaaz21 opened #4163 "Text-by-Audio"
Hi,

I want to retrieve text by searching for an audio using [AudioClip](https://github.com/AndreyGuzhov/AudioCLIP) model.

First, I created indexing of **text** (car-horn, coughing, alarm-clock, thunderstorm etc) and using [AudioClipTextEncoder](https://github.com/jina-ai/executors/tree/main/jinahub/encoders/text/AudioCLIPTextEncoder) for embedding.

After that I am searching for an audio where i

[2022-01-12 07:15] JoanFM commented on #4163
Why do you consider these outputs not correct? what are the expected result and its score?

[2022-01-12 07:17] Kumar-Tarun commented on #4158
@JoanFM After setting this variable, I get the following:
[code]
Also, what I observed is, in the SimpleIndexer, while indexing the documents, docs.embeddings is `None` and maybe this results in error later on. Whereas the query docs has its `embeddings` attribute filled. Any idea what might be going on?
PS: I also tried with torch-1.10.1, but got the same error.

[2022-01-12 07:19] snaaz21 commented on #4163
correct outputs means its not retrieving the exact sequence output, for coughing it should give coughing first like that.
i am new in this.
please do correct me where did i do wrong?

[2022-01-12 07:50] JoanFM commented on #4163
Can u paste the exact code u run and your modified content?

[2022-01-12 08:17] JoanFM commented on #4158
When indexing, is not `docs.embeddings` that matters but `docs.traverse_flat('c').embeddings` that you should check

[2022-01-12 08:23] snaaz21 commented on #4163
**app.py**

`from jina.types.document.generators import from_files
from jina import DocumentArray, Flow, Document

def check_query(resp):
    for d in resp.docs:
        print(f'input_audio: {d.uri}, len-of-chunks:{len(d.chunks)}')

        for m in d.matches:
            print(f' +- id: {m.id} score: {m.scores["cosine"].value:.6f}, {m.text}')

def main():
    doc_text = DocumentArray([Document(te

[2022-01-12 08:25] snaaz21 commented on #4163
``**flow-search.yml**
`jtype: Flow
version: '1'
#with:
#  port_expose: 45678
executors:
  - name: 'audio_segmenter'
    uses: AudioSegmenter
    uses_with:
      window_size: 4
      stride: 2
    py_modules:
      - executors.py
  - name: 'audio_encoder'
    uses: AudioCLIPEncoder
    py_module : 'AudioCLIPEncoder/executor/audio_clip_encoder.py'
    uses_with:
      traversal_paths: 'r'
    needs

[2022-01-12 08:26] JoanFM commented on #4163
And what abou the `flow-index`?

[2022-01-12 08:28] snaaz21 commented on #4163
**executors.py**

`import librosa as lr
import numpy as np
from collections import defaultdict

from jina import Document, DocumentArray, Executor, requests

class AudioSegmenter(Executor):
    def __init__(self, window_size: float = 1, stride: float = 1, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.window_size = window_size  # seconds
        self.stride = stride

[2022-01-12 08:30] JoanFM commented on #4163
The most obvious thing that comes to my mind, is that you are `segmenting` your query, but then u are not using the `semgneted` audios to encode or search. You would need to adapt the `traversal_paths` of `AudioCLIPEncoder` and `SimpleIndexer` and `Ranker` for this

[2022-01-12 08:45] snaaz21 commented on #4163
I got it, sorry by  mistake I commented "traversal_rdarray" and "traversal_ldarray"  in the above **flow-search.yml**
but I used it and had to give both as "r" since it was not working for "r","c" or "c", "c"

[2022-01-12 08:46] snaaz21 commented on #4163
I also tried without segmenting audio, still getting same output.

**executors.py**
`import librosa as lr
import numpy as np
from collections import defaultdict

from jina import Document, DocumentArray, Executor, requests

class AudioSegmenter(Executor):
    def __init__(self, window_size: float = 1, stride: float = 1, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.windo

[2022-01-12 08:53] JoanFM commented on #4163
What is the change of executors? Right now there is too much info. Can we get a clear view of what has been run (code, flows, and params) and the output and why is that wrong?

[2022-01-12 08:53] JoanFM commented on #4163
What is the change of executors? Right now there is too much info. Can we get a clear view of what has been run (code, flows, and params) and the output and why is that wrong?

[2022-01-12 08:57] #4131 closed

[2022-01-12 09:05] JoanFM commented on #4163
Hey @snaaz21 ,

is the issue solved?

[2022-01-12 09:06] snaaz21 commented on #4163
no, by mistake it closed

[2022-01-12 09:09] snaaz21 commented on #4163
I modified this comment please check this once

[2022-01-12 09:31] JoanFM commented on #4163
With the `Ranker` you have right now, the `ranker` is not needed anymore.

You can simply remove it from the search flow it seems. These ranker makes no sense if `r` and `m` are used as `traversal_path`.

[2022-01-12 09:47] snaaz21 commented on #4163
thank you for reply.

what should I do for matching or ranking scores?

[2022-01-12 09:56] JoanFM commented on #4163
if the match happens at root level, no need to rank again, the indexer will returned sorted by similarity

[2022-01-12 10:38] snaaz21 commented on #4163
ok, I am not using MyRanker now.

I simply printed the result as below;

input_audio: AudioCLIP/demo/audio/thunder_3-144891-B-19.wav
 score: 0.931110, cat
 score: 0.937309, car_horn
 score: 0.938694, thunderstorm
 score: 0.947851, alarm_clock
 score: 0.950527, coughing

input_audio: AudioCLIP/demo/audio/coughing_1-58792-A-24.wav
 score: 0.923869, cat
 score: 0.934698, car_horn
 score: 0.937990, co

[2022-01-12 10:43] JoanFM commented on #4163
So just to make sure, here u are not applying any segmentation right?

[2022-01-12 10:43] JoanFM commented on #4163
I think the results is just a problem of the model not performing as well as you expect.

[2022-01-12 10:53] snaaz21 commented on #4163
yes, not applying segmentation

[2022-01-12 11:00] JoanFM commented on #4163
then this is the problem of the encoder.

You can try if applying segmentation works better.

[2022-01-12 11:03] snaaz21 commented on #4163
Same result is coming by applying segmentation also.

[2022-01-12 11:04] JoanFM commented on #4163
Also maybe is interesting to split `car_horn` into `car horn` and `alarm_clock` into `alarm clock`? I am not sure if AudioCLIPTextEncoder would otherwise tokenize the sentences properly

[2022-01-12 11:07] snaaz21 commented on #4163
ok, I'll try this way too.

[2022-01-12 11:09] snaaz21 commented on #4163
Here is the result:

input_audio: AudioCLIP/demo/audio/thunder_3-144891-B-19.wav
 score: 0.930757, car horn
 score: 0.931110, cat
 score: 0.938694, thunderstorm
 score: 0.950527, coughing
 score: 0.955934, alarm clock

input_audio: AudioCLIP/demo/audio/coughing_1-58792-A-24.wav
 score: 0.923869, cat
 score: 0.931542, car horn
 score: 0.937990, coughing
 score: 0.943704, thunderstorm
 score: 0.9438

[2022-01-12 11:34] JoanFM commented on #4163
What is weird is that all the cosine distances are so large.

[2022-01-12 11:35] #3818 closed

[2022-01-12 11:38] JoanFM commented on #4163
What is `simple_indexer.py`?

[2022-01-12 11:39] JoanFM commented on #4163
can u maybe sare ur code as a zip so that I can easily reproduce?

[2022-01-12 11:39] JoanFM commented on #4163
or have a github repo from urself where i can easily clone and reproduce?

[2022-01-12 12:03] #3012 closed

[2022-01-12 12:03] #3586 closed

[2022-01-12 12:04] #3594 closed

[2022-01-12 12:05] #3381 closed

[2022-01-12 12:05] #2813 closed

[2022-01-12 12:06] deepankarm commented on #3233
Same as https://github.com/jina-ai/jina/issues/3998

[2022-01-12 12:06] #3233 closed

[2022-01-12 12:07] #3975 closed

[2022-01-12 12:08] JoanFM commented on #3665
We will remove `peas-hosts`

[2022-01-12 12:08] #3665 closed

[2022-01-12 12:10] snaaz21 commented on #4163
yeah

[2022-01-12 12:10] snaaz21 commented on #4163
https://github.com/jina-ai/executor-simpleindexer/blob/v0.10/executor.py'

[2022-01-12 12:11] snaaz21 commented on #4163
I don't have a repo, so I am uploading in zip, attached below:
[Text-By-Audio.zip](https://github.com/jina-ai/jina/files/7854428/Text-By-Audio.zip)

[2022-01-12 12:40] JoanFM commented on #4163
By adding these lines to the `check_query` u will see that it seems to be working correctly:

[code]

[2022-01-12 12:41] JoanFM commented on #4163
So the problem is that the encoder does not seem to work well for this. Maybe u have to start using properly the segmentation

[2022-01-12 12:49] snaaz21 commented on #4163
oh ok,
I didn't get properly segmentation, means?

[2022-01-12 13:07] JoanFM commented on #4163
exactly, u are just encoding the complete audio in one vector

[2022-01-12 13:10] snaaz21 commented on #4163
yeah, but for audio-segmentation also getting same result

[2022-01-12 13:19] JoanFM commented on #4163
How do u change the Flow to take into account for this?

[2022-01-12 13:30] snaaz21 commented on #4163
when I was removing segmenter from flow, it was asking for sample rate value:

So then I didn't remove the segmenter from flow-search.yml instead I removed the segmenting script from AudioSegmenter class as below where i am just passing the sample-rate there along with blob of audio.

`class AudioSegmenter(Executor):
    def __init__(self, window_size: float = 1, stride: float = 1, *args, **kwargs

[2022-01-12 13:35] snaaz21 commented on #4163
this is for without segmenting audio

[2022-01-12 13:35] snaaz21 commented on #4163
for segmenting i was using Ranker also

[2022-01-12 14:31] JoanFM commented on #4163
This comes from the fact that segmenter does 2 things. Loading the audio and segmenting. But in ur Flow u are only using the Loaded audio, but chunks are not used for anything

[2022-01-13 06:11] Kumar-Tarun commented on #4158
@JoanFM, It seems to work when I ran the script from another directory, but not from the same directory where the script was present. Seems like a cache issue. But anyway thanks for your help!

[2022-01-13 06:19] #4158 closed

[2022-01-13 08:41] mapleeit opened #4170 "Don't fetch docker image if only use `jinahub://`"
**Describe the feature**
Right now, it will always try to get the docker image even using `jinahub://MyExecutor`. This can be optimized.

**Your proposal**
Only fetching the source code when using `jinahub://MyExecutor`.
Feching the docker image when using `jinahub+docker://MyExecutor`

[2022-01-13 10:47] JoanFM opened #4172 "concurrent clients with grpc show lots of warnings"
**Describe the bug**

[code]

[code]

[2022-01-13 10:55] JoanFM commented on #4172
This seems related to having the test using `threading` while it should use `multiprocessing`. GRPC from multiple threads is known to bring issues

[2022-01-13 13:58] JoanFM opened #4173 "Rescue Pydantic models after DocArray PydanticModel is out"
**Describe the bug**
First we will integrate DocArray with no Pydantic validation, but we should recover all that after DocArray exposes its own Pydantic model

[2022-01-14 08:31] JoanFM commented on #3419
This requirement is updated with the new approach

[2022-01-14 08:31] #3419 closed

[2022-01-14 10:56] JoanFM commented on #4173
Check also:

[code]

[2022-01-15 06:30] khuzaemah opened #4175 "windows10/py3.8 error in jina demo hello fashion"
**Describe your proposal/problem**

I can install jina ai with wsl ubuntu in windows, but I cannot running demo like jina hello fashion. I don't know why.
I clone jinai ai github with https://github.com/jina-ai/jina.git
---

**Environment**

I'm using wsl windows ubuntu, using text editor visual studio code
**Screenshots**

⠏       DONE ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸━━ 0:00:46 80.5 step/s

[2022-01-17 14:49] JoanFM opened #4178 "ci: prs are mergeable before ci run"

[2022-01-18 08:32] Vidit-Ostwal opened #4179 "Throwing error and wrong answers"
**Describe the bug**

I am trying to implement a audio to audio search with StreamLit, the JINA backend file is giving no output,

Repository [Link](https://github.com/Vidit-Ostwal/BeatRecommender)

**Describe how you solve it**

---

**Environment**

Name: jina
Version: 2.6.4
Summary: Jina is the cloud-native neural search framework for any kind of data
Home-page: https://github.com/jina-ai/jina/

[2022-01-18 08:36] JoanFM commented on #4179
Hello @Vidit-Ostwal ,

Can you please share more details?

Have u been able to reproduce the same issue without the `Streamlit` component and share what the `logs` look like?

[2022-01-18 08:39] JoanFM commented on #4175
Hello @khuzaemah ,

Are you sure that no other services may be using the ports?

Have u been able to track down the meaning of this error? It seems like an upstream error

[2022-01-18 08:41] JoanFM commented on #4175
Have u tried to run it more than once? It seems that some services are trying to `bind` to already used ports.

It could be:
1. That the port exposed is already used by some part of the system
2. That you were unlucky and Jina assinged the same port to different Executors.

[2022-01-18 12:37] #4155 closed

[2022-01-18 14:59] JoanFM opened #4180 "add name to RuntimeProcess in Pea for better debugging"

[2022-01-18 16:57] #4172 closed

[2022-01-18 17:01] JoanFM commented on #4146
Hey @winstonww please make sure it is still relevant in `docarray` and open there if needed

[2022-01-18 17:01] #4146 closed

[2022-01-18 17:02] JoanFM commented on #4114
Check if still relevant in `docarray`

[2022-01-18 17:02] #4114 closed

[2022-01-18 19:21] JoanFM opened #4181 "DataContentProto oneof renaming"
[code]

should perhaps change to:

[code]

[2022-01-18 19:22] Vidit-Ostwal commented on #4179
Can you please tell me how can i run a direct instance of the app without StreamLit?

[2022-01-18 23:23] JoanFM commented on #4179
Can u try running simply the app.py?

[2022-01-19 00:13] golubovic opened #4182 "The multimodal demo cannot be accessed from localhost"
Following steps are taken:

1) I have installed latest 'jinaai/jina:latest-devel' (Jina (v2.6.4))
2) Upon running Docker container and starting the demo 'jina hello multimodal' error comes up that transformers, torch and torchvision libraries are missing
3) I have pip installed all 3 missing libraries and committed container
4) Start the image again with allocated ports 'docker run -it --expose 80

[2022-01-19 03:23] mapleeit opened #4183 "Throwing error when using All-in-one style Executor on MacOS M1"
**Describe the bug**
Copy this code snippet from https://docs.jina.ai/fundamentals/flow/#minimum-working-example

[code]

Throwing error `Flow@92889[E]:Flow is aborted due to ['myexec1'] can not be started.` on MacOS

**Describe how you solve it**

---

**Environment**

master branch

**Screenshots**

<img width="1440" alt="Screen Shot 2022-01-19 at 11 22 58 AM" src="https://user-images.githubuser

[2022-01-19 06:19] Vidit-Ostwal commented on #4179
UserWarning: VersionConflict(numba 0.53.1 (c:\users\hp\anaconda3\lib\site-packages), Requirement.parse('numba==0.48')) (raised from C:\Users\hp\anaconda3\lib\site-packages\jina\hubble\helper.py:364)
⠙ 2/5 waiting segmenter encoder ranker to be ready...
Exception ignored in: <function Socket.__del__ at 0x0000019D73295040>
Traceback (most recent call last):
  File "C:\Users\hp\anaconda3\lib\site-pac

[2022-01-19 06:20] mapleeit opened #4185 "Unstable CI test result"
**Describe the bug**
Same PR, just rerun 2 times.

https://github.com/jina-ai/jina/actions/runs/1716387908/attempts/1
https://github.com/jina-ai/jina/actions/runs/1716387908/attempts/2

The 2nd one succeeded, but 1st one threw errors.

This happens almost for each PR, which significantly decrease the faith on test result.

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2022-01-19 06:54] mapleeit opened #4186 "Stop using `multiprocessing.Queue.qsize()` in test since it’s incompatible with MacOS."
**Describe the bug**

`multiprocessing.Queue.qsize()` is incompatible with Mac OS

**Describe how you solve it**

---

**Environment**

**Screenshots**

![image](https://user-images.githubusercontent.com/4194287/150079434-a8de9cd8-2dee-4607-9151-975d6feac598.png)

[2022-01-19 08:39] #4173 closed

[2022-01-19 08:47] JoanFM commented on #4183
can u please set `JINA_LOG_LEVEL` to `DEBUG` so that we can see more details

[2022-01-19 08:50] mapleeit commented on #4183
Felix already found the reason. It was caused by the `https_proxy`. @numb3r3

[2022-01-19 08:52] JoanFM commented on #4185
One of the causes is being addressed in #4139

[2022-01-19 08:54] JoanFM commented on #4179
So u are running it on `Windows`.

Can u run this but before set the environment variable.

`JINA_LOG_LEVEL=DEBUG`?

[2022-01-19 09:35] JoanFM commented on #4183
Then, let's close

[2022-01-19 09:36] JoanFM commented on #4105
Hey @shersoni610 , can you try this in the new `docarray` project?

This issue would be relevant there.

Thanks

[2022-01-19 09:36] #4105 closed

[2022-01-19 09:37] JoanFM commented on #4163
Hey @snaaz21 ,

Have you been able to fix this?

[2022-01-19 10:16] snaaz21 commented on #4163
No, I didn't.

Since I am using very short audios like 5-6 sec size of audios. So I am not chunking it. I am confused why its not retrieving more correctly.
It should retrieve correctly, right?

[2022-01-19 10:31] JoanFM commented on #4163
It depends on the quality of the `encoder`. I am not sure what it was designed for.  You may want to check AudioCLIP paper to find out more?

[2022-01-19 10:52] Vidit-Ostwal commented on #4179
Ran it on the spyder - python console
name DEBUG is not defined
![image](https://user-images.githubusercontent.com/65944284/150115926-1440c765-6932-4155-83df-f16d95c9d044.png)

[2022-01-19 10:59] snaaz21 commented on #4163
yeah, it could be by encoder because I also tried Image retrieval from audio faced same thing. Like output is attached below;

input_audio: AudioCLIP/demo/audio/thunder_3-144891-B-19.wav, len-of-chunks:0
score: 0.849588, AudioCLIP/demo/images/clock_1.jpg
score: 0.849691, AudioCLIP/demo/images/cars_2.jpg
score: 0.859069, AudioCLIP/demo/images/cat_1.jpg
score: 0.866946, AudioCLIP/demo/images/coughin

[2022-01-19 11:01] snaaz21 commented on #4163
Ok, I'll try with the paper.

And please guide me more on it. I'll update you once I get something from paper.

Thank you

[2022-01-19 11:51] JoanFM commented on #4163
We will try to keep an eye to see if there is something about Jina affecting, but I think the problem is on the `encoder` itself

[2022-01-19 13:01] JoanFM commented on #4179
This is not the proper way to set an `environment variable`.

You should do

[code]

[2022-01-19 13:14] Vidit-Ostwal commented on #4179
AttributeError: module 'os' has no attribute 'setenv'

![image](https://user-images.githubusercontent.com/65944284/150137571-73ecf38c-3a6d-49d2-988a-c79f582938cb.png)

[2022-01-19 13:20] Vidit-Ostwal commented on #4179
After Setting the debug environment variable and running got this error
    self.logger.debug(info_msg)
Message: 'recv ControlRequest (TERMINATE)  from \x1b[32m\u25b8\x1b[0msegmenter/ZEDRuntime\x1b[32m\u25b8\x1b[0m\u2690'
Arguments: ()
Exception ignored in: <function Socket.__del__ at 0x000001F748965040>
Traceback (most recent call last):
  File "C:\Users\hp\anaconda3\lib\site-packages\zmq\sugar\s

[2022-01-19 14:30] golubovic opened #4190 "Which Jina docs should be used (divergence of components of Jina architecture)?"
What seems to be old guides (see link below) are well written and easy to grasp, they explain concepts/components like pea/pod/Jina box/Jina dashboard. New guides (see link below) are not as detailed as the old ones and have fewer features like displaying the tree structure of executors for example (https://docs1.jina.ai/v1.1.9/chapters/all_exec/)

When learning about Jina, which guides should be

[2022-01-19 14:56] JoanFM commented on #4190
Hey @golubovic ,

Exactly, those concepts are either decomissioned or not exposed to the user to have much clear abstractions and for an easier onboarding strategy.

Jina has evolved a lot since the 1.x version

[2022-01-19 16:05] golubovic commented on #4190
Many thanks for answering the question!

[2022-01-19 18:37] JoanFM opened #4191 "cd: startup failure"
problems showing in CD process

[2022-01-19 18:39] JoanFM commented on #4191
Seems related to the docker compose test added in #4125

[2022-01-20 05:17] numb3r3 commented on #4183
close by https://github.com/jina-ai/jina/pull/4189

[2022-01-20 05:17] #4183 closed

[2022-01-20 07:25] #4191 closed

[2022-01-20 07:39] #4180 closed

[2022-01-20 07:43] JoanFM commented on #4179
Hey @Vidit-Ostwal ,

Can you please share the logs before the error occuring,

It seems that these errors happen at `TERMINATION` time and `TERMINATION` should have happened only at a presence of an earlier error.

[2022-01-20 09:17] Vidit-Ostwal commented on #4179
UserWarning: VersionConflict(numba 0.53.1 (c:\users\hp\anaconda3\lib\site-packages), Requirement.parse('numba==0.48')) (raised from C:\Users\hp\anaconda3\lib\site-packages\jina\hubble\helper.py:364)
⠦ 0/5 waiting segmenter encoder indexer ranker gateway to be ready...                                       gateway@20224[D]:waiting for ready or shutdown signal from runtime
        gateway@20224[D]:s

[2022-01-20 09:26] JoanFM commented on #4179
Is that exactly all the complete log?

[2022-01-20 10:17] Vidit-Ostwal commented on #4179
I am not sure
I am somewhat confused between the log during the error and the logs of the termination time

I once again ran the backend file with the debug environ,
Got this log

os.environ['JINA_LOG_INFO'] = 'DEBUG'

run Backend-app.py
DeprecationWarning: invalid escape sequence \G (raised from E:\GDSC IIIT Kalyani\Project\Backend-app.py:10)
UserWarning: VersionConflict(numba 0.53.1 (c:\users\hp

[2022-01-20 10:50] mapleeit opened #4194 "module 'docarray' has no attribute '__version__' when upgrading jina from 2.6.4 to 2.6.5.dev60"
**Describe the bug**

Reproduces steps:

### 1. create a new pyenv
`pyenv virtualenv test1`

### 2. use this new env
`pyenv activate test1`

### 3. check jina
`jina -v` -> no jina, good

### 4. install 2.6.4
`pip install jina==2.6.4`
`jina -v` -> 2.6.4, good

### 5. upgrade jina
`pip install -U --pre jina`
`jina -v` -> **throw error, werid**

[code]

### 6. check docarray package

[code]

❌ **No `

[2022-01-20 13:26] jacobowitz commented on #4194
I understood what happens if you do the steps you described:

1. `docarray` gets installed into your site-packages in your venv as a new dependency
2. Jina 2.6.4 gets uninstalled which means removing the previous docarray folder. Unfortunately this docarray folder is also in your site-packages. Effectively this will destroy the new `docarray` installation.

I will try to come up with some workarou

[2022-01-20 13:51] JoanFM opened #4197 "CLARIFY REST API: helloworld multimodal not working on master"
frontend prob

[2022-01-20 13:52] #4156 closed

[2022-01-20 14:02] JoanFM commented on #4197
Problem with the REST API

[2022-01-20 14:41] JoanFM commented on #4182
Hey @golubovic ,

I have a question, what is the response you get? Is it just an empty response or something stating that the port was not reachable?

[2022-01-20 15:10] golubovic commented on #4182
Hi @JoanFM,

Please find screenshots with various urls I have tried in order to access Swagger UI for the multimodal demo. Let me know if you wish me to perform any particular test. My terminal logs are attached as well.
[terminal.txt](https://github.com/jina-ai/jina/files/7906283/terminal.txt)

![jina2](https://user-images.githubusercontent.com/4633191/150365629-d770529b-56d6-451e-a134-c42b4585eb

[2022-01-20 15:36] golubovic commented on #4182
Hi @JoanFM

I have tried the following as my browser URL's:
http://localhost/usr/local/lib/python3.7/site-packages/jina/helloworld/multimodal/static/index.html
http://localhost:8080/usr/local/lib/python3.7/site-packages/jina/helloworld/multimodal/static/index.html

none works, please let me know how you wish me to access the HTML page running on my local Docker container from my browser.

JINA_HOM

[2022-01-20 15:39] JoanFM commented on #4182
It is not `http`.

You should try this.

```file:///usr/local/lib/python3.7/site-packages/jina/helloworld/multimodal/static/index.html```

[2022-01-20 15:50] golubovic commented on #4182
I have tredit with string above by pasting it in the browser with no success, please see screenshot below:
1) VSC proves that file does exist in a given path (VSC is attached to the local container)
2) I have ensured that permissions aren't the problem by running chmod 777 'root@0935da7f3662:/usr/local/lib/python3.7/site-packages/jina# chmod -R 777 ./ '
![jina111](https://user-images.githubusercon

[2022-01-20 15:55] JoanFM commented on #4182
This path does not exist in your local machine, this path you are extracting from your `docker container`.

You need to find what is the equivalent path in your local Windows jina installation. Maybe you can simply copy-paste it to your local folder call it multimodal-jina.html, and open it from there

[2022-01-20 16:13] golubovic commented on #4182
I don't have local windows Jina installation. I have installed the docker container only by running 'docker run -it jinaai/jina:latest-devel' this has successfully downloaded the image from repository during the first run.

As stated in my first post as pytorch, pytrorchvision and transformers were missing in jina:latest-devel I have added them and committed to the container named 'jina:latest-dev

[2022-01-20 16:18] JoanFM commented on #4182
That `html` help will help you sending the correct `data` to the REST API as it is expected by the example.

Being able to open it in your local system (where your browser runs) will help us identify where the problem may come from

[2022-01-20 16:36] golubovic commented on #4182
Hey @JoanFM,

The issue is solved, I have copied start.html file from the Docker container to my local Windows machine. I have then dragged & Dropped the start.html file into the browser. The page has opened, I have tested the demo by querying string 'grass' and placing weight to Text only, it has worked (please see below).  My browser URL shows file:///C:/Users/M200240/tg/me/ml/images/jina/index.

[2022-01-20 16:36] #4182 closed

[2022-01-20 16:49] JoanFM commented on #4182
Hey @golubovic ,

It was a pleasure to help you!

[2022-01-20 17:03] JoanFM opened #4201 "deploy-to-netlify fails, because docarray proto missing"

[2022-01-20 18:02] JohannesMessner commented on #4163
Hi @snaaz21 ! Me and @samsja are still investigating your issue, and have found some things:
- It looks like you are not using the correct sampling rate. For .wav-files this should be set 44100, not 16000.
- There also seems to be something wrong on our end on the Executor level. We are still looking into this and will report back once we know more. Thanks for your patience!

[2022-01-20 23:37] #4147 closed

[2022-01-20 23:37] #4201 closed

[2022-01-20 23:38] #4197 closed

[2022-01-20 23:44] JoanFM commented on #4179
Hey @Vidit-Ostwal ,

Would you please make sure to paste the logs in a friendlier to read format.

You can encapsulate them under ```python ```

Like this

[code]
Maybe u can choose to just do a screen capture.

Also make sure that the JINA_LOG_LEVEL environment variable is set to DEBUG before you run the app.

[2022-01-21 07:56] alaeddine-13 opened #4202 "Make sure kuberenetes replicas are differentiated (by replica_id or so)"
Make sure replicas in kubernetes can be differentiated via an ID

[2022-01-21 22:28] JoanFM opened #4204 "clarify in docs versions for which every snippet should work."

[2022-01-22 17:22] Vidit-Ostwal commented on #4179
Resolved

[2022-01-22 17:22] #4179 closed

[2022-01-22 17:23] JoanFM commented on #4179
Hey @Vidit-Ostwal ,

May you share what was the issue and how is it solved?

[2022-01-22 17:27] Vidit-Ostwal opened #4206 "Server error popping up while running jina backend"
While running the backend file of Jina
this file [Link](https://github.com/akshatdalton/Audrch/blob/main/app.py)

`TimeoutError('no response from sock tcp://0.0.0.0:60797 after timeout=5000ms, please check the following: is the server still online? is the network broken? are "port" correct? ') during <bound method BasePea.close of <jina.peapods.peas.BasePea object at 0x7f052ce70430>>
 add "--quiet

[2022-01-22 17:28] Vidit-Ostwal commented on #4206
The whole error

`DeprecationWarning: `convert_image_buffer_to_blob` is renamed to `convert_buffer_to_image_blob` with the same usage, please use the latter instead. The old function will be removed soon. (raised from /home/eagleye/.local/lib/python3.8/site-packages/jina/types/document/converters.py:24)
DeprecationWarning: `normalize_image_blob` is renamed to `set_image_blob_normalization` with th