[2021-04-26 05:25] janandreschweiger commented on #2320
Hi @JoanFM, I will try out the new 1.1.10 version today.

[2021-04-26 06:40] #2345 closed

[2021-04-26 07:21] #2339 closed

[2021-04-26 09:31] FionnD commented on #2286
@JoanFM let's talk about this in standup tomorrow.

[2021-04-26 09:32] FionnD commented on #2250
Closing this issue till we have the next meeting.

[2021-04-26 09:32] #2250 closed

[2021-04-26 09:34] #2084 closed

[2021-04-26 09:34] #2085 closed

[2021-04-26 10:33] JoanFM commented on #2343
Hey @alexcg1 ,

can u have here a detailed description on the steps to reproduce the issue exaclty? What dataset is used? Which files and changes are u applying?

What exact commands are being run?

[2021-04-26 11:12] lusloher opened #2350 "Dependency management"
Currently JinaD clients are unable to install python packages. e.g. -

- A console user starts JinaD to run an example. They create a workspace -> flow. Flow creation failed because tensorflow/torch is not installed.

- So JinaD becomes useless as cannot do anything anymore, unless the user goes inside the JinaD docker, installs packages, restarts JinaD (not something we want to have for a low-cod

[2021-04-26 11:12] lusloher commented on #2350
Link to feature: https://jinaai.productboard.com/feature-board/planning/features/7763947

[2021-04-26 14:52] JoanFM opened #2352 "Should `ZedRuntime` flush its `input` `output` and `control` sockets before closing?"
**Describe your proposal/problem**
Currently, when a `Runtime` is shutdown, the `ZMQLet` is `closed` and in the `close()` method, the `runtime`  flushes every `socket`.

I think this is important for some patterns (like `rolling update`) but not when `KeyboardInterrupt` is captured.

Currently if `KeyBoardInterrupt` is sent, the `close` method will wait to consume every `prefetched` request

[2021-04-26 15:04] JoanFM commented on #2343
Hey @alexcg1 ,

This looks very weird. If you check the `PID` values from the `logs`, it shows that the Encoder Runtime runs in number: 157341.

However, the `encoder` receiving requests after `close` is called, has the number:  `154060`.

So my guess is:

In a previous run, u had killed the Flow using `Contrl+C` before the Flow finished.
And afterwards, u run a regular Flow till the end, but sinc

[2021-04-26 15:10] alexcg1 commented on #2343
Cool cool. During our screen share I couldn't replicate, so I'll just close this issue

[2021-04-26 15:10] #2343 closed

[2021-04-26 17:49] JoanFM commented on #2337
Linked PR #2347

[2021-04-26 17:54] JoanFM commented on #2105
Closing this issue, as landscape for `executors` and `configuration` will heavily change

[2021-04-26 18:11] JoanFM commented on #1020
We should check this again with the newest `grpcio` dependencies that we have

[2021-04-27 06:26] #2352 closed

[2021-04-27 06:30] JoanFM commented on #2238
Hey @svjack,

I do not understand your problem.

It seems that u want to extract an executor from a Flow instance. But that is not possible because Executors are instantiated in different Processes than the main one containing Flow.

So Flow does not have access to the Executor in memory

[2021-04-27 06:33] JoanFM commented on #2255
Revisiting this issue.

What was the observed problem? It would be good to have a detailed explanation of the issue

[2021-04-27 07:28] cristianmtr commented on #2255
I don't remember exactly now. It was related to the flow around the CANCEL message. If the Replica Router still has a pending request, and that request is terminated (when the inner Peas are terminated from the replica being taken offline), the gateway will wait forever for the request to be finished, but won't. Haven't been able to reproduce.

@florian-hoenicke did you?

[2021-04-27 07:28] cristianmtr commented on #2105
Will that address this issue?

[2021-04-27 07:30] JoanFM commented on #2105
I would reopen later given the new semantics, since quite likely all these observations will be outdated

[2021-04-27 07:32] cristianmtr commented on #2105
But the underlying point is still valid

[2021-04-27 07:41] JoanFM commented on #2105
ok let's reopen then

[2021-04-27 09:18] janandreschweiger commented on #2320
Hey @JoanFM I tried it yesterday and everything worked. Thank you @JoanFM. Awesome.

[2021-04-27 10:19] #2320 closed

[2021-04-27 11:34] JoanFM commented on #2255
There is a cyclic reference between this issue and #2235

[2021-04-27 11:36] JoanFM commented on #2235
Flow Plot has been tested to capture the replication structure?

[2021-04-27 11:42] JoanFM commented on #2103
What is the status of this issue @florian-hoenicke @deepankarm ??

[2021-04-27 11:43] JoanFM commented on #2299
To be held until Executor API refactor

[2021-04-27 12:59] FionnD commented on #2299
Then that is out of scope for this release (1.3)?

[2021-04-27 13:00] JoanFM commented on #2299
lets discuss on Thursday, but I would say so

[2021-04-27 14:35] JoanFM commented on #2255
Let me share what I found by `trying` to reproduce the `test` :

[code]

First of all one thing surprises me: It seems that the `HeadPea` inside every `replica` is not properly running as a `router`. Inside every `Replica`, it seems that both shards receive the data and the `ROUTER-DEALER` pattern is not working. Not sure if expected.

Then to the problem: The test blocks because there is a Search

[2021-04-28 06:47] FionnD commented on #2220
Question:
If a user sends a batch of files to be indexed via the PostgreSQL indexer. How the indexer handles failures in this batch, and are they correctly informed to the user? For example, in this situation, you send a batch of ten files. The seventh file fails to index. Have the first six been correctly indexed and do you need to re-try to index the last three? or have they all failed?

Once we

[2021-04-28 07:22] cristianmtr commented on #2220
Yes, good point. One way to test this would be to add 2 documents with the same id within the same batch. Since PSQL has a primary key uniqueness constraint, it will fail. It would be worth checking to see how it fails. Does it save the others?

We also do need provide better logging

[2021-04-28 12:23] JoanFM commented on #2108
Closed by #2354

[2021-04-28 12:23] #2108 closed

[2021-04-28 12:49] winstonww commented on #692
Hi Team,

I'd love to contribute to this issue as well. If I read `https://codecov.io/gh/jina-ai/jina` correctly, the file `jina/peapods/zmq/__init__.py` is currently less tested than the other components. For completeness, I am thinking of adding a unit test to test `Zmqlet`'s `recv_message` method. I have published draft PR #2361  to show this test. If there are any suggestions, please feel free

[2021-04-28 13:57] #2252 closed

[2021-04-28 14:59] FionnD commented on #2223
Closing this issue because the content is merged with 2220. The scope of this ticket is changing with Executor API refactoring and indexing MVP

[2021-04-28 14:59] #2223 closed

[2021-04-28 15:01] FionnD commented on #2220
@JoanFM @maximilianwerk Following our chat in the meeting this morning, can both of you please look at the user story of this ticket and determine if we need to now work on this now or after the API refactoring?

[2021-04-28 15:04] JoanFM commented on #2220
I would say after API refactoring. what do u think @maximilianwerk

[2021-04-28 15:14] winstonww commented on #692
Thanks @JoanFM for reviewing the PR!

[2021-04-28 15:59] tkhabia commented on #1122
I am also facing this error.
UserWarning: due to the missing dependencies or bad implementations, ['jina.hub.segmenters.image.FaceNetSegmenter', 'jina.hub.encoders.nlp.CLIPTextEncoder', 'jina.hub.encoders.image.FaceNetEncoder', 'jina.hub.classifiers.image.CLIPZeroShotClassifier'] can not be imported if you are using these executors/drivers, they wont work. You can use `jina check` to list all exec

[2021-04-29 07:50] #2103 closed

[2021-04-29 08:38] cristianmtr opened #2363 "fix naming of pods and replicas in logs"
See tests.unit.peapods.pods.test_compound_pods.test_pod_naming_with_parallel

Pod should be `replica`

[2021-04-29 12:42] #2228 closed

[2021-04-29 14:04] JoanFM commented on #2363
The current naming is:

`CompoundPod` as a `Pod` receives the `name` from input `args`.

The inner Pods inherit the `name` plus add an `idx` depending on their replica-id. What would be the naming you would expect?

In the `test`, u see Pod because the --name argument says so.

[2021-04-29 14:23] #1485 closed

[2021-04-29 14:25] JoanFM commented on #2157
The segmenters where it was more important are fixed. New refactoring will change everything, closing it now

[2021-04-29 14:25] #2157 closed

[2021-04-29 14:28] JoanFM commented on #1071
This `problem` is well understood and will not be an issue with upcoming changes. I am closing for now.

[2021-04-29 14:28] #1071 closed

[2021-04-29 14:30] JoanFM commented on #1278
I am closing this, as it was well accepted that we could not have this dependency and examples are working at a different pace than the core repo evolution

[2021-04-29 14:33] #2281 closed

[2021-04-29 16:07] #2026 closed

[2021-04-29 19:04] jacobowitz opened #2367 "Websocket client blocks on empty index requests"
The _WebSocketClient_  can get stuck on index requests with generators as input.
This happens when the generator is already exhausted and never yields any documents. In this case the  _WebSocketClient_ does (correctly) not send any actual request to Jina, but it still waits for a response to be send. This response is never received and the client blocks waiting on this non existing response.

[2021-04-29 19:05] jacobowitz commented on #2367
I noticed this issue while working on features related to https://github.com/jina-ai/jina/issues/2082

[2021-04-30 06:52] JoanFM commented on #2156
@FionnD @nan-wang this is a breaking change for those clients (which we now we have) that inherit their own indexer implementation.

Would you prefer to add a workaround to support old one? (It would not be big trouble though and easy to adapt)

[2021-04-30 06:54] FionnD commented on #2156
Anything that prevents breaking changes is good from a product point of view ❤️

[2021-04-30 08:50] cristianmtr opened #2369 "BinaryPbIndexer should not increase in size when adding a document with an existing id"
[code]

Based on tests.unit.executors.dbms.test_dbms.test_dbms_keyvalue

[2021-04-30 10:39] JoanFM commented on #2369
I think this was discussed maybe? That the responsability should be on the user side? @maximilianwerk do u remember that? The cost of closing and opening the file in every `add` operation may be too much?

[2021-04-30 12:28] #2367 closed

[2021-04-30 13:05] JoanFM opened #2371 "PeaType metaclass weird behavior, why does this not work?"
**Describe the bug**
Something is weird with the `PeaType` metaclass.

It seems that `peas` from inside a `list` cannot be properly started.

See tests added in #2364 .

Why one of the tests do not pass?

[2021-04-30 14:52] FionnD commented on #2369
If this is expected behaviour: It should go into docs.

If this is not expected behavior. It's a critical bug to be solved.

Waiting on your reply @maximilianwerk

[2021-04-30 15:13] lusloher opened #2373 "Pre-filter on Vectors"
# User Story:
As a user of jina, I want to search documents that only match given filters (i.e. categorical values, date, and integers). Given an index of documents, I only be able to limit the search space to only perform NN within a group of documents matching certain filters.

<p></p>

For example, I might have a dataset containing emails of the company. When a user queries the dataset, the sea

[2021-04-30 15:13] lusloher commented on #2373
Link to subfeature: https://jinaai.productboard.com/feature-board/planning/features/7057641

[2021-04-30 15:18] FionnD commented on #2238
I'm closing this issue. If the question is not answered please reopen :)

[2021-04-30 15:18] #2238 closed

[2021-04-30 15:19] FionnD commented on #2289
I will close this issue on Monday afternoon if there's no update. 🌵

[2021-04-30 15:52] cristianmtr commented on #2363
The idea is to make the logs look like

[code]

Maybe it's not a good first issue. I haven't looked at where specifically the changes would need to be done. I was only thinking that a PR for this would be fairly detached from the core, and wouldn't require a lot of overhead for understanding the internals

[2021-04-30 15:57] cristianmtr commented on #2369
the problem is also: the underlying data **does** get written to disk. so the size is technically correct. it's just that we can never access it, because the header is a dictionary (and you only have one key with a specific value in a dictionary). all the other docs getting written are hidden. I think this should not happen

[2021-04-30 16:08] cristianmtr commented on #2289
This is going be done in 2.0, from what I understand.

Right, @maximilianwerk @JoanFM ?

We've talked about it in meetings, I remember. Indexers should be either of type DBMS (write interface is `ids, vecs, metas`) or of type Query (write-once and  inteface `(ids, vecs)` or `(ids, metas)`). Right now

[2021-04-30 18:38] #2289 closed

[2021-05-01 11:26] Kavan72 opened #2374 "Support multiple gpu on index"
Yesterday i was trying to index my data on amazon p2 Instance and i've notice one thing. JIna is using only one gpu here is the screenshot

![unknown](https://user-images.githubusercontent.com/19048640/116781013-c5336800-aa9d-11eb-8a76-b0bee5dc7f1c.png)

The idea is get all gpu device id when `gpu=true` and pass diff device id to each pods maybe ?

[2021-05-01 15:32] nan-wang opened #2375 "Add the jina-hub schema to api.jina.ai"
**Describe the feature**
Add the jina-hub schema to api.jina.ai

https://github.com/jina-ai/jina-hub/pull/7460#pullrequestreview-632400427

**Your proposal**

---

**Environment**

**Screenshots**

[2021-05-03 07:08] FionnD commented on #2363
Ah yes I see your logic, that's fair enough. An experienced developer might take it.

[2021-05-03 07:18] FionnD commented on #2374
Hi @Kavan72

Thanks for opening the issue! One of our engineers will investigate if this is possible and then provide an update here later this week.

[2021-05-03 15:30] nan-wang opened #2378 "🚨 BREAKING CHANGES 1.2 -> 1.3"
# 🚨 BREAKING CHANGES 1.2 -> 1.3

This issue is created to keep track of breaking changes between `1.2` and `1.3` (scheduled release on 2020.5.26)

### Current version is [![PyPI](https://img.shields.io/pypi/v/jina?color=%23099cec&label=PyPI%20package&logo=pypi&logoColor=white)](https://pypi.org/project/jina/)

## Breaking Changes & Migration Guide

| PR |  Rolled Out? | Override |
| #2355  | Yes |

[2021-05-04 20:25] yamanahlawat opened #2380 "flow.index_lines fails when list of string is passed"
**Describe the bug**

I have a list of around 2000 strings `Iterable[str]`. I am using Jina Flow like this

[code]
where docs count is 2k. Notice here I am passing `lines=data` to the `index_lines` function, where `data` is the `Iterable[str]`
As soon as It starts indexing, it returns the following error.

[code]

**Describe how you solve it**
After some debugging, I found out that, the `_input_li

[2021-05-04 20:29] JoanFM commented on #2380
hey @yamanahlawat

may you try using any value of line_format parameter that is not json or csv?

[2021-05-04 20:30] yamanahlawat commented on #2380
@JoanFM In my use case, its always List of strings `Iterable[str]`

[2021-05-04 20:35] JoanFM commented on #2380
I think that if line_format is different than 'json' or 'csv', it will default to read the values as Iterable of strings

[2021-05-04 20:39] yamanahlawat commented on #2380
In `CRUDFlowMixin` at `jina/flow/mixin/crud.py` the `index_lines` function also has a default value of `json`, I think which causes this error

[2021-05-04 20:43] JoanFM commented on #2380
could you try this?:

[code]

[2021-05-04 20:51] yamanahlawat commented on #2380
Thanks. this works, but also any other value.
[code]
probably we can close this.

[2021-05-04 20:59] JoanFM commented on #2380
Maybe we can make it clear in the docstring. You are welcome to provide a clarification for it if you would like to contribute.

[2021-05-04 21:02] yamanahlawat commented on #2380
Sure. I'll create a PR

[2021-05-05 08:01] #2380 closed

[2021-05-05 09:32] #2156 closed

[2021-05-06 03:59] properGrammar commented on #2363
Hi All, I've been digging into this, and believe I've nailed down how to make this happen. Before I prepare the PR, I have a few questions:

1 - The easiest solution here is not simply a matter of tweaking logging settings, but involves altering the object names. Is this an acceptable tradeoff to resolve this issue? (I'm assuming it is, as the current solution is also implemented this way, but jus

[2021-05-06 04:49] properGrammar commented on #2363
As you can see, I went about with the PR; I hope I followed the commit style correctly.

I assumed that the answer to the above questions was: 1. Yes 2. No 3. No. I look forward to any followup herein. Be Well

[2021-05-06 08:06] maximilianwerk opened #2383 "Put replica deactivate/close logic solemnly into Pod"
As mentioned in my other comment, I believe this should be one command towards the replica and the replica itself cares about the deactivate/close order of its Peas. The CompoundPod should not need to orchestrate these calls.

_Originally posted by @maximilianwerk in https://github.com/jina-ai/jina/pull/2344#discussion_r627164704_

[2021-05-07 13:23] #2383 closed

[2021-05-10 03:08] #2063 closed

[2021-05-12 08:06] FionnD commented on #2371
@JoanFM is this still weird?

[2021-05-12 08:09] JoanFM commented on #2371
yes, it is still weird.

[2021-05-12 08:13] FionnD commented on #2151
I tried to reproduce this issue but couldn't. Closing the issue for the moment.

[2021-05-12 08:13] #2151 closed

[2021-05-12 08:18] FionnD commented on #1871
I'm closing this issue because it's not going to get picked up anytime soon.

[2021-05-12 08:18] #1871 closed

[2021-05-12 08:23] FionnD commented on #2202
@bwanglzu to try and reproduce

[2021-05-12 09:35] #2299 closed

[2021-05-12 13:10] FionnD commented on #2374
Hi @Kavan72
Sorry for the delay in getting back to you! This is on our roadmap, but our team won't have the capability to implement this for a month or two.  If anyone in the community wishes to take this issue in the mean time just comment here!

[2021-05-12 13:12] FionnD commented on #2255
@JoanFM closing this as mentioned in meeting.

[2021-05-12 13:12] #2255 closed

[2021-05-12 13:16] FionnD commented on #2342
Hi @maximilianwerk 👋

Is this issue still relevant given all discussions with 2.0? Just felt maybe decision about it had already been made.

[2021-05-12 14:28] JoanFM opened #2412 "how to set a default merger executor to handle the collection of hanging pods"
**Describe your proposal/problem**
See in this example, when the `documents` are collected because the `inspect` argument of the `Flow` is set to `COLLECT`, how to set the executor responsible for this merging?

Right now, the request part arriving the last takes it all.

[code]

[2021-05-12 20:35] JoanFM opened #2417 "try to set nonblock on start to True in rolling update"
**Proposal**

Try to make sure non block on start is set to True when rolling update a CompoundPod.

This can help query while indexing on loading different shards in parallel and thus having the reload of QueryIndexers faster.

[2021-05-16 16:14] jpizarrom commented on #1640
Hello,
Thanks a lot.

I am looking how can I contribute, I hope this comments belong to this issue.

I think there are some docker push calls that are not mocked, In the screenshot you can see that I get an error
```{'errorDetail': {'message': 'denied: requested access to the resource is denied'}, 'error': 'denied: requested access to the resource is denied'}```
![Screenshot from 2021-05-16 17-54-

[2021-05-17 07:25] FionnD commented on #2337
Closed in #2347

[2021-05-17 07:25] #2337 closed

[2021-05-17 07:26] FionnD commented on #2082
Hi @deepankarm

Is this issue done?

[2021-05-17 07:28] FionnD commented on #2202
Hi @bwanglzu
Did you manage to do this?

[2021-05-17 11:23] slettner commented on #1640
Hi @jpizarrom,

thanks for commenting on this issue!
Looks like this call should indeed be mocked, might be that the CI does not catch the issue because the docker clients login has been called elsewhere.

Feel free to open a PR on this, maybe you can just mock the call one the docker client directly instead of HubIO.push

Cheers, Basti.

[2021-05-18 06:16] Kelton8Z commented on #2375
I believe the schema is already there at https://github.com/jina-ai/api/blob/master/schemas/hub_executor_schema.json

[2021-05-18 07:19] nan-wang commented on #2375
@Kelton8Z Yes, you are right.

[2021-05-18 07:19] #2375 closed

[2021-05-18 07:38] bwanglzu commented on #2202
working on this today @FionnD

[2021-05-18 12:15] bwanglzu commented on #2202
lower down the request size with jina 1.0 should resolve the issue. While during debugging, figured out another bug, after 1.1.7 release.

[2021-05-18 13:00] FionnD commented on #2202
Is there a PR for that bug?

[2021-05-19 02:49] nan-wang opened #2438 "Unify the naming and type for the `shape` field in DenseNdArray and SparseNdArray"
**Describe the feature**
In `jina.proto`, the shape field in DenseNdArray and SparseNdArray are naming differently and using different types.

[code]

**Your proposal**

- [ ] unify the type to  `repeated int64`
- [ ] unify the name to `shape`

---
<!-- Optional, but really help us locate the problem faster --
**Environment**
- jina 1.2.0
- jina-proto 0.0.81
- jina-vcs-tag (unset)
- libzmq 4.3.4
-

[2021-05-19 07:37] FionnD commented on #2202
For the request size issue, can you open a PR with the [same troubleshooting tips, please? ](https://github.com/jina-ai/examples/pull/615). Then we can close this issue.

[2021-05-19 09:59] FionnD commented on #2438
@nan-wang put tasks here

[2021-05-19 13:33] navanchauhan opened #2447 "Unable to run Jina on Raspberry Pi 4"
I installed Jina using the installation instructions in the docs and I was unable to run even the Jina command without the error

[code]

I have tried installing Jina from master branch, 1.2.4, and from pip. Yet, the problem persists

---

**Environment**
Can't actually run this command.

Latest version of Raspbian OS (aarm64), on a RPi4. Python 3.7.3

**Screenshots**

<img width="1253" alt="image

[2021-05-19 17:35] jacobowitz commented on #2082
This issue is implemented now, lets keep the issue open until we discussed it and close it beginning of next week?

[2021-05-20 10:51] FionnD commented on #2447
Hi @navanchauhan

Thanks for raising the issue, and sorry to hear it happened!

One of our team will try and reproduce the issue, it might take some time to get our hands on a Raspberry PI. It might take some time to get back to you, but we will!

[2021-05-20 10:57] steve2021 opened #2450 "bug"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**
9CA0:79F4:11EF69:141629:60A63A4A

[2021-05-20 10:57] #2450 closed

[2021-05-20 11:19] hanxiao commented on #2447
arm64 should be supported, let me check

[2021-05-20 11:51] alexcg1 commented on #2447
I've got a Raspberry Pi Zero. I can try to test this tomorrow

[2021-05-20 23:57] Arthur-Milchior opened #2456 "Typo"
On https://docs.jina.ai/chapters/what_neural_search/
you wrote:

I suspect the last "your" should be deleted.

I would have done a PR, but I can't find the link to this document. The github link on the footer links to the toplevel place, which is not helpful here

[2021-05-21 07:09] navanchauhan commented on #2447
After leaving the Pi 0 to build overnight (I should setup a cross-compile toolchain :p ), it did install jina but is having other issues and of them is probably because I used python3.9 to install it.

I have now tested installing jina using pip on x86_64, armv6l and aarch64. It installs without errors on all three platforms but does not run on aarch64 and throws invalid pointer issue.

p.s the do

[2021-05-21 07:14] alexcg1 commented on #2447
Good point on how long it'll take! If it needs an overnight build I'd best wait til next week to test! Long weekend coming up here, and dragging my external monitor from office to home would be...well, it'd be a drag :sweat_smile:

As for Python version, 3.7 or 3.8 are officially supported

[2021-05-21 12:52] alexcg1 commented on #2447
Right, progress update:

`jina -v` throws `Illegal instruction` after `RuntimeWarning` about my protobuf backend. That warning just seems to be a standard thing when not using C++ protobuf backend I guess.

This is on a Raspberry Pi Zero

[2021-05-21 13:03] sbmaruf opened #2461 "websocket: ConnectionClosedError('code = 1006 (connection closed abnormally [internal]), no reason')"
Hi!

New Jina user. Not sure if this is a bug or not. But posting for attention.

I have successfully run Jina's example https://github.com/jina-ai/examples/tree/master/multires-lyrics-search

While I am trying to adapt this to my own dataset, I am getting following error,

[code]

What's more interesting is that, if I'm running it with GPU (since I'm using distill-BERT) it hangs, but if I'm runni

[2021-05-21 13:22] alexcg1 commented on #2447
FWIW I ran Jina 0.5 as well to see if this was a recent issue. But exact same result

[2021-05-21 13:32] alexcg1 commented on #2447
Running through `gdb` I get:

[code]

[2021-05-21 13:34] alexcg1 commented on #2447
Same result on 1.2.4

[2021-05-22 15:15] nan-wang commented on #2438
tasks added.

[2021-05-22 16:05] hanxiao commented on #2447
hi all, actually the best way to use jina on arm device is *not* install from scratch but directly using Docker image.

if you go to this page, https://hub.docker.com/r/jinaai/jina/tags?page=1&ordering=last_updated

you will find all images are `armv6`, `armv7` ready, as we already compiled it in CD, so you don't have to compile it again.

![image](https://user-images.githubusercontent.com/2041322

[2021-05-25 06:30] alexcg1 commented on #2447
Roger that @hanxiao . I'll give it a shot later today

[2021-05-25 09:33] alexcg1 commented on #2447
So, I'm trying Jina in Docker on my Raspberry Pi Zero. So far, a lot of silent fails.

- It downloads just fine
- Running `docker run -v "$(pwd)/j:/j" jinaai/jina hello-world --workdir /j`: CPU spins up, no output, `j` dir created but not populated
- Running `docker run -v "$(pwd)/j:/j" jinaai/jina hello fashion --workdir /j`: same result
- Running `docker run -it jinaai/jina sh`: same result

[2021-05-25 13:42] #2324 closed

[2021-05-25 14:10] #2342 closed

[2021-05-25 14:24] FionnD commented on #2456
Fixed in https://github.com/jina-ai/docs/pull/277/files

[2021-05-25 14:24] #2456 closed

[2021-05-25 14:28] FionnD opened #2479 "Move integration tests to 2.0"
**Describe the feature**
As we move towards 2.0, we need to redo each of our current integration tests and update them to the new codebase.

Integration tests in `1.x`

When moving tests from `issues` to somewhere else, keep the issue ID in the docstring of the test.

TO WORK ON THIS

1. Put your name on a task you pick
1. Open a PR
1. Add the PR next to the checkbox
1. Tick the checkbox once the

[2021-05-25 14:33] Arthur-Milchior commented on #2456
Yeah, I finally found out the correct repository. I still believe that's a problem that your documentation links to a github repo which is not your documentation repo however

[2021-05-25 16:14] alexcg1 commented on #2461
This looks a lot like [an error I had a while ago](https://github.com/jina-ai/examples/issues/474#issuecomment-825548014)

Can you run `jina -v` and post the output so we can know what version you're using. And this error is after running `python app.py -t index`, right?

[2021-05-25 21:26] #2202 closed

[2021-05-25 21:35] bwanglzu opened #2481 "chatbot helloworld is tested, not covered in codecov"
we have system test for chatbot, while codecov ignored chatbot completely (we lose 141 lines of code coverage):

![image](https://user-images.githubusercontent.com/9794489/119571629-dc6e2880-bdb1-11eb-8901-3ae70b22be86.png)

[2021-05-26 02:47] sbmaruf commented on #2461
1. Jina version is showing `1.2.0`.
2. Yes, I'm using `python app.py -t index`
3. Just to add an additional note (if it helps), I am trying to index documents. The documents are supposed to be long. May be [here](https://github.com/jina-ai/jina/blob/master/jina/clients/websocket.py#L56 ) the max_size needs to be updated. Note that the original example works fine.

[2021-05-26 06:35] JoanFM commented on #2461
Hey @sbmaruf ,

Thanks for reporting, The `max_size` should not affect since the error code related to this is 1009 while here we are getting a 1006

[2021-05-26 06:49] FionnD commented on #2481
Is this ticket to add test coverage for the chatbot?

[2021-05-26 06:57] deepankarm commented on #2461
@sbmaruf We set `max_size` to None to[ disable the limit](https://github.com/aaugustin/websockets/blob/main/src/websockets/legacy/client.py#L94) of the maximum size of incoming messages. That shouldn't be causing the issue with large documents. Your issue seems to be related to a missing `PONG` from server for a `PING` from the client. Let me try to reproduce it at my end today.

[2021-05-26 10:54] deepankarm commented on #2067
https://github.com/jina-ai/jina/pull/2473 moves all jina objects into their separate containers and `docker stop` by default cleans all the "zombies". Closing this.

[2021-05-26 10:54] #2067 closed

[2021-05-26 11:51] deepankarm commented on #2461
@sbmaruf While I try reproducing this at my end, can you change [restful: False](https://github.com/jina-ai/examples/blob/master/multires-lyrics-search/flows/index.yml#L4) in the flow yaml. This would use gRPC server + client for streaming documents into Jina instead of websockets.

[2021-05-26 14:55] hanxiao commented on #2481
i think Bo means it is tested already but the codecov does not count for some reason

[2021-05-26 15:06] bwanglzu commented on #2481
true..I'll figure it out, why codecov ignored our chatbot system test

[2021-05-27 16:28] navanchauhan commented on #2447
Whoops, there are no images for arm64:

[code]

Even if the official method is to use Docker images, shouldn't jina still run on a clean system with all the requirements satisfied?

[2021-05-28 04:31] hanxiao opened #2497 "there are no images for arm64/v8:"
Protobuf and gRPC both support arm64, maybe it's time to ship arm64/v8 image

Original issue:
---

Whoops, there are no images for arm64:

[code]

Even if the official method is to use Docker images, shouldn't jina still run on a clean system with all the requirements satisfied?

_Originally posted by @navanchauhan in https://github.com/jina-ai/jina/issues/2447#issuecomment-849772137_

[2021-05-28 07:35] alexcg1 commented on #2447
@navanchauhan even if Jina's code is platform-agnostic, there's no guarantee our (very few) dependencies will run perfectly :cry: And one incorrectly-working dependency dooms everything.

Raspberry Pi Zero runs on [armv6](https://www.elektronik-kompendium.de/sites/raspberry-pi/2105231.htm) and Docker runs there but I think I wasn't getting great results. I'm heading to office again today so I can

[2021-05-28 08:27] cristianmtr commented on #2479
Some comments:

`crud` -- I guess here we would be testing on dummy Executors in the core?

`dump` -- This is there, but it's the `DocumentArray.save` implementation. The plan is to have the hub module of PSQLIndexer be the one that implements the exports and imports. Then people needing those would need to import that module.

[2021-05-28 08:49] jacobowitz opened #2500 "Gateway information in routes list can be wrong"
**Context**
As part of of the `Message` envelope we keep track of all peas touching a message as it passes through a `Flow`. This is done in the [routes field](https://github.com/jina-ai/jina/blob/c7e45999cc40fb220cea5fe3774d4156049ec67e/jina/types/message/__init__.py#L323) of the Envelope.
After a request has completed in the Gateway, those routes are copied to the response to the client. A simpl

[2021-05-28 09:00] jacobowitz commented on #2082
I removed the G2G timing now as it is broken.
There is still a problem that the processing time of one executor can be pontially totally off, this is due to this bug:
https://github.com/jina-ai/jina/issues/2500

Unfortunately, there is nothing to be done about this from a stress test perspective.

[2021-05-28 09:10] cristianmtr commented on #2500
Another strange behavior here is with regards to naming and identity. We see that the 'gateway' name is used in several places in the code, but with different `pod_id`s. When logging this you can see it's added at `join_all`, the last entry in the Flow (say a `doc_idx`), and at the [AsyncPrefetchCall](https://github.com/jina-ai/jina/blob/c7e45999cc40fb220cea5fe3774d4156049ec67e/jina/peapods/runtim

[2021-05-28 11:03] deepankarm commented on #2082
@jacobowitz We should close this ticket now, as the issue is tracked separately.

[2021-05-28 11:57] deepankarm commented on #2082
@FionnD, I won't call it blocked. I would say, because of stress-tests, we used `routes` & found a bug there :D. Having G2G timing is not absolutely mandatory, let's close this ticket.

[2021-05-28 12:07] #2082 closed

[2021-05-28 12:07] FionnD commented on #2082
Ok, closed

[2021-05-28 14:04] theUnkownName opened #2504 "Connect Flow to existing running Pod"
As a user of Jina I would like to connect a Flow to an existing Pod, as discussed [here], (https://jinaai.slack.com/archives/C018F60RBL5/p1622135612117500) right now, the Flow only spawns new Pods

[2021-05-28 14:41] jakob1111996 commented on #2305
2.5 is released and it seems to be working again.

[2021-05-28 14:55] FionnD commented on #2305
Good spot @jacobowitz

Closing this issue :)

[2021-05-29 02:29] hanxiao commented on #2500
very good job @jacobowitz

[2021-05-29 06:20] janandreschweiger opened #2507 "Error when searching with FaissIndexer."
Hi Jina team,
first of, congratulations for your new release. Your new features are amazing. We will implement one after another into our production version.

We discovered a bug/problem in the FaissIndexer. We experience this issue in Jina v1.1.10 and v1.3.0. When searching we get the following error:
[code]

Our chunk-pod.yml:
[code]

When replacing the FaissIndexer in the above yml-configuratio

[2021-05-29 08:09] #1781 closed

[2021-05-29 08:09] #2447 closed

[2021-05-29 08:09] #2497 closed

[2021-05-31 03:55] ryh95 opened #2514 "[Advise: The API call failed because the CUDA driver and runtime could not be initialized. ]"
**Describe your proposal/problem**

Dear Jina Team,

Recently, I tried `nlp-simple` example and replaced `TransformerTorchEncoder` with `TextPaddlehubEncoder`. However, I got the following error.

[code]

It seems to be related with https://github.com/PaddlePaddle/Paddle/issues/25185.

However, I have no idea how to fix this. Could you help me to figure it out? Thank you very much!

- - -

**Envir

[2021-05-31 06:47] JoanFM opened #2515 "plotting Flow does not work when using CompoundPod"
**Describe the bug**
Trying to plot a Flow when using CompoundPod (replica > 1) it fails with this message:

[code]

Moreover, the good way to fix this could be to properly adapt the image to show replication

[2021-05-31 07:00] JoanFM commented on #2507
Hey @janandreschweiger, does it seem that `top_k` is not properly handled? and is recognized as None?

[2021-05-31 08:11] JoanFM commented on #2507
Hey @janandreschweiger ,

could you provide more details about the `Flow` configuration to see if we can reproduce, are u using a docker image or the faiss executor directly?

[2021-05-31 12:18] #2515 closed

[2021-05-31 13:02] jakob1111996 opened #2522 "Bug: REST Api not returning status"
I think I found a bug in the latest release candidates rc4 and rc5.
When using the REST API, I saw that the status field in the response json is empty.

To reproduce: pip install -e .[http] in master branch
[code]
Then, using cURL:
[code]

The response then looks like:
[code]

I would expect the status to look like this:
[code]
I get the correct response using v2.0.0rc2 via pip install -e .[http]

[2021-05-31 16:34] janandreschweiger commented on #2507
Hey @JoanFM, thanks for your response!!

I think we handle the top_k argument correctly:
[code]

We use the FaissIndexer directly as you can see from our chunk-pod.yml that I posted above.

Our search-flow config:
[code]

[2021-05-31 18:45] Yongxuanzhang opened #2526 "Use GPU in torch encoder with transformers==4.1.1"
**Describe the bug**

In Jina 2.0, the GPU is not working for models which need GPU in torch encoder. The error message is:
`RuntimeError: Cannot re-initialize CUDA in forked subprocess. To use CUDA with multiprocessing, you must use the 'spawn' start method`

**Code to reproduce:**

[code]
---

**Environment**

jina==2.0.0rc2.dev57
torch==1.7.1
transformers==4.1.1
**Screenshots**

[2021-06-01 01:04] Yongxuanzhang opened #2527 "Flow is hanging when using multi-threading"
**Describe the bug**

Flow is hanging when adding RuntimeBackendType.THREAD into one executor in the flow.
![image](https://user-images.githubusercontent.com/44033547/120252881-d1a11100-c253-11eb-8e42-bfa002044b9a.png)

**To reproduce it:**

[code]
---

**Environment**

jina==2.0.0rc2.dev57

**Screenshots**

[2021-06-01 01:18] Yongxuanzhang commented on #2527
To address this, use it at Flow level instead:

[code]

[2021-06-01 05:21] #1468 closed

[2021-06-01 07:53] JoanFM opened #2530 "test pydantic model with sparse arrays"
Pydantic model does not seem to be properly covered when blob or embedding are sparse arrays

[2021-06-01 08:24] FionnD commented on #2479
Note https://github.com/jina-ai/jina/issues/2530 I know they are different, but maybe someone could add 2530 while working on this issue?

[2021-06-01 08:24] FionnD commented on #2530
So this is expand our current test coverage in the area of sparse arrays?

[2021-06-01 08:25] FionnD commented on #2522
@deepankarm just highlighting this to you?

[2021-06-01 08:36] JoanFM commented on #2530
I think is something we forgot to cover

[2021-06-01 11:10] JoanFM commented on #2507
Hey @janandreschweiger ,

Thank you for opening the issue. I manage to reproduce the issue and I found the problem.

The problem is the usage of `ref_indexer` in a `Flow` that is supposed to work both for `indexing` and `querying`, which is disencouraged. And to make it work for `1.3.0` it would imply a big change (which given the fact that 2.0 is on the line, the `ref_indexer` pattern will be rem

[2021-06-01 11:11] #2530 closed

[2021-06-01 11:18] JoanFM commented on #2507
This is how I validated the proposed solution:

Created app.py

[code]

where `index-flow.yml` is:

[code]

and `indexer.yml` is:

[code]

and `query-flow.yml` is:

[code]

and `query_indexer.yml` is:

[code]

[2021-06-01 13:48] alexcg1 commented on #2447
fwiw, I can't even get a shell on Jina running in Docker on a Raspberry Pi Zero.

Command: `docker run -it --entrypoint /bin/sh jinaai/jina`

- On my Thinkpad X1 Carbon I get a shell.
- On Raspberry Pi Zero I get a short pause then dumped back to shell with no output.

[2021-06-01 13:49] alexcg1 commented on #2447
Even `-vvv` for verbose output gives me nothing

[2021-06-01 13:56] JoanFM commented on #2527
It is curious, if u remove the `last` pod it seems to work

[2021-06-01 14:03] FionnD commented on #2447
Should we re-open this issue @alexcg1 ?

[2021-06-01 14:23] alexcg1 commented on #2447
I'm not sure running on armv6 is a priority. I can't see anyone running Jina on a Pi Zero for any practical reasons. It wouldn't really work IRL due to puny memory/CPU. For testing it IRL, best case scenario is it crashes or hangs due to lack of memory. But it shouldn't throw `illegal instruction` or just fail silently (like Docker did).

But like I said, no need to re-open issue. No real practica

[2021-06-01 14:36] FionnD commented on #2447
Should we remove it from docs so?

And I'll dismantle my super computer of Pi's

[2021-06-01 14:39] navanchauhan commented on #2447
Will you be only removing references for armv6l (i.e. Pi Zero), because RPis 3/4 make good quick setup devices to try and prototype even if it doesn't make sense to use them in production

[2021-06-01 14:57] alexcg1 commented on #2447
I think removing support needs discussion. It's just my opinion that it's not worth us pushing a lot of effort into supporting an architecture (like armv6/rasp pi zero) where Jina wouldn't work in a practical sense. Note: If it actually did even barely work I wouldn't recommend removing support. It's just it's already broken and it's an impractical use case.

Having said that I fully support runni

[2021-06-01 15:05] alexcg1 commented on #2461
@sbmaruf any luck?

[2021-06-01 19:53] Yongxuanzhang opened #2540 "DocumentArray's init(), append() and save_binary(), should be fixed to avoid bugs"
**Describe the bug**

In the current Jina version (2.0.0rc4), according to the [cookbook.](https://github.com/jina-ai/jina/blob/7d901e80aa8c4cdd0514394f184e160955873ac2/.github/2.0/cookbooks/Document.md#construct-documentarray) The logic of constructing  `DocumentArray`, is either pass the list of `Document` into init() or using append() to add the `Document`.

However, these two ways will lead to

[2021-06-01 19:55] hanxiao commented on #2447
it is closed because it is supported by that pr

[2021-06-02 03:44] hanxiao commented on #2447
https://github.com/jina-ai/jina/issues/2447#issuecomment-852152151
this PR is about support on ARMv8 *not* ARMv6, ARMv8 is already supported by #2506  @navanchauhan  please try `pip install --pre` again

@alexcg1 @FionnD Please do not mix the discussion on ARMv6 & ARMv8 just because they are all RPi. They are different architectures. Each arch must be compiled and installed differently.

[2021-06-02 03:55] hanxiao commented on #2522
this is default behavior in protobuf,

use `Flow(..., including_default_value_fields=True)` and try again

[2021-06-02 03:55] #2522 closed

[2021-06-02 04:07] #2540 closed

[2021-06-02 09:08] cristianmtr opened #2547 "allow for configuring replicas=2;shards=1"
See https://github.com/jina-ai/jina/pull/2537/files

[2021-06-02 09:11] JoanFM commented on #2547
Problem only exists when adding `uses_after` or `uses_before`

[2021-06-02 09:38] JoanFM opened #2548 "better support for external pods"
**Describe the feature**

external Pods support is there, but we need to have the ability to add auxiliary Pods to adapt the network configuration

[2021-06-02 09:45] JoanFM commented on #2548
Duplicate of #2504

[2021-06-02 09:45] #2548 closed

[2021-06-02 09:58] #2504 closed

[2021-06-02 10:42] jacobowitz commented on #2527
Code to reproduce the issue without Jina:

[code]

slow_module being something like this:
[code]

[2021-06-02 10:59] JoanFM opened #2549 "Add warning when using `RuntimeBackend.Thread`"
**Describe the feature**
Using `RuntimeBackend.Thread` is not recommended for production use.

2 reasons:
1- Performance can be very bad because of the nature of Python multithreading where threads constantly lock the GIL which can affect performance for CPU-bound applications.

2- Unsafety as described in #2527. When inner imports are used, the multprocess fork may copy a locked lock, and therefo

[2021-06-02 11:03] JoanFM opened #2550 "Consider moving all imports to the top of the files"
As found for this issue https://github.com/jina-ai/jina/issues/2527 makes me wonder if we should move away from import in inner functions.

As said there, used with threads can lead to deadlocks:

- If we do the inner imports to avoid cyclic dependencies -> We should refactor the code to avoid them

- If we do to minimize the import of external dependencies except for specific features (like scipy

[2021-06-02 11:14] janandreschweiger commented on #2507
Thank you @JoanFM. Your solution resolved our issue.

[2021-06-02 11:14] #2507 closed

[2021-06-02 11:34] cristianmtr commented on #2547
So if you do proper `if` handling in declaring that Pod, it will work, right?

[2021-06-02 11:39] JoanFM commented on #2547
my point is, if u just do Replica 2 shards 1 it works, it fails when is combined when addong some extra uses_after

[2021-06-02 11:43] cristianmtr commented on #2547
Got it. The uses after is for the shards, so you wouldn't do it anyway, right?

[2021-06-02 11:44] JoanFM commented on #2547
Well, it is something that should be covered. I just want to clarify what is not working.

[2021-06-02 12:12] FionnD commented on #2526
@Yongxuanzhang it was suggested in the team lead meeting today to try parallel ==1, I think @florian-hoenicke might remember more?

[2021-06-02 12:17] JoanFM commented on #2526
Hey @Yongxuanzhang , can u try setting `cuda` as device instead of `cuda:0`?

[2021-06-02 12:25] hanxiao commented on #2550
that will revert all the effort we reduce the loading speed https://github.com/jina-ai/jina/pull/2510

[2021-06-02 12:29] JoanFM commented on #2550
Then we cannot support Threads and Processes Pods mixed up

[2021-06-02 13:23] Yongxuanzhang commented on #2526
Not this reason I think, for the code I put in this ticket there's no parallel right?

[2021-06-02 13:23] Yongxuanzhang commented on #2526
Sure I will try that

[2021-06-02 15:55] Yongxuanzhang commented on #2526
Upgrading transformers==4.5.1 will solve this issue

[2021-06-02 16:25] Yongxuanzhang commented on #2526
To solve this, we could either upgrade the transformers version or do the importing of transformers inside the init() before using it instead of importing at the beginning.

Working examples:
[code]

[2021-06-02 16:31] #2526 closed

[2021-06-02 16:41] #1998 closed

[2021-06-03 06:53] hanxiao commented on #2550
https://stackoverflow.com/questions/6078712/is-it-safe-to-fork-from-within-a-thread/6079669#6079669

[2021-06-03 06:53] hanxiao commented on #2550
this is fine to me

[2021-06-03 08:41] FionnD commented on #2527
Closing this issue because it the feature will be added in #2527

[2021-06-03 08:41] #2527 closed

[2021-06-03 08:48] janandreschweiger opened #2554 "Searching with FaissIndexer fails for empty workspace"
Hey everyone,

we recently switched to the FaissIndexer. We discovered that any search fails with the FaissIndexer if the workspace is empty. So this happens if nothing was indexed in the first place or all documents were deleted. Jina v1.0.8 and v1.3.0 fails with the following error stack:

[code]

We appreciate any help. Just let me know if you need any more details. Thank you!

[2021-06-03 08:53] FionnD commented on #2378
@nan-wang this can be closed right? Since 1.3 is released?

[2021-06-03 08:58] FionnD commented on #2369
Hi @cristianmtr @maximilianwerk

Just coming back to this issue now since we are cleaning the backlog. We need to make a decision if this is expected behavior as Joan said, or a bug that needs to be fixed. Max what is your view?

[2021-06-03 08:58] JoanFM commented on #2554
Hey @janandreschweiger,

I do not understand, what is the expected behavior here? Are u suggesting to fail silently and just return empty matches?

Thanks,

Joan

[2021-06-03 09:06] FionnD commented on #2286
Hi Guys,

What the status of this? Is it something we have time to work on now?

CC @davidbp @JoanFM

[2021-06-03 09:12] JoanFM commented on #2286
no, plus with 2.0 may not be relevant anymore

[2021-06-03 09:16] FionnD commented on #1868
@deepankarm is this still valid?

[2021-06-03 09:19] #1714 closed

[2021-06-03 09:21] #1621 closed

[2021-06-03 09:25] janandreschweiger commented on #2554
Hey @JoanFM, yes we expect to just return no matches like the NumpyIndexer.

[2021-06-03 09:30] JoanFM commented on #2554
Hey @janandreschweiger, right now we wont have a hub submodule and no patch release to fix the issue but we can consider in the next port to 2.0.

In the meantime, maybe u can build your own changes in the hub?

[2021-06-03 09:31] maximilianwerk commented on #2369
I think it is expected behavior. Let's close this issue.

[2021-06-03 09:31] #2369 closed

[2021-06-03 09:34] janandreschweiger commented on #2554
That's what we expected @JoanFM. We already have a custom logic in place that checks if no documents were indexed. But, as documents can be deleted as well, we'd like to see a fix in Jina v2.0.

[2021-06-03 09:48] FionnD commented on #2286
If 2.0 remove it, can I close it?

[2021-06-03 10:05] JoanFM commented on #2286
yes

[2021-06-03 10:05] #2286 closed

[2021-06-03 13:46] FionnD commented on #2554
Thanks for reporting it @janandreschweiger , let's keep this open issue @JoanFM so we can implement this post 2.0 once Hubble is done?

[2021-06-03 15:15] #2550 closed

[2021-06-04 01:01] sbmaruf commented on #2461
@alexcg1  @deepankarm

Sorry for the late. Got patched into a conference deadline. `gRPC server + client` works. I wish I could share my data for plain re-producibility. But I don't have permission to share my data.

I found another hack. [Here](https://github.com/jina-ai/jina/blob/master/jina/clients/websocket.py#L56) I add one additional parameter, `ping_timeout=2000` and then it continues index

[2021-06-04 07:19] cristianmtr opened #2557 "more debug information on port conflicts on startup"
Some times the Flow crashes without any meaningful error if the port of the gateway is already in use

I can reproduce this with the starting a dummy process using that process and then starting the flow

[code]

[code]

I only see

[code]

and

[code]

It seems it must've been a port conflict, as only restarting the computer fixed it.

[2021-06-04 08:58] maximilianwerk opened #2560 "Move Indexers to separate 2.0 Executor Repo"
Executors will become semi-separate repositories beginning from 2.0. Thus, we should move indexer to https://github.com/jina-ai/indexers and update them there to version 2.0 accordingly.

Clean up / documentation tasks:

* [x] Write a short Readme about usage https://github.com/jina-ai/executor-indexers/pull/28
* [x] rewrite/remove `manifest.yml` (to be decided) https://github.com/jina-ai/executor

[2021-06-04 09:34] theUnkownName commented on #2560
For this ticket it will be @maximilianwerk and @cristianmtr as said in Slack right?

[2021-06-04 09:35] JoanFM commented on #2560
Pleas, if possible add an `endpoint` to extract `vector` given a `document` id.  This can be useful to have a `recommendation` flow

[2021-06-04 09:37] maximilianwerk commented on #2560
I see your motivation and would say: Let's see. For Numpy that should be possible. I can't judge yet for Annoy and Faiss.

[2021-06-04 09:43] JoanFM commented on #2560
`Annoy` supports `get_item_vector`

and `Faiss` supports `index.reconstruct(id)`

[2021-06-04 11:54] JoanFM commented on #2557
Can u share some code to reproduce?

[2021-06-04 12:00] cristianmtr commented on #2557
In one terminal start a process to occupy the port:

ex:

[code]

in another run the following script:

[code]

[2021-06-04 14:48] cristianmtr commented on #2461
Hey @sbmaruf

Thanks for providing more info on this. I think this PR https://github.com/jina-ai/jina/pull/2564 fixes this problem.

Can you try to reproduce it now?

[2021-06-04 14:57] LegendaryDan commented on #2514
is there any update on this?

thanks.

[2021-06-06 15:13] sbmaruf commented on #2461
Yes, I can confirm. It's working. Theoretically, it should work ( :) ). Earlier I was trying with a number and you just make it infinite.

[2021-06-06 17:42] navanchauhan commented on #2447
I am having build errors now ugh. I'll try in a clean virtual environment and let it run overnight

[2021-06-07 09:14] #2087 closed

[2021-06-07 09:17] JoanFM opened #2567 "add GraphDocument type"
Have an example using life science dataset.

[2021-06-07 09:40] alexcg1 commented on #2514
@bwanglzu ?

[2021-06-07 09:43] alexcg1 commented on #2514
Hey @ryh95 we've been discussing removing the `nlp-simple` example since it's pretty outdated (actually I may just do that now).

I'd suggest using `wikipedia-sentences` example instead and adapting from there. [It's being adapted for 2.0 as we speak](https://github.com/jina-ai/examples/pull/619). If you clone that and look at `transformer.py` you should be able to substitute in there.

Note: this

[2021-06-07 10:01] alexcg1 commented on #2560
Which is the most commonly used by our community? Faiss? Annoy? Best to use the most popular because:

- Better for SEO (our example might come up)
- Users recognize it
- Less work for users to adapt it

[2021-06-07 10:02] alexcg1 commented on #2461
@sbmaruf great to hear it's working now! If no objection I'll go ahead and close this issue

[2021-06-07 10:04] alexcg1 commented on #1986
@ace-kay-law-neo are we good to close out this issue?

[2021-06-07 10:05] alexcg1 commented on #1812
Do we want to close this issue?

[2021-06-07 10:35] gitcommitshow opened #2569 "Code of conduct is missing placeholder values"
**Describe the bug**
[Code of conduct](https://github.com/jina-ai/jina/blob/master/.github/CODE_OF_CONDUCT.md) does not have email.

**Describe how you solve it**
Review all content and fix similar issues.

[2021-06-07 11:11] #2549 closed

[2021-06-07 11:13] davidbp commented on #2567
I will do it once I add basic functionality to load data from popular graph packages.

[2021-06-07 12:59] maximilianwerk opened #2572 "Dynamic Routing"
**Describe the feature**

We want to be able to share Pods between Flows. Furthermore, it would be great, if a Flow can easily connect to an already running Pod. Finally, when a Pod comes into life and runs it would be great, if it had no runtime dependencies on other existing Pods but could dynamically connect to other Pods. This will decrease the orchestration costs in the long run.

**Your prop

[2021-06-07 13:03] #2461 closed

[2021-06-07 13:04] #2378 closed

[2021-06-07 13:22] JoanFM opened #2574 "unittests for Optimizer"
**Describe the feature**
There are no unittests for Optimizers

[2021-06-07 13:26] JoanFM commented on #2569
Closed as per #2570

[2021-06-07 13:26] #2569 closed

[2021-06-07 14:30] #2363 closed

[2021-06-07 14:54] JoanFM opened #2576 "allow optimizer to have executor class as parameter"
**Describe the feature**
Right now, FlowOptimizer only receives a set of parameters that can be updated for a given Flow template. This Flow template is static and does not consider the potential switching between specific Pod instances or Executor types

[2021-06-08 07:21] ryh95 commented on #2514
Hi, @alexcg1. I tried your suggestions, namely, I started from the `wikipedia-sentences` example and replaced the `TransformerTorchEncoder` with the `TextPaddlehubEncoder`. However, I still encountered the aforementioned `Cuda error(3)` with Jina 1.3

Maybe this problem is related to multiprocessing as [this issue](https://github.com/pytorch/pytorch/issues/2517) points out?

[2021-06-08 08:37] jacobowitz commented on #2514
Hi @ryh95
I was just trying to reproduce it and for me it seems to work on my machine. Which cuda and PyTorch versions are you using? Can you please copy the output from nvidia-smi here?

I am on Ubuntu 20.04, torch==1.7.1

nvidia-smi yields:

 nvidia-smi
[code]

[2021-06-08 08:59] jacobowitz commented on #2514
I think your problem might be that you are using `paddlepaddle-gpu` . That is the version compiled with _cuda_ support but it appears you dont want to use a GPU here?
So I would recommend to just use paddlepaddle (not paddlepaddle-gpu)

[2021-06-08 09:43] ryh95 commented on #2514
No, I want to use GPU.

The problem is it seems Jina 1.3 is not compatible with paddlepaddle-gpu.

[2021-06-08 12:14] JoanFM opened #2582 "_mermaid_id computed every time"
**Describe the bug**
The _mermaid_id cannot be used to link nodes in a graph, because it is changes when put in a ChunkArray. We should use `doc.id` as `_mermaid_id`

[code]

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACOREV1-1034) by [Unito](https://www.unito.io)

[2021-06-08 12:18] jacobowitz commented on #2514
Im not sure that Jina 1.3 and paddlepaddle-gpu is necessarily a problem as it works for me. See my `pip freeze` package list below. Can you please paste your `nvidia-smi` output here?

[code]

[2021-06-08 12:32] #2582 closed

[2021-06-08 13:18] bwanglzu opened #2585 "Merge jina restful and grpc client usage"
[code]

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACOREV1-1035) by [Unito](https://www.unito.io)

[2021-06-08 13:20] bwanglzu commented on #2585
cc @CatStark

[2021-06-08 13:43] JoanFM opened #2586 "optimizer GridSampler not tested"
**Describe the bug**
optimizer GridSampler not tested

┆Issue is synchronized with this [Jira Task](https://jinaai.atlassian.net/browse/JINACOREV1-1036) by [Unito](https://www.unito.io)

[2021-06-08 18:04] deepankarm opened #2589 "Allow ContainerRuntime to attach to an existing network"
**Describe the feature**

JinaD creates a custom network for all of the objects controlled by it. `ContainerRuntime` connects to the default `bridge` network for linux. We should allow options in ContainerRuntime to attach the container to the network created by JinaD.

[2021-06-09 01:09] #2567 closed

[2021-06-09 04:00] ryh95 commented on #2514
Sure. The information that I think would be useful is as follows.

<details>
<summary> nvidia-smi </summary>

    Wed Jun  9 11:46:40 2021
    +-----------------------------------------------------------------------------+
    | NVIDIA-SMI 384.81                 Driver Version: 384.81                    |
    |-------------------------------+----------------------+----------------------+
    | GPU

[2021-06-09 10:56] #2574 closed

[2021-06-09 10:56] #2576 closed

[2021-06-09 10:56] #2586 closed

[2021-06-09 15:21] davidbp opened #2603 "`DocumentArray` of ` GraphDocument` elements gets a `Document` when iterating"
**Describe the bug**

When iterating over DocumentArray that is created with `GraphDocument` objects we get Documents.

MWE: The following code

[code]

prints

[code]

But it should print

[code]

[2021-06-09 15:28] JoanFM commented on #2603
There is a problem here:

#2604 tries to fix this (However, the performance cost of iterating over `DocumentArray` may be too large for such an important `feature` in all the `Executors`.

Why does this behavior happen?

`DocumentArray` stores a `_docs_proto` object that stores a list of `Doc_views` (Documents or DOcumentProtos) and pretends to be good at living with all of them.

And therefore, s

[2021-06-09 16:51] JoanFM opened #2607 "add documentation for graph document"

[2021-06-09 16:52] JoanFM opened #2608 "edit optimizer documentation to talk about executor alternative parameter"

[2021-06-10 01:32] #2585 closed

[2021-06-10 07:42] jacobowitz commented on #2514
@ryh95
Can you try paddlepaddle in your setup without jina? To make sure its not some other issue? I think this code should check that

[code]

[2021-06-10 07:42] #2603 closed

[2021-06-10 07:43] #2481 closed

[2021-06-10 09:18] ryh95 commented on #2514
/home/work/renyuanhang/my_anaconda3/lib/python3.8/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your cu

[2021-06-10 09:33] bwanglzu opened #2613 "document update failed with content hash"
reported by cristianmtr

![CD5D11A7-C544-442C-8327-274C049DEDE0](https://user-images.githubusercontent.com/9794489/121501481-933bec80-c9df-11eb-87be-0e8521649ba3.png)

[2021-06-10 10:58] hanxiao commented on #2447
I posted an issue on the upstream https://github.com/grpc/grpc/issues/26457

[2021-06-10 15:10] JoanFM opened #2615 "add flag to `GraphProto` to indicate if `graph` is directed or indirected"
**Describe the feature**
To be able to distinguish if a `Graph` is directed or undirected we can simply add a flag inside the `GraphProto` defaulting to `directed`.

In case it is indirected, we need to change the `to_dgl_graph` to build an `undirected` graph by adding the `edges` twice (forward and backward)

[2021-06-10 16:14] JoanFM opened #2617 "showcase sparse blob and embedding in Document cookbook"
https://github.com/jina-ai/jina/pull/2674

[2021-06-10 20:55] #2613 closed

[2021-06-11 00:40] hmmhmmhm opened #2619 "🤔 Is it possible to configure multilanguage search?"
Can it be serviced in non-English speaking countries?

For example, can artificial intelligence search be performed on Korean data?

I wonder if Tokenizer is needed separately for multilingual support and how it can be configured if necessary.

[2021-06-11 02:49] nan-wang opened #2620 "fix the rest api"
**Describe the bug**
The rest APIs do not function properly when a customized `post` is used.

**Describe how you solve it**

- - -

**Environment**

**Screenshots**

[2021-06-11 07:03] JoanFM opened #2622 "change MeanEvaluationCallback to EvaluationCallback supporting multiple operations in optimizer"
**Describe the feature**
MeanEvaluationCallback is the class used to collect evaluations from FlowRunner runs.

However, it only accepts a single way to collect results into a final metric. We can easily support multiple times the same way `SimpleAggregateRanker` did

[2021-06-11 07:19] JoanFM opened #2623 "better pythonic interface to add evaluations to `Document`"
**Describe the feature**
I think `evaluation` setting should be improved the same way `score` has improved

[2021-06-11 08:18] davidbp commented on #2619
Yes, it can be serviced with any type of data you want to use it.

Note that a Jina `Document` can store in the attribute `text` any string (which might be Korean, Spanish, English...). As you mention having a language specific Tokenizer is important and you would use it as a preprocessing step in most `sentence to vector` pipelines.

Let me show an example of probably the  simplest vector represe

[2021-06-11 10:00] hmmhmmhm commented on #2619
@davidbp Ooooohhhh..!!!! I didn't expect to get this detailed code, but thank you so much!! 👍🏻

[2021-06-11 12:43] FionnD commented on #2220
@cristianmtr

[2021-06-11 12:44] cristianmtr commented on #2220
Partly moved to be covered in https://github.com/jina-ai/indexers/issues/14

[2021-06-11 14:41] #2622 closed

[2021-06-11 14:54] JoanFM commented on #2514
Hey @ryh95

May u try these 3 code snippets and let us know where it fails or which they fail and which they work?

Simple python
[code]

Use our executor
[code]

Use our executor distributed with a `Flow`:

[code]

Knowing this would help us identify better the problem.

Thank you very much

[2021-06-11 16:39] ryh95 commented on #2514
The first 2 works well. The last one fails.

    /home/work/renyuanhang/my_anaconda3/envs/jina_test/lib/python3.8/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `n

[2021-06-11 16:44] JoanFM commented on #2514
may u share the output of the log file from paddle?
/home/work/.paddlehub/log/20210612.log ?

[2021-06-11 17:28] getorca commented on #2557
I ran into the same issue, same output, was something running on port 8080, not immediately clear, luckily I found the above issue.

[code]

[2021-06-12 04:45] ryh95 commented on #2514
the running result and the log are as follows:

    /home/work/renyuanhang/my_anaconda3/envs/jina_test/lib/python3.8/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or

[2021-06-13 07:00] JoanFM commented on #2514
so this last proposal worked then?

[2021-06-13 10:09] ryh95 commented on #2514
Yes

[2021-06-13 10:16] JoanFM commented on #2514
hey @ryh95 ,

Looking at ur `nvidia-smi` output, it strikes me the process it seems to be running:

```tools/python2.7_paddle_1.8.1/bin/python```

I have 2 questions, are you sure to be running jina with `python` version above 3.7? is it possible that this process already initialized CUDA and that's why u cannot set another one somehow?

[2021-06-13 10:57] ryh95 commented on #2514
I run jina with python 3.8 which is installed in a conda environment called jina_test.
The following is my python version.

    (jina_test) [work@szwg-gpu-199-240-34-00.epc wikipedia-sentences]$which python
    ~/renyuanhang/my_anaconda3/envs/jina_test/bin/python
    (jina_test) [work@szwg-gpu-199-240-34-00.epc wikipedia-sentences]$~/renyuanhang/my_anaconda3/envs/jina_test/bin/python
    Python 3.

[2021-06-13 12:28] florian-hoenicke opened #2637 "Logging for rest endpoint"
Having logs when sending rest requests would be nice for debugging.
Also, Exceptions should not be silently ignored.

[2021-06-13 14:52] #2637 closed

[2021-06-13 18:28] 0969397110 commented on #2383
https://t.me/bg/2k7WLzrBMVYXAAAAtSjJsWKwOJ4

[2021-06-14 07:36] JoanFM opened #2640 "refactor Response to show hints in IDE"

[2021-06-14 08:14] mayurlashkari commented on #2640
See

[2021-06-14 12:16] CatStark commented on #2619
Good to hear it solved your question @hmmhmmhm , I'll close this issue then.

[2021-06-14 12:16] #2619 closed

[2021-06-14 13:22] CPTensil opened #2643 "Website bug"
The installation for Jina on windows has a documentation link (on the home page)
![image](https://user-images.githubusercontent.com/82115501/121899035-07350800-ccf2-11eb-845f-0eda77230c74.png)

that leads to nowhere. https://docs.jina.ai/chapters/install/on-wsl.html

Is this intentional?

[2021-06-14 16:09] ig33 opened #2646 "086222216"
**Describe the feature**

**Your proposal**

- - -

**Environment**

**Screenshots**

[2021-06-14 16:09] ig33 commented on #2646
Lo

[2021-06-14 16:25] #2646 closed

[2021-06-14 16:32] florian-hoenicke opened #2647 "Define parameters on executor level"
Assume two encoders share parameter names - like batch_size or traversal_path.
When sending the following request, it is not possible to have different batch sizes or traversal_path for both of the  encoders.

[code]

[2021-06-14 16:36] JoanFM commented on #2647
This is specially `important` for `public shared executors`, where the user won't have capacity to rewrite its behavior

[2021-06-15 07:28] Kelton8Z opened #2649 "introduce using id to access doc within doc array in document cookbook"
The behavior that
with `docarray = DocumentArray([Document(id=1)])`,
`'1' in docarray` gives True and `docarray['1']` gives that document

is unexpected and should be introduced in cookbook

[2021-06-15 07:29] JoanFM commented on #2649
not unexpected, but needs to be well documented in cookbook

[2021-06-15 07:46] alexcg1 commented on #2643
Thanks for spotting that! We just (like yesterday) redirected docs.jina.ai to our new docs site.

@pswu11 can you fix this? Just redirect it to https://docs1.jina.ai/chapters/install/on-wsl.html until we can work out how best to migrate that data

[2021-06-15 08:06] pswu11 commented on #2643
@alexcg1 I'll take care of it

[2021-06-15 08:59] bwanglzu opened #2652 "can not set sparse matrix as content of the document"
please check the screenshot below:

![A53ABB05-25E9-4ED6-A074-B2D8BBB9EAFE](https://user-images.githubusercontent.com/9794489/122024384-acbaab00-cdc8-11eb-8a48-6baf0eaeefdb.png)

[2021-06-15 09:08] cristianmtr opened #2653 "How to best pass parameters to Executors?"
In Jina 2.0 the traversal path (and other parameters) are moved into the hands of the Executor developers.

But we still want to provide the best way to pass these parameters, either to the `flow.post()`, or as `__init__` arguments. Optionally, these could also be some decorators on the Executor methods.

This issue is meant as a place to gather feedback from you (our community) about how you are

[2021-06-15 11:58] rawchy1 opened #2656 "hi"
**Describe your proposal/problem**

- - -

**Environment**

**Screenshots**

[2021-06-15 11:58] rawchy1 commented on #2656
bye

[2021-06-15 12:10] #2656 closed

[2021-06-15 14:24] bwanglzu commented on #2514
hi @ryh95 does the above solution work for you? Seems it's an pytorch + multiprocessing issue.

if not , can you try:

[code]

[2021-06-15 14:30] #2643 closed

[2021-06-15 14:30] pswu11 commented on #2643
url is updated!

[2021-06-15 16:11] #2438 closed

[2021-06-15 16:13] hanxiao commented on #2652
how about `d.blob=mat`? does it work?

[2021-06-15 16:21] JoanFM commented on #2652
Yes, and I am fixing this

[2021-06-15 20:59] JoanFM opened #2665 "structview instantiates in-memory dict does not allow update nested fields"
**_Problem_**

[code]

[2021-06-16 00:56] #2652 closed

[2021-06-16 07:23] #2623 closed

[2021-06-16 07:44] #2665 closed

[2021-06-16 08:25] JoanFM opened #2670 "`DocumentArray` inconsistency"
**Describe the bug**
`DocumentArray` holds a `view` of a list of different `DocumentViews` that can end up living in the same `Array,_docs_view` elements of the native jina types and `Proto` types. Which can lead to problems when applying functions as `sort`, `map`, etc ...

This also creates the problem of potential different behavior between `DocumentArray` and `MatchArray` or `ChunkArray`

**Po

[2021-06-16 09:21] ryh95 commented on #2514
Hi, @bwanglzu

Thank you for your script, the error changed to another one which is irrelevant with cuda.
I have 2 questions.
1. Could you explain why this os config can work?
2. What if I want to specify a gpu card with this config? I tried to set CUDA_VISIBLE_DEVICES with above script but it fails.

[2021-06-16 10:13] bwanglzu commented on #2514
@ryh95 i just found this [link](https://github.com/PaddlePaddle/PaddleOCR/issues/3070#issuecomment-857698911), can you check if it works for you? I don't have a gpu on my laptop and can not reproduce.

[2021-06-16 10:20] ryh95 commented on #2514
@bwanglzu
Thanks for your advice!
But I don't use torch in this issue. Sorry for the misleading.

[2021-06-16 10:31] bwanglzu commented on #2514
hi @ryh95 I'm a bit confused by the current status, is it resolved, by Joan's latest comments on multiprocessing, or your program still have new errors popped up?

[2021-06-16 10:33] ryh95 commented on #2514
No, the original cuda error (3) is not solved. There are no new errors.

[2021-06-16 10:40] davidbp commented on #2617
https://github.com/jina-ai/jina/pull/2674

[2021-06-16 12:58] bwanglzu commented on #2514
hi @ryh95 i looked into the issue, seems it's not only related to Paddle, but also Pytorch, look at this [thread](https://github.com/PaddlePaddle/Paddle/issues/20169#issuecomment-557990722). Basically, Jina use multithreading with `fork` as start method, while CUDA, and for Jina we can not switch to `spawn`.

As far as I know, serving your solution without enabling GPU is the easier way.

[2021-06-16 13:42] ryh95 commented on #2514
Ok, Would you support other starting methods in the future?

[2021-06-16 14:50] bwanglzu commented on #2514
@ryh95 We're currently having a discussion, I'll get you updated if we make any decision. Btw, are you interested in upgrade your app with Jina 2.0? Jina 1.3 is a bit non-trival to use.

[2021-06-16 20:02] JoanFM commented on #2554
@cristianmtr can u make sure this is taken care in the new version?

[2021-06-17 02:57] ryh95 commented on #2514
Yes, I've been using 2.0 right now.

[2021-06-17 05:38] #2670 closed

[2021-06-17 05:45] JoanFM opened #2686 "need to create a `ListValueView` similar to `StructView` for nested array objects"
**Describe the bug**

Nested `array` objects in `tags` or `struct-like` protobuf fields cannot be updated:

[code]

**Proposal**
This can be fixed adding a new `View` object as for `ListValue`

[2021-06-17 07:04] cristianmtr commented on #2554
@JoanFM  https://github.com/jina-ai/executor-indexers/pull/22

[2021-06-17 09:51] JoanFM commented on #2514
Hello @ryh95 ,

We believe that the problem is related to the way we start new process, and we think that if we'd allow `spawn` to be the process starter method, the problem would be fixed.

Would you be able to confirm it by trying to reproduce your issue running on this branch `fix-allow-spawn` (https://github.com/jina-ai/jina/pull/2688)

This would help us be more sure if the diagnosis is corre

[2021-06-17 09:58] JoanFM commented on #2371
Seems to be fixable via approach in #2688

[2021-06-17 10:00] #2615 closed

[2021-06-17 10:01] #2640 closed

[2021-06-17 10:21] #2617 closed

[2021-06-17 10:27] ryh95 commented on #2514
Hi, @JoanFM
I switched the branch to the `fix-allow-spawn` and installed Jina with `setup.py`.
But it seems it's a 2.0 version and I can not run my wikipedia-sentences example now.
Could you give me a script that I can run?
I'll tell you the result then.

[2021-06-17 10:44] JoanFM commented on #2514
Hey @ryh95 ,

would you be able to run the following snippet?

[code]

[2021-06-17 10:50] JoanFM commented on #2514
Wait @ryh95 , I need to fix a couple of things

[2021-06-17 11:31] JoanFM commented on #2514
Hey @ryh95 ,

Can u please try this one (on the branch):

[code]

[2021-06-17 11:50] ryh95 commented on #2514
Hi, @JoanFM
The model is loaded successfully!
No errors are detected.
Thank you for your work!

[2021-06-17 11:51] JoanFM commented on #2514
Hey @ryh95

So this gives us more confidence of the underlying problem. It is not a trivial problem to fix but we will try to work on it asap.

I will close this issue and link it to a new one where the `underlying` problem can be managed

[2021-06-17 11:53] JoanFM opened #2691 "Need to enable `spawn` as potential `process starting` method."
**Describe the feature**
As described in #2514 , we need to enable using `spawn` to start new Processes.

bwanglzu can u please put more context on ur findings related to `torch` and `paddle`?

Also it may involve support for `Windows`

[2021-06-17 11:53] JoanFM commented on #2691
Linked to #2514

[2021-06-17 11:54] JoanFM commented on #2514
Follow-up ticket opened at #2691

[2021-06-17 11:59] Yongxuanzhang commented on #2691
this solution is similar when we're trying to solve this one. Could it be possible that the CUDA has been initialized during import?
https://github.com/jina-ai/jina/issues/2526

[2021-06-17 12:06] bwanglzu commented on #2691
The CUDA runtime does not support the fork start method; either the spawn or forkserver start method are required to use CUDA in subprocesses.

This makes user unable to use GPU for 3rd deep learning libraries, such as Pytorch and PaddlePaddle, since the default multiprocessing starting method is [fork](https://github.com/jina-ai/jina/blob/5db3fb6b3c21e81c9ad63a8d49eb66e571eec069/jina/__init__.py#

[2021-06-17 12:21] bwanglzu commented on #2514
hi @ryh95 can you print your cuda version?

[code]

[2021-06-17 12:25] ryh95 commented on #2514
nvcc: NVIDIA (R) Cuda compiler driver
    Copyright (c) 2005-2017 NVIDIA Corporation
    Built on Fri_Sep__1_21:08:03_CDT_2017
    Cuda compilation tools, release 9.0, V9.0.176

[2021-06-17 12:28] bwanglzu commented on #2514
okay, actually we're having testing scripts using pytorch with gpu enabled (with CUDA 11+), and it worked. We discuss how to resolve the issue, thanks so much!

[2021-06-17 12:29] ryh95 commented on #2514
So, cuda 11+ supports the ` fork` method?

[2021-06-17 13:11] ParthJadhav opened #2693 "Learn the basics page not available."
Learn the basics page is down or not available.

I have tried to access it from -
https://jina.ai/#get_started

And I was redirected to -
https://101.jina.ai

Which gives me 404 Error.

I don't need it. Just informing :smiley:

[2021-06-17 13:13] bwanglzu commented on #2514
yes, or at least did not break in our stress test.

[2021-06-18 01:07] xiaoxiongfeng opened #2695 "How to use docker?"
**Describe your proposal/problem**

## I want to use docker running a simple case.

**What I need**

I hope you can give me a complete example to run a simple case. If you can give data and demo, that is better. And I want to know how can I enter in the jina-ai docker using `run docker -it jina  /bin/bash`.

**Screenshots**

![image](https://user-images.githubusercontent.com/33524866/122490325-551

[2021-06-18 01:43] xiaoxiongfeng commented on #2695
use `--entrypoint`, the images' entrypoint is  `jina`

[2021-06-18 01:55] mapleeit commented on #2695
Hi @xiaoxiongfeng You are right. Entrypoint is jina. So if you want to try an example. You can just say docker run -it jinaai/jina:master hello fashion. This will start the internal example of fashion.

[2021-06-18 02:00] Gamol123 commented on #2649
D

[2021-06-18 07:44] #2686 closed

[2021-06-18 09:31] FionnD commented on #2693
Thanks for letting us know @ParthJadhav! We'll get that fixed asap cc @alexcg1

[2021-06-18 09:32] ParthJadhav commented on #2693
Nice !

[2021-06-18 09:36] FionnD commented on #2693
This is now fixed.

[2021-06-18 09:36] #2693 closed

[2021-06-18 13:20] sync-by-unito[bot] opened #2701 "test"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200479679796945) by [Unito](https://www.unito.io)

[2021-06-18 13:20] #2701 closed

[2021-06-18 13:28] sync-by-unito[bot] opened #2702 "Mantain collab notebook"
https://github.com/jina-ai/jupyter-notebooks/pull/11

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200479679796953) by [Unito](https://www.unito.io)

[2021-06-18 13:47] sync-by-unito[bot] opened #2703 "Test Hubble with one executor"
Test Hubble with Executor

[2021-06-21 05:18] JoanFM opened #2708 "change uses internal to unify the override of default configurations"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200496422487866) by [Unito](https://www.unito.io)

[2021-06-21 06:51] #2371 closed

[2021-06-21 07:18] Kelton8Z opened #2710 "introduce return flow result option in flow cookbook"
i.e. explain code use like `result = f.post(on='/test', inputs=[], return_results=True)`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200496886006835) by [Unito](https://www.unito.io)

[2021-06-21 08:23] xiaoxiongfeng commented on #2695
I know, but I want to know the detailed process, not the `docker run -it jinaai/jina:master hello fashion`; Or where is the detailed process; thanks

[2021-06-21 08:25] xiaoxiongfeng commented on #2695
I know, but I want to know the detailed process, not the `docker run -it jinaai/jina:master hello fashion`; Or where is the detailed process; thanks

[2021-06-21 08:32] xiaoxiongfeng commented on #2695
I know it run the code in jina/helloworld, but how?

[2021-06-21 11:57] Kelton8Z opened #2715 "document granularity off when building chunks bottom up"
e.g. With
[code]

`doc.plot()` gives the attached image which has granularity at 1 for all chunks

**Screenshots**
![image](https://user-images.githubusercontent.com/22567795/122757527-4eab2d80-d2ca-11eb-8bdd-78de2d369504.png)

and printing flow response shows the same problem

![image](https://user-images.githubusercontent.com/22567795/122758975-0987fb00-d2cc-11eb-9698-2d77ee20f537.png)

┆Issue i

[2021-06-21 12:01] JoanFM commented on #2715
It is not the plot the problem. It is the creation.

[2021-06-21 12:05] Kelton8Z commented on #2715
I just realized after printing flow response

[2021-06-21 12:09] maximilianwerk opened #2716 "Disable copy on send for dynamic routing"
Currently, at TailPeas each message is copied in the ZMQ runtime before it is send. This is needed, since messages are routed dynamically. Anyhow, the `_uncompress` can be avoided in order to have a faster message passing.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200498294236113) by [Unito](https://www.unito.io)

[2021-06-21 12:10] maximilianwerk opened #2717 "Split socket context management into separate class"
Currently socket lifetime and business logic is both handled inside `jina.preapods.zmq.Zmqlet`. I suggest, we move the context management to a separate class for better maintainability. This should include:

- setup the sockets from `args`
- dynamic socket initialization for dynamic routing
- close sockets during shutdown
- ... potentially more

[2021-06-21 12:10] JoanFM commented on #2716
not only about `decompress`, but is copy itself needed?

[2021-06-21 12:11] CatStark opened #2718 "Copy request part of message without decompressing it"
With new Dynamic Routing, when a TailPea has `x` outgoing edges, the message gets copied `x` times and thus also decompressed, we should change this.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200498376018664) by [Unito](https://www.unito.io)

[2021-06-21 12:14] CatStark commented on #2718
Closing this because it was a duplicate from [this](https://github.com/jina-ai/jina/issues/2716)

[2021-06-21 12:14] #2718 closed

[2021-06-21 12:28] JoanFM commented on #2715
I believe this is due to the fact that when the `latest` chunks are built, it detects its parent as granularity 0.

So building from the largest depth to the shallowest, it will have this problem.

[2021-06-21 13:40] JoanFM opened #2721 "add more detailed explanation about `groundtruths` in `cookbook`"
**Describe the feature**
Groundtruth is not properly explained in `cookbook`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200499038269669) by [Unito](https://www.unito.io)

[2021-06-21 14:46] #2647 closed

[2021-06-21 14:46] #2653 closed

[2021-06-21 14:47] JoanFM opened #2723 "add explanation about specific executor params in Executor cookbook"
Follow up if #2714

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200499581291412) by [Unito](https://www.unito.io)

[2021-06-21 15:24] JoanFM commented on #2514
Hey @ryh95,

Right now with `2.0.0.rc8` you should be able to work if u manually set `spawn` as the `start method` for processes as in the code snippet we shared.

[2021-06-21 15:55] JoanFM commented on #2514
Not true @ryh95 sorry for the inconvenience, not working yet

[2021-06-21 17:15] #2554 closed

[2021-06-22 13:54] JoanFM opened #2731 "add `traversal_paths` explanation in `Document` cookbook"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200505654406772) by [Unito](https://www.unito.io)

[2021-06-22 15:24] abellimz opened #2735 "Possible bug when using the axis parameter from_ndarray document generator"
**Describe your proposal/problem**
Axis parameter in this `from_ndarray` function here does not seem to work as documented, and seems like it is not used in the function.
https://github.com/jina-ai/jina/blob/010789331ce896ffcaea897402d698944f1a9d40/jina/types/document/generators.py#L15-L40

The axis parameter does not seemed to be used here when iterating through the array
https://github.com/jina-

[2021-06-23 07:42] deepankarm opened #2740 "Allow building JinaD from official docker hub images"
**Describe the feature**
With #2473. only devel builds are allowed. Once the PR gets merged, we need to make `cpu` default & add support for jina-version.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200509642422322) by [Unito](https://www.unito.io)

[2021-06-23 07:46] deepankarm opened #2741 "Network creation failure in JinaD due to ip range conflict"
**Steps to reproduce**

* Create a workspace and a flow/project container in that.
* Creating another workspace will fail as we use the same IP range for all networks.

**Describe how you solve it**

* Define IP range as a global var in JinaD
* Generate random subnets for each workspace.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200509767907192) by [U

[2021-06-23 07:54] sync-by-unito[bot] opened #2742 "Dynamic routing tests with shared Pods with sharding and replication"
We need explicit set of tests where the `shared Pod` uses parallelization and/or sharding.
We need to check how we can merge in the Tail messages from different 'tenants'

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200504469106784) by [Unito](https://www.unito.io)

[2021-06-23 08:32] nero-nazok commented on #1986
Hey @alexcg1 and @maximilianwerk, sorry for the inactivity lately.

When migrating to Jina v2 we will move our index-data from the filesystem to a more reliable data storage e.g. mongodb. It would be great if Jina would support the full deletion of documents (including its chunks) out of the box.

[2021-06-23 10:16] deepankarm opened #2745 "Add test in JinaD for override param"
After merging https://github.com/jina-ai/jina/pull/2707, we need to add a test for override param in JinaD distributed tests.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200510389454695) by [Unito](https://www.unito.io)

[2021-06-23 10:18] deepankarm opened #2746 "Move from requests to aiohttp in JinaD"
**Describe the bug**
All REST requests to mini-jinad currently are done using `requests` module., which blocks the event-loop on main-jinad. We should use `aiohttp` to send async requests.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200510406202377) by [Unito](https://www.unito.io)

[2021-06-23 10:54] numb3r3 opened #2749 "support removing, listing the installed executor from jinahub"
**Describe the feature**

To support the following two cli commands:

* [ ] #2805
* [ ] `jina hub list/ls`

**Note**:
    - this api would delete some files, this is very dangerous. So this ticket is blocked!

- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200510449927841) by [Unito](https://www.unito.io)

[2021-06-23 11:34] #2708 closed

[2021-06-24 00:07] #2140 closed

[2021-06-24 00:07] #2024 closed

[2021-06-24 04:09] numb3r3 opened #2754 "show some size/ETA/progress bar on for push/pull cli"
**Describe the feature**

- [ ] download bar
- [x] upload bar
- [x] stage/building bar

**Your proposal**

Related to https://github.com/jina-ai/jina/tree/refactor-progress-bar
- - -

**Environment**

**Screenshots**

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200514852217895) by [Unito](https://www.unito.io)

[2021-06-24 05:55] Kelton8Z opened #2755 "construct document from dict issues"
1. `Document(dict(location=(1,0)))`, which follows the cookbook, raises badDocType error while `Document(dict(location=[1,0]))` works
1. Given a random nonempty ndarray `arr,` `Document(dict(blob=arr)` gives `unhashable type: 'numpy.ndarray'` and `google.protobuf.json_format.ParseError` while `Document(blob=arr)` works

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/12004796

[2021-06-24 07:42] #2702 closed

[2021-06-24 08:41] jacobowitz commented on #2741
This actually works already, there is nothing to be done. It is important to run jinad with `--store`

I wrote some hacky tests to validate locally: https://github.com/jina-ai/jina/pull/2757

[2021-06-24 08:41] #2741 closed

[2021-06-24 09:52] CatStark opened #2758 "Update Executors template"
The executors template is already on the right track but needs some clean up to have it ready for 2.0

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200516196060262) by [Unito](https://www.unito.io)

[2021-06-24 09:54] numb3r3 opened #2759 "install external deps from requirements.txt for pulled executor"
**Describe the feature**

In the procedure of `jina pub pull jinahub://{UUID8}`, use `pip install -r requirements.txt` to install deps for that executor.

**Your proposal**

Firstly, I would like to install all of the requirements into the sys pythonpath. Then, collect some feedbacks/issues about this strategy from community.

some references:

- https://pip.pypa.io/en/latest/user_guide/#using-pip

[2021-06-24 13:16] jacobowitz commented on #2500
This got fixed as a side effect of https://github.com/jina-ai/jina/pull/2551
Verified with this test https://github.com/jina-ai/jina/pull/2760

[2021-06-24 13:16] #2500 closed

[2021-06-24 13:21] CatStark opened #2761 "Write executor-template using Cookiecutter"
We need to have a cookicutter for the `executor-template`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200517140495384) by [Unito](https://www.unito.io)

Check https://github.com/jina-ai/cookiecutter-jina-hub/pull/7

[2021-06-25 09:26] CatStark opened #2766 "Configure the timeout on CloudFlare"
As stated [here](https://github.com/jina-ai/hubble/issues/36):

jina hub push: down after 60s timeout :x:
supposed to be fixed after configure the timeout on CloudFlare

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200521660149633) by [Unito](https://www.unito.io)

[2021-06-25 10:50] jacobowitz opened #2767 "Support inline file uploads"
JinaD checks the Flow definition for files to upload to the workspace.

Not all legal syntax are supported. Especially inline and dict syntax dont seem to work

This should work I think and does not because the file _my_exec.py_ is not uploaded to the workspace:

[code]

[2021-06-25 11:32] jacobowitz opened #2768 "Persistent root workspace fails to store uploaded files in JinaD"
JinaD uploads files nessary for a Flow to the workspace it creates. Workspaces/files are stored in the root workspace of JinaD.
If run inside Docker, this works if the root workspace is some temporary directory on the host like /tmp/jinad.
I tried to run JinaD with mounting some persistent folder as the root workspace and uploaded files are no longer stored correctly.

In my example I started Jina

[2021-06-28 02:54] hanxiao commented on #2716
this is solved in https://github.com/jina-ai/jina/pull/2726

[2021-06-28 02:54] #2716 closed

[2021-06-28 04:02] hanxiao commented on #2755
you can directly construct doc using kwargs, i.e. `Document(key1=value1, key2=value2, key3=value3)`.

e.g.  the following work
[code]

`Document(dict(...))` is possible but this `dict` must be generated from `Protobuf.MessageToDict`

[2021-06-28 04:58] #2759 closed

[2021-06-28 07:06] CatStark commented on #2766
Closing this since we are not going this route anymore

[2021-06-28 07:06] #2766 closed

[2021-06-28 07:55] CatStark commented on #2755
Closing this issue since it was solved

[2021-06-28 07:55] #2755 closed

[2021-06-28 09:10] maximilianwerk opened #2782 "Add Local Remote Local for dynamic routing"
It should be possible again to have a remote Pod inside a local Flow. This was disabled by dynamic routing.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200529170193915) by [Unito](https://www.unito.io)

[2021-06-28 09:13] deepankarm commented on #1868
Fixed in #2473

[2021-06-28 09:13] #1868 closed

[2021-06-28 09:13] deepankarm commented on #2330
Fixed in #2473

[2021-06-28 09:13] #2330 closed

[2021-06-28 09:14] deepankarm commented on #1812
Fixed in #2473

[2021-06-28 09:14] #1812 closed

[2021-06-29 05:05] deepankarm commented on #2767
We used to support inline Flow building before using JinaD, but that got removed & we only support flow building using yaml files now. This probably needs to be documented somewhere.

[2021-06-29 10:02] #2723 closed

[2021-06-29 11:06] JoanFM opened #2801 "Add override_with and override_metas explanation in cookbook"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200479679796904/1200536069555253) by [Unito](https://www.unito.io)

[2021-06-29 14:47] FionnD opened #2805 "`jina hub remove/rm {UUID8} [--secret]`"

[2021-06-29 14:47] #2805 closed

[2021-06-29 15:24] #2801 closed

[2021-06-29 17:12] #2740 closed

[2021-06-29 19:40] akforum2204 commented on #2782
Hello how are you

[2021-06-29 22:00] JOS-RE opened #2811 "Jina : Windows Not Supported"
**Describe the feature**
Jina is not supported in Windows single lang 10

**Your proposal**
It must be compatible in Windows 10 latest version. (normal)

- - -

[code]

**Environment**

**Screenshots**
![image](https://user-images.githubusercontent.com/77195199/123872999-739b4280-d953-11eb-9045-ea9a7434e5e1.png)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/120047967979690

[2021-06-29 22:06] JoanFM commented on #2811
Hey @JOS-RE ,

Windows is not currently supported. You can install WSL for it.

Another thing that may be worth trying is to set the environment variable JINA_DISABLE_UVLOOP to True, and see if it may work

[2021-06-29 23:31] JOS-RE commented on #2811
Could you provide a video that demonstrates the entire Installation process.

[2021-06-30 05:30] deepankarm opened #2813 "Add validation during `store.load` in JinaD"
**Describe the feature**
With every write operation in JinaD stores, we serialize it to local disk. During a "start", we try reloading store objects from local disk. The store objects should be validated & updated, if there are changes to the local docker images/networks/containers.

[2021-06-30 05:40] amino19 opened #2814 "[FEATURE] Need to add Installation Video"
**Describe the feature**

It's not comfortable for beginners (user), to go directly with installation process of `Jina`. :slightly_frowning_face:

**Your proposal**

We must provide a guidance with video reference, that must be in README.md :slightly_smiling_face:

- - -

**Environment**

Linux, WSL2, Mac

**Screenshots**

<img width=50% src="https://user-images.githubusercontent.com/75872316/1239

[2021-06-30 07:09] CatStark commented on #2758
No longer needed

[2021-06-30 07:09] #2758 closed

[2021-06-30 10:49] #2761 closed

[2021-06-30 12:37] xiaoxiongfeng opened #2816 "How can I get my index?"
**Describe your proposal/problem**

I run this, but I dont know where is my index;Or How can I store it! What does `flow.index(docs)` do?
![image](https://user-images.githubusercontent.com/33524866/123961338-d0920980-d9e2-11eb-858d-1ddd5a7fc1a7.png)

https://github.com/jina-ai/examples/tree/master/wikipedia-sentences
---

**Environment**

**Screenshots**

[2021-06-30 14:49] CatStark commented on #2816
Hi @xiaoxiongfeng have you check our [cookbooks](https://github.com/jina-ai/jina/tree/master/.github/2.0/cookbooks) already? especially the [Flow](https://github.com/jina-ai/jina/blob/master/.github/2.0/cookbooks/Flow.md) one could be useful to you.

[2021-06-30 20:02] #2731 closed

[2021-06-30 20:24] Bhavya1912 commented on #2811
install WSL for it.

[2021-07-01 00:51] xiaoxiongfeng commented on #2816
@CatStark Thank you, I will check.

[2021-07-01 05:32] Kelton8Z commented on #2710
already a section on this at https://github.com/jina-ai/jina/blob/master/.github/2.0/cookbooks/Flow.md#get-all-responses

[2021-07-01 05:32] #2710 closed

[2021-07-01 05:37] duxiaoyao commented on #2746
As async http client, [HTTPX](https://www.python-httpx.org/) should be a better option over aiohttp. FYI.

[2021-07-01 06:24] Kelton8Z commented on #2649
already documented in the latest cookbook

[2021-07-01 06:24] #2649 closed

[2021-07-01 06:32] #2754 closed

[2021-07-01 07:29] numb3r3 opened #2820 "improve progress bar"
**Describe the feature**

The current `ProgressBar` is too simple, and can not work for various cases.

**Your proposal**

---

**Environment**

**Screenshots**

[2021-07-01 08:11] jacobowitz opened #2822 "Support additional container runtimes"
At the moment **Jina** and **JinaD** support deployment and execution via **Docker** as the exclusive containerization technology.

We should investigate supporting other possible container runtimes like [containerd](https://github.com/containerd/containerd) and [cri-o](https://github.com/cri-o/cri-o) . In the last years alternative container runtimes for containers  gained significantly more trac

[2021-07-01 08:26] arjunramesan01 opened #2823 "Old Jina documentation is missing"
I wanted to learn about rankers used in Jina, but the support document is missing
URL : https://docs.jina.ai/v1.0.7/chapters/ranker/

[2021-07-01 11:02] akforum2204 commented on #2782
Hi

[2021-07-01 11:12] JoanFM commented on #2782
Can you add more details about this? how is it not possible?

[2021-07-01 11:26] CatStark opened #2826 "ContainerRuntime does not work on MacOS"
The communication from internal container to outside container is broken.

[2021-07-01 11:42] bwanglzu commented on #2823
hi @arjunramesan01 in case you're still using jina 1.x, checkout [this](https://docs1.jina.ai/v1.0.7/chapters/ranker/) link. But we suggest you to switch to jina 2.0.

[2021-07-01 11:45] arjunramesan01 commented on #2823
thanks

[2021-07-01 11:45] #2823 closed

[2021-07-01 11:52] jacobowitz opened #2827 "Modularize CI/CD workflows"
We have separate [CI](https://github.com/jina-ai/jina/blob/master/.github/workflows/ci.yml) and [CD](https://github.com/jina-ai/jina/blob/master/.github/workflows/cd.yml) pipelines, which share a lot of code actually (like the testing part). This is a bit annoying to maintain at the moment, because we have to do all changes twice. It would be great do modularize this somehow so that both workflows

[2021-07-01 13:53] #2768 closed

[2021-07-01 14:43] #2826 closed

[2021-07-02 06:48] xiaoxiongfeng opened #2834 "The data is None."
**Describe the bug**

what's wrong, and how to solve!
![image](https://user-images.githubusercontent.com/33524866/124232537-61ccc180-db44-11eb-99a8-792d67c402be.png)

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-07-02 07:45] CatStark commented on #2608
We need more info on where to this should live @nan-wang

[2021-07-02 08:10] #2834 closed

[2021-07-02 08:11] xiaoxiongfeng commented on #2834
pip install -U -r requirements.txt

[2021-07-02 10:30] jacobowitz commented on #2746
@duxiaoyao
Thank you for the suggestion! We have to stick with aiohttp for now though as we are already using this in rest of Jina alot and we want to keep the number of external dependencies as low as possible. HTTPX is not used by us atm.

[2021-07-02 13:07] JoanFM opened #2841 "gateway runtime test hangs"
**Describe the bug**
The test sometime hangs.

**Reason**
The Worker Pea may send `CANCEL` to the router while the `router` is down.

**Solution**
The solution should be to detect when `CANCEL` is needed

[2021-07-02 17:34] soljarjb13 commented on #2841
v

[2021-07-02 17:34] soljarjb13 commented on #2841
v

[2021-07-02 17:34] soljarjb13 commented on #2841
v

[2021-07-02 22:03] soljarjb13 opened #2844 "User:Cpiral/relink.pl"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-07-03 15:24] amino19 commented on #2827
@jacobowitz : Can I give a shot here? It's seems interesting, to work with `worflows.` :slightly_smiling_face:

[2021-07-03 22:41] vwoloszyn opened #2846 "AttributeError: '_RunThread' object has no attribute 'result'"
I'm trying to reproduce the examples on the README.MD. Although searching using http://0.0.0.0:5000/docs looks good, I get an exception when I try to use the Client.

Code:

from jina import Client, Document
from jina.types.request import Response

def print_matches(resp: Response):  # the callback function invoked when task is done
    for idx, d in enumerate(resp.docs[0].matches[:3]):  # print t

[2021-07-04 08:10] vwoloszyn commented on #2846
if I change from protocol='http' to protocol='grpc' it works fine

[2021-07-04 09:59] bwanglzu opened #2848 "merge values into scores in protobuf"
he current Protobuf defines scores  and evaluations  in
[code]

This results in a very verbose JSON Schema

[code]

where `scores` and `values` should be merged into `scores` , as here values is the only element under scores. This problem is hidden via Python interface, but becomes significant once people move out from Python (e.g. use protocol="http")
I would prefer:

[code]

[2021-07-04 10:38] chintanckg opened #2849 "[Documentation] "What is Neural Search" hyperlink is restricted"
http://jina.ai/2020/07/06/What-is-Neural-Search-and-Why-Should-I-Care.html

![image](https://user-images.githubusercontent.com/13482558/124381794-f9b3e200-dce1-11eb-8715-6e888dafae18.png)

![image](https://user-images.githubusercontent.com/13482558/124381814-12bc9300-dce2-11eb-9670-fc2daa9b29e9.png)

[2021-07-04 13:14] alexcg1 commented on #2849
@gitcommitshow can you look into this? Looks like this might only happen in India

[2021-07-04 15:21] #2844 closed

[2021-07-04 15:33] #2846 closed

[2021-07-04 15:33] #2848 closed

[2021-07-04 15:52] hanxiao commented on #2846
This should be fixed in `2.0.3`, please try `pip install -U jina`.

[2021-07-04 22:05] vwoloszyn commented on #2846
I have done, pip3 install -U "jina[standard]" and still same error when protocol='http'

[2021-07-05 07:38] jacobowitz commented on #2827
sure, if you need more information just comment here or join the community slack and ask me there!

[2021-07-05 09:37] #2742 closed

[2021-07-05 11:39] jacobowitz commented on #2827
actually you may want to wait because there is some ongoing work already as you can see here:
https://github.com/jina-ai/jina/blob/master/.github/workflows/force-docker-build.yml

[2021-07-05 12:21] deepankarm commented on #2849
@chintanckg I'm connecting from India & this works for me. Confirmed with friends too :)

[2021-07-05 13:09] bwanglzu opened #2854 "cache invalidation in documentarray"
`__contains__` logic in `DocumentArray` is heavily affected by `cached_property`. In this ticket, want to raise the concern about the issue. `cached_property` has affected everything, such as `insert`, `add`, `iadd`, `del`, `append`, `extend` and `clear`. This makes the `contains` logic fragile.

needs to add `@mutating` decorator and wrap those functions that would invalidate the cache

[2021-07-05 14:39] #2849 closed

[2021-07-05 15:46] CatStark commented on #2703
No longer relevant

[2021-07-05 15:46] #2703 closed

[2021-07-05 15:52] vwoloszyn opened #2855 "New fields into Document"
Question,

How can I extend Document to handle different fields, e.g., title, or description?

e.g.,

 d = Document()
 d.text = "blabla"
 d.title = "blabla"
 d.description = "blabla"
 c.post('/index', (d))

[2021-07-05 20:33] bwanglzu commented on #2855
@vwoloszyn this is the expected behaviour:

[code]

by default if you're working on text modality, use `d.text`, for the metadata, and other information, use `d.tags[key] = value`

[2021-07-05 21:19] vwoloszyn commented on #2855
Thank you @bwanglzu . The second question, Is there any way to search by tag? e.g, 'hemingway' in d.tags['author']  ?

[2021-07-05 21:45] #2820 closed

[2021-07-06 07:50] 752377941 opened #2861 "set d.scores['cosine similarity'] = 0.96 and use flow.post to request it"
**Describe the bug**
when I set d.scores['cosine similarity'] = 0.96 and use flow.post to request it,then it raise

[code]

---

**Environment**
jina v2.0.2

[2021-07-06 07:58] bwanglzu commented on #2855
hi @vwoloszyn if I understand your intent correctly:

1. you want to do semantic search using the content of the document
2. you want to perform hard match/filter based on certain tags.

This is definitely doable, Jina is flexible on it, let me write a simple executor for you:

[code]

Hopefully it helps.

[2021-07-06 08:02] vwoloszyn commented on #2855
Many thanks!!!

[2021-07-06 08:02] #2855 closed

[2021-07-06 08:08] #2767 closed

[2021-07-06 08:20] JoanFM commented on #2861
can u share some more detail on ur code, flow and executors? it does not seem that the error is related with the scores?

Where is the scores set, at the client? at the executor?

[2021-07-06 08:50] EyaRhouma opened #2862 "feat: add isort to pre-commit"
**Describe your proposal/problem**
Add `isort` pre-commit to automatically order imports alphabetically and separate them into sections. Rather than manually following `standard import order` as suggested in the [Code Review Guidelines]( https://github.com/jina-ai/jina/blob/master/.github/CODE_REVIEW_GUIDELINES.md#tldr-for-pyguide)

[2021-07-07 06:19] xiaoxiongfeng opened #2868 "Cool for using GPU、own SQL database and select the algo of vector engine!"
**Describe your proposal/problem**

---

**Environment**

**Screenshots**

[2021-07-07 06:21] #2695 closed

[2021-07-07 06:44] JoanFM opened #2870 "add match and find functions to `DocumentArray`"
**Describe the feature**
To give more power to `DocumentArray`, add the following methods to `DocumentArray`.

[code]

[code]

[2021-07-07 07:27] CatStark opened #2872 "Metrics section is not up to date"
Update metrics section in https://github.com/jina-ai/examples#performance-metrics

The link in the TOC doesn't work and the txt file is missing

[2021-07-07 08:08] alexcg1 commented on #2814
Hey @amino19 , thanks for the feedback!

What in particular do you feel is difficult? At least compared to any other Python package?

because if the whole video is just `pip install jina` then I don't think it'll be very long :laughing:

[2021-07-07 08:20] amino19 commented on #2814
@alexcg1 : Sir, basically, I think the installation process must include `pip` & `docker`! Satisfy video length + process via both. :slightly_smiling_face:

[2021-07-07 08:42] bwanglzu commented on #2868
@xiaoxiongfeng is it a question can you elaborate the issue you encountered?

[2021-07-07 09:54] 752377941 commented on #2861
at the executor, it has been solved at v2.0.3.

[2021-07-07 09:58] 752377941 commented on #2861
When I set scores, the RequestProto

[2021-07-07 09:58] #2861 closed

[2021-07-07 12:57] deepankarm commented on #2589
A related issue:
For a Pea that uses `ContainerRuntime`, Pea itself starts a docker container. Current JinaD implementation starts a docker container independent of the runtime the Pea uses. In case of `ContainerRuntime`, a mini-jinad container just waits for another Pea container, which is wrong. These items should be solved together.

[2021-07-07 13:29] jacobowitz opened #2876 "Responses not matched to correct requests in prefetching"
Prefetching was not matching responses to requests, but just sending a request and reading the next available message then as a response.
If multiple clients use the same flow they could get responses from other clients in these cases.

This is already ixed by https://github.com/jina-ai/jina/pull/2843 . This issue was created just for documentation and tracking purpose.

[2021-07-07 13:29] #2876 closed

[2021-07-07 14:15] #2854 closed

[2021-07-07 18:38] florian-hoenicke opened #2879 "Simplify External Executor CLI"
Currently, the Executor has to be started like this:

[code]

 I would expect just configuring the `port` and the `host`
[code]

[2021-07-08 06:37] #2782 closed

[2021-07-08 06:45] #2841 closed

[2021-07-08 09:40] CatStark opened #2884 "Each executor should be updated"
Check that all of our public executors have a docker image. We will use GH for this.

Add and track it on this sheet https://docs.google.com/spreadsheets/d/159hMP37l_Ep0sxjEJKveVOfmSfoApeibQZSzaPJzgJo/edit#gid=0

Also add the cd workflow to the executor template and update guidelines

[2021-07-08 10:39] JoanFM opened #2887 "test hangs at pea closing step"
Ticket for continuous investigation

[2021-07-08 10:46] nan-wang opened #2889 "Passing extra init parameters to executors does not work when `parallel>1`"
**Describe the bug**
In the following codes, when `parallel>1`, it will break.

[code]

**Describe how you solve it**

---

**Environment**
- jina 2.0.5
- jina-proto 0.0.84
- jina-vcs-tag (unset)
- libzmq 4.3.4
- pyzmq 1.19.5
- protobuf 3.17.0
- proto-backend cpp
- grpcio 1.34.1
- pyyaml 5.4.1
- python 3.8.5
- platform Darwin
- platform-release 19.3.0
- platform-version Darwin Kernel Version 19.3.

[2021-07-08 10:48] JoanFM commented on #2889
how does it break?

[2021-07-08 10:50] cristianmtr commented on #2889
[code]

[2021-07-08 10:51] JoanFM commented on #2889
@nan-wang can u try adding *args to the init?

[2021-07-08 10:52] nan-wang commented on #2889
The same error.

[2021-07-08 10:52] cristianmtr commented on #2889
Strange. If I add

[code]

[2021-07-08 12:27] #2889 closed

[2021-07-08 17:02] bobub opened #2899 "Minimum Working Example Jina 2.0 - Name Error, __file__ not found"
**Describe the bug**
Hi, the minimum working example for Jina 2.0 does not fully run in Colab. Specifically, the flow cell throws a name error as it cannot find the __file__, which is the source code itself.

I'm referring to:
https://colab.research.google.com/github/jina-ai/jupyter-notebooks/blob/main/2.0-readme-38l.ipynb

[2021-07-09 06:16] tiwari93 commented on #2899
I am also facing same issue.

![image](https://user-images.githubusercontent.com/49356997/125032180-35b4c180-e0ab-11eb-8c2b-d43d12e4a7f9.png)

[2021-07-09 07:22] JoanFM opened #2900 "Expose `device-requests` in our ContainerRuntime to the `docker client`"
**Describe the feature**
To enable passing --gpu all to the docker images, we need to expose an easy way to expose `DeviceRequest` to the container sdk client.

https://github.com/docker/docker-py/pull/2471

[2021-07-09 08:18] cristianmtr commented on #2899
Hey @bobub @tiwari93

Yes, the `__file__` variable will not work in notebooks.

Thanks for pointing these out. We will fix them these days :)

[2021-07-09 10:53] cristianmtr opened #2906 "optimizer TPESampler should automatically construct search space from parameters.yml"
Currently we have to manually add the space and pass it as a kwarg

[2021-07-10 13:48] nan-wang opened #2910 "Multi-path Flow breaks when one path skips the request and `parallel>1`"
**Describe the bug**
When using `parallel>1`  and the `target_peapod` is not the one with multiple `parallel`, it keeps hanging.

[code]

**Describe how you solve it**

---

**Environment**

[code]

**Screenshots**

[2021-07-11 06:57] xiaoxiongfeng opened #2912 "Fetching meta data..."
**Describe the bug**

![image](https://user-images.githubusercontent.com/33524866/125185464-849f5a00-e257-11eb-93ec-680dbe680cc8.png)
This problem happends a lot, and it is not my question, because I do not change anything. I think I must download something from Jina,  is there a way to save it locally? I think a stable environment is very important.
**Describe how you solve it**

---

**Environme

[2021-07-11 08:19] nan-wang commented on #2912
This is due to the internet connection issue.

[2021-07-11 08:23] xiaoxiongfeng commented on #2912
![image](https://user-images.githubusercontent.com/33524866/125187832-20cf5e00-e264-11eb-8c8e-305f085fb036.png)
![image](https://user-images.githubusercontent.com/33524866/125187857-39d80f00-e264-11eb-867f-b3ac406ea702.png)

[2021-07-11 13:26] nan-wang commented on #2870
Do we have some codes to show the expected behaviors? @JoanFM

[2021-07-11 13:33] nan-wang commented on #2620
no longer valid

[2021-07-11 13:33] #2620 closed

[2021-07-11 15:36] #2910 closed

[2021-07-12 03:57] niuzs-alan commented on #2912
Hey, Thanks for your feedback.

I checked the backend service yesterday, it worked.
And It works on my laptop both with `sysproxy` or not now.

Could you plz check your internet and try it again?

[2021-07-12 06:45] deepankarm opened #2917 "Add a Python client for JinaD"
Currently, requests to JinaD server are invoked in `JinadRuntime`, tests & examples. We should add a `JinaDClient` which can be used internally & by external repos.

[2021-07-12 06:57] JoanFM opened #2918 "Ci hangs when fluhing control port"
**Describe the bug**
Some CI hanging cases seem to be related to flushing ports at `ZMQStreamlet` closing time, specifically at flushing the control port

[2021-07-12 07:00] JoanFM opened #2919 "allow compositional requests"
**Describe the feature**
In order to allow features such as `recommend` we need to alllow certain types of `requests` that are more like a `conversation` where more than one request is needed.

Imagine the `recommend` endpoint, u would need to call `fill_embedding` and then `search` with the result of the first. We may need to find a way to have compositional calls where the output of the first is

[2021-07-12 07:10] cristianmtr commented on #2105
@JoanFM we can do this now with override_with and override_metas, right?

[2021-07-12 07:17] JoanFM commented on #2105
yes @cristianmtr

[2021-07-12 07:31] #2105 closed

[2021-07-12 09:29] CatStark commented on #2691
Closing but we have no way to test it.

[2021-07-12 09:29] #2691 closed

[2021-07-12 09:31] #1805 closed

[2021-07-12 09:33] #1813 closed

[2021-07-12 09:43] cristianmtr opened #2923 "Remote replicas"
Allow for CompoundPods Replicas to be on separate machines.

[2021-07-12 09:46] JoanFM commented on #2923
and have dump reload mechanism work in distributed setting

[2021-07-12 09:46] jacobowitz commented on #2923
We should probably think about a generic approach so that we can also do the same for shards? Basically any pod type which can be controlled by a CompoundPod?

[2021-07-12 09:49] JoanFM commented on #2923
peas in Pods can be in different machines

[2021-07-12 12:18] #2900 closed

[2021-07-12 14:19] numb3r3 opened #2927 "return more info for 404 error from fetch_meta func"
**Describe the feature**

More information should be provided if there are some errors/exceptions.

**Your proposal**

---

**Environment**

**Screenshots**

[2021-07-12 16:04] jacobowitz opened #2930 "Dont send responses for some control messages"
At the moment we are sending response to all control and data requests, which is done in the msg_callback in the ZEDRuntime:
https://github.com/jina-ai/jina/blob/master/jina/peapods/runtimes/zmq/zed.py#L303

For some control requests this is wrong and potentially dangerous (at least IDLE/CLOSE) as the other side of the communication may never expect a response and could already be dead by the time

[2021-07-13 03:04] mapleeit commented on #2912
@xiaoxiongfeng Could you execute this command and print the result here? `curl -v https://api.jina.ai/hub/hubble.json`

[2021-07-13 05:53] deepankarm opened #2934 "Fluentd start failing with JinaD (since v2.0.3)"
Post [dockerfile optimization PR](https://github.com/jina-ai/jina/pull/2845), fluentd start is failing as we uninstall `ruby` as part of cleanup.

[2021-07-13 05:54] deepankarm commented on #2934
Fixed with https://github.com/jina-ai/jina/pull/2931

[2021-07-13 05:54] #2934 closed

[2021-07-13 08:19] deepankarm opened #2936 "Enable hub caching in JinaD"
Hub executor caching doesn't integrate well with jinad. JinaD starts containers for flows/peas etc & only mounts  the `<root-workspace>/<workspace-id>` directory (e.g. `/tmp/jinad//jworkspace-8c6816c3-fbe2-4c25-98bb-49dff6565e83/`) with the child container. So inside the container, the files get cached at `~/.jina/..` which is not accessible to other containers.

**Fix**: set `JINA_HUB_ROOT` env v

[2021-07-13 08:23] deepankarm opened #2937 "Support setting environment variables via jinad endpoints"
Allow setting `env` during `POST /flows`, `POST /pods`  & `POST /peas`

[2021-07-13 08:54] deepankarm commented on #2746
While working with @Kelton8Z to enable examples using jinad, I noticed that, if there's a case where mini-jinad container waits to download hub image, Flow creation takes time. During that, jinad server gets completely blocked. This needs to be fixed as soon as possible,

[2021-07-13 13:12] #2930 closed

[2021-07-13 16:31] cristianmtr commented on #2479
@CatStark can we close this one?

[2021-07-13 16:35] cristianmtr commented on #2557
@getorca Glad you sorted it out. We will close this issue though, as we have added output to such a scenario:

[code]

[2021-07-13 16:35] #2557 closed

[2021-07-13 18:29] #2479 closed

[2021-07-13 21:47] davidbp commented on #2870
I will put a draft here https://github.com/jina-ai/jina/pull/2942

[2021-07-13 22:09] bwanglzu opened #2943 "use multimodal document in multimodal helloworld"
we could start to use multimodal document  (`jina.types.document.multimodal.MultimodalDocument`)in examples/eaps,  this could help us:

1. Refine the so called Segmenters (segment document into different chunks by modalities).
2. No need to filter docs by modalities, only need a dict like get to get the content of the document, such as `content = doc.modality_content_map['image/jpeg']`
3. Think ab

[2021-07-14 02:48] numb3r3 opened #2944 "cannot get embedding from reloaded DocumentArrayMemmap"
**Describe the bug**

You can reproduce the error with the following sample scripts
[code]
The error log is:
[code]

**Describe how you solve it**

---

**Environment**

[code]
**Screenshots**

[2021-07-14 09:56] #2899 closed

[2021-07-14 14:54] #2887 closed

[2021-07-14 15:39] bwanglzu opened #2950 "add distributed test for remote external pod"
can not connect to an external pod deployed on aws, need to create a test case.

[2021-07-14 15:48] JoanFM commented on #2870
Once this `PR` is finished, needs to be put and used in `NumpySearcher` in the hub

[2021-07-15 07:32] #2927 closed

[2021-07-15 10:28] #2746 closed

[2021-07-15 13:04] georgeamccarthy opened #2957 "Streamlit & Jina RuntimeError: context has already been set"
**Describe the bug**
## Streamlit & Jina RuntimeError: context has already been set
If I create the file app.py and insert
[code]

and run through `streamlit run app.py`
I get the error `RuntimeError: context has already been set`
Traceback:
[code]

### System info: 2020 M1 MacBook Air, Mac OS Big Sur 11.4

### Followed steps suggested by Deepankar (Jina AI) on Slack/Support

[code]

All of the ab

[2021-07-15 13:16] JoanFM commented on #2957
Hello @georgeamccarthy.

This seems to relate to some work we have been looking at in the past times.

Could you please try to comment from Jina the lines:

[code]
and see if the `Jina` app still works?

[2021-07-15 15:41] CatStark opened #2958 "Test for docs being None"
`docs` is an `Optional[DocumentArray] ` so we need to be robust to this, every method needs to consider this possibilty and have a test of it being called with None

[2021-07-15 19:28] georgeamccarthy commented on #2957
That stops there error and produces a new one:

`ValueError: signal only works in main thread`

[code]

[2021-07-15 19:30] georgeamccarthy commented on #2957
Tried

[code]

The output is `spawn`

[2021-07-15 19:43] georgeamccarthy commented on #2957
If I edit out the section

and in `app.py` write

[code]

When running `streamlit run app.py` the error is

[code]

Note that just running `python app.py` produces no errors.

[2021-07-16 10:59] hanxiao commented on #2944
fake issue as suggested in https://jinaai.slack.com/archives/C018F60RBL5/p1626433114282100

[2021-07-18 02:41] #2872 closed

[2021-07-19 08:25] #2918 closed

[2021-07-19 09:08] JoanFM commented on #2715
@bwanglzu can u share ur thoughts on why is not doable

[2021-07-19 14:01] alaeddine-13 opened #2975 "Make DocumentArray and DocumentArrayMemmap similar"
• Switching between DA <> DAM requires minimum effort.
• DA & DAM should implement the same common methods & interfaces & magic functions.
• Any Ops that work on DA should work on DAM as well.

slack discussion: https://jinaai.slack.com/archives/C018F60RBL5/p1626675464298200

- [x] add slice support to __getitem__ and __delitem__
- [x] fix updating existing document
- [x] integrate buffer pool
- [

[2021-07-20 08:39] davidbp opened #2977 "Add find method to DocumentArray"
Add method `find` in DocumentArray to help filter using regular expressions
[code]

This was proposed in https://github.com/jina-ai/jina/issues/2870 and started but stopped in https://github.com/jina-ai/jina/pull/2963

[2021-07-20 08:40] davidbp opened #2978 "Add visualization to DocumentArray"
Add visualization capability to display embeddings in a DocumentArray.

This would imply having a mechanism to map to 2D a matrix of N-dimensional examples.

[2021-07-20 08:41] davidbp opened #2979 "Use match in helloworld examples"
Hello world examples use many functions that now could be simplified with  the `DocumentArray.match` method.

This is done in  https://github.com/jina-ai/jina/pull/2984

[2021-07-20 16:43] Ierezell opened #2982 "Adding retrieving executors"
**Describe your proposal/problem**

Adding models for retrieving / Question answering like :
- Dense passage retrieval (DPR)
- Retrieval Augmented generation (Rag)
- Fusion in the decoder (Fid)

They are summarized in this article but appear in many others (https://arxiv.org/pdf/2107.07566.pdf).

I Finetuned a DPR model (with haystack), which performs quite well. I would like to use it in Jina.
Ha

[2021-07-21 04:17] JoanFM commented on #2982
Hey @Ierezell,

Thank you for your proposal. It seems like a set of interesting models to have.

For the DPR models I see there is a family of models on transformers (https://huggingface.co/transformers/model_doc/dpr.html) that we can base upon. Not sure if ur retrained model can also be easily wrapped in here. As far as I understand this model is similar to any other transofrmer based encoder exc

[2021-07-21 07:30] bwanglzu commented on #2715
it looks not correct while we can hardly change this. Remember the `granularity` of chunks are set to `ref_doc + 1`, which means at init time, the `Document` will try to find it's parent document, then add 1 to it's parent document's `granularity`.

In this case, all the documents are created in one line, and at chunk creation time, it didn't know anything about it's parent (root) document. So the

[2021-07-21 07:30] #2715 closed

[2021-07-21 07:32] JoanFM commented on #2715
Great explanation!

[2021-07-21 07:32] JoanFM commented on #2715
Maybe we can add some line in the `Document` cookbook about this?

[2021-07-21 07:39] bwanglzu commented on #2715
@JoanFM maybe in write clean JIna code do and don't section?

[2021-07-21 07:40] JoanFM commented on #2715
feels like the perfect place

[2021-07-21 10:11] Ierezell commented on #2982
Hi @JoanFM,

Indeed Huggingface has them and haystack made a wrapper, so it's easier to train/finetune (https://haystack.deepset.ai/docs/latest/tutorial9md).
I don't want to steal the credit from them, this is why the idea of a collaboration seems fabulous.

Once the model is trained, it's usable in the haystack stack and guess also on the bare hugging face stack (as they rely on it).
It would be

[2021-07-21 10:17] JoanFM commented on #2982
Hey @Ierezell ,

Thank you for the insights, we will try to add these models to `Jina`. Even you as community member can contribute `executors` on your own.

As per DPR models, I understand that is a model that can be called with a context flag determining if it is supposed to encode a question or a document (a source of answer) right?

[2021-07-21 11:29] tadejsv commented on #2715
I think this could be solved if when updating its own granularity, the document would update the granularity of all its chunks as well?

[2021-07-21 11:31] JoanFM commented on #2715
I think this is really dangerous, I would not do this as it is also a performance problem.

[2021-07-21 13:08] Ierezell commented on #2982
Hi @JoanFM,

I will try to add an executor myself and if it leads to good results I will make a PR :)

DPR can be trained on a corpus but you need pairs of documents/answers/negative documents.
You can use it on question or affirmation but sometimes it is used as a fallback (if it's a question or the first intent was not detected).

I will post updates here as I try to improve my POC.

Have a grea

[2021-07-21 18:57] bwanglzu commented on #2957
i managed to reproduce this error on my mac, get exactly the same result as @georgeamccarthy , the code:

[code]

[2021-07-21 19:20] bwanglzu commented on #2957
did some search on streamlit side, seems also related to [this](https://github.com/streamlit/streamlit/issues/1012#issue-554457159) one

[2021-07-21 20:07] bwanglzu commented on #2957
okay, I was checking @alexcg1 's example, thinks he already have a nice way to use Jina to play with streamlit:

1. you develop Jina as a backend project, independently.
2. you write a streamlit project with python, this project is used to interact with the Jina backend app.

this is what @alexcg1 done
1. [Jina app store](https://github.com/alexcg1/jina-app-store-example) example with pure Jina, n

[2021-07-21 20:14] alexcg1 commented on #2957
I like being frontend agnostic on these things. My Streamlit frontend is quick and dirty and good enough. But if someone wants to create something better, more power to them!

Think of it as separation of church and state or something like that 😜

[2021-07-22 07:01] #2979 closed

[2021-07-22 07:03] JoanFM opened #2990 "Add shuffle to DocumentArray"

[2021-07-22 07:03] JoanFM opened #2991 "Add sample to DocumentArray"

[2021-07-22 07:11] JoanFM opened #2992 "DAM gives infinite documents to Flow"
**Describe the bug**
a bug in DAM, directly using DAM as input (which supposed to work as it is an iterator) to the Flow gives infinite documents.

[code]

[2021-07-22 14:57] bwanglzu commented on #2957
@georgeamccarthy do you think the above workaround can solve your problem?

[2021-07-23 10:02] #2992 closed

[2021-07-23 12:03] JoanFM opened #3000 "rolling update does not work with docker runtimes"
**Describe the bug**
It seems that the Heads of the replicas are set as if they were running in docker? with `host.docker.internal` as input host.

[2021-07-23 12:08] bwanglzu commented on #2950
close since it has been done in another PR.

[2021-07-23 12:08] #2950 closed

[2021-07-23 13:47] #3000 closed

[2021-07-23 13:57] bwanglzu commented on #2957
@georgeamccarthy let me know if you need further help, I'll close this one.

[2021-07-23 13:57] #2957 closed

[2021-07-23 19:57] #2977 closed

[2021-07-26 07:15] CatStark commented on #2912
Hi @xiaoxiongfeng, is your problem solved? otherwise we can help on this

[2021-07-26 07:18] #2884 closed

[2021-07-26 07:19] #2870 closed

[2021-07-26 07:20] CatStark commented on #2868
Hi @xiaoxiongfeng can you give us more infro for this issue?

[2021-07-26 07:30] CatStark opened #3010 "Allow runtimes in main process"
Related to #2985

[2021-07-26 07:33] #2572 closed

[2021-07-26 07:34] #2560 closed

[2021-07-26 07:55] #2991 closed

[2021-07-26 08:47] CatStark opened #3011 "Better logging with hub-push"
Failling in CD for `hub-push`

`HubIO@46[E]:Error while pushing session_id=73221246-e94f-11eb-9972-0242ac120002:
Exception("Build failed. Detail: Command failed: docker --tlsverify -H=tcp://localhost:2376 --tlscacert=/certs/ca/cert.pem --tlscert=/certs/client/cert.pem --tlskey=/certs/client/key.pem build -t jinahub/***:v16 .\nThe command '/bin/sh -c pip install .' returned a non-zero code: 1\n")
E

[2021-07-26 09:13] tadejsv opened #3012 "Using jina with docker-compose?"
I would like to know if it is possible to use jina with docker-compose - in the sense that we have one flow container, and each executor would be inside its own container.

I think docker-compose it _the most_ popular "local deployment" tool for multi-part applications and jina should support it. It would also give users a better understanding of how different parts of jina communicate with each o

[2021-07-26 10:50] CatStark opened #3013 "Lookup table in cookbook"
Lookup table to summarize all Executor & Distributing Scheme that can be enabled in `.add(...)`

[2021-07-26 12:25] JaheimLee opened #3014 "How to deal with duplicate data?"
Hello everyone, I want to know how jina deal with duplicate data? For example, before indexing a new text, I want to make sure this text is not already in my DocumentArrayMemmap. What I thought is dong a match and make sure the top-1 text is not the same one before indexing. But it's not an elegant way. Thanks!

[2021-07-26 22:15] bwanglzu commented on #3014
@JaheimLee there is an easy way to do this:

[code]

[2021-07-27 09:54] #2990 closed

[2021-07-27 12:14] jacobowitz opened #3022 "gRPC based DataRequest sending"
Implement an optional mechanism for sending DataRequests via gRPC instead of ZMQ. This would enable us to do more advanced things on top of gRPC (load balancing).

We should discuss how this actually fits our code best. I will do a naive implementatino first and then we discuss where to put it.

[2021-07-28 01:55] #2917 closed

[2021-07-28 06:18] #2944 closed

[2021-07-28 06:54] deepankarm opened #3024 "Add delete-all interface to `JinaDClient`"
**Describe the feature**
Implement client methods for the following endpoints:
- DELETE /workspaces
- DELETE /flows
- DELETE /pods
- DELETE /peas

[2021-07-28 07:05] CatStark commented on #2978
https://github.com/jina-ai/jina/pull/3015

[2021-07-28 07:09] deepankarm opened #3025 "JinaD start failed on macOS Big Sur (multiprocessing fork)"
Error while starting JinaD on macOS Big Sur

objc[25860]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it in the fork() child process. Crashing instead. Set a breakpoint on objc_initializeAfterForkError to debug.

[2021-07-28 07:10] deepankarm commented on #3025
Please set env var `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` explicitly before starting Jina / [in the docker run command for JinaD](https://github.com/jina-ai/jina/blob/master/.github/2.0/cookbooks/Daemon.md#run). Even though [it is set jina code](https://github.com/jina-ai/jina/blob/master/jina/__init__.py#L29), for a few cases, it needs to be set explicitly.

[2021-07-28 07:10] #3025 closed

[2021-07-28 07:17] alaeddine-13 opened #3026 "DocumentArrayMemmap OSError: [Errno 22] Invalid argument when reloading file"
running the following snippet twice should result in `OSError: [Errno 22] Invalid argument `
[code]

when computing `self._start`, a none entry is considered the last used document block and it's values (all are -1) are used to compute `self._start`

[2021-07-28 07:24] CatStark opened #3027 "hello-fashion has inveterted colors"
Before it was ok but we need to see why is this happening now

[2021-07-28 08:18] JaheimLee commented on #3014
Thanks a lot!

[2021-07-28 08:18] #3014 closed

[2021-07-28 10:15] juan-armond opened #3029 "Pea creation failed, couldn't reach the container at http://host.docker.internal:59349"
**Describe the bug**
Pea creation failed, couldn't reach the container at http://host.docker.internal:59349

[2021-07-28 11:29] CatStark opened #3030 "Multimodal demo is not working"
There's no response when running this demo

[2021-07-28 13:03] sandipanpanda commented on #3024
Can you assign this to me? I want to fix this issue.

[2021-07-28 13:52] CatStark commented on #3030
False alarm, it works with recent jina

[2021-07-28 13:52] #3030 closed

[2021-07-29 00:34] hanxiao opened #3034 "DocumentArray.match on itself produces recursive results"
**Describe the bug**

[code]

[code]

[code]

Now match against itself.

[code]

Check the structure of the first document, this looks correct.

[code]

<img src="https://mermaid.ink/svg/JSV7aW5pdDogeyd0aGVtZSc6ICdiYXNlJywgJ3RoZW1lVmFyaWFibGVzJzogeyAncHJpbWFyeUNvbG9yJzogJyNGRkM2NjYnfX19JSUKICAgICAgICAgICAgICAgICAgICAgICAgICAgIGNsYXNzRGlhZ3JhbQogICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgI

[2021-07-29 06:33] #3027 closed

[2021-07-29 07:03] yangsp5 opened #3036 "error for embedding"
I follow the cookbook and use `csr_matrix`, set  `use_scipy=False` and got wrong :
[code]

set `use_scipy=False`,  I got this wrong
[code]
The encode.py like this:
[code]

And I find that using `cosine_similarity` from `from sklearn.metrics.pairwise import cosine_similarity` is ok
[code]
 MAYBE YOU SHOULD CHANGE THE COOKBOOK or ADD SKLEARN IN JINA?

[2021-07-29 07:40] davidbp commented on #3036
Hello @yangsp5, `csr_matrix` is not a native type of Jina or any of the package requirements. If you want to use sparse arrays you can do it with `scipy` and it is supported using `scipy=True`. Why should sklearn be a requirement in Jina?

[2021-07-29 07:46] yangsp5 commented on #3036
I change to this and set `docs.match(self._docs, metric='euclidean', limit=20, use_scipy=False)` , then sucess!!!!
[code]

BUT, SET `docs.match(self._docs, metric='euclidean', limit=20, use_scipy=True)`  AND got wrong
[code]
Like this
[code]

[2021-07-29 08:08] yangsp5 commented on #3036
OK, I have fixed it. Just change the metric:

[code]

[2021-07-29 08:29] yangsp5 commented on #3036
OK, well. I have fix this by change the source code `/jina/types/arrays/neural_ops.py`:
The origin code is:
[code]
And change to this:

[code]
And change the code
[code]

It runs

[2021-07-29 08:35] davidbp commented on #3036
Happy that you have it running.  What you propose is  possible but we do not have `scipy` or `sklearn` as Jina requirements, we are looking into another way to do it, allowing the user to specify scipy backend and then only using scipy operations (or creating our own distances).

[2021-07-29 09:10] gojuukaze opened #3037 "can not run fashion demo"
**Describe the bug**

[code]

I got the following error:

[code]

**Environment**

[code]

**Screenshots**

[2021-07-29 09:32] deepankarm commented on #3029
This is an issue when we pass `build = devel` in `.jinad` file, which should only be used when developing using JinaD. I'll add that to the cookbook.

[2021-07-29 09:32] #3029 closed

[2021-07-29 12:34] tadejsv commented on #3034
Here are the findings of my research on this issue. The core of the problem is how matches are added to the document. Consider this example (does not use the `match` function at all):

[code]

What happens is actually pretty logical - the second match of the document with id `2` (which is document with id `1`) has itself two matches. This happens because we first add two matches to document with i

[2021-07-29 13:21] bwanglzu commented on #3034
I don't really have a beautiful solution, but

sounds the best for us.

[2021-07-29 14:17] davidbp commented on #3036
@yangsp5 we are working on a solution https://github.com/jina-ai/jina/pull/3041 soon there will be native support for .match with sparse embeddings without any need to install scikit-learn

[2021-07-29 14:36] bwanglzu opened #3043 "performance improvement on update content hash"
![image](https://user-images.githubusercontent.com/9794489/127511576-dd1fd332-7983-4ee8-941d-33029d990ee7.png)

we discovered this issue when profiling `match`.

![A007DC4E-830F-4767-A41A-4D3D63790FB1](https://user-images.githubusercontent.com/9794489/127511467-6a505238-6c93-4569-b4fc-c83f1f8ae76b.png)

[2021-07-29 15:20] davidbp opened #3044 "Bug: Document with sparse embeddings can't be retrieved with `.get_attributes`"
The following example

[code]

Produces

[code]

This seems to need proto level  intervention because we do not know in advance the dimension of an embedding.

[2021-07-29 15:50] bwanglzu commented on #3036
I'll reopen this issue, the will be closed automatically when PR getting merged.

[2021-07-29 16:42] #3034 closed

[2021-07-29 18:57] #2811 closed

[2021-07-30 06:35] florian-hoenicke opened #3049 "Fashion example docker not working"
docker run -v "$(pwd)/j:/j" jinaai/jina hello fashion --workdir /j && open j/hello-world.html

[2021-07-30 14:58] AnudeepGunukula commented on #3024
Hi i am interested in this project, i would like to work on this issue.

[2021-07-30 15:30] deepankarm commented on #3024
@AnudeepGunukula awesome. Looking forward to a PR :)

[2021-07-30 15:45] rudranshsharma123 opened #3054 "The name of the HTML file needs change."
**Describe the bug**

The name of the HTML file generated when running `jina hello fashion` is demo.html instead of hello-world.html as suggested in the code. Because of which the example crashes resulting in the error as depicted by the screenshot attached.

**Describe how you solve it**

By simply opening the demo.html page manually, does the trick and opening demo.html while running a server al

[2021-07-31 06:19] #3043 closed

[2021-07-31 06:21] #2978 closed

[2021-07-31 20:32] vj-codes commented on #3054
Can I work on this?

[2021-07-31 21:13] bwanglzu commented on #3037
hi @gojuukaze thanks for reporting this, seems #3049 is going to fix this.

[2021-07-31 21:21] bwanglzu commented on #3026
i can reproduce the error when running it first time (run the command 2 times). @alaeddine-13 are you able to fix this?

[2021-07-31 21:23] bwanglzu commented on #2943
maybe consider to refactor mmd in the future to increase it's usability

[2021-07-31 21:25] bwanglzu commented on #2862
hi @EyaRhouma thanks for your issue, I think we decided to not do it in the near future.

[2021-07-31 21:25] #2862 closed

[2021-08-01 09:36] hanxiao commented on #2514
This should be solved in https://github.com/jina-ai/jina/pull/3062

@ryh95 could you please do the following

- `pip install --pre jina` (update Jina to latest master, i.e. prerelease)
- set env `JINA_MP_START_METHOD="spawn"` in the console session **before starting Jina & Python**?
[code]
   or
[code]
  either should work.

A reproducible example can be found in the PR body of https://github.com/

[2021-08-01 09:37] hanxiao commented on #2957
This should be solved in https://github.com/jina-ai/jina/pull/3062

@georgeamccarthy  could you please do the following

- `pip install --pre jina` (update Jina to latest master, i.e. prerelease)
- set env `JINA_MP_START_METHOD="spawn"` in the console session **before starting Jina & Python**?
[code]
   or
[code]
  either should work.

A reproducible example can be found in the PR body of https://

[2021-08-01 20:32] Roshanjossey commented on #3054
I guess this need change in documentation as well
https://github.com/jina-ai/jina/blame/master/.github/pages/hello-world.md#L21

[2021-08-02 05:37] AnudeepGunukula commented on #3024
Hi, please let me know  what is the location of the jinadclient module
and where should i start working from ?

[2021-08-02 08:59] davidbp opened #3067 "document attribute embedding returns None if embedding is zero sparse"
Minimal Working Example

[code]
This prints
[code]

Nevertheless
[code]

Returns
[code]

[2021-08-02 09:00] JoanFM commented on #3067
can u check what is returned when doing `d0.embedding` in the first case?

[2021-08-02 10:00] davidbp commented on #3067
None is returned.

[2021-08-02 10:02] JoanFM commented on #3067
then I guess thats the source of the issue, we can redescribe the ticket

[2021-08-02 10:03] tadejsv opened #3068 "`traverse_flat` does not wok on ChunkArray or MatchArray"
Example:

[code]

Here's the error (for chunks)
[code]

[2021-08-02 12:20] alexcg1 opened #3070 "ImageNormalizer: FileNotFoundError(2, 'No such file or directory')"
ImageNormalizer can't seem to find the files despite them quite clearly existing. Perhaps it's looking in its own Docker container instead of the current dir?

### My code

[code]

### Error log

[code]

I've tried adding options with `uses_with`, but no change. Note the above program is the simplest version possible. My initial efforts had a lot more Executors.

### `jina -v`

`2.0.10`

[2021-08-02 12:21] tadejsv commented on #3070
I think this is a problem with Jina core. For some reason, the Flow transfers loading of the document to the first node (running on docker), instead of doing it itself/at the gateway. I'll try to examine this more closely.

[2021-08-02 12:33] Rubix982 opened #3071 "[Pip] `jina` installation throws error until `wheel` is manually installed - should this be expected?"
**Describe the bug**

Doing `pip install jina` or `pip install pip install -U "jina[standard]"` throw errors about not being built properly. The errors are respectively,

[code]

And for `pip install -U "jina[standard]"` which I ran after running `pip install jina` gives me the following logs,

[code]

**Describe how you solve it**

Reading the logs gave me the idea to look around for why `bdist_w

[2021-08-02 13:21] georgeamccarthy commented on #2957
I've been using this and it's worked fine. However, it would be quite nice to pass DocumentArrays to the frontend instead of json datata especially when prototyping.

Thanks, I'll try it!

[2021-08-02 14:07] florian-hoenicke opened #3072 "flow.plot()"
1. `flow.plot('some.png')` does not create a png. Instead, it creates a file called `some.png` which contains an `svg`. https://github.com/jina-ai/jina/pull/3074
2. `svg` plot can not be displayed in pycharm

[2021-08-02 14:07] tadejsv commented on #3070
@alexcg1, this modification of your script should work (replace the path):
[code]

Not sure if it is working though - it runs without crashing, but the `on_done` doesn't seem to get called?

The more general problem is this: if a document contains image URI (which is the case with `from_files`, then image normalizer tries to load this image. In this case this is really unexpected - I have expected

[2021-08-02 14:20] JoanFM commented on #3070
So please, let's open the issue on the ImageNormalizer, but I do not think this is a bug

[2021-08-02 14:24] JoanFM commented on #3072
Apparently `svg` is not considered. Not sure why.

[code]

[2021-08-02 14:26] tadejsv commented on #3070
I'll move this back to executors then - but in my opinion the fact that we have URI is not really useful. Why not simply force users to load images into blobs? Just using `Image.open` or similar is definetly something they are familiar with, and will prevent these kinds of situations where this is used under the hood and they are not aware of it.

[2021-08-02 14:26] JoanFM commented on #3072
I think this might be a limitation from `mermaid`

[2021-08-02 14:29] JoanFM commented on #3072
yes, see this
```https://mermaid.ink/png/eyJjb2RlIjoiZ3JhcGggVERcbkFbQ2hyaXN0bWFzXSAtLT58R2V0IG1vbmV5fCBCKEdvIHNob3BwaW5nKVxuQiAtLT4gQ3tMZXQgbWUgdGhpbmt9XG5DIC0tPnxPbmV8IERbTGFwdG9wXVxuQyAtLT58VHdvfCBFW2lQaG9uZV1cbkMgLS0-fFRocmVlfCBGW2ZhOmZhLWNhciBDYXJdXG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ```

does not work, while

[code]
work.

[2021-08-02 14:39] JoanFM commented on #3072
Can u check if the branch on #3074 works?

[2021-08-02 14:52] #3067 closed

[2021-08-02 15:22] bwanglzu commented on #3071
i'm on mac os and i don't have the same error.

[2021-08-02 16:13] Rubix982 commented on #3071
And now it works ... this was weird. Closing.

[2021-08-02 16:13] #3071 closed

[2021-08-02 17:35] mayank-02 commented on #2937
Hi @deepankarm , I am interested in contributing to jina and would like to work on this issue. Can you please expand on the requirements of this issue and guide me on the next steps for the same?
Thanks!

[2021-08-02 18:00] florian-hoenicke commented on #3072
Good job fixing the png issue.
The pycharm related issue still exists:
Steps to reproduce:
[code]
![image](https://user-images.githubusercontent.com/11627845/127904247-d49794df-f75c-4259-b3e8-cd966717fd32.png)

[2021-08-02 23:19] alaeddine-13 opened #3076 "Inconsistent header map after delete"
header_map becomes inconsistent (2 keys have the same index) after deleting an element

Running this code snippet
[code]
[code]
This means that `dam._str2int_id('4')` returns 3 however `dam[3].id` = `3` and  `dam[4].id` = `4`

[2021-08-03 06:55] CatStark opened #3077 "Show-case hub indexers"
Showcase hub indexers to be drop-in replacement to the source code of `jina hello *`

[2021-08-03 07:14] #3036 closed

[2021-08-03 07:14] #3044 closed

[2021-08-03 07:17] CatStark opened #3079 "sparse distance support"
Related to https://github.com/jina-ai/jina/pull/3075

[2021-08-03 07:28] CatStark opened #3080 "refactor lightgbm-ranker for migration"

[2021-08-03 07:29] CatStark opened #3081 "Rename all __init__.py to something else"
Change all `__init__.py` to something else. This can be misleading to new engineers and community

[2021-08-03 07:33] CatStark opened #3082 "Remove extra requirements tag from core"
We should keep only

- `standard`
- `devel`
- `perf`
- `daemon`

[2021-08-03 07:50] CatStark commented on #3082
Done in https://github.com/jina-ai/jina/pull/3078

[2021-08-03 07:50] #3082 closed

[2021-08-03 09:16] tadejsv opened #3086 "A match should have a property referring to its reference doc"
Right now, chunks of documents have `parent_id`. But matches do not have any property referring to their reference doc - even though `MatchArray` has it.

[2021-08-03 09:27] JoanFM commented on #3086
This is a `Score` property.

[2021-08-03 09:38] tadejsv commented on #3086
Can you explain?

[2021-08-03 09:40] JoanFM commented on #3086
`NamedScoreProto` has `ref_id` property to refer to which documentID u are a match of

[2021-08-03 09:40] JoanFM commented on #3080
Why is this needed @bwanglzu ?

[2021-08-03 09:45] tadejsv commented on #3086
Ok, but I do not see `NamedScoreProto` or `NamedScore` being used anywhere?

And in the end, what I want to do is to find out what document a match is refering to. I think this should be a document property, not a score property, just like with chunk documents.

[2021-08-03 09:47] JoanFM commented on #3086
This is used when u add matches u are supposed to add a score. I do not think it should be since one can be a match of multiple documents

[2021-08-03 09:57] tadejsv commented on #3086
But currently this is not done anywhere, not even in `DocumentArray.match()`. Also, I think it would be better to copy the match (this was actually the default until 3 days ago) every time it is added to the `matches` array of some document - otherwise things can get really confusing.

[2021-08-03 10:00] tadejsv commented on #3086
Wait, you are right - it is actually used.

[2021-08-03 10:00] JoanFM commented on #3072
I think this issue is a `Pycharm` issue not a Jina one

[2021-08-03 10:02] JoanFM commented on #3072
I will close this issue.

[2021-08-03 10:02] #3072 closed

[2021-08-03 10:07] tadejsv commented on #3086
Ok, it is actually not. Every single indexer we have simply sets the score to a numeric value and that's it.

[2021-08-03 10:08] JoanFM commented on #3086
Then it should be used

[2021-08-03 10:20] tadejsv commented on #3086
Not sure this is a good design - I raised this issue in the slack chanel

[2021-08-03 11:32] CatStark opened #3088 "Add batching to match function"
It may make sense only for `DocumentArrayMemmap` but it may be applicable to also `DocumentArray`.

The point is to have `batching` for the `Y` (The right hand side of the `match` operation) so that the Y can be loaded in memory in batches

[2021-08-03 11:35] georgeamccarthy commented on #2957
Reset environment
---
`source venv/bin/activate`
`python --version` shows Python 3.9.6
`pip freeze` has no packages installed

Install packages
---
Then `pip install jina streamlit`
Now `pip freeze` shows

[code]

Minimum failing `app.py`
---

Running `app.py` with `streamlit run app.py` (not `python app.py`).
[code]

---

Throws error.

[code]
---

Ran `export JINA_MP_START_METHOD=spawn`

Error:

[2021-08-03 12:03] florian-hoenicke opened #3089 "pea_id not set in metas"
The IndexSearcher relies on pea_id.
 However, the metas are not set correctly when starting the executor via CLI.

[code]

[code]

[2021-08-03 12:05] JoanFM commented on #3089
can u try ```pea-id 2```

[2021-08-03 12:06] JoanFM commented on #3089
or `uses_metas`

[2021-08-03 12:53] florian-hoenicke commented on #3089
ah sorry. Yes, I did not use the equals sign. I did pea-id 2.
It works with `override_metas`.

[2021-08-03 12:58] florian-hoenicke opened #3090 "Multi-modal example - better search experience"
Sometimes it takes a bit to see the results in the multi-modal example.
Please add a spinner to show the user something is happening in the background.
Also, the button has to be grayed out when a search is running to not allow triggering reruns during a run.

1. Add spinner to multi-modal example

2. disable button (grayed out) during search

[2021-08-03 15:01] cristianmtr opened #3091 "override requests mapping of a JinaHub executor"
Similar to `override_with` / `override_metas`, but for requests routing.

[2021-08-03 15:04] JoanFM commented on #3091
I thought this was possible by design, do not remember how though

[2021-08-03 15:05] hanxiao commented on #3091
note that there is no `overrider_with`, it is renamed to `uses_with`

[2021-08-03 19:59] florian-hoenicke opened #3094 "metas - code refactoring"
replace
`override_metas` and  `override_with`
with
`uses_metas` and `uses_with`

[2021-08-04 05:47] deepankarm commented on #3024
@AnudeepGunukula [Here's the JinaDClient module](https://github.com/jina-ai/jina/tree/master/daemon/clients). Please add a `clear` method to `base.py` that should sent a `DELETE` request to `self.store_api`.  Don't forget to add tests for the same.

[2021-08-04 06:01] AnudeepGunukula commented on #3024
Thankyou, for the details, i will start working on it and try to implement the methods.

[2021-08-04 07:02] soumik2012 commented on #3094
hey @florian-hoenicke can I take this issue

[2021-08-04 07:19] JoanFM commented on #3094
I believe this is alrrady in the core

[2021-08-04 07:21] JoanFM commented on #3094
And it was made in a way that it was backward compatible with override_* naming. I will close this issue.

[2021-08-04 07:21] #3094 closed

[2021-08-04 07:43] JoanFM commented on #3068
This is because `traverse_flat` does not accept extra kwargs, but I am feeling this should not exist for `MatchArray` and `ChunkArray` but since they are inherited from `DocumentArray` it is weird

[2021-08-04 07:47] #3010 closed

[2021-08-04 07:53] tadejsv commented on #3068
Yes, I am aware this is the reason. But I think that methods inherited from superclass should work on the subclass

[2021-08-04 08:00] JoanFM commented on #3068
I think the problem is `flatten` should not be a `classmethod` but a `staticmethod` generating a `DocumentArray`.

So `make` _flatten an abstract method that needs to be overwritten by the class that implements the `mixin` and have this `_flatten` only at `DocumentArray` level.

[2021-08-04 09:22] deepankarm opened #3095 "Add interface for `rolling_update` via JinaDClient"
**Describe the feature**
Add interface for `rolling_update` via JinaDClient for flows & pods

[2021-08-04 09:34] deepankarm commented on #3024
I've assigned the issue to you. Looking forward to a PR :)

[2021-08-04 09:51] deepankarm commented on #3095
https://github.com/jina-ai/jina/pull/2974#issuecomment-889955841

[2021-08-04 09:52] CatStark opened #3096 "rolling_update via jinadclient"
We need this to adapt query while indexing with jina 2.0

[2021-08-04 12:32] deepankarm opened #3103 "`client.workspaces,list()` json decode error"
Steps to reproduce:

- Create a workspace
- Try `client.workspaces.list` - works
- Delete the above workspace.
- Try `client.workspaces,list()` again -> We get following error.

[code]

[2021-08-04 13:31] davidbp commented on #3079
Done in https://github.com/jina-ai/jina/pull/3097

[2021-08-04 13:31] #3079 closed

[2021-08-04 13:32] davidbp commented on #3036
Dear @yangsp5, your comments have been addressed https://github.com/jina-ai/jina/pull/3097 and now the cookbook contains an example with sparse arrays and `.match`

[2021-08-04 13:52] #3103 closed

[2021-08-04 15:55] cristianmtr opened #3106 "documents getting merged via REST API indexing"
MWU

[code]

and then in curl :

[code]

and then

[code]

notice the merging of the tags under one document, with the last id indexed:

[code]

[2021-08-04 21:43] Rubix982 opened #3107 "[Docker Hub] Broken Documentation Links"
**Describe the bug**
The links mentioned under "Read Tutorials" on the Docker Hub page for ['jinaai/jina'](https://hub.docker.com/r/jinaai/jina) are broken and lead to a 403, as seen in the 1st screenshot.

All the links in the 2nd screenshot are broken EXCEPT `📓 Developer Reference` which leads to https://docs.jina.ai/.

I believe this issue can be tagged as `documentation`, as well as a `good fi

[2021-08-04 21:45] Rubix982 commented on #3012
High five here! I'm trying to do something similar with some code base that I have. I could not find an example that made maybe a full stack application with `jina` as a backend talking to a frontend that were both built with `docker-compose`.

... Although from a perspective of designing data intensive applications, I kind of get where you're coming with "in the sense that we have one flow contai

[2021-08-05 09:20] CatStark opened #3109 "SimpleIndexer needs to be refactored"
We need to refactor it to adapt to the new implementation with `DocumentArray` method

[2021-08-05 09:22] CatStark opened #3110 "Remove NumpyIndexer"
No longer needed since it's redundant with SimpleIndexer

[2021-08-05 09:34] CatStark commented on #3107
Hi @Rubix982 thanks for letting us know! we'll fix this

[2021-08-05 09:36] #3091 closed

[2021-08-05 11:17] #3106 closed

[2021-08-05 13:26] vj-codes commented on #3107
@CatStark are you working on this? Or else I would like to work on it!

[2021-08-05 13:30] CatStark commented on #3107
Go ahdead @vj-codes !

[2021-08-05 13:31] Rubix982 commented on #3107
How will you tackle this, @vj-codes? You would need access to modify jina on Docker Hub, right?

[2021-08-05 14:56] #3095 closed

[2021-08-05 15:13] davidbp commented on #3088
The Draft PR is https://github.com/jina-ai/jina/pull/3113

[2021-08-05 16:32] AnudeepGunukula commented on #3024
@if_alive
 async def clear(self):
        async with aiohttp.request(method='DELETE',url=f'{self.store_api}') as response:
             if response.status == HTTPStatus.OK:
                 return await response.json()

Hi deepankarm, i have just implemented the sample method . kindly let me know what are the needed changes
so that i can work on that

[2021-08-05 16:41] AnudeepGunukula commented on #3024
![clear](https://user-images.githubusercontent.com/55506841/128387596-b829524b-bbfd-47f6-b48f-316f1eb43ef6.PNG)
Hi deepankarm, i have just implemented sample method, which makes a delete call to api
kindly let me know, what i need to add more to function.
so that i can work on that

[2021-08-05 17:14] vj-codes commented on #3107
oh yeah
@CatStark this can be done by the maintainers only then ig

[2021-08-06 03:54] deepankarm commented on #3024
Sounds good, please [follow the guidelines to create a PR](https://github.com/jina-ai/jina/blob/master/CONTRIBUTING.md#-making-your-first-submission).

[2021-08-06 07:31] JoanFM commented on #3089
`pea_id` should not be part of `metas`, this is part of `runtime_args` and for a good reason. To abstract the functional part of the executor witht he implementaiton details to be hidden.

[2021-08-06 07:31] #3089 closed

[2021-08-06 07:58] mapleeit commented on #3011
https://github.com/jina-ai/hubble/commit/259c9b0983668d5f0d09a47765b4d51585d97d47

[2021-08-06 07:58] #3011 closed

[2021-08-06 16:19] AnudeepGunukula commented on #3024
Hi, deepankarm. please let me know the modifications.
 so that i can work on that and make new commits to the pr.

[2021-08-06 17:47] afizs commented on #3107
@Rubix982 You are correct. We need access to modify the links on Docker Hub.

[2021-08-07 14:04] #3110 closed

[2021-08-09 00:09] #1020 closed

[2021-08-09 02:46] winstonww commented on #3109
Yes, the following PR addresses this issue:
https://github.com/jina-ai/executors/pull/47

[2021-08-09 08:22] CatStark opened #3121 "Remove the setting by document id completely"
We need an use-case for the following:

 Remove the setting by document id completely. Or at least, we should get a very clear picture, what the output of the following code should be:

[code]
This can happen when we bubble up matches from a lower layer to a higher layer. Then the matches of a Document can easily be the same Document with the same id twice.

[2021-08-09 08:50] #3049 closed

[2021-08-09 08:51] #3088 closed

[2021-08-09 10:16] CatStark opened #3123 "Build an example indexing graph embeddings"
We need a basic example using graph-embeddings

[2021-08-09 11:10] cristianmtr opened #3124 "docker:// syntax no longer supported"
Did we discontinue using `--uses docker://foo:latest`?

on latest master I get

[code]

[2021-08-09 11:59] hanxiao commented on #3124
### 🆕 New Features

 - [[```fa7c4770```](https://github.com/jina-ai/jina/commit/fa7c4770a4377247c8e1ea5739fb051df64140b1)] __-__ add data request handler (#3105) (*Joan Fontanals*)
 - [[```4e14b19e```](https://github.com/jina-ai/jina/commit/4e14b19eb3c7f4a6cc98034555431c2d0abe526b)] __-__ __daemon__: rolling update via client (#3111) (*Deepankar Mahapatro*)
 - [[```3329576f```](https://github.com/

[2021-08-09 13:59] jacobowitz commented on #3022
PR: https://github.com/jina-ai/jina/pull/3129

[2021-08-09 15:22] #2975 closed

[2021-08-10 07:24] alaeddine-13 commented on #3026
@bwanglzu was fixed by https://github.com/jina-ai/jina/pull/3002

[2021-08-10 07:24] alaeddine-13 commented on #3076
fixed by https://github.com/jina-ai/jina/pull/3002

[2021-08-10 07:25] #3076 closed

[2021-08-10 07:26] #3026 closed

[2021-08-10 07:39] davidbp commented on #3123
Some relevant links:

https://github.com/THUDM/GCC

[2021-08-10 08:04] CatStark opened #3139 "Hub docker image built with --volumes create a file that can not be deleted without sudo"
The Hub docker image we built when used injunct with` --volumes` , always create a folder/file on the host machine that can not be deleted without `sudo` . This is a bug.
This is due the the unset user group in the Dockerfile.

[2021-08-10 08:24] CatStark opened #3140 "Readme example that works in Jupyter too"
This doesn't work at the moment. https://jina-ai.slack.com/archives/C0169V26ATY/p1628518726071200?thread_ts=1628510094.070200&cid=C0169V26ATY

[2021-08-10 08:33] CatStark opened #3141 "Split the port_expose into two port configurations"
We need to split the `port_expose` into two port configurations:

1. The port of the gateway the client can speak to
2. The port that JinaD exposes everywhere

[2021-08-10 10:04] AnudeepGunukula commented on #3024
Hi @deepankarm, i had made a new pr with the both clear and test method.
i had closed the old pr with wrong commit message.
The new pr is #3142 , kindly let me know the modifications.

[2021-08-10 10:14] tadejsv opened #3143 "Fix module imports + test relative imports + remove redundant patch + update docs"
1. The module importing in `PathImporter` should be fixed - the name passed in `spec_file_from_location` and `spec_name` **need** to match, otherwise you mess up relative imports (and possibly more)
https://github.com/jina-ai/jina/blob/b099fc3027e521a5100102710423ebf2003b6701/jina/importer.py#L180-L201

2. We should test importing using relative paths when `__init__.py` is imported - should work a

[2021-08-10 10:31] cristianmtr commented on #3140
This is actually quite hard to achieve, since this `__file__` is not at all accessible in Jupyter Notebooks.

on Colab you need to either:
1. uplaod the notebook itself as a file
2. authenticate with GDrive to get the path to the location of the notebook in GDrive of the user https://stackoverflow.com/a/49925814

And in local Jupyter notebook, you need to do

[code]

[2021-08-10 12:03] JoanFM commented on #3143
Can u provide an example in the documentation  where u would change how something would be recommended?

[2021-08-10 12:06] tadejsv commented on #3143
Yes, I plan to make PRs that address the points here

[2021-08-10 12:09] JoanFM commented on #3143
About putting executors inside `executor/` path. This I think direcly collides with the way `JinaD` expects `python` files to be added into `workspace`. @deepankarm @mapleeit

[2021-08-10 13:47] #3013 closed

[2021-08-11 00:14] #692 closed

[2021-08-11 08:02] tadejsv opened #3149 "Support pathlib Paths"
Right now, there does not seem to be a very good support for `pathlib.Path` objects in jina, for example

[code]

will throw an error (as jina tries to apply regex to `Path`). In (base) python, path strings and `Path` objects can be used interchangably, jina should follow this practice.

[2021-08-11 18:46] agarwalsourabh55 opened #3154 "AttributeError: module 'mmap' has no attribute 'PROT_READ'"
**Describe the bug**

**Describe how you solve it**

---

[2021-08-12 03:36] numb3r3 commented on #3139
would be address by this PR https://github.com/jina-ai/executor-normalizer/pull/22

[2021-08-12 03:43] numb3r3 commented on #3154
@agarwalsourabh55 The `PROT_READ`  is Unix-specific. You're likely working with Windows?

[2021-08-12 05:39] agarwalsourabh55 commented on #3154
@nummb3r3 Yes....So how to imlemet this in window ..any idea?

[2021-08-12 05:40] agarwalsourabh55 commented on #3154
@numb3r3  Yes.....SO how to implement it with windows any idea?

[2021-08-12 06:50] JoanFM commented on #3154
Hey @agarwalsourabh55 ,

Windows is currently not supported. We recommend you to use `WSL`.

[2021-08-12 08:28] CatStark opened #3155 "Table to see when to use DA, DAM or specific Hub indexer"
As a user I want to have a table to know the limitation of `DA`, `DAM`
We need to see a number, a bound or a table, like:

For less than 1M docs -> work with `DAM`
For 1K docs -> work with `DA`

PR: https://github.com/jina-ai/benchmark/pull/35

Note: To compare with a hub indexer should be a different ticket

[2021-08-12 08:50] #3077 closed

[2021-08-12 10:15] CatStark commented on #3123
You're right, let's keep the other one only https://github.com/jina-ai/internal-tasks/issues/128

[2021-08-12 10:15] #3123 closed

[2021-08-12 16:35] sayantani11 commented on #3054
Can I work on this?

[2021-08-13 04:12] sbmaruf opened #3159 "How to make sure your full data has been indexed?"
Hi! I am trying the Jina examples from [here](https://github.com/jina-ai/examples/tree/master/multires-lyrics-search) with my own data. I'm new to jina. So sorry if this is a trivia query.

I have around 447 document examples in my data file.

How can I be sure how many documents have been successfully processed?

In the log, it's showing

⏳   |█████               | ⏱️ 51.2s 🐎 0.9 RPS✅ 45 requests

[2021-08-13 07:09] tadejsv opened #3160 "Make jina available on conda-forge"
- check that all jina dependencies are on conda (forge)
- create a small script that converts jina's dependencies to conda recipe yaml to create multiple packages for each extras (see here for an example https://github.com/conda-forge/dvc-feedstock/blob/master/recipe/meta.yaml)
- publish package to conda forge
- automate this process - bot could update the recipe and submit a PR to jina's conda-fo

[2021-08-13 08:28] CatStark opened #3161 "Benchmark UI Example"
We use [this excel table](https://docs.google.com/spreadsheets/d/1-HM5miV5iIPb-ZsLud_e1lmrPgjEevtEyCiYGRwbGKs/edit#gid=0) to display all the info from Benchmarking

[2021-08-13 08:56] CatStark commented on #3086
We won't continue with this because then we would need to always copy when adding matches, which is not the case. https://github.com/jina-ai/jina/pull/3148

[2021-08-13 08:56] #3086 closed

[2021-08-13 13:25] cristianmtr commented on #3143
btw in order to reproduce the `jinahub`-specific error, you can remove this line and run `jina executor --uses docker://foo:latest` (where foo is the image of the executor) https://github.com/jina-ai/executors/blob/main/jinahub/indexers/searcher/compound/FaissPostgresSearcher/Dockerfile#L12

[2021-08-13 18:23] florian-hoenicke opened #3165 "DocumentArray construction from list of dictionaries"
It would be handy to create a DocumentArray from a list of dictionaries. At the moment it is just possible to create it from a list of documents.

[2021-08-13 18:44] JoanFM commented on #3165
Why cant u simply construct the list of Docs from a list of Dictionaries?

[2021-08-15 06:53] Rubix982 opened #3166 "[Documentation] SVGs With GitHub's Dark Theme"
**Describe the bug**
Because GitHub has introduced the dark mode, it is harder to read the documentation on GitHub since the figures are in the SVG format, for example,

- [jina/.github/2.0/cookbooks/Document.md](https://github.com/jina-ai/jina/blob/master/.github/2.0/cookbooks/Document.md)

![image](https://user-images.githubusercontent.com/41635766/129469797-46ed498f-fc37-487d-9d91-621a736c9d98.

[2021-08-16 07:36] JoanFM commented on #3154
Hey @agarwalsourabh55 ,

Since `Windows` is not currently supported, I am going to close the issue. However, we recommend to install `Windows Subsystem for Linux` (WSL) https://docs.microsoft.com/en-us/windows/wsl/install-win10 to work with jina

[2021-08-16 07:36] #3154 closed

[2021-08-16 07:40] JoanFM commented on #3159
Hello @sbmaruf ,

As per the question `Can a single request process multiple documents?` the response is YES. A `Request` by definition processes more than one `Document` each time.

As per the warnings. There are 2 suggestions, one tells that some arguments are not aligned with the current installed Jina version (not necessarily a critical thing), and another one tells u to use `pip install jina[

[2021-08-16 07:56] tadejsv commented on #3159
Hey @sbmaruf - it seems you have issues with your conda environment. The `which python` command should return the location of the python binary inside your environment directory, which is not happening here - e.g., here is what I get inside an environment called `jina`

[code]

Try removing your environment (`conda remove -n doc-search --all`), re-creating it, and running `which python` command be

[2021-08-16 08:04] jacobowitz opened #3168 "Benchmark gRPC data requests"
We recently added support for gRPC based communication (https://github.com/jina-ai/jina/issues/3022)

There are performance concerns regarding this. We expect it to be slower than the existing zmq implementation as gRPC adds additional overhead and limits us to 1 to 1 communications where we had n to n previously.

For this reason we want to add some simple end to end benchmarks. These benchmarks

[2021-08-16 08:20] jacobowitz commented on #3168
We should also test both local and distributed flows

[2021-08-16 08:30] CatStark opened #3169 "Add Conda support"
There are users using `conda` and facing problems. We can also support `conda` and ship `conda` package

1. Check that all `jina` dependencies are on `conda` (forge)
2. Create a small scripts that converts jina's dependencies to `conda` recipe yaml to create multiple packages for each extras (see here for an example https://github.com/conda-forge/dvc-feedstock/blob/master/recipe/meta.yaml)
3. Publ

[2021-08-16 10:12] CatStark opened #3170 "Embeddings optimization"
- [x] need a .embeddings `setter`. It should have same logic & constraints like its `getter` #3190
- [x] `jina/types/arrays/memmap.py:L448-455` need a change to use .embeddings -> Done in #3184
- [ ] The same .`embeddings` optimization should be applied to .`blobs` (when content is `blob`) -> #3198

Details in slack [thread](https://jinaai.slack.com/archives/C01FLNY3B4K/p1628975458092800)

[2021-08-16 10:19] CatStark opened #3171 "Improve debugging throwing warning"
We need to have a warning  thrown if `super().init()` is not passed *`args` and **`kwargs`.

Relevant Slack [thread](https://jinaai.slack.com/archives/C0287177FQT/p1628755250045100)

[2021-08-16 11:08] #3124 closed

[2021-08-16 11:47] CatStark commented on #3166
Hi @Rubix982,
Thanks for bringing this up. And sure thing, go ahead with the PR

[2021-08-16 11:48] CatStark commented on #3160
Duplicate https://github.com/jina-ai/jina/issues/3169

[2021-08-16 11:48] #3160 closed

[2021-08-16 12:05] Rubix982 commented on #3166
Thanks, @CatStark!

[2021-08-16 12:44] florian-hoenicke commented on #3165
@JoanFM I can but it is more convenient. I had a list of dictionaries. So it is less work for me to directly pass this list and let the document array do the document creation.

[2021-08-16 12:47] JoanFM commented on #3165
Yes, but then when should this end? Every potential input of Document should be matched into the constructor of DocumentArray?

[2021-08-16 12:53] florian-hoenicke commented on #3165
I think if we create a `DocumentArray(something)`, it should expect another document array or an iterator.
For each element in the iterator, it calls the Document constructor `Document(...)`. The Document can be constructed from another document or from a dictionary

[2021-08-16 16:49] #2936 closed

[2021-08-17 07:44] #3068 closed

[2021-08-17 07:57] hanxiao opened #3182 "preview: release note"
🙇 We'd like to thank all contributors for this new release! In particular,
 Han Xiao,  Wang Bo,  Joan Fontanals,  Tobias Jacobowitz,  Jina Dev Bot,  Deepankar Mahapatro,  AlaeddineAbdessalem,  David Buchaca Prats,  cristian,  🙇

### 🆕 New Features

 - [[```7a700e5e```](https://github.com/jina-ai/jina/commit/7a700e5e4a0ff406a361f454d1bb0b9d1241cde2)] __-__ add split prepare for trainer (#3167) (*Wa

[2021-08-17 08:42] tadejsv opened #3185 "The core and perf install options do not work with pypi - standard is installed"
Try this: create a new python environment, and execute

[code]

You will see that this will install jina with all the **standard** dependencies (for example, fastapi). Note tha this is for 2.0.18, which already has https://github.com/jina-ai/jina/pull/3145 merged in.

I think the reason is that when installing from pypi, the `setup.py` script does not get executed, or simply does not have access t

[2021-08-17 10:09] CatStark opened #3186 "Enabling deployments endpoints on cloud.jina.ai"
Work on the lambda functions for `POST/flows` and `POST/executors`

[2021-08-17 10:17] florian-hoenicke opened #3187 "Polling does not have to be set manually"
When writing a flow for searching on shards, we currently have to specify the attribute polling='all'.
    It would be more convenient if this attribute is set automatically when using shards.
   If you use `replicas` polling should be set to `any` implicitly.

[code]

[2021-08-17 10:31] JoanFM commented on #3187
This is curently not doable, because `shards` is `parallel` when scaling up other executors that are not `indexers`.

This may come when we refactor `Pea/Pods` but cannot be done at this stage

[2021-08-17 11:24] davidbp commented on #3170
Embeddings setter:  https://github.com/jina-ai/jina/pull/3190

[2021-08-17 11:26] CatStark commented on #3187
So we put this in the backlog? not something we'll work with any time soon right? @florian-hoenicke

[2021-08-17 11:36] CatStark commented on #3159
Hi @sbmaruf did you try what Tadej suggested? or was the issue solved?

[2021-08-17 11:40] CatStark opened #3191 "Enable workflows for external contributors"
CI is broken: Check if the commit is from us or external. If it's external we skip it

[2021-08-17 11:43] CatStark opened #3192 "Throw a warning for each unrecognized argument"
Throw a warning for each unrecognized argument (like [('override_with', 'uses_with')] )

[2021-08-17 12:51] CatStark opened #3194 "Container-involved tests are not running on MacOS"
Seems that the communication/hosts problem is still not solved.

[2021-08-17 12:55] CatStark opened #3195 "Show dumping progress"
Currently, it is difficult to tell whether there is something hung up or just due to a large dumping task.

We can add it to https://github.com/jina-ai/jina-commons/blob/main/jina_commons/indexers/dump.py#L69

[2021-08-17 21:29] jacobowitz opened #3197 "Raise error when using grpc data runtime with shards"
The new GrpcDataRuntime (https://github.com/jina-ai/jina/blob/master/jina/peapods/runtimes/grpc/__init__.py) does not support sharding at the moment. Thus a Flow should not specify this runtime and a sharded pod at the same time.

Right now this will not raise any error, but silently produce unexpected behavior. This is undesirable and the Flow should rather check this condition and raise an appro

[2021-08-18 02:04] unnati914 commented on #3197
Can I take up this issue?
Thank you!

[2021-08-18 05:54] maximilianwerk commented on #3197
@unnati914 sure. If you have any questions, please join our [slack](https://slack.jina.ai/) and ask in the #contributor channel. :)

[2021-08-18 05:58] #3192 closed

[2021-08-18 06:51] unnati914 commented on #3197
tysm :)

[2021-08-18 06:52] JoanFM opened #3199 "Add --native args to `Args` passed in `ContainerRuntime` to the `docker client`"
**Describe the feature**
After #3196 we can pass --native parameter to force the executor inside `ContainerRuntime` to use `zed_runtime`

[2021-08-18 07:38] #3170 closed

[2021-08-18 07:44] jacobowitz commented on #3197
@unnati914 thx for picking it up!

As an example, this Flow definition is not working and should raise an error:

`Flow(grpc_data_requests=True).add(shards=2)`

[2021-08-18 08:28] jacobowitz opened #3201 "Flow assigns conflicting ports"
I encountered a problem during benchmarking when running Flows on one machine with a high number of shards (64 in my case).
In that case there are sometimes port conflicts, because the Flow assigns the same port to multiple shards, which does not work on the same machine.
Of course that behaviour would be fine if all of those shards would live on different machines, which should be the case for a

[2021-08-18 08:29] florian-hoenicke commented on #3187
@JoanFM could we not just set polling according to if the user types shards or replicas?
I feel like this would just be a few lines of code.

[2021-08-18 08:31] JoanFM commented on #3187
Since CompoundPod will likely disappear very soon, I think is undesired. Right now parallel is used for having multiple encoders for instance.

I think in rhe future may be clarified, but I would not touch this at this moment

[2021-08-18 08:49] tommykoctur opened #3202 "tutorials disappeared from your website"
Tutorials disappeared from your website:

🚶‍ Walkthroughs
How to Build Hello World Chatbot > [(https://jina.ai/2021/06/28/tutorial.html)]
Create Your Own Executor > [https://jina.ai/2021/07/15/tutorial-executors.html]

Refers to readme.md

[2021-08-18 08:58] hanxiao commented on #3185
[code]

`docker build --platform amd64 -t jinaai/test-pip .`

works for me

[2021-08-18 09:41] #3199 closed

[2021-08-18 10:05] #3185 closed

[2021-08-18 10:40] Roshanjossey commented on #3202
Hi @tommykoctur, thank you for reporting this. I'll work on fixing this today.

[2021-08-18 11:05] slettner opened #3209 "bug: appending to list in document tags"
**Describe the bug**
When using a python list as a value for the `Document` tags appending to the list raise `AttributeError: insert`.

Reproduce
[code]

Traceback:
[code]

**Describe how you solve it**
Get the list and convert it, append and re-assign the full list.
[code]

---

**Environment**
[code]

[2021-08-18 11:15] JoanFM commented on #3209
Will try to take a look. ListView and StructView are tricky

[2021-08-18 11:54] tommykoctur opened #3211 "UserWarning: ranker shadows one of built-in Python module name."
**Describe the bug**
Hi guys, I am getting

[code]

 for each executor configured in my flow.yml

I have adopted code from multires-lyrics-search example, difference is that I copied executors code from jinahub directly to executors/pyfile (reason for that is that I wan't to dockerize it to a single container without pulling anything from docker hub, or jinahub):

[code]

executors/ranker.py
[code

[2021-08-18 11:57] deepankarm commented on #3191
reopening, as it is half done

[2021-08-18 15:12] JoanFM commented on #3209
Solved by #3212

[2021-08-18 16:20] sayantani11 commented on #3201
@jacobowitz I would like to contribute to the project but since this will be my first, I would require some help. If you could help me how to proceed and give a insight to the task.

[2021-08-18 18:58] #3209 closed

[2021-08-18 19:11] hanxiao commented on #3201
Misconception, we are randomly assigning port. No we do not.

Actually, the port assignment logic has been there since 0.3 or even earlier https://github.com/jina-ai/jina/blob/21a3dfa44b51d700bf94165cb8011eb893637d7a/jina/helper.py#L378 I believe the problem is why the logic there is not enough then?

[2021-08-19 05:52] snehampatil opened #3217 "Can not fetch the URL of Hubble from `api.jina.ai`"
**Describe the bug**
I was trying out the **Semantic Wikipedia Search with Transformers and DistilBERT example.**
This is the error I am getting after running

[code]

    Fetching meta data of TransformerTorchEncoder...           JINA@5197[C]:Can not fetch the URL of Hubble from `api.jina.ai`
              HubIO@5197[E]:Error while pulling jinahub+docker://TransformerTorchEncoder:
    JSONDecodeE

[2021-08-19 14:52] tadejsv opened #3221 "JinaD should handle directories better"
Currently, JinaD only works well for cases where you list all files in `py_modules` or in `upload_files` explicitly. And it does not currently respect the folder structure (it flattens everything).

We would need support for the case where you are importing a package in `py_modules`, and therefore only list the `__init__.py` file.

[2021-08-19 15:29] florian-hoenicke opened #3223 "Kubernetes - support local executors"
In the first Kubernetes iteration, it will just be possible to have containerized applications. Supported. Custom `python class Executors` are not supported in case they are not built to an image.

Please build them automatically.
The user should be able to specify the folder which contains
- python executor class
- additional python code
- requirements.txt

[2021-08-19 17:02] jacobowitz commented on #3201
@hanxiao
I think the problem is that there is no coordination? The more peas we have, the larger is the probability to hit a conflict if said peas run on the same host?

[2021-08-19 17:03] jacobowitz commented on #3201
@sayantani11
Thank you for help! Mayeb hold off on this ticket for a couple of days until we can clarify how we actually want the solution to work. I think atm there are a bit too many questions mark.

[2021-08-19 20:40] bwanglzu commented on #3211
hi @tommykoctur if you use executors locally as a python class, you can safely ignore this warning message.

[2021-08-19 20:49] JoanFM opened #3225 "expose gateway cli api"
In order for k8s to start gateway runtimes independently, gateway cli api needs to be enabled. Function already exists, only needs to be declared

[2021-08-20 02:31] numb3r3 commented on #3223
Why not ship this custom executor into our bubble system?

[2021-08-20 06:29] #3225 closed

[2021-08-20 06:30] JoanFM commented on #3223
Isn't this already possible with hubble? does it belong in core?

[2021-08-20 07:08] JoanFM commented on #3121
This is needed by `graph-document` so I would say we cannot remove this

[2021-08-20 10:24] #3202 closed

[2021-08-20 10:50] JoanFM opened #3230 "test running gateway inside docker"
**Describe the feature**
For K8s feature, gateway runtimes will run inside `docker` themselves. Therefore we need to test if the current docker images can support running gateway in all the modes (HTTP, GRPC and WEBSOCKET)

[2021-08-20 11:22] #3143 closed

[2021-08-20 13:59] JoanFM opened #3231 "Remove dependency from Routing Table to Pod"
**Describe the feature**
Right now `routing_table` under `types` depends on `Pods`. This dependency should be removed. #3229 #2939 seems like will deal with it, but to keep in mind to remove this dependency.

It makes sense maybe to have `peapods` module to see `types` modules, but not for `types` module to see `peapods`.

It keeps the dependencies clean

[2021-08-20 14:06] JoanFM commented on #3149
@tadej-redstone may u point to where `jina` tries to apply the regex, so that it may be easier for a community member to tackle this issue?

[2021-08-20 14:15] tadejsv commented on #3149
Yes, sure. One of the places it happens is for here https://github.com/jina-ai/jina/blob/706b41cc2420a9ddd5b0363f434960dfb03a5a2f/jina/helper.py#L1181-L1189

[2021-08-20 14:17] tadejsv commented on #3211
Hey @tommykoctur, can you show us the file structure of the project? Just copy/paste the output of the `tree` command when executing from the root of your repository

[2021-08-20 14:26] Bharat123rox commented on #3149
I would like to take on this issue but I'm unaware of the process here, should I ask to be assigned or I can directly submit a PR?

[2021-08-20 14:28] JoanFM commented on #3149
@Bharat123rox we assigned this to you. You can ask for any help

[2021-08-20 15:38] Yongxuanzhang opened #3233 "JinaD not mount docker.sock correctly in some mac OS"
https://www.notion.so/Yongxuanzhang-3433c11f98e64460ab339b098396c427

[2021-08-20 15:42] Yongxuanzhang opened #3234 "Make sure hubio disk_cache_offline work on mac"
**Describe the bug**

have docker installed
[code]
**Describe how you solve it**

Environment

[code]
Describe how you solve it

Environment

Screenshots

[2021-08-20 15:46] florian-hoenicke commented on #3223
Okay, that should be sufficient for now.

[2021-08-20 15:48] florian-hoenicke commented on #3223
At some point it might be nice to even support local executors without creating them in hubble.

[2021-08-21 07:03] deepankarm commented on #3234
This is partially solved in https://github.com/jina-ai/jina/pull/3236, since jinad is where we see this issue.

It was because `with shelve.open(cache_file) as cache_db:` couldn't open the file `/root/.jina/disk_cache.db` file in a non-existing `/root/.jina` directory. This would be a common issue in all places `Path.home()` is used. This can be fixed by setting `$HOME` to `/workspace` for all con

[2021-08-22 14:25] deepankarm opened #3240 "Broken communication in remote Flow with containerized executors"
**Describe the bug**

Create a remote Flow using `JinaDClient` with below config & try sending data requests.
[code]
The communication is broken in 2 steps
- Gateway (living inside Flow container) cannot connect to the containerized executor (created by `ContainerRuntime`). This can be fixed by setting `runs_in_docker=True` for the gateway, whenever JinaD is creating a remote Flow
- Containerized

[2021-08-22 15:14] Bharat123rox commented on #3149
@tadejsv @JoanFM
Firstly, is there some sort of script/command I can come up with to search and find more (or possibly all?) occurrences or usages of Path objects?

I'm thinking of two possible approaches here to solve the problem:
1) (Preferred by me) Convert all `Path` objects to strings inside each occurrence / each Jina function, so regex and other functions truly intended for strings will wor

[2021-08-22 15:19] tadejsv commented on #3149
@Bharat123rox The proper approach is the second one, although it is harder. It might even be worth considering converting all string paths into `Path` objects, although I would not do this in this PR. Case in point: the regex used in the function I showed you is an overkill, all that needs to be checked is if the path ends in `.yaml` or `.yml`. Using `Path` this would be

[code]

[2021-08-22 20:01] florian-hoenicke opened #3241 "Gateway - Allow HTTP & gRPC"
Please allow HTTP for Client Request and gRPC for inter executor communication at the same time.

[2021-08-23 03:06] numb3r3 opened #3242 "pass `install_requirements` arg via Flow yaml"
**Describe the feature**

pass `install_requirements` while starting an executor inside a Flow

**Your proposal**

---

**Environment**

**Screenshots**

[2021-08-23 07:16] jacobowitz opened #3243 "Enable Grpc runtime for Flows with HTTP and Websocket gateways"
Enable Grpc runtime for Flows with HTTP and Websocket gateways

[2021-08-23 07:30] JoanFM commented on #3241
Duplicate of #3243

[2021-08-23 07:30] #3241 closed

[2021-08-23 07:32] JoanFM commented on #3242
I think install requirements should remain a `pod` args, and not a `pod` args. Although like any other pod arg, it can be forwarded via Flow. Just to keep in mind

[2021-08-23 08:14] jacobowitz commented on #3168
[Initial benchmark with full dynamic routing](https://github.com/jina-ai/jina/files/7030248/results500.txt)

[Benchmark with static routing table and caching of serialized messages](https://github.com/jina-ai/jina/files/7030259/static_results500_master.txt)

[2021-08-23 08:52] CatStark opened #3245 "Re-enable automatic benchmarking"
This is disabled until benchmarking is working properly. We'll need to re-enable it in the future

[2021-08-23 09:08] #3168 closed

[2021-08-23 12:18] CatStark commented on #3211
Hi @tommykoctur , was the problem solved?

[2021-08-23 13:27] CatStark opened #3247 "Install jina via git and not pip"
In these two we use `pip` to install jina, lets change this to install via `git`

https://github.com/jina-ai/cloud-ops/blob/75e370c2d88874e78ac500ade4f62537d9e2f1ed/scripts/deb-systemd.sh#L24

https://github.com/jina-ai/cloud-ops/blob/f3e55e88c9b496889f830cfb25aaadeec7b55bdb/stress_test_trigger/cloud_ymls/daemon-stress-test-infra.yml#L499

[2021-08-23 15:08] CatStark commented on #2912
I am closing this since it looks its stalled. But we can re open if necessary :)

[2021-08-23 15:08] #2912 closed

[2021-08-23 15:10] #3243 closed

[2021-08-23 15:22] florian-hoenicke opened #3250 "GRPCClient not working"
Reproduce:

`flow.py`
[code]

`client.py`
[code]

`exception`
[code]

[2021-08-24 02:48] deepankarm commented on #3250
Changing `flow.py` to below should fix it.

[code]

The issue is because we don't support `host` arg with `Flow` yet.

[2021-08-24 03:04] mapleeit commented on #3217
Hi @snehampatil Thanks for reporting. Do you use any VPN or proxy?

And what did it say if your open this url on your browser? `https://api.jina.ai/hub/hubble.json`

[2021-08-24 06:49] tommykoctur commented on #3211
Hello, sorry for delay

.
├── Dockerfile
├── README.md
├── __pycache__
│   └── helper_json.cpython-38.pyc
├── dataset
│   ├── Search-dataset-poc_v1_json-question-joined-text.txt
│   └── Search-dataset-poc_v2_json-question-joined-text.txt
├── download_arks.py
├── executors
│   ├── __pycache__
│   │   ├── lmdb_storage.cpython-38.pyc
│   │   ├── ranker.cpython-38.pyc
│   │   ├── sentencizer.cpython-3

[2021-08-24 07:21] 3cham commented on #3223
@numb3r3, @JoanFM : I agree that shipping the executor through hubble would solve it, but it is not an easy job if you have several custom executors -> that usually involves maintaining one Dockerfile per executor. With every code change inside these executors, which happens quite often during the development process, we must build & push the images and deploy them.

Testing the flow deployment wo

[2021-08-24 07:27] tadejsv commented on #3223
I think supporting local executors through kubernetes (and also JinaD) is something we definitely do not want, and should kill off altogether where it currently exist. If you support that, then you also have to deal with the headaches of transferring all the files over the network, supporting directory structures properly, installing python and system libraries, etc.

JinaD is already struggling w

[2021-08-24 07:38] JoanFM opened #3253 "[GraphDocument] Add nodes and edges by lists"
**Describe the feature**
Building a large graph by adding one node or one edge a time becomes very slow. Let's add the option as other frameworks just as DGL or NetworkX to add nodes and edges by lists.

We could define the interfaces as:

[code]

[2021-08-24 09:21] 3cham commented on #3223
@tadejsv: thanks for sharing the insight. I originally thought JinaD has already found a good way to manage the dependencies & modules already.

However, I still think the constraints that you mentioned could be solved by leveraging k8s API (cp, exec, etc...) in an **_acceptable_** way. This is really only for boosting the development process. For production deployment, I agree that there is no ot

[2021-08-24 09:33] tadejsv commented on #3223
@3cham why does building and shipping containers consume so much time in your case? What is the bottleneck there?

What JinaD is doing is reinventing the wheel of containerization - installing dependencies, copying over files - this is why conteinerization was invented. And not to mention that if you do this "local" development you will have to repeat the whole process before you go to production,

[2021-08-24 09:54] JoanFM commented on #3223
I think there is a missinterpretation on what the issue is trying to deal with here.

The issue claims that from the Jina K8s interface, one would provide simple executors and have jina be responsible of building the container. And the point would be if Jina offers via Hubble or does its own docker building and publish to registry for K8s to get them (Is that right @florian-hoenicke ?)

[2021-08-24 09:57] 3cham commented on #3223
@tadejsv: let's say you want to try different embedding methods, or modifying them with different hyper-parameters set, or maybe the way they are interacting with external storages / services and want to see the changes work on k8s. And just because we tried to use container from day 1, we had to build & push images extensively, for each modification. This is not the bottleneck but rather a repeti

[2021-08-24 11:33] #2937 closed

[2021-08-24 11:36] deepankarm opened #3257 "`flow.save_config` doesn't consider args in `with` block"
[code]

`JAML.dump` should also dump info passed in the `with` block of flow yaml.

[2021-08-24 12:10] deepankarm opened #3258 "Avoid setting env var in main process during Flow creation with JinaD"
In jina-ai/jina#3251, we added support to set environment variables while starting Flows via JinaD. To learn about the port configs for a Flow, we set env-vars in context managers in https://github.com/jina-ai/jina/blob/d8d807083795ae72ecc1e7f2954eac92fbfd6681/daemon/api/dependencies.py#L91-L93

This is done in the main process of the JinaD server, which is dangerous as concurrent Flows might get

[2021-08-24 12:41] #3245 closed

[2021-08-24 13:27] numb3r3 opened #3260 "throw a warning if the length of `doc.id` is larger than the `key_length`"
**Describe the feature**

In DAM, throw a warning if the length of `doc.id` is larger than the `key_length`

**Your proposal**

---

**Environment**

**Screenshots**

[2021-08-24 13:56] #3257 closed

[2021-08-24 14:50] snehampatil commented on #3217
Hello @mapleeit
Thanks for your reply

I am not using any VPN.

When I open this url https://api.jina.ai/hub/hubble.json, this is what I get

![sss1](https://user-images.githubusercontent.com/68156719/130637909-8e10932a-61b9-4463-a6c1-fbaff63fdd39.png)

And with this one http://k8s-prod-hubble-8915a76777-762046330.us-west-2.elb.amazonaws.com/

![sss2](https://user-images.githubusercontent.com/6815

[2021-08-24 16:11] Yongxuanzhang opened #3261 "Document cannot update if tags contains list"
**Describe the bug**

[code]
This is get
[code]

**Describe how you solve it**

---

**Environment**

- jina 2.0.20
- jina-proto 0.0.85
- jina-vcs-tag (unset)
- libzmq 4.3.3
- pyzmq 1.19.5
- protobuf 3.14.0
- proto-backend cpp
- grpcio 1.34.1
- pyyaml 5.3.1
- python 3.7.9
- platform Darwin
- platform-release 19.5.0
- platform-version Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020;
  ro

[2021-08-25 07:14] JoanFM commented on #3258
`asyncio.Lock` should be the way to go. multithreading is a source of evil plus I am not even sure how `environment` variables are isolated for threads.

[2021-08-25 07:31] #3261 closed

[2021-08-25 07:45] JoanFM commented on #3250
But @deepankarm @florian-hoenicke ,

Then the problem should be that '127.0.0.1' is not the right host for the client when running locally right? I understand that if u point the client to the proper address it should connect right?

Should we close this then?

[2021-08-25 07:47] JoanFM commented on #3211
Hey @tadejsv  is this something that may have been fixed by ur recent changes in import system?

[2021-08-25 07:49] JoanFM commented on #3121
Also the `fill_embedding` endpoints for `SimpleIndexer` use it. I think we should close this issue @maximilianwerk

[2021-08-25 08:02] tadejsv commented on #3211
@JoanFM I am checking this today

[2021-08-25 08:12] #3253 closed

[2021-08-25 08:26] JoanFM commented on #3247
Closed by https://github.com/jina-ai/cloud-ops/pull/117

[2021-08-25 08:26] #3247 closed

[2021-08-25 08:40] mapleeit commented on #3217
Weird. I thought it's was network issue. But you can access it via browser.

Related code is here: https://github.com/jina-ai/jina/blob/master/jina/hubble/helper.py#L35

Do you mind print some logs here and to see what the problem it is? I tried to reproduce, but unfortunately I can't get the same result as you.

[2021-08-25 08:57] florian-hoenicke opened #3265 "404 when starting gateway via cli"
Reproduce:

`gateway.sh`
[code]

`gateway.py`
[code]

[2021-08-25 09:45] florian-hoenicke commented on #3265
As discussed with @jacobowitz, we can use `f1.expose_endpoint('/something')`

[2021-08-25 09:45] #3265 closed

[2021-08-25 12:40] tommykoctur commented on #3202
Thank you

[2021-08-25 15:08] nan-wang opened #3270 "Flow.plot() doesn't work"
**Describe the bug**
Given the following `index.yml` and `executor.py`, `Flow.load_config('flow.yml').plot()` will generate [an invalid image](https://mermaid.ink/svg/JSV7aW5pdDogeyd0aGVtZSc6ICdiYXNlJywgJ3RoZW1lVmFyaWFibGVzJzogeyAncHJpbWFyeUNvbG9yJzogJyMzMkM4Q0QnLCAnZWRnZUxhYmVsQmFja2dyb3VuZCc6JyNmZmYnLCAnY2x1c3RlckJrZyc6ICcjRkZDQzY2J319fSUlCmdyYXBoIExSCmdhdGV3YXkoImdhdGV3YXkiKTo6OkdBVEVXQVkgLS0+I

[2021-08-25 15:18] florian-hoenicke commented on #3230
This case is tested inside the kubernetes feature.
feat: kubernetes mvp

[2021-08-25 15:18] #3230 closed

[2021-08-26 07:51] tadejsv opened #3271 "Jina performs multiple imports"
Brought to our attention by #3211 . Consider this `main.py`

[code]

and this `executors/ranker.py`

[code]

When running `python main.py`, we get a warning (thanks to #3156) that jina is trying to import multiple files - which later leads to a warning that `ranker` is being imported twice. When print out what jina is trying to import, I get

[code]

Same/similar error occurs when importing via a

[2021-08-26 12:10] jacobowitz opened #3272 "Create Kubernetes connection pool"
We need a class to manage connections (for either grpc or zmq) in Kubernetes

[2021-08-27 08:27] JoanFM opened #3277 "`py_modules` should not be `metas` but `runtime_args`. or `args` from the `runtime`"
**Describe your proposal/problem**

---

**Environment**

**Screenshots**

[2021-08-27 11:20] florian-hoenicke opened #3279 "Kubernetes - use native executors instead of peas"
Pea is an outdated term in Jina. Please replace it with executor. You have to use the --native flag.

[2021-08-27 11:23] florian-hoenicke opened #3280 "refactor routing table."
The routing table currently has to know something about the pods. Instead, put the logic of generating the routing table inside the pods

[2021-08-27 11:26] florian-hoenicke opened #3281 "Kubernetes - Rename Jina Pod to Deployment."
Currently, the Jina term `Pod` does not match with the Kubernetes term.

Please rename it to Deployment.

[2021-08-27 18:00] #3271 closed, assigned to JoanFM

[2021-08-28 09:19] #3169 closed

[2021-08-28 09:21] #3260 closed

[2021-08-29 17:36] snehampatil commented on #3217
Please excuse me for the late reply.

I had reinstalled the examples and when I tried to run ```python3 app.py -t index```:
[code]
Is there any issue with the Docker?
Do I need to install any specific version?

[2021-08-29 18:13] mohtasham9 commented on #3121
we can't remove, as it is needed by `SimpleIndexer` and `graph-document`.  It is better to close the issue.

[2021-08-30 03:00] mapleeit commented on #3217
This means it still can't pull this docker image `jinahub/u9pqs8eb:v19-2.0.18` after 10 mins(default timeout). Download speed is too slow.

Can you try to download this image by running `docker pull jinahub/u9pqs8eb:v19-2.0.18` and have a look at the download speed? How long will it take.

If you want, you can join our slack channel. And we can have a direct conversation, because I think it's most

[2021-08-30 05:37] imHarry404 commented on #3159
wanna try

[2021-08-30 07:27] alexcg1 commented on #1161
@pswu11 let's reopen this. We still want to keep community active and building. Our own examples are another matter

[2021-08-30 07:52] florian-hoenicke opened #3289 "Clean up Kubernetes code"
some functions like _deploy_runtime needs to be cleaned up

[2021-08-30 08:01] #3277 closed

[2021-08-30 08:58] jacobowitz commented on #3250
It works with this flow

[code]

I think its debatable if that is a bug or not. @florian-hoenicke What is the reasoning of trying to do this?

[2021-08-30 09:00] maximilianwerk commented on #3121
OK, I will close the issue. Anyhow, the problem of unexpected behavior stays.

[2021-08-30 09:00] #3121 closed

[2021-08-30 10:27] florian-hoenicke opened #3291 "Kubernetes allow custom templates"
Currently, the user have to stick with our default templates for deployment, service....
Please let the user configure their own templates when building the flow

[2021-08-30 10:36] florian-hoenicke opened #3292 "Kubernetes - gpu configurable on default template"
With https://github.com/jina-ai/jina/issues/3291, we introduce having custom templates. Means, it will be possible to have GPU support by activating it in a custom template.
However, it would be nice to configure GPU on the default template.

[2021-08-30 11:01] florian-hoenicke opened #3293 "Kubernetes - add unit tests"
Currently, the Kubernetes feature is just tested via 3 integration tests.
Please add unit tests as well.

Modules that require unit test coverage:
- [ ] https://github.com/jina-ai/jina/blob/master/jina/peapods/pods/k8slib/kubernetes_deployment.py (https://github.com/jina-ai/jina/pull/3367)
- [x] https://github.com/jina-ai/jina/blob/master/jina/peapods/pods/k8slib/kubernetes_tools.py (https://githu

[2021-08-30 11:10] #3240 closed

[2021-08-30 11:45] ggg112234 opened #3294 "G"
**Describe the feature**

**Your proposal**

---

**Environment**

**Screenshots**

[2021-08-30 12:20] #3294 closed

[2021-08-30 12:53] hanxiao commented on #3270
wrong YAML syntax, fake issue.

[code]

[2021-08-30 12:53] #3270 closed

[2021-08-30 13:59] jacobowitz commented on #3197
@unnati914
Are there any updates on this one? Can I assist you with anything?

[2021-08-30 16:15] florian-hoenicke opened #3298 "Kubernetes - more information to the user when starting the flow"
https://www.notion.so/florian-hoenicke-522cf250dd754a7283adf141a60d5923

[2021-08-30 16:38] sbmaruf commented on #3159
Hi! @CatStark  I remove the anaconda from my system and re-installed it. It solves the issue regarding environment.
@JoanFM  Thanks for your informative reply. It clear out some of the confusion I had.

Closing the issue.

[2021-08-30 16:38] #3159 closed

[2021-08-30 17:52] florian-hoenicke opened #3299 "Kubernetes - environment variables configurable on default template"
With https://github.com/jina-ai/jina/issues/3291, we introduce having custom templates. This means it will be possible to have custom environment variables.
However, it would be nice to configure environment variables using the default template via pod config.

[2021-08-30 21:21] ggg112234 opened #3301 "1122"
**Describe the bug**

**Describe how you solve it**

---

**Environment**

**Screenshots**

[2021-08-30 22:39] #3301 closed

[2021-08-31 08:09] deepankarm opened #3303 "`rolling_update` broken with `ContainerRuntime`"
Since we don't have an arg `dump-path` and `ContainerRuntime` only passes `known` args to the `executor` inside the container, `dump-path` passed to the replica during `rolling_update` gets lost.

[2021-08-31 08:21] florian-hoenicke opened #3305 "Kubernetes - Cookbook"
Please write a section in the cookbook for deployment on kubernetes.

[2021-08-31 08:41] numb3r3 opened #3307 "add tests for Macos"
**Describe the feature**

Tests cases:
[code]
**Your proposal**

---

**Environment**

**Screenshots**

[2021-08-31 09:25] bhattalok49 commented on #3197
hi, can  i work on this issue ?

[2021-08-31 10:04] GOD-max555 opened #3308 "Moon base for earth network monitoring, disconnected reset button if you will"
**Describe your proposal/problem**

---

**Environment**

**Screenshots**

[2021-08-31 10:42] #3308 closed

[2021-08-31 17:16] CatStark commented on #3197
Hi @bhattalok49, i think @unnati914 is unavailable at the moment so yes you can work on this :) I'll re assign it to you